@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "./styles";
@import "./decision-tokens";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "@kaizen/deprecated-component-library-helpers/styles/layout";
@import "@kaizen/component-library/styles/responsive";

.navigationBar {
  @extend %ca-navigation-bar;

  &.content {
    background: $dt-color-background-color-content;

    .links {
      a {
        color: $dt-color-link;
        font-weight: 500;
      }

      .active a {
        color: $dt-color-link-active;
      }
    }
  }
}

.links {
  display: inline-flex;
  flex: 1 0 0;

  @include ca-margin($start: $spacing-xl);

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    @include ca-margin($start: 0);

    // Bit of a hack selector, but because of module scoping this is the easiest way
    .content & span::before {
      background-color: $dt-color-background-color-content-link;
      height: 5px;
      border-radius: 0 0 $border-solid-border-radius $border-solid-border-radius;
    }
  }
}

.child {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  text-decoration: none;
  margin: 0 $spacing-xs;

  &:not(.active) {
    @include ca-media-tablet-and-under {
      display: none;
    }
  }
}

.active {
  background-color: $dt-color-background-color-default;
}

.caLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(#{$spacing-md} * 5);
  margin: 0 $spacing-md;
}
