@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";

.base {
  background-color: rgba($color-gray-600-rgb, 0.1);
  border-radius: calc(#{$border-solid-border-radius} * 3);
  top: calc(#{$spacing-md} * 0.175);
  border-radius: 50%;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.animated {
  animation-name: fadeInOut;
  animation-duration: calc(#{$animation-duration-deliberate} * 2);
  animation-iteration-count: infinite;
}

.reversed {
  background-color: rgba($color-white-rgb, 0.1);
}

.small {
  height: 20px;
  width: 20px;
}

.medium {
  height: 48px;
  width: 48px;
}

.large {
  height: 72px;
  width: 72px;
}

.x-large {
  height: 96px;
  width: 96px;
}

.xx-large {
  height: 124px;
  width: 124px;
}

.xxx-large {
  height: 156px;
  width: 156px;
}

.xxxx-large {
  height: 550px;
  width: 550px;
}
