@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/animation";

$heading-active-color: $color-gray-200;
$border-color: rgba($color-gray-600-rgb, 0.2);

.header {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: $color-white;
  border: none;
  transition: background-color $animation-duration-rapid;
  padding: $spacing-sm $spacing-sm $spacing-sm $spacing-md;

  &:hover {
    background-color: $heading-active-color;
  }

  [dir="rtl"] & {
    text-align: right;
    padding-left: $spacing-sm;
    padding-right: $spacing-md;
  }

  // Round the bottom corners of the header so when the container is open, the
  // header background is not rounded on the corners and flush with the content beneath.
  .open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// We need a full border radius on this container element, then have classes
// beneath to toggle nested borders off and on for different use cases.
.container {
  background-color: $color-white;
  box-shadow: $shadow-small-box-shadow;
  border-radius: $border-borderless-border-radius;
}

.single {
  .header {
    border-radius: $border-borderless-border-radius;
  }
}

.separated {
  & + .separated {
    margin-top: calc(#{$spacing-md} * 0.3);
    margin-right: 0;
    margin-left: 0;
  }

  .header {
    border-radius: $border-borderless-border-radius;
  }
}

// When a collapsible group is rendered, we need the first group to have a rounded
// on top and the last group to have a rounded bottom edge. Then when the last group
// is open we remove the rounded edge as the content sits beneath and needs to be straight.
.groupItem {
  & + .groupItem {
    border-top: 1px $border-solid-border-style $border-color;
  }

  &:first-of-type > .header {
    border-top-left-radius: $border-borderless-border-radius;
    border-top-right-radius: $border-borderless-border-radius;
  }

  &:last-of-type > .header:not(.open) {
    border-bottom-left-radius: $border-borderless-border-radius;
    border-bottom-right-radius: $border-borderless-border-radius;
  }
}

.chevronButton:hover {
  // hack to get rid of the IconButton hover styling because it clashes with the hover styling on the Collapsible header
  background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
}

.title {
  flex: 1 1 auto;
}

.defaultVariant {
  background-color: $heading-active-color;
}

.clearVariant {
  border-bottom: 1px $border-solid-border-style $border-color;
}

.sticky {
  position: -webkit-sticky; /* stylelint-disable-line value-no-vendor-prefix */
  position: sticky;
  z-index: 10;
}

.section {
  padding: $spacing-md;
}

.noPadding {
  padding: 0;
}

.hide {
  display: none;
}
