@import "~@kaizen/deprecated-component-library-helpers/styles/type";

$input-placeholder-line-height: 2.9rem;

@mixin form-input-placeholder() {
  &::-webkit-input-placeholder {
    @include kz-typography-paragraph-body($size: 16);
    @include ca-inherit-baseline;
    @content;
  }

  &:-moz-placeholder {
    @include kz-typography-paragraph-body($size: 16);
    @include ca-inherit-baseline;
    line-height: $input-placeholder-line-height;
    @content;
  }

  &::-moz-placeholder {
    @include kz-typography-paragraph-body($size: 16);
    @include ca-inherit-baseline;
    line-height: $input-placeholder-line-height;
    @content;
  }

  &:-ms-input-placeholder {
    @include kz-typography-paragraph-body($size: 16);
    @include ca-inherit-baseline;
    line-height: $input-placeholder-line-height;
    @content;
  }
}

// Simple form input css reset
@mixin form-input-reset() {
  outline: 0;
  box-sizing: border-box;
  @include kz-typography-paragraph-body($size: 16);
  @include ca-inherit-baseline;
}
