@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/border';
@import '~@kaizen/design-tokens/sass/layout';

// TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
$ca-breakpoint-small-mobile: 375px;

@mixin ca-media-small-mobile {
  @media (max-width: #{$ca-breakpoint-small-mobile}) {
    @content;
  }
}

.modalLabel {
  // TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
  h2 {
    @media (max-width: $layout-breakpoints-medium) {
      font-size: 1.625rem;
      line-height: 2rem;
    }

    @include ca-media-small-mobile {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  &.prominent {
    grid-column-start: 2;
    text-align: start;
  }

  &:focus {
    outline: none;
  }
}
