/* stylelint-disable function-url-quotes */

/* TIEMPOS */
@font-face {
  font-family: "Tiempos Headline";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/tiempos/tiempos-headline-bold.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/tiempos/tiempos-headline-bold.woff");
  font-weight: 800;
}

/* GREYCLIFF */

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-demi-bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/greycliff/greycliff-cf-extra-bold.woff") format("woff");
  font-weight: 800;
}

/* INTER */

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-light.woff2"),
 url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-regular.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-medium.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-demi-bold.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-demi-bold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-bold.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-extra-bold.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/inter/inter-extra-bold.woff");
  font-weight: 800;
}

/* IBM PLEX MONO */

@font-face {
  font-family: "IBM Plex Mono";
  src: url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2"),
    url("https://d1e7r7b0lb8p4d.cloudfront.net/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff");
}

/* stylelint-enable function-url-quotes */
