*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: var(--border-solid-border-color, 'currentColor');
}

/*
  Styles to minimise breaking changes when migrating from viewport queries to container queries::after

  - `container-type` provides a global container query parent that is used if consumers don't have their own parent.
  - `min-height` is applied because styles like `background-color` are applied to the `html` element by default.
    When applying `container-type` stops being the case.
*/
body {
  container-type: inline-size;
  min-height: 100vh;
}
