@import "~@kaizen/design-tokens/sass/color-vars";

.storyContainer {
  max-width: 40rem;
}

.tooltip {
  border: 1px solid lightgrey;
  width: 24rem;
}

.tooltipHeader {
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

.tooltipBody {
  padding: 0.25rem 1rem;
}

.tooltipRow {
  display: flex;
  justify-content: space-between;
}

.flexbox {
  display: flex;
  align-items: baseline;
  width: 40rem;
}
