@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/layout";

$medium: 30px;
$small: 24px;
$clearable-size-small: 14px;
$validation-icon-size: 20px;

@mixin baseColor(
  $color: null,
  $background-mix-percent: null,
  $border-mix-percent: null
) {
  background-color: add-tint($color, $background-mix-percent);
  border: 1px solid add-tint($color, $border-mix-percent);
}

.dismissIconColor {
  color: add-tint($ca-palette-lapis, 50%);

  &:hover {
    color: add-tint($ca-palette-lapis, 40%);
  }

  &:active {
    color: add-tint($ca-palette-lapis, 20%);
  }
}

.root {
  @include ca-type-ideal-small-bold;
  @include ca-margin($end: 1rem);
  display: inline-block;
  border-radius: 15px;
  padding: 0 ($ca-grid / 2);
  max-height: 1.5rem;
  position: inherit;
  cursor: default;
}

.dismissIcon {
  @extend .dismissIconColor;
  margin-left: 4px;
  margin-right: -4px;
  height: $clearable-size-small;

  &:hover {
    cursor: pointer;
  }
}

.textContent {
  @include ca-type-ideal-small-bold;
  top: 0;
  color: $ca-palette-lapis;
}

.truncate {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.inline {
  margin: 0;
}

.medium {
  height: $medium;
  display: flex;
  align-items: center;
  position: inherit;
  max-height: none;
}

.small {
  display: flex;
  align-items: center;
  position: inherit;
  height: $small;
}

.default {
  background-color: add-tint($ca-palette-ink, 90%);
  border: 1px solid transparent;

  &.dismissible:hover {
    border: 1px solid add-tint($ca-palette-ink, 70%);
  }
}

.medium.validation {
  padding-left: 30px;
}

.validationIcon {
  height: $validation-icon-size;
  position: absolute;
  margin-left: -23px;
}

.cautionary {
  @include baseColor(
    $color: $ca-palette-yuzu,
    $background-mix-percent: 95%,
    $border-mix-percent: 40%
  );

  &:hover {
    border: 1px solid add-tint($ca-palette-yuzu, 20%);
  }

  .validationIcon {
    color: $ca-palette-yuzu;
  }
}

.negative {
  @include baseColor(
    $color: $ca-palette-coral,
    $background-mix-percent: 95%,
    $border-mix-percent: 60%
  );

  &:hover {
    border: 1px solid add-tint($ca-palette-coral, 40%);
  }

  .validationIcon {
    color: $ca-palette-coral;
  }
}
