@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/type";

$medium: $ca-grid * 1.25;
$small: $ca-grid;

.root {
  @include ca-type-ideal-small-bold;
  @include ca-inherit-baseline;
  @include ca-margin($end: $ca-grid * 0.5);
  color: $ca-palette-lapis;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: $ca-grid * 0.75;
  padding: 0 $ca-grid * 0.4;
  cursor: default;
}

.layoutContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.validationIcon {
  @include ca-margin($start: -$ca-grid * 0.15, $end: $ca-grid * 0.125);
  display: flex;
  align-items: center;
}

.textContent {
  @include ca-type-ideal-small-bold;
  @include ca-inherit-baseline;
}

.dismissIcon {
  @include ca-margin($end: -$ca-grid * 0.15, $start: $ca-grid * 0.125);
  color: add-tint($ca-palette-lapis, 50%);
  height: $ca-grid * 0.6;
  cursor: pointer;

  &:hover {
    color: add-tint($ca-palette-lapis, 40%);
  }

  &:active {
    color: add-tint($ca-palette-lapis, 20%);
  }
}

.truncate {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.inline {
  margin: 0;
}

.medium {
  height: $medium;
}

.small {
  height: $small;
}

.default {
  background-color: add-tint($ca-palette-ink, 90%);

  &:hover {
    border-color: add-tint($ca-palette-ink, 70%);
  }
}

.sentimentPositive {
  background-color: add-tint($ca-palette-seedling, 80%);

  &:hover {
    border-color: add-tint($ca-palette-seedling, 60%);
  }
}

.sentimentNeutral {
  background-color: add-tint($ca-palette-ink, 93%);

  &:hover {
    border-color: add-tint($ca-palette-ink, 70%);
  }
}

.sentimentCautionary {
  background-color: add-tint($ca-palette-yuzu, 95%);
  border-color: add-tint($ca-palette-yuzu, 40%);

  &:hover {
    border-color: add-tint($ca-palette-yuzu, 20%);
  }
}

.sentimentNegative {
  background-color: add-tint($ca-palette-coral, 80%);

  &:hover {
    border-color: add-tint($ca-palette-coral, 40%);
  }
}

.sentimentNone {
  background-color: $white;
  border-color: add-tint($ca-palette-ink, 70%);

  &:hover {
    border-color: add-tint($ca-palette-ink, 50%);
  }
}

.validationPositive {
  background-color: add-tint($ca-palette-seedling, 90%);
  border-color: add-tint($ca-palette-seedling, 60%);

  &:hover {
    border-color: add-tint($ca-palette-seedling, 40%);
  }

  .validationIcon {
    color: add-tint($ca-palette-seedling, 40%);
  }
}

.validationInformative {
  background-color: add-tint($ca-palette-ocean, 95%);
  border-color: add-tint($ca-palette-ocean, 60%);

  &:hover {
    border-color: add-tint($ca-palette-ocean, 40%);
  }

  .validationIcon {
    color: add-tint($ca-palette-ocean, 40%);
  }
}

.validationNegative {
  background-color: add-tint($ca-palette-coral, 95%);
  border-color: add-tint($ca-palette-coral, 60%);

  &:hover {
    border-color: add-tint($ca-palette-coral, 40%);
  }

  .validationIcon {
    color: $ca-palette-coral;
  }
}

.validationCautionary {
  background-color: add-tint($ca-palette-yuzu, 95%);
  border-color: add-tint($ca-palette-yuzu, 40%);

  &:hover {
    border-color: add-tint($ca-palette-yuzu, 20%);
  }

  .validationIcon {
    color: $ca-palette-yuzu;
  }
}

.statusLive {
  background-color: add-tint($ca-palette-seedling, 90%);
  border-color: add-tint($ca-palette-seedling, 80%);
  color: $ca-palette-seedling;
}

.statusDraft {
  background-color: add-tint($ca-palette-peach, 90%);
  border-color: add-tint($ca-palette-peach, 80%);
  color: $ca-palette-peach;
}

.statusClosed {
  background-color: add-tint($ca-palette-wisteria, 90%);
  border-color: add-tint($ca-palette-wisteria, 80%);
  color: $ca-palette-wisteria;
}

.statusAction {
  background-color: add-tint($ca-palette-ocean, 90%);
  border-color: add-tint($ca-palette-ocean, 80%);
  color: $ca-palette-ocean;
}

$pulse-size-initial: 2px;
$pulse-scale-factor: 9;
$pulse-size-after: $pulse-size-initial * $pulse-scale-factor;

.pulse {
  @include ca-margin($start: $ca-grid * 0.35, $end: $ca-grid * 0.15);
  width: $pulse-size-initial;
  height: $pulse-size-initial;
  border-radius: 50%;
  background-color: $ca-palette-ocean;
  display: inline-block;
  position: relative;
  opacity: 0.5;
}

.pulseRing {
  position: absolute;
  width: $pulse-size-after;
  height: $pulse-size-after;
  // this positioning has to be calculated as an exact value as scaling will mess with percentage values
  left: -($pulse-size-after / 2) + ($pulse-size-initial / 2);
  top: -($pulse-size-after / 2) + ($pulse-size-initial / 2);
  border-radius: 50%;
  background-color: $ca-palette-ocean;
  animation: pulsate infinite 2.5s ease-out;
}

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
