@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $kz-var-spacing-sm $kz-var-spacing-md;
}

.headerLeft {
  flex: 0 0 50%;
}

.headerRight {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
}

.logoContainer {
  background: $kz-var-color-white;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: $kz-var-spacing-xs;
  border-radius: $kz-var-border-solid-border-radius;
  box-shadow: $kz-var-shadow-small-box-shadow;

  > img {
    width: 100%;
    border-radius: 4px;
  }
}

.headerCustomerFocused {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  padding: $kz-var-spacing-lg $kz-var-spacing-md;
}

.headerCustomerFocused .logoContainer {
  width: 48px;
  height: 48px;
  padding: $kz-var-spacing-xs;
  margin-right: auto;
}

.headerCustomerFocused .rightAlign {
  margin-left: auto;
}

@media (min-width: $kz-layout-breakpoints-large) {
  .headerCustomerFocused {
    align-items: flex-start;
    grid-template-columns: 1fr auto 1fr;
  }

  .headerCustomerFocused .logoContainer {
    grid-column-start: 2;
    width: 84px;
    height: 84px;
    padding: $kz-var-spacing-sm;
  }
}

.fakeNav {
  background: $kz-var-color-wisteria-600;
  padding: $kz-var-spacing-md;
  display: flex;
  align-items: center;
}
