@import "~@kaizen/design-tokens/sass/spacing";

.listBox {
  list-style: none;
  padding: $spacing-sm;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  max-height: 344px;
  overflow-y: auto;

  &.focus {
    outline: none;
  }
}

.overflown {
  margin-right: $spacing-xs;
}
