@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";

$cardPadding: $spacing-sm;

@media screen and (min-width: 768px) {
  .cardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing-sm;
  }
}

.iconExample {
  font-weight: $typography-heading-6-font-weight;
  font-size: $typography-heading-6-font-size;
  line-height: $typography-heading-6-line-height;
  letter-spacing: $typography-heading-6-letter-spacing;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-width: calc(#{$spacing-md} * 4);
  min-height: calc(#{$spacing-md} * 4.5);
  padding: $spacing-md 30px;

  @media screen and (min-width: 768px) {
    padding: $cardPadding 30px;
  }

  strong {
    font-weight: $typography-heading-6-font-weight;
  }
}

.interactionStatesInner {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing-sm;
  }
}

.iconSizeSpaceTouchDemo {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing-sm;
    margin-top: $spacing-lg;
  }
}
