@import "~@kaizen/component-library/styles/type";

$cardPadding: $ca-grid / 2;

@media screen and (min-width: 768px) {
  .cardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $ca-grid / 2;
  }
}

.iconExample {
  @include ca-type-inter-labels-and-legends;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-width: $ca-grid * 4;
  min-height: $ca-grid * 4.5;
  padding: $cardPadding * 2 30px;

  @media screen and (min-width: 768px) {
    padding: $cardPadding 30px;
  }

  strong {
    text-transform: uppercase;
    font-weight: $ca-weight-book;
  }
}

.interactionStatesInner {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $ca-grid / 2;
  }
}

.iconSizeSpaceTouchDemo {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $ca-grid / 2;
    margin-top: $ca-grid * 2;
  }
}
