@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

.header {
  font-size: 2rem;
  line-height: 1.125;
  font-weight: $ca-weight-book;
  margin-top: $ca-grid * 3.5;
  margin-bottom: 0;
}

$tileWidth: $ca-grid * 6;
$tileHeight: $ca-grid * 6;

.iconGrid {
  padding-top: $ca-grid * 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, $tileWidth);
  grid-row-gap: $ca-grid;
  justify-content: space-between;
}

.iconTile {
  appearance: none;
  display: inline;
  background: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  composes: interactiveIconWrapper from "@kaizen/component-library/components/Icon/Icon.module.scss";
  cursor: pointer;
  border-radius: $ca-border-radius;

  &:hover,
  &:active,
  &:focus {
    background: $kz-var-color-stone;
  }
}

.tileWrapper {
  // Due to a firefox bug, we must use the display:flex rule on a wrapper div rather than the button element directly.
  box-sizing: border-box;
  width: $tileWidth;
  height: $tileHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: $ca-grid / 2;
  position: relative;
}

.iconLabel {
  display: block;
  .iconLabelText {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}

.iconWrapper {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;

  img {
    max-width: 100%;
    opacity: 0.7;
  }
}

.copyLabel {
  display: block;
  opacity: 0;

  .copyLabelText {
    @include ca-type-inter-small;
    display: block;
    text-align: center;
    color: $kz-var-color-cluny-500;
    font-weight: 400;

    .clicked & {
      color: $kz-var-color-seedling-500;
    }
  }

  .iconTile:hover &,
  .iconTile:focus &,
  .iconTile:active & {
    opacity: 1;
  }
  .clicked & {
    opacity: 1;
    color: $kz-var-color-seedling-500;
    transition-duration: 0s;
  }
}

.tickIcon {
  height: $ca-grid * 2/3;
  position: absolute;
  right: $ca-grid / 2;
  bottom: $ca-grid / 2;
  color: $kz-var-color-seedling-500;
}

.pathInput {
  position: absolute;
  left: -100000px;
}
