@import "~@kaizen/design-tokens/sass/animation";
@import "./styles";

.icon {
  @extend %caIcon;

  // Set sensible defaults for icon colours when
  // windows high-contrast mode is enabled. These
  // should be overridden by the consumer when the
  // icon colour conveys information, such as mood.
  @media screen and (-ms-high-contrast: active) {
    color: black;
  }

  @media screen and (-ms-high-contrast: white-on-black) {
    color: white;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    color: black;
  }
}

.inheritSize {
  @extend %caIconInheritSize;
}

.interactiveIconWrapper {
  cursor: pointer;

  .icon {
    opacity: 0.7;
    transition: $animation-duration-fast opacity;
  }

  &:disabled,
  &.disabled {
    .icon {
      opacity: 0.3;
    }
  }

  &:not(:disabled, .disabled) {
    &:hover,
    &:focus,
    &.hover {
      .icon {
        opacity: 1;
      }
    }

    &:active,
    &.active {
      .icon {
        opacity: 1;
      }
    }
  }
}

// On dark backgrounds, icons are fully opaque by default and half opacity when active.
// Hover and disabled states are the same.
.reversedInteractiveIconWrapper {
  composes: interactiveiconwrapper;

  .icon {
    opacity: 1;
  }

  &:not(:disabled, .disabled) {
    &:active,
    &.active {
      .icon {
        opacity: 0.5;
      }
    }
  }
}
