@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

$dt-color-background-default: $color-gray-300;

$small: $spacing-md;

.badge {
  border-radius: $spacing-sm;
  color: $color-purple-800;
  display: inline-block;
  position: relative;
  font-family: $typography-paragraph-extra-small-font-family;
  font-size: $typography-paragraph-extra-small-font-size;
  font-weight: $typography-paragraph-bold-font-weight;
  letter-spacing: $typography-paragraph-extra-small-letter-spacing;
  line-height: $typography-paragraph-extra-small-line-height;
  padding: 1px $spacing-xs;
  min-width: 8px;
  text-align: center;
}

.badge.large {
  display: inline-flex;
  justify-content: center;
  border-radius: $spacing-xl;
  font-size: $typography-data-medium-font-size;
  line-height: $typography-data-medium-line-height;
  letter-spacing: $typography-data-medium-letter-spacing;
  padding: 2px 1.875rem;
  width: 24px;
}

.default {
  background-color: $dt-color-background-default;
  color: $color-purple-800;
}

.active {
  background-color: $color-blue-500;
  color: $color-white;
}

.reversed.active {
  background-color: $color-green-300;
  color: $color-purple-800;
}

.dark {
  background-color: rgba($color-purple-700-rgb, 0.1);
  color: $color-purple-800;
}

.dot {
  background-color: $color-green-300;
  padding: $spacing-xs;
  min-width: unset;
}

.dot.large {
  background-color: $color-green-300;
  padding: 1.875rem;
  width: unset;
}

.reversed.dot {
  background-color: $color-green-300;
}

.reversed.dark {
  background-color: $color-purple-700;
  color: $color-white;
}

.reversed {
  background-color: rgba($color-white-rgb, 0.1);
  color: $color-white;
}

$badge-duration-timing: calc($animation-duration-slow * 0.5)
  $animation-easing-function-ease-in;

$badge-transition:
  transform $badge-duration-timing,
  background-color $badge-duration-timing;

.animation {
  display: inherit;

  .badge {
    transition: $badge-transition;
    transform-origin: center;
    transform: scale3d(1, 1, 1);
  }

  &.animationOn .badge {
    transform: scale3d(1.35, 1.35, 1.35);

    &.dark {
      background-color: rgba($color-purple-700-rgb, 0.2);
    }

    &.active {
      background-color: $color-blue-500;
      color: $color-white;
    }

    &.dot {
      background-color: $color-green-300;
    }
  }
}
