@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../styles";
@import "@kaizen/component-library/styles/border";
@import "@kaizen/deprecated-component-library-helpers/styles/layout";
@import "@kaizen/component-library/styles/grid";
@import "@kaizen/component-library/styles/responsive";
@import "../decision-tokens";

$nav-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-timing: 150ms;
$indicator-height: 3px;

.link {
  @include ca-navigation-bar__link-item;
}

.linkIcon {
  display: inline-flex;
  opacity: 0.5;
}

.linkIcon + .linkText {
  @include ca-margin($start: $link-margin);
}

.linkText {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: $ca-grid;
  justify-content: center;
}

.containsText {
  padding: 0;
}
