@import '../../styles/utils/animation';

.input {
  margin-top: var(--spacing-6);
}

.icon {
  color: var(--textfield-icon-color);

  @include ca-animation-fade(in);
}

.success {
  --textfield-icon-color: var(--color-green-500);

  .reversed & {
    --textfield-icon-color: var(--color-green-400);
  }
}

.disabled {
  opacity: 0.3;
}
