@import "~@kaizen/design-tokens/sass/color";

.wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.box {
  padding: 5px;
  min-width: 260px;
  min-height: 180px;
  border: solid 1px $color-blue-200;
}
