.menuContainer {
  margin: 0;
  list-style: none;
  width: 100%;
  border-radius: 7px;
  position: absolute;
  background-color: white;
  padding: 0.375rem 0;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
  right: 0;
}
