@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/component-library/styles/fonts";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/responsive";

$ca-navigation-bar__height: 3 * $ca-grid;
$ca-navigation-bar__spacer: $ca-grid / 2;
$ca-navigation-bar__child-height: $ca-grid * 2;

$ca-navigation-bar__animation-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ca-navigation-bar__animation-timing: 150ms;

$ca-navigation-bar__link-item-indicator-height: 0.3125rem;
$ca-navigation-bar__link-item-margin: 18px;
$ca-navigation-bar__link-item-margin-mobile: 10px;

// Extended Navigation breakpoints
$navbar-breakpoint-extended-small-up: 1118px;
$navbar-breakpoint-extended-large-up: 1350px;
// Condensed Navigation breakpoints
$navbar-breakpoint-condensed-large-up: 1150px;

:export {
  caBreakpointMobileMax: #{$ca-breakpoint-tablet - 1};
}

@mixin navbar-mobile-only {
  @media (max-width: #{$ca-breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin navbar-tablet-up {
  @media (min-width: $ca-breakpoint-tablet) {
    @content;
  }
}

@mixin navbar-extended-small-up {
  @media (min-width: $navbar-breakpoint-extended-small-up) {
    @content;
  }
}

@mixin navbar-extended-large-up {
  @media (min-width: $navbar-breakpoint-extended-large-up) {
    @content;
  }
}

// Condensed
@mixin navbar-condensed-large-up {
  @media (min-width: $navbar-breakpoint-condensed-large-up) {
    @content;
  }
}

@mixin navbar-uncollapsed-spacing(
  $margin: false,
  $padding: false,
  $start: false,
  $end: false
) {
  @include navbar-tablet-up {
    @if $margin {
      @include ca-margin(
        $end: if($end, $ca-navigation-bar__spacer, null),
        $start: if($start, $ca-navigation-bar__spacer, null)
      );
    }
    @if $padding {
      @include ca-padding(
        $end: if($end, $ca-navigation-bar__spacer, null),
        $start: if($start, $ca-navigation-bar__spacer, null)
      );
    }
  }
}

@mixin ca-navigation-bar__link-item {
  @extend %ca-navigation-bar__menu-item-focus;
  @include ca-type-reverse;

  align-items: center;
  border-radius: $kz-border-solid-border-radius;
  color: rgba($kz-color-white, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 2 * $ca-grid;
  position: relative;
  text-decoration: none;
  transition: background-color $ca-duration-rapid $ca-ease-in-out;

  // active indicator
  @include navbar-tablet-up {
    margin-top: -$ca-navigation-bar__spacer;
    height: $ca-navigation-bar__height;
    &::before {
      content: "";
      display: block;
      height: $ca-navigation-bar__link-item-indicator-height;
      width: 100%;
      position: absolute;
      top: -100%;
      left: 0;
      background-color: $kz-color-white;
      transition: top $ca-navigation-bar__animation-ease
        $ca-navigation-bar__animation-timing;
      border-radius: 0 0 $kz-border-borderless-border-radius
        $kz-border-borderless-border-radius;
    }
  }

  &.active {
    outline: none; // override native focus styles
    text-decoration: none;
    color: $kz-color-white;

    &::before {
      top: 0;
    }
  }

  .hoverArea {
    display: flex;
    align-items: center;
    height: $ca-navigation-bar__child-height;
    padding: 0 ($ca-grid / 2);
    border-radius: $kz-border-borderless-border-radius;
    width: 100%;
    justify-content: center;
    @include navbar-mobile-only {
      justify-content: start;
    }
  }

  .menuIcon {
    margin-left: auto;
    opacity: 0.5;
    display: flex;
    align-items: center;
  }

  &:hover,
  &.menuOpen,
  &:focus {
    text-decoration: none;
    color: $kz-color-white; // override hyperlink hover color

    .hoverArea {
      background-color: rgba($kz-color-white, 0.1);
    }

    .linkText::before {
      @include navbar-mobile-only {
        transform: translateX(-#{$ca-navigation-bar__link-item-margin});
      }
    }
  }

  .linkIcon {
    display: inline-flex;
    opacity: 0.5;

    @include navbar-mobile-only {
      @include ca-margin($end: $ca-grid / 2);
    }
  }

  .linkIcon + .linkText {
    padding: 0;
    @include ca-margin($start: 8px);

    @include navbar-mobile-only {
      @include ca-margin($start: 0);
    }
  }

  .linkText {
    @include font-heading-4;
    @include ca-inherit-baseline;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    @include navbar-mobile-only {
      font-weight: $kz-typography-paragraph-body-font-weight;
    }
  }

  &.small {
    @include navbar-tablet-up {
      .linkText {
        @include font-heading-5;
        @include ca-inherit-baseline;
        display: none;
      }
    }
  }

  &.opaque {
    color: $kz-color-white;

    @include navbar-tablet-up {
      .linkIcon {
        opacity: 1;
        transition: opacity $ca-duration-rapid $ca-ease-in-out;
      }

      .linkText {
        display: none;
        padding: 0;

        &::before {
          display: none;
        }
      }

      &:hover,
      &:focus {
        .hoverArea {
          background-color: rgba($kz-color-white, 0.1);
        }
      }

      &:active {
        .hoverArea {
          background-color: rgba($kz-color-white, 0.2);
        }
      }
    }

    &:not(.extendedNavigation) {
      &:not(.small) {
        .linkText {
          display: flex;
        }
      }

      @include navbar-condensed-large-up {
        &.small .linkText {
          display: flex;
        }
      }
    }

    &.extendedNavigation {
      &:not(.small) {
        @include navbar-extended-small-up {
          .linkText {
            display: flex;
          }
        }
      }

      @include navbar-extended-large-up {
        &.small .linkText {
          display: flex;
        }
      }
    }
  }

  @include navbar-tablet-up {
    &.content {
      color: rgba($kz-color-wisteria-800, 0.7);

      &.opaque,
      &.menuOpen {
        color: $kz-color-wisteria-800;
      }

      &.small {
        color: $kz-color-cluny-500;

        &.opaque {
          color: $kz-color-cluny-500;
        }
      }

      &.active {
        color: $kz-color-cluny-500;
      }

      &:hover,
      &:focus,
      &.menuOpen {
        color: $kz-color-cluny-500;
        .hoverArea {
          background-color: rgba($kz-color-white, 0.5);
        }
      }

      &::before {
        background-color: $kz-color-cluny-500;
      }
    }
  }

  @include navbar-mobile-only {
    justify-content: flex-start;
    align-items: center;
    color: $kz-color-wisteria-700;
    transition: none;
    margin: 0 $ca-navigation-bar__link-item-margin-mobile;

    &.active,
    &:hover,
    &:focus {
      .hoverArea {
        color: $kz-color-cluny-500;
        background-color: $kz-color-cluny-100;

        .menuIcon {
          opacity: 1;
        }
      }
    }
  }
}

%ca-navigation-bar {
  @include ca-padding(
    $end: $ca-navigation-bar__spacer,
    $top: $ca-navigation-bar__spacer,
    $bottom: $ca-navigation-bar__spacer
  );
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $kz-color-wisteria-700;
  height: $ca-navigation-bar__height;
  max-height: $ca-navigation-bar__height;
  width: 100%;
  position: fixed;

  @media print {
    display: none;
  }

  &.content {
    background: $kz-color-cluny-200;
  }
}

%ca-navigation-bar__menu-item-focus {
  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    // show custom focus ring when :focus-visible
    &:global(.focus-visible) {
      color: #fff;
      outline: 2px solid $kz-color-cluny-500;
    }
  }
}

// FONTS

@mixin anti-aliasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-heading-3 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-3-font-family;
  font-weight: $kz-typography-heading-3-font-weight;
  font-size: $kz-typography-heading-3-font-size;
  line-height: $kz-typography-heading-3-line-height;
  letter-spacing: $kz-typography-heading-3-letter-spacing;
}

@mixin font-heading-4 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-4-font-family;
  font-weight: $kz-typography-heading-4-font-weight;
  font-size: $kz-typography-heading-4-font-size;
  line-height: $kz-typography-heading-4-line-height;
  letter-spacing: $kz-typography-heading-4-letter-spacing;
}

@mixin font-heading-5 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-5-font-family;
  font-weight: $kz-typography-heading-5-font-weight;
  font-size: $kz-typography-heading-5-font-size;
  line-height: $kz-typography-heading-5-line-height;
  letter-spacing: $kz-typography-heading-5-letter-spacing;
}

@mixin font-heading-6 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-6-font-family;
  font-weight: $kz-typography-heading-6-font-weight;
  font-size: $kz-typography-heading-6-font-size;
  line-height: $kz-typography-heading-6-line-height;
  letter-spacing: $kz-typography-heading-6-letter-spacing;
}

@mixin font-body {
  @include anti-aliasing;
  font-family: $kz-typography-paragraph-body-font-family;
  font-weight: $kz-typography-paragraph-body-font-weight;
  font-size: $kz-typography-paragraph-body-font-size;
  line-height: $kz-typography-paragraph-body-line-height;
  letter-spacing: $kz-typography-paragraph-body-letter-spacing;
}

@mixin font-extra-small {
  @include anti-aliasing;
  font-family: $kz-typography-paragraph-extra-small-font-family;
  font-weight: $kz-typography-paragraph-extra-small-font-weight;
  font-size: $kz-typography-paragraph-extra-small-font-size;
  line-height: $kz-typography-paragraph-extra-small-line-height;
  letter-spacing: $kz-typography-paragraph-extra-small-letter-spacing;
}
