@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "./styles";

.navigationBar {
  @extend %ca-navigation-bar;
}

.links {
  @include ca-margin($end: $ca-grid);
  display: inline-flex;
  flex: 1 0 0;
  height: 100%;

  > ul {
    flex-shrink: 0;
    margin: 0 ($ca-grid / 4);
    padding: 0;
    list-style-type: none;
    display: flex;

    &.primary {
      @include ca-margin($start: 0);
    }

    &.secondary {
      @include ca-margin($start: 0);
      @include ca-padding($start: 0);
      @include navbar-uncollapsed-spacing($start: true, $padding: true);
      position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 36px;
        width: 3px;
        background-color: rgba($white, 0.1);
        border-radius: 3px;
      }
    }

    &.final {
      @include ca-margin($start: auto, $end: 0);
    }

    // Bit of a hack selector, but because of module scoping this is the easiest way
    .content & span::before {
      background-color: $kz-color-cluny-500;
      height: 5px;
      border-radius: 0 0 $kz-border-solid-border-radius
        $kz-border-solid-border-radius;
    }

    @include navbar-tablet-up {
      margin: 0;
    }
  }

  @include navbar-tablet-up {
    @include ca-margin($start: $ca-grid);
  }
}

.child {
  &:not(:last-child) {
    @include navbar-uncollapsed-spacing($end: true, $margin: true);
  }

  &:last-child {
    @include navbar-uncollapsed-spacing($end: true, $margin: true);
  }

  .final & {
    @include ca-margin($end: 8px);
    margin-right: 0;
  }

  display: flex;
  position: relative;
  flex: 0 0 auto;
  text-decoration: none;
}

.headerSlot {
  @include ca-margin($start: $ca-navigation-bar__spacer);
  height: 100%;
  display: flex;
}
