@import "~@kaizen/design-tokens/sass/color";

$dt-color-background-color-admin: $color-gray-100;
$dt-color-background-color-eduction: $color-blue-100;
$dt-color-background-color-default: $color-purple-600;
$dt-color-background-gradient: linear-gradient(
  0deg,
  $color-purple-600,
  rgba($color-purple-600-rgb, 0)
);
