$dt-color-background-color-admin: $kz-color-stone;
$dt-color-background-color-eduction: var(
  --kz-color-cluny-100,
  $kz-color-cluny-200
);
$dt-color-background-color-default: var(
  --kz-color-wisteria-600,
  $kz-color-wisteria-700
);
