@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/color-vars";

$dt-color-background-color-admin: $kz-var-color-stone;
$dt-color-background-color-eduction: var(
  --kz-var-color-cluny-100,
  $kz-var-color-cluny-200
);
$dt-color-background-color-default: var(
  --kz-var-color-wisteria-600,
  $kz-var-color-wisteria-700
);
$dt-color-background-gradient: linear-gradient(
  0,
  var(--kz-var-color-wisteria-600, $kz-var-color-wisteria-700),
  rgba(
    var(
      --kz-var-color-wisteria-600-rgb-params,
      $kz-var-color-wisteria-700-rgb-params
    ),
    0
  )
);
