@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/component-library/styles/layout";
@import "./TitleBlockBreakpoints.scss";

$mobile-actions-split-select-square-width: 64px;

.mobileActionsContainer {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: $kz-border-solid-border-radius;
  border-top-right-radius: $kz-border-solid-border-radius;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  @include title-block-small {
    display: flex;
  }
}

.mobileActionsTopRow {
  display: flex;
  align-items: center;
  height: $ca-grid * 2.5;
  width: 100%;
  background-color: $kz-color-cluny-500;
}

.mobileActionsMenuContainer {
  display: flex;
  // height: $ca-grid * 10;
  width: 100%;
  background: $kz-color-white;
}

.drawerHandleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  @include ca-margin($end: $ca-grid / 2);

  .drawerHandleLabelText + & {
    @include ca-margin($start: $ca-grid / 2);
  }
}

.mobileActionsPrimaryLabel {
  @include ca-padding($start: $ca-grid / 2);

  color: $kz-color-white;
  font-family: $kz-typography-button-primary-font-family;
  font-weight: $kz-typography-button-primary-font-weight;
  font-size: $kz-typography-button-primary-font-size;
  line-height: $kz-typography-button-primary-line-height;
  letter-spacing: $kz-typography-button-primary-letter-spacing;
}

.mobileActionsPrimaryButton,
.mobileActionsExpandButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  border-radius: none;
  border: 0;
  box-sizing: border-box;
  outline: none;
  color: $kz-color-white;

  &:focus {
    background-color: $kz-color-cluny-600;
  }

  &:hover {
    text-decoration: none;
  }
}

.mobileActionsPrimaryButton {
  flex-grow: 1;
}

.mobileActionsExpandButton {
  flex-basis: $ca-grid * 2.5;
  border-left: 1px solid $kz-color-white;
}

.mobileActionsExpandButtonFullWidth {
  @extend .mobileActionsExpandButton;

  position: relative;
  flex-basis: 100%;
  border: none;
}

.mobileActionsChevronSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  @include ca-position($end: 20px);
}
