@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/design-tokens/sass/layout-vars";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/layers";
@import "./TitleBlockBreakpoints.scss";

$mobile-actions-split-select-square-width: 64px;

.mobileActionsContainer {
  display: none;
  z-index: $ca-z-index-fixed;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: $border-solid-border-radius;
  border-top-right-radius: $border-solid-border-radius;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transform: translateY(calc(100% - #{$layout-mobile-actions-drawer-height}));
  transition: 0.4s ease;
  animation: slide-up 1s ease;

  &.isOpen {
    transform: translateY(0%);
  }

  @include title-block-small {
    display: flex;
  }
}

.mobileActionsTopRow {
  display: flex;
  align-items: center;
  height: $layout-mobile-actions-drawer-height;
  width: 100%;
  background-color: $color-blue-500;
}

.mobileActionsMenuContainer {
  display: flex;
  width: 100%;
  background: $color-neutral-100;
}

.drawerHandleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  @include ca-margin($end: $ca-grid / 2);

  .drawerHandleLabelText + & {
    @include ca-margin($start: $ca-grid / 2);
  }
}

.mobileActionsPrimaryLabel {
  @include ca-padding($start: $ca-grid * 0.75);
  text-align: left;
  text-decoration: none;

  color: $color-neutral-100;
  font-family: $typography-button-primary-font-family;
  font-weight: $typography-button-primary-font-weight;
  font-size: $typography-button-primary-font-size;
  line-height: $typography-button-primary-line-height;
  letter-spacing: $typography-button-primary-letter-spacing;
}

.mobileActionsPrimaryButton,
.mobileActionsExpandButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  border-radius: none;
  border: 0;
  box-sizing: border-box;
  color: $color-neutral-100;

  &:focus {
    background-color: $color-blue-600;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.mobileActionsPrimaryButton {
  flex-grow: 1;
}

.mobileActionsExpandButton {
  flex-basis: $ca-grid * 2.5;
  border-left: 2px solid $color-blue-200;
  justify-content: center;
}

.mobileActionsExpandButtonFullWidth {
  @extend .mobileActionsExpandButton;

  position: relative;
  flex-basis: 100%;
  border: none;
  justify-content: flex-start;
}

.mobileActionsChevronSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  @include ca-position($end: 20px);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(calc(100% - #{$layout-mobile-actions-drawer-height}));
  }
}
