@import "~@kaizen/design-tokens/sass/layout-vars";

@mixin title-block-under-1645 {
  @media (max-width: 1644px) {
    @content;
  }
}

@mixin title-block-under-1440 {
  @media (max-width: 1439px) {
    @content;
  }
}
@mixin title-block-under-1366 {
  @media (max-width: 1365px) {
    @content;
  }
}
@mixin title-block-medium-and-small {
  @media (max-width: $kz-var-layout-breakpoints-large - 1px) {
    @content;
  }
}
@mixin title-block-under-1024 {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin title-block-small {
  @media (max-width: $kz-var-layout-breakpoints-medium - 1px) {
    @content;
  }
}
