@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/component-library/styles/layers";
@import "~@kaizen/component-library/styles/layout";
@import "./TitleBlockBreakpoints.scss";
@import "./decision-tokens.scss";

$title-block-margin-width-on-medium-and-small: 12px;
$breadcrumb-circle-width: 48px;
$breadcrumb-breakpoint-width: $kz-layout-content-max-width +
  $kz-layout-content-side-margin * 2 + $breadcrumb-circle-width * 2.25;
$title-block-separator-height: 3px;
$tab-container-height-default: $ca-grid * 3;
$tab-container-height-small: $ca-grid * 2.5;
$tab-container-height-default-collapsed: $ca-grid + 0.1875rem;
$tab-container-height-medium-and-small-collapsed: $ca-grid * 0.75;

.titleBlock {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dt-color-background-color-default;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.educationVariant {
    background-color: $dt-color-background-color-eduction;
  }

  &.adminVariant {
    background-color: $dt-color-background-color-admin;
  }

  @media print {
    display: none;
  }
}

.titleRow,
.rowBelowSeparator {
  display: flex;
  width: 100%;
  justify-content: center;
}

.adminVariant .titleRow {
  background-color: $kz-color-white;
}

%titleBlockInner {
  max-width: $kz-layout-content-max-width;
  margin: 0 $kz-layout-content-side-margin;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing

  @include title-block-medium-and-small {
    margin: 0 $title-block-margin-width-on-medium-and-small;
  }
}

.titleRowInner {
  @extend %titleBlockInner;
}

.rowBelowSeparatorInner {
  @extend %titleBlockInner;
}

.titleRowInnerContent {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: $ca-grid * 3.5;
  justify-content: space-between;
  border-bottom: $title-block-separator-height solid
    rgba($kz-var-color-white-rgb-params, 0.1);

  .educationVariant & {
    border-bottom-color: rgba($kz-var-color-wisteria-700-rgb-params, 0.2);
  }

  .adminVariant & {
    border-bottom-color: transparent;
  }

  @include title-block-medium-and-small {
    border-bottom: none;
    height: $ca-grid * 2.5;
  }
}

.title {
  display: flex;
  align-items: center;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing

  // Applying width 100% when the title is *not* long and is followed by a subtitle
  // causes misalignment of both.
  @include title-block-under-1366 {
    width: 100%;
  }
}

.titleAndSubtitle {
  display: flex;
  align-items: center;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing
  z-index: $ca-z-index-dropdown; // this ensures the page switcher dropdown sits over nav tabs

  .hasSubtitle & {
    @include title-block-under-1366 {
      transform: translateY(-0.38333em);
    }
  }
  transform: translateY(-0.0833333em);
}

.titleAndSubtitleInner {
  display: flex;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing

  // TODO: removing .hasLongTitle here fixes the alignment on Performance story, but we should be able to not wrap subtitle.
  .hasSubtitle.hasLongTitle.hasLongSubtitle & {
    align-items: center;

    @include title-block-under-1366 {
      align-items: baseline;
    }
  }

  .hasPageSwitcherSelect & {
    @include title-block-medium-and-small {
      align-items: normal;
      flex-direction: column;
      justify-content: space-between;
      transform: translateY($ca-grid / 3);
    }
  }

  .hasSubtitle & {
    align-items: baseline;
    overflow: hidden;

    @include title-block-under-1366 {
      align-items: normal;
      flex-direction: column;
      justify-content: space-between;
      transform: translateY($ca-grid / 3);

      .hasLongTitle.hasLongSubtitle & {
        align-items: baseline;
      }
    }

    @include title-block-medium-and-small {
      transform: translateY($ca-grid / 2);
    }
  }
}

.titleTextOverride.titleTextOverride {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 0;

  @media (max-width: $breadcrumb-breakpoint-width) {
    font-family: $kz-typography-heading-2-font-family;
    font-weight: $kz-typography-heading-2-font-weight;
    font-size: $kz-typography-heading-2-font-size;
    line-height: $kz-typography-heading-2-line-height;
    letter-spacing: $kz-typography-heading-2-letter-spacing;
  }
  @include title-block-under-1366 {
    font-family: $kz-typography-heading-2-font-family;
    font-weight: $kz-typography-heading-2-font-weight;
    font-size: $kz-typography-heading-2-font-size;
    line-height: $kz-typography-heading-2-line-height;
    letter-spacing: $kz-typography-heading-2-letter-spacing;
    padding: 2px 0;
  }
  .hasLongTitle & {
    @include title-block-under-1366 {
      font-family: $kz-typography-heading-3-font-family;
      font-weight: $kz-typography-heading-3-font-weight;
      font-size: $kz-typography-heading-3-font-size;
      line-height: $kz-typography-heading-3-line-height;
      letter-spacing: $kz-typography-heading-3-letter-spacing;
      padding: 2px 0;
    }
  }

  @include title-block-medium-and-small {
    font-family: $kz-typography-heading-4-font-family;
    font-weight: $kz-typography-heading-4-font-weight;
    font-size: $kz-typography-heading-4-font-size;
    line-height: $kz-typography-heading-4-line-height;
    letter-spacing: $kz-typography-heading-4-letter-spacing;
    padding: 0;
  }
}

.avatar {
  display: none;
  box-sizing: border-box;
  border: 3px solid $kz-color-white;
  border-radius: 50%;
  overflow: hidden;
  height: $ca-grid * 2;
  width: $ca-grid * 2;
  @include ca-margin($end: $ca-grid / 2);

  > * {
    max-width: 100%;
  }

  @media (min-width: $kz-layout-breakpoints-large) {
    display: block;
  }

  .hasLongTitle & {
    display: none;
  }
}

.hamburger {
  display: none;
  @include ca-margin($end: $ca-grid * 2/3);
  color: $kz-color-white;

  &:hover {
    cursor: pointer;
  }

  .educationVariant &,
  .adminVariant & {
    color: $kz-color-wisteria-800;
  }

  @include title-block-medium-and-small {
    display: flex;
    align-items: center;
    transform: translateY(-1px);
  }

  .hasSubtitle & {
    @include title-block-under-1366 {
      transform: translateY(-6px);
    }

    @include title-block-medium-and-small {
      transform: translateY(-8px);
    }
  }

  .hasPageSwitcherSelect & {
    @include title-block-medium-and-small {
      transform: translateY(-6px);
    }
  }
}

.subtitle {
  display: flex;
  align-items: center;
  color: $kz-color-white;
  font-family: $kz-typography-paragraph-small-font-family;
  font-weight: $kz-typography-paragraph-small-font-weight;
  font-size: $kz-typography-paragraph-small-font-size;
  line-height: $kz-typography-paragraph-small-line-height;
  letter-spacing: $kz-typography-paragraph-small-letter-spacing;
  max-width: 230px;

  .adminVariant & {
    color: $kz-color-wisteria-800;
  }

  @include ca-margin($start: $ca-grid / 2);

  @include title-block-under-1366 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: none;
    margin: ($ca-grid / 5) 0;
  }
}

.subtitleText {
  @include title-block-under-1366 {
    max-width: 42vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include title-block-small {
    max-width: 88vw;
  }
}

.sectionTitleContainer {
  display: flex;
  align-items: center;
  padding: ($ca-grid * 3/4) 0;
}

.sectionTitleInner {
  display: flex;
  flex-direction: column;
}

.sectionTitleOverride.sectionTitleOverride {
  white-space: nowrap;

  @include ca-margin($end: $ca-grid);

  font-family: $kz-typography-heading-2-font-family;
  font-weight: $kz-typography-heading-2-font-weight;
  font-size: $kz-typography-heading-2-font-size;
  line-height: $kz-typography-heading-2-line-height;
  letter-spacing: $kz-typography-heading-2-letter-spacing;

  @include title-block-under-1645 {
    font-family: $kz-typography-heading-3-font-family;
    font-weight: $kz-typography-heading-3-font-weight;
    font-size: $kz-typography-heading-3-font-size;
    line-height: $kz-typography-heading-3-line-height;
    letter-spacing: $kz-typography-heading-3-letter-spacing;
  }
  @include title-block-medium-and-small {
    font-family: $kz-typography-heading-4-font-family;
    font-weight: $kz-typography-heading-4-font-weight;
    font-size: $kz-typography-heading-4-font-size;
    line-height: $kz-typography-heading-4-line-height;
    letter-spacing: $kz-typography-heading-4-letter-spacing;
  }
}

.sectionTitle {
  display: block;
}

.sectionTitleDescription {
  .sectionTitle + & {
    margin-top: $ca-grid / 4;
  }

  color: $kz-color-white;
  max-width: 780px;
  font-family: $kz-typography-paragraph-small-font-family;
  font-weight: $kz-typography-paragraph-small-font-weight;
  font-size: $kz-typography-paragraph-small-font-size;
  line-height: $kz-typography-paragraph-small-line-height;
  letter-spacing: $kz-typography-paragraph-small-letter-spacing;

  &.dark {
    color: rgba($kz-var-color-wisteria-800-rgb-params, 0.7);
  }
}

.rowBelowSeparatorInnerContent {
  display: flex;
  width: 100%;
  margin-top: -$title-block-separator-height;
  justify-content: space-between;
}

.titleAndAdjacent {
  display: flex;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing
}

.titleAndAdjacentNotBreadcrumb {
  display: flex;
  transition: opacity 0.3s ease;
  min-width: 0; // this is an important trick to prevent flexbox items from overflowing
  align-items: center;

  .breadcrumb:hover ~ &,
  .breadcrumb:focus ~ &,
  .breadcrumbTextLink:hover ~ &,
  .breadcrumbTextLink:focus ~ & {
    opacity: 0;
  }
}

.tag {
  @include ca-margin($start: $ca-grid / 2);
  display: flex;
  align-items: center;

  @include title-block-medium-and-small {
    display: none;
  }

  + .pageSwitcherSelectNextToTitle {
    @include ca-margin($start: 0);
  }
}

.pageSwitcherSelectNextToTitle {
  @include ca-margin($start: $ca-grid / 2);
  flex-shrink: 0;
  width: 10 * $ca-grid;
}

.pageSwitcherSelectUnderneathTitle {
  flex-shrink: 0;
  max-width: 10 * $ca-grid;
}

.navigationTabsContainer {
  display: flex;
  height: $tab-container-height-default;

  @include title-block-small {
    height: $tab-container-height-small;
  }
}

.navigationTabsContainerCollapsed {
  height: $tab-container-height-default-collapsed;
  @include title-block-medium-and-small {
    height: $tab-container-height-medium-and-small-collapsed;
  }
}

.navigationTabScrollerContainer {
  .hasNavigationTabs & {
    @include title-block-small {
      display: block;
      overflow-x: scroll;
      scrollbar-width: none;
      width: 100vw;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.navigationTabEdgeShadow {
  display: none;
  pointer-events: none;

  @include title-block-small {
    display: block;
    position: absolute;
    top: 63px;
    width: $ca-grid * 2;
    height: $tab-container-height-small;
    background: linear-gradient(
      0,
      $kz-color-wisteria-700,
      rgba($kz-var-color-wisteria-700-rgb-params, 0)
    );
    z-index: $ca-z-index-sticky;
  }

  .adminVariant & {
    @include title-block-small {
      background: linear-gradient(
        0,
        $kz-color-stone,
        rgba($kz-var-color-stone-rgb-params, 0)
      );
    }
  }

  .educationVariant & {
    @include title-block-small {
      background: linear-gradient(
        0,
        $kz-color-cluny-200,
        rgba($kz-var-color-cluny-200-rgb-params, 0)
      );
    }
  }
}

.navigationTabEdgeShadowLeft {
  composes: navigationTabEdgeShadow;
  transform: rotate(90deg);
  left: 0;
}

.navigationTabEdgeShadowRight {
  composes: navigationTabEdgeShadow;
  transform: rotate(-90deg);
  right: 0;
}

.mainActionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;

  @include ca-margin($start: $ca-grid / 2);

  @include title-block-small {
    display: none;
  }
}

.secondaryActionsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: ($ca-grid / 2) 0;
  @include ca-margin($start: $ca-grid * 1.5);

  // To be removed eventually – the Dropdown does not
  // currently set its own color, and we want it
  // to be Cluny like the default secondary buttons
  .educationVariant &,
  .adminVariant & {
    color: $kz-color-cluny-500;
  }

  @include title-block-medium-and-small {
    display: none;
  }
}

.buttonReset {
  appearance: none;
  display: inline;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

.breadcrumb {
  composes: buttonReset;
  cursor: pointer;
  display: flex;
  position: absolute;
  z-index: $ca-z-index-sticky;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  @include ca-position(
    $start: calc(-#{$breadcrumb-circle-width} - #{$ca-grid})
  );
  align-self: normal;

  &:hover {
    text-decoration: none;
  }

  @media only screen and (max-width: $breadcrumb-breakpoint-width) {
    position: relative;
    @include ca-margin($end: $ca-grid / 2);
    @include ca-position($start: 0);
    transform: translateY(0);
  }

  @include title-block-medium-and-small {
    display: none;
  }
}

.breadcrumbTextLink {
  composes: buttonReset;
  display: none;
  position: absolute;
  z-index: $ca-z-index-sticky - 1;
  height: $breadcrumb-circle-width;
  @include ca-position($start: -2 * $ca-grid);
  top: $ca-grid * 3/4;
  align-items: center;

  @include title-block-under-1645 {
    @include ca-position($start: $ca-grid);
  }

  &:hover,
  &:focus,
  .breadcrumb:hover + &,
  .breadcrumb:focus + & {
    display: flex;
    animation: slide-fade 0.4s;

    [dir="rtl"] & {
      animation: reverse-slide-fade 0.4s;
    }
  }
}

.breadcrumbText {
  @include ca-margin($start: $ca-grid * 2);
  white-space: nowrap;
  font-family: $kz-typography-heading-5-font-family;
  font-weight: $kz-typography-heading-5-font-weight;
  font-size: $kz-typography-heading-5-font-size;
  line-height: $kz-typography-heading-5-line-height;
  letter-spacing: $kz-typography-heading-5-letter-spacing;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb,
.breadcrumbText {
  color: $kz-color-white;
  .educationVariant &,
  .adminVariant & {
    color: $kz-color-wisteria-800;
  }
}

.circle {
  $border-width: 3px;
  flex: 0 0 $breadcrumb-circle-width;
  box-sizing: border-box;
  width: $breadcrumb-circle-width;
  height: $breadcrumb-circle-width;
  color: $kz-color-white;
  border-color: rgba($kz-var-color-white-rgb-params, 0.5);
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;

  .breadcrumb:hover &,
  .breadcrumb:focus & {
    transform: scale(1.1);
    border-color: $kz-color-white;
    color: $kz-color-white;
    background-color: rgba($kz-var-color-white-rgb-params, 0.1);
  }

  .educationVariant &,
  .adminVariant & {
    color: $kz-color-cluny-500;
    border-color: $kz-color-cluny-300;
    border-width: $border-width;
  }

  .educationVariant .breadcrumb:hover &,
  .educationVariant .breadcrumb:focus &,
  .adminVariant .breadcrumb:hover &,
  .adminVariant .breadcrumb:focus & {
    border-color: $kz-color-cluny-500;
    color: $kz-color-cluny-500;
    background-color: rgba($kz-var-color-cluny-500-rgb-params, 0.1);
  }
}

@keyframes slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reverse-slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
