@layer kz-components {
  .container {
    display: flex;
    width: 100%;
    justify-content: center;

    * {
      box-sizing: border-box;

      &::after,
      &::before {
        box-sizing: border-box;
      }
    }
  }
}
