@import "~@kaizen/component-library/styles/layout";
@import "./decision-tokens.scss";

.listItem {
  @include ca-padding(
    $top: $ca-grid,
    $end: $ca-grid,
    $bottom: $ca-grid,
    $start: $ca-grid
  );

  & + .listItem {
    border-top: 1px solid $dt-color-border-color;
  }
}
