@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/animation";
@import "./decision-tokens.scss";

.container {
  box-shadow: $kz-shadow-small-box-shadow;
  border-radius: $kz-border-solid-border-radius;
}

.separated {
  & + .separated {
    @include ca-margin($top: $ca-grid * 0.3);
  }
}

.groupItem {
  & + .groupItem {
    border-top: 1px solid $dt-color-border-color;
  }

  &:first-child .button:not(.open) {
    border-top-left-radius: $kz-border-solid-border-radius;
    border-top-right-radius: $kz-border-solid-border-radius;
  }

  &:last-child .button:not(.open) {
    border-bottom-left-radius: $kz-border-solid-border-radius;
    border-bottom-right-radius: $kz-border-solid-border-radius;
  }
}

.button {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  background-color: white;
  border: none;
  transition: background-color border-radius $ca-duration-rapid;

  @include ca-padding(
    $top: $ca-grid,
    $end: $ca-grid,
    $bottom: $ca-grid,
    $start: $ca-grid
  );

  &:hover {
    background-color: $dt-color-heading-background-color;
  }
}

.title {
  flex: 1 1 auto;
}

.open {
  background-color: $dt-color-heading-background-color;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}

.section {
  background-color: white;
  @include ca-padding(
    $top: $ca-grid,
    $end: $ca-grid,
    $bottom: $ca-grid,
    $start: $ca-grid
  );
}

.noPadding {
  padding: 0;
}

.hide {
  display: none;
}
