@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/animation";

$heading-active-color: $kz-var-color-wisteria-100;

// We need a full border radius on this container element, then have classes
// beneath to toggle nested borders off and on for different use cases.
.container {
  background-color: white;
  box-shadow: $kz-var-shadow-small-box-shadow;
  border-radius: $kz-var-border-borderless-border-radius;
}

.single {
  .button {
    border-radius: $kz-var-border-borderless-border-radius;
  }
}

.separated {
  & + .separated {
    @include ca-margin($top: $ca-grid * 0.3);
  }

  .button {
    border-radius: $kz-var-border-borderless-border-radius;
  }
}

// When a collapsible group is rendered, we need the first group to have a rounded
// on top and the last group to have a rounded bottom edge. Then when the last group
// is open we remove the rounded edge as the content sits beneath and needs to be straight.
.groupItem {
  & + .groupItem {
    border-top: 1px solid $ca-border-color;
  }

  &:first-of-type > .button {
    border-top-left-radius: $kz-var-border-borderless-border-radius;
    border-top-right-radius: $kz-var-border-borderless-border-radius;
  }

  &:last-of-type > .button:not(.open) {
    border-bottom-left-radius: $kz-var-border-borderless-border-radius;
    border-bottom-right-radius: $kz-var-border-borderless-border-radius;
  }
}

// Round the bottom corners of the button so when the container is open, the
// button background is not rounded on the corners and flush with the content beneath.
.open .button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  background-color: white;
  border: none;
  transition: background-color $ca-duration-rapid;

  @include ca-padding(
    $top: $ca-grid,
    $end: $ca-grid,
    $bottom: $ca-grid,
    $start: $ca-grid
  );

  &:hover {
    background-color: $heading-active-color;
  }
}

.title {
  flex: 1 1 auto;
}

.defaultVariant {
  background-color: $heading-active-color;
}

.clearVariant {
  border-bottom: 1px solid $kz-var-color-wisteria-200;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}

.section {
  @include ca-padding(
    $top: $ca-grid,
    $end: $ca-grid,
    $bottom: $ca-grid,
    $start: $ca-grid
  );
}

.noPadding {
  padding: 0;
}

.hide {
  display: none;
}
