@import "~@kaizen/design-tokens/sass/spacing";

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  padding-left: 4px;
}

.sectionList {
  display: flex;
  flex-direction: column;
  padding: $spacing-xs 0px 0px 0px;
}

.sectionWrapper + .sectionWrapper {
  padding-top: $spacing-xs;
  margin-top: 1rem;
}
