@import "~@kaizen/design-tokens/sass/spacing";

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  padding-left: 4px;
}

.sectionList {
  display: flex;
  flex-direction: column;
  padding: $spacing-xs 0 0 0;
}

.sectionWrapper + .sectionWrapper {
  margin-top: 0.5rem;
}
