@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";

$cardPadding: $ca-grid / 2;

.card {
  border-radius: 3px;
  min-width: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: $ca-grid;
  padding: $cardPadding;
  box-sizing: border-box;
}

.dark {
  background-color: $ca-palette-ink;
  color: white;
}
