@import "~@kaizen/design-tokens/sass/color";
$dt-color-background-active: var($color-gray-100-id, $color-purple-100);
$dt-color-background-focus: var($color-gray-100-id, $color-purple-100);
$dt-color-background-hover: var($color-gray-100-id, $color-purple-100);
$dt-color-border-color-base: var($color-gray-500-id, $color-purple-500);
$dt-color-border-color-hover: var($color-gray-600-id, $color-purple-700);
$dt-color-border-color-focus: var($color-gray-600-id, $color-purple-700);
$dt-color-border-color-disabled: var($color-gray-500-id, $color-purple-500);
$dt-color-color-disabled: var($color-purple-800-id, $color-purple-800);
