@layer kz-components {
  .docHeading {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .tagList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 8px;
  }
}
