@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

.footer {
  border-top: 1px solid rgba($color-gray-600-rgb, 0.1);
  padding-top: $spacing-sm;
  gap: $spacing-xs;
  display: inline-flex;
  width: 100%;
  margin: 0 $spacing-sm;
}
