@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/design-tokens/sass/layout";

$small: 300px;
$medium: $layout-breakpoints-medium;
$large: $layout-breakpoints-large;

$sidebarWidth: 240px;
$sidebarWithPadding: $sidebarWidth + (2 * $ca-layout-side-padding);
$contentPadding: 2 * $ca-layout-side-padding;

@mixin large-sidebar-and-content {
  @media (min-width: $large + $sidebarWithPadding + $contentPadding) {
    @content;
  }
}

@mixin large-content-only {
  @media (min-width: $large + $contentPadding) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium + $contentPadding) {
    @content;
  }
}

@mixin small {
  @media (max-width: $medium + $contentPadding - 1px) {
    @content;
  }
}
