@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";

$input-disabled-background: $color-gray-300;
$input-disabled-opacity: 0.3;
$input-disabled-border-alpha: 50%;

.message {
  &.disabled {
    opacity: $input-disabled-opacity;
  }
}

.textareaLabel {
  margin-bottom: $spacing-xs;
}

.textareaLabelProminent {
  margin-bottom: 0;
}
