$default-stripe-width-thin: 5px;
$default-stripe-width-thick: 10px;
$default-stripe-angle: -45deg;
$default-stripe-lighten-percent: 50%;
$default-stripe-darken-percent: 50%;
$default-stripe-ratio: 0.5;
$default-striped-row-background-size: 10px;
$default-stripe-width-multiplier: 1;

@function generate-stripes($base-color, $stripe-color, $stripe-to-base-ratio) {
  @if (unit($stripe-to-base-ratio) == "%") {
    $stripe-to-base-ratio: $stripe-to-base-ratio / 100%;
  }
  $base-color-percent: ceil(50% * $stripe-to-base-ratio);

  $stripes: (
    $stripe-color $base-color-percent,
    $base-color $base-color-percent,
    $base-color 50%,
    $stripe-color 50%,
    $stripe-color 50% + ($base-color-percent),
    $base-color 50% + ($base-color-percent),
    $base-color 100%
  );

  @return $stripes;
}

@mixin kz-accessibility-stripe(
  $base-color,
  $stripe-color,
  $angle,
  $width: $default-stripe-width-thick,
  $stripe-to-base-ratio: $default-stripe-ratio,
  $stripe-width-multiplier: $default-stripe-width-multiplier
) {
  background: linear-gradient(
    $angle,
    generate-stripes($base-color, $stripe-color, $stripe-to-base-ratio)
  );
  background-size: (
      $default-striped-row-background-size * $stripe-width-multiplier
    )
    ($default-striped-row-background-size * $stripe-width-multiplier);
}

@mixin kz-accessibility-stripe-dark(
  $base-color,
  $angle: $default-stripe-angle,
  $lightness: $default-stripe-darken-percent,
  $stripe-width-multiplier: $default-stripe-width-multiplier
) {
  $stripe-color: scale-color($base-color, $lightness: -75%);
  @include kz-accessibility-stripe(
    $base-color,
    $stripe-color,
    $angle,
    $stripe-width-multiplier
  );
}

@mixin kz-accessibility-stripe-light(
  $base-color,
  $angle: $default-stripe-angle,
  $lightness: $default-stripe-lighten-percent,
  $stripe-width-multiplier: $default-stripe-width-multiplier
) {
  $stripe-color: scale-color($base-color, $lightness: 75%);
  @include kz-accessibility-stripe(
    $base-color,
    $stripe-color,
    $angle,
    $stripe-width-multiplier
  );
}

.kz-cluny-stripe {
  @include accessibility-stripe(
    var(--kz-var-color-cluny-300),
    var(--kz-var-color-cluny-500),
    $angle: $default-stripe-angle,
    $width: $default-stripe-width-thin
  );
}

.kz-ash-stripe {
  @include accessibility-stripe(
    var(--kz-var-color-ash),
    var(--kz-var-color-iron),
    $angle: $default-stripe-angle,
    $width: $default-stripe-width-thin
  );
}

.kz-favorable-with-stripe {
  @include accessibility-stripe(
    var(--kz-var-data-viz-favorable),
    var(--kz-var-color-seedling-500),
    $angle: $default-stripe-angle,
    $width: $default-stripe-width-thick
  );
}

.kz-unfavorable-with-stripe {
  @include accessibility-stripe(
    var(--kz-var-data-viz-unfavorable),
    var(--kz-var-color-coral-600),
    $angle: $default-stripe-angle,
    $width: $default-stripe-width-thick
  );
}
