@mixin accessibility-stripe($base-color, $stripe-color, $angle, $width) {
  background: repeating-linear-gradient(
    $angle,
    $base-color,
    $base-color $width,
    $stripe-color $width,
    $stripe-color $width * 2
  );
}

@mixin accessibility-stripe-dark($base-color, $angle: 45deg, $width: 2px) {
  $stripe-color: scale-color($base-color, $lightness: -75%);
  @include accessibility-stripe($base-color, $stripe-color, $angle, $width);
}

@mixin accessibility-stripe-light($base-color, $angle: 45deg, $width: 2px) {
  $stripe-color: scale-color($base-color, $lightness: 75%);
  @include accessibility-stripe($base-color, $stripe-color, $angle, $width);
}
