@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/fonts";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.paragraph {
  margin: 0;

  strong {
    font-weight: $kz-var-typography-paragraph-bold-font-weight;
  }
}

.intro-lede {
  font-family: $kz-var-typography-paragraph-intro-lede-font-family;
  font-weight: $kz-var-typography-paragraph-intro-lede-font-weight;
  font-size: $kz-var-typography-paragraph-intro-lede-font-size;
  line-height: $kz-var-typography-paragraph-intro-lede-line-height;
  letter-spacing: $kz-var-typography-paragraph-intro-lede-letter-spacing;
}

.body {
  font-family: $kz-var-typography-paragraph-body-font-family;
  font-weight: $kz-var-typography-paragraph-body-font-weight;
  font-size: $kz-var-typography-paragraph-body-font-size;
  line-height: $kz-var-typography-paragraph-body-line-height;
  letter-spacing: $kz-var-typography-paragraph-body-letter-spacing;
}

.small {
  font-family: $kz-var-typography-paragraph-small-font-family;
  font-weight: $kz-var-typography-paragraph-small-font-weight;
  font-size: $kz-var-typography-paragraph-small-font-size;
  line-height: $kz-var-typography-paragraph-small-line-height;
  letter-spacing: $kz-var-typography-paragraph-small-letter-spacing;
}

.extra-small {
  font-family: $kz-var-typography-paragraph-extra-small-font-family;
  font-weight: $kz-var-typography-paragraph-extra-small-font-weight;
  font-size: $kz-var-typography-paragraph-extra-small-font-size;
  line-height: $kz-var-typography-paragraph-extra-small-line-height;
  letter-spacing: $kz-var-typography-paragraph-extra-small-letter-spacing;
}

.dark {
  color: $kz-color-wisteria-800;
  opacity: 1;
}

.dark-reduced-opacity {
  color: $kz-color-wisteria-800;
  opacity: 0.7;
}

.white {
  color: $kz-color-white;
  opacity: 1;
}

.white-reduced-opacity {
  color: $kz-color-white;
  opacity: 0.8;
}

.positive {
  color: $kz-color-seedling-600;
}

.negative {
  color: $kz-color-coral-600;
}
