@layer kz-components {
  .topLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sideLabel {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: var(--spacing-4) var(--spacing-6);
    align-items: center;
  }

  .label {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: var(--spacing-6);
  }

  .comboBoxTrigger {
    grid-column: 2;
    grid-row: 1;
  }

  .description {
    grid-column: 2;
    grid-row: 2;
  }
}
