@import "~@kaizen/design-tokens/sass/spacing";

.branding {
  justify-content: center;
  grid-area: branding;
  display: flex;
  flex-grow: 1;
  padding-top: $spacing-4;

  @media (min-width: 768px) {
    justify-content: unset;
  }
}

.logo {
  flex-basis: 7.5rem;
}
