node_modules
pnpm-*.log
/storybook/public/
/draft-packages/**/*.js
/draft-packages/**/*.js.map
/draft-packages/**/*.d.ts
/packages/**/*.js
!/packages/**/*.config.js
!/packages/**/svgMock.js
/packages/**/*.js.map
/packages/**/*.d.ts
/playwright/test-results
.DS_Store
dist
.cache
.yalc
yalc.loc
.turbo