# Ignore by default
*

# Whitelist...
!**/
!*.ts
!*.tsx
!*.stories.mdx
!*.js
!*.json
!*.yaml
!*.yml
!*.scss
!*.css

# Explicitly ignore...
**/node_modules/
/site/.cache/
/site/public/
/storybook/public/
/packages/**/dist