# Ignore by default
*

# Whitelist...
!**/
!*.ts
!*.tsx
!*.js
!*.mjs
!*.json
!*.yaml
!*.yml
!*.scss
!*.css

# Explicitly ignore...
devbox.lock
pnpm-lock.yaml
**/CHANGELOG.md
**/node_modules/
/docs/storybook-static/
/packages/**/dist/
/packages/components/locales/
/packages/design-tokens/css/
/packages/design-tokens/less/
/packages/design-tokens/sass/
