# Ignore by default
*

# Whitelist...
!**/
!*.ts
!*.tsx
!*.js
!*.json
!*.yaml
!*.yml
!*.scss
!*.css

# Explicitly ignore...
**/node_modules/
/storybook/public/
/packages/**/dist
/packages/component-library/styles/animations/vendor
/packages/components/locales
