# CODEOWNERS
# https://help.github.com/articles/about-code-owners/

# Require Design Systems Team approval to modify this file:
/CODEOWNERS @cultureamp/design-systems

# Pipelines are maintained by Delivery Engineering:
/.buildkite/ @cultureamp/delivery-engineering
/docker-compose.yml @cultureamp/delivery-engineering
/lerna.json @cultureamp/delivery-engineering
