@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/type";

.checkboxGroupLabel {
  margin-bottom: $ca-grid / 2;
}
.checkboxGroupContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $ca-grid / 2;
  &.noBottomMargin {
    margin-bottom: 0;
  }

  label {
    width: 400px;
  }
}
