@import "~@kaizen/design-tokens/sass/color";
$dt-color-background-active: $color-gray-100;
$dt-color-background-focus: $color-gray-100;
$dt-color-background-hover: $color-gray-100;
$dt-color-border-color-base: $color-gray-500;
$dt-color-border-color-hover: $color-gray-600;
$dt-color-border-color-focus: $color-gray-600;
$dt-color-border-color-disabled: $color-gray-500;
$dt-color-color-disabled: $color-purple-800;
