$navHeight: 60px;
$footerHeight: 72px;

:global(body) {
  a {
    color: #0168b3;
  }
}

:global(#root) {
  // push storybook down to make way for the navigation
  padding-top: $navHeight;

  > div {
    height: calc(100vh - #{$navHeight} - #{$footerHeight});
    position: relative;
  }
}

.wrapper {
  width: 100%;
}
