@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "../../mixins";
// Vars
$cell-border-radius: 3px;

// Calendar styles
.calendar {
  background-color: $color-white;
  z-index: 1010;

  .container {
    margin: 0;
  }

  .month {
    margin: $spacing-md;
  }

  .months {
    box-shadow: $shadow-large-box-shadow;
    border-radius: $cell-border-radius;
  }

  .caption {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 0 $spacing-xs;
  }

  .captionLabel {
    font-family: $typography-heading-4-font-family;
    font-size: $typography-heading-4-font-size;
    font-weight: $typography-heading-5-font-weight;
    line-height: $typography-heading-4-line-height;
    letter-spacing: $typography-heading-4-letter-spacing;
    color: $color-purple-800;
  }

  .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
    margin: 0 $spacing-md;
    top: 1.25rem;
    color: $color-purple-800;
  }

  .navButton {
    position: absolute;
    @include button-reset;
    display: inherit;
    padding: 0.25rem $spacing-xs;
    border: $border-solid-border-width $border-solid-border-style transparent;
    border-radius: $cell-border-radius;

    &:hover {
      background-color: $color-blue-100;
      color: $color-blue-500;
    }

    &:global(.focus-visible) {
      outline-offset: -2px;
      outline: $color-blue-500 $border-focus-ring-border-style
        $border-focus-ring-border-width;
      background-color: transparent;
    }

    :focus {
      outline: none;
      background-color: transparent;
      border: transparent;
    }
  }

  .navButtonNext {
    right: 0;
  }

  .table {
    border-collapse: separate;
    border-spacing: 1px;
  }

  .weekday {
    font-family: $typography-paragraph-body-font-family;
    font-size: $typography-paragraph-body-font-size;
    letter-spacing: $typography-paragraph-body-letter-spacing;
    font-weight: $typography-paragraph-body-font-weight;
    line-height: $typography-paragraph-body-line-height;
    color: $color-purple-800;
    padding: 0.5em;
  }

  .body {
    font-family: $typography-paragraph-body-font-family;
    font-size: $typography-paragraph-body-font-size;
    letter-spacing: $typography-paragraph-body-letter-spacing;
    font-weight: $typography-paragraph-body-font-weight;
    line-height: $typography-paragraph-body-line-height;
  }

  .today.day {
    color: $color-blue-500;
  }
  .cell {
    &:global(.focus-visible) {
      outline-offset: -2px;
      outline: $color-blue-500 $border-focus-ring-border-style
        $border-focus-ring-border-width;
      background-color: transparent;
    }

    :focus {
      outline: none;
      background-color: transparent;
      border: transparent;
    }
  }
  .day {
    padding: calc(#{$spacing-md} / 3) 0.625rem;
    border-radius: $cell-border-radius;
    color: $color-purple-800;

    &:global(.focus-visible) {
      outline-offset: -2px;
      outline: $color-blue-500 $border-focus-ring-border-style
        $border-focus-ring-border-width;
      background-color: transparent;
      &[aria-disabled="true"] {
        opacity: 1;
        outline: $color-gray-300 $border-dashed-border-style
          $border-focus-ring-border-width;
      }
    }

    :focus {
      outline: none;
      background-color: transparent;
      border: transparent;
    }

    &.from {
      color: $color-white;
    }
  }

  [aria-disabled="true"],
  [aria-disabled="true"].today {
    color: rgba($color-purple-800-rgb, 0.3);
    opacity: 1;
  }

  .day:not(.interactionDisabled):not([aria-disabled="true"]):not(.selected):not(.outside):hover {
    border-radius: $cell-border-radius;
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  .selected:not([aria-disabled="true"]):not(.outside) {
    border-radius: $cell-border-radius;
    background-color: $color-blue-500;
    color: $color-white;
  }
}
.range {
  .from:not(.outside),
  .to:not(.outside) {
    border-radius: $cell-border-radius;
    background-color: $color-blue-500;
    color: $color-white;
  }

  .selected:not([aria-disabled="true"]):not(.outside):not(.from):not(.to):not(:hover) {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  .day:not(.interactionDisabled):not([aria-disabled="true"]):not(.outside):hover {
    background-color: $color-blue-200;
    color: $color-blue-500;
  }
}
