@import '~@kaizen/design-tokens/sass/color';

@layer components {
  .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $color-purple-800;
  }

  .navButtonNext {
    inset-inline-end: 0;
  }
}
