@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/color";

.overlayArrow {
  display: flex;

  path {
    fill: $color-purple-800;
    box-shadow: $shadow-small-box-shadow;
  }

  &[data-placement="right"] svg {
    transform: rotate(90deg);
  }

  &[data-placement="bottom"] svg {
    transform: rotate(180deg);
  }

  &[data-placement="left"] svg {
    transform: rotate(270deg);
  }

  &.reversed path {
    fill: $color-white;
  }
}
