@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";

.tooltip {
  max-width: 400px;
  padding: $spacing-8;
  color: $color-white;
  text-align: center;
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-heading-6-font-size;
  font-weight: $typography-paragraph-body-font-weight;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  line-height: $typography-paragraph-small-line-height;
  border-radius: $border-solid-border-radius;
  transition:
    opacity $animation-duration-fast,
    transform $animation-duration-fast;
  box-shadow: $shadow-small-box-shadow;
  background-color: $color-purple-800;
  text-wrap: balance;

  &.reversed {
    background-color: $color-white;
    color: $color-purple-800;
  }
}

.overlayArrow {
  display: flex;

  path {
    fill: $color-purple-800;
    box-shadow: $shadow-small-box-shadow;
  }

  &[data-placement="right"] svg {
    transform: rotate(90deg);
  }

  &[data-placement="bottom"] svg {
    transform: rotate(180deg);
  }

  &[data-placement="left"] svg {
    transform: rotate(270deg);
  }

  &.reversed path {
    fill: $color-white;
  }
}
