@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/typography";

.tooltip {
  max-width: 400px;
  padding: 0.4375rem 0.5313rem;
  color: $color-purple-800;
  text-align: center;
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-heading-6-font-size;
  font-weight: $typography-paragraph-body-font-weight;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  line-height: $typography-paragraph-small-line-height;
  border-radius: $border-solid-border-radius;
  transition:
    opacity $animation-duration-fast,
    transform $animation-duration-fast;
  box-shadow: $shadow-small-box-shadow;
  background-color: $color-white;
  border: $border-solid-border-width $border-solid-border-style $color-gray-300;
}

$arrow-height: 7px;
$arrow-width: 14px;

.overlayArrow {
  // Ensure the arrow always sits on top of the tooltipContent
  z-index: 1;
  position: relative;
}

.overlayArrowBody::before,
.overlayArrowBody::after {
  content: "";
  position: absolute;
  border-left: calc(#{$arrow-width} / 2) solid transparent;
  border-right: calc(#{$arrow-width} / 2) solid transparent;
  margin-left: calc((#{$arrow-width} / -2) + 1px);
}

.overlayArrowBody {
  // before styles
  &::before {
    border-top: $arrow-height solid $color-gray-300;
  }
  // after styles
  &::after {
    margin-top: -3px;
    border-top: $arrow-height solid white;
  }
}

.overlayArrowShadow {
  border-top: 0 solid $color-gray-300;
}

// Triangle portion is a little darker to bring out shadow
.overlayArrowShadow::after {
  border-top: $arrow-height solid rgba($color-purple-800-rgb, 0.09);
  margin-top: 1px;
  filter: blur(4px);
}
