@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/typography";

.tooltip {
  max-width: 400px;
  padding: 0.4375rem 0.5313rem;
  color: $color-purple-800;
  text-align: center;
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-heading-6-font-size;
  font-weight: $typography-paragraph-body-font-weight;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  line-height: $typography-paragraph-small-line-height;
  border-radius: $border-solid-border-radius;
  transition:
    opacity $animation-duration-fast,
    transform $animation-duration-fast;
  box-shadow: $shadow-small-box-shadow;
  background-color: $color-white;
  border: $border-solid-border-width $border-solid-border-style $color-gray-300;
}

$arrow-size: 8px;

.overlayArrow {
  // Ensure the arrow always sits on top of the tooltipContent
  z-index: 1;
  position: relative;
}

.overlayArrowBody::before,
.overlayArrowBody::after {
  content: "";
  position: absolute;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  margin-left: calc(-#{$arrow-size} + 1px);
}

.overlayArrowBody {
  // before styles
  &::before {
    margin-top: 1px;
    border-top: $arrow-size solid $color-gray-300;
  }
  // after styles
  &::after {
    margin-top: -2px;
    border-top: $arrow-size solid white;
  }
}

.overlayArrowShadow {
  border-top: 0 solid $color-gray-300;
  position: absolute;
  height: calc($arrow-size - 2px);
  width: calc($arrow-size - 2px);
  left: -2px;
  top: 1px;
  transform: rotate(-45deg);
  z-index: -1;
  box-shadow: $shadow-small-box-shadow;
}
