@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";

.searchInput {
  &[aria-disabled="true"] {
    caret-color: transparent;

    pointer-events: none;
    opacity: 0.3;
  }
}
