@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";

$button-height: $kz-spacing-xl;
$button-form-height: calc(#{$spacing-md} * 5 / 3);
$button-vertical-padding: calc(#{$spacing-sm} - #{$border-solid-border-width});
$button-vertical-padding--form: calc(
  #{$spacing-md / 3} - #{$border-solid-border-width}
);

// Elements
$className--content: ".content";

// Polyfill
$polyfill--focus-visible: ":global(.js-focus-visible) &:global(.focus-visible)";

// Classnames to simulate pseudo states in storybook
$story-className--button-hover: ":global(.story__button-hover)";
$story-className--button-active: ":global(.story__button-active)";
$story-className--button-focus: ":global(.story__button-focus)";

// Combined pseudo state classes
$selectors--button-hover: "&:hover, &#{$story-className--button-hover}";
$selectors--button-active: "&:active, &#{$story-className--button-active}";
$selectors--button-focus: "&:focus-visible, #{$polyfill--focus-visible}, &#{$story-className--button-focus}";
