@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/animation";
@import "../../mixins";

$input-disabled-opacity: 0.3;

.iconButton {
  @include button-reset;
  display: inherit;
  padding: 0.25rem $spacing-xs;
  border: $border-solid-border-width $border-solid-border-style transparent;
  border-radius: $border-solid-border-radius;
  position: relative;
  right: -0.25rem;
  top: -45%;

  [dir="rtl"] & {
    right: 0.25rem;
  }

  &:hover:not([disabled]) {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  &:global(.focus-visible) {
    outline-offset: -2px;
    outline: $color-blue-500 $border-focus-ring-border-style
      $border-focus-ring-border-width;
  }

  :focus {
    outline: none;
  }

  &.calendarActive {
    color: $color-blue-500;
    background-color: $color-blue-100;
  }

  svg {
    margin-top: 2px;
  }
}

///////////////////////////////////////////////////
// VALIDATION STYLES
///////////////////////////////////////////////////

.error {
  @include input-icon($color-red-100, $color-purple-700);
  @include ca-animation-fade(in);
}

.disabled {
  opacity: $input-disabled-opacity;
}
