@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/grid";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "./variables";

$caButton-border-width: $border-solid-border-width;
$caButton-focus-border-width: $border-focus-ring-border-width;
$caButton-height: $spacing-xl;
$caButtonIcon-height: 20px;
$caButton-formHeight: calc(#{$spacing-md} * 5 / 3);
$caButton-verticalPadding: calc(#{$spacing-sm} - #{$border-solid-border-width});
$caButton-verticalPaddingForm: calc(
  #{$spacing-md / 3} - #{$border-solid-border-width}
);

// reset user agent styles for button element type
@mixin button-reset {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: none; // override Murmur global styles :(
}

@mixin working-state {
  pointer-events: none;
}

@mixin primary {
  &:not(:disabled) {
    background: $color-blue-500;
    border-color: $border-borderless-border-color;
    color: $color-white;

    &:hover {
      background: $color-blue-600;
      border-color: $color-blue-600;
    }

    &:active {
      background: $color-blue-600;
      border-color: $color-blue-600;
    }

    :global(.js-focus-visible) &:global(.focus-visible) {
      background: $color-blue-600;
      border-color: $color-blue-600;
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    background: $color-blue-500;
    color: $color-white;
    border-color: $border-borderless-border-color;
  }
}

@mixin primary-reversed {
  &:not(:disabled) {
    background: $color-green-300;
    border-color: $border-borderless-border-color;
    color: $color-purple-800;

    &:hover {
      background: $color-green-400;
    }

    :global(.js-focus-visible) &:global(.focus-visible) {
      border-color: $border-borderless-border-color;
      background: $color-green-400;
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    background: $color-green-300;
    border-color: $border-borderless-border-color;
    color: $color-purple-800;
  }
}

@mixin secondary {
  font-family: $typography-button-secondary-font-family;
  font-weight: $typography-button-secondary-font-weight;
  font-size: $typography-button-secondary-font-size;
  line-height: $typography-button-secondary-line-height;
  letter-spacing: $typography-button-secondary-letter-spacing;

  &:not(:disabled) {
    background: transparent;
    border-color: $border-borderless-border-color;
    color: $color-blue-500;

    %caButtonLabel {
      color: $color-blue-500;
    }

    &:hover,
    &:active,
    :global(.js-focus-visible) &:global(.focus-visible) {
      color: $color-blue-500;
      background: $color-blue-100;
      border-color: $border-borderless-border-color;
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    background: transparent;
    border-color: $border-borderless-border-color;
    color: $color-blue-500;
  }
}

@mixin secondary-destructive {
  @include secondary;

  &:not(:disabled) {
    color: $color-red-600;

    %caButtonLabel {
      color: $color-red-600;
    }

    &:hover,
    &:active,
    :global(.js-focus-visible) &:global(.focus-visible) {
      color: $color-red-600;
      background: $color-red-100;
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    color: $color-red-600;
  }
}

%caButtonContainer {
  display: inline-block;
}

%caButton {
  @include button-reset;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typography-button-primary-font-family;
  font-weight: $typography-button-primary-font-weight;
  font-size: $typography-button-primary-font-size;
  line-height: $typography-button-primary-line-height;
  letter-spacing: $typography-button-primary-letter-spacing;
  display: inline-flex;

  // ^inline-flex is used over (block) flex here to fix an edge case where the parent element is display:grid
  //  and this element is an <a>, causing the element to be full width.
  align-items: center;
  box-sizing: border-box;
  min-height: $caButton-height;
  border: $border-solid-border-width $border-solid-border-style;
  border-radius: $border-solid-border-radius;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: visible; // Required for the focus ring on IE11

  // looking for padding? See %caButtonContent

  &[href] {
    text-decoration: none;
  }

  // Enabled (to restrict application of hover/focus/active styles)
  // We can't just used :enabled here, because we want to be able to apply these
  // styles to non-form elements, such as hyperlinks. :not(:disabled) is
  // equivalent to :enabled on form elements, but also allows these styles to be
  // applied to elements that have no enabled/disabled states.
  &:not(:disabled) {
    background: $color-white;
    border-color: $dt-color-border-color-base;
    color: $color-purple-800;

    &:hover {
      background: $dt-color-background-hover;
      border-color: $dt-color-border-color-hover;
    }

    &:active {
      background: $dt-color-background-active;
      transform: translateY(1px);
    }

    // Use JS polyfill to simulate :focus-visible, not yet supported by browsers
    // https://github.com/WICG/focus-visible#backwards-compatibility
    :global(.js-focus-visible) & {
      // hide native focus ring when :focus but not :focus-visible
      &:focus {
        outline: none;
      }

      &:global(.focus-visible) {
        background: $dt-color-background-focus;
        border-color: $dt-color-border-color-focus;
      }

      // show custom focus ring when :focus-visible
      &:global(.focus-visible)::after {
        $focus-ring-offset: calc(
          (#{$border-focus-ring-border-width} * 2) + 1px
        );

        content: "";
        position: absolute;
        background: transparent;
        border-radius: $border-focus-ring-border-radius;
        border-width: $border-focus-ring-border-width;
        border-style: $border-focus-ring-border-style;
        border-color: $color-blue-500;
        top: calc(-1 * #{$focus-ring-offset});
        left: calc(-1 * #{$focus-ring-offset});
        right: calc(-1 * #{$focus-ring-offset});
        bottom: calc(-1 * #{$focus-ring-offset});
      }
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    opacity: 0.3;
    background: $color-white;
    border-color: $dt-color-border-color-disabled;
    color: $dt-color-color-disabled;
  }
}

%caButtonForm {
  min-height: $caButton-formHeight;
}

%caButtonPrimary {
  @include primary;
}

%caButtonDestructive {
  &:not(:disabled) {
    color: $color-white;
    background: $color-red-500;
    border-color: $color-red-500;

    &:hover {
      background: $color-red-600;
      border-color: $color-red-600;
    }

    &:active {
      background: $color-red-600;
      border-color: $color-red-600;
    }

    :global(.js-focus-visible) &:global(.focus-visible) {
      background: $color-red-600;
      border-color: $color-red-600;
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    color: $color-white;
    background: $color-red-500;
    border-color: $color-red-500;
  }
}

%caButtonSecondary {
  @include secondary;
}

%caButtonSecondaryDestructive {
  @include secondary-destructive;
}

%caButtonReversed {
  &:not(:disabled) {
    background: transparent;
    border-color: rgba($color-white-rgb, 0.65);
    color: $color-white;

    &:hover {
      background: rgba($color-white-rgb, 0.1);
      border-color: $color-white;
    }

    :global(.js-focus-visible) &:global(.focus-visible) {
      border-color: $color-white;

      &::after {
        border-color: $color-blue-300;
      }

      background: rgba($color-white-rgb, 0.1);
    }
  }

  &:disabled,
  &.working {
    @include working-state;

    opacity: 0.3;
    border-color: rgba($color-white-rgb, 0.5);
    color: $color-white;
    background: transparent;
  }

  &%caButtonPrimary {
    &:not(:disabled) {
      background: $color-green-300;
      border-color: $border-borderless-border-color;
      color: $color-purple-800;

      &:hover {
        background: $color-green-400;
      }

      :global(.js-focus-visible) &:global(.focus-visible) {
        border-color: $border-borderless-border-color;
        background: $color-green-400;
      }
    }

    &:disabled,
    &.working {
      @include working-state;

      background: $color-green-300;
      border-color: $border-borderless-border-color;
      color: $color-purple-800;
    }
  }

  &%caButtonSecondary {
    &:not(:disabled) {
      background: transparent;
      border-color: $border-borderless-border-color;
      color: $color-white;

      %caButtonLabel {
        color: $color-white;
      }

      &:hover {
        background: rgba($color-white-rgb, 0.1);
      }

      :global(.js-focus-visible) &:global(.focus-visible) {
        border-color: $border-borderless-border-color;
        color: $color-white;
      }
    }

    &:disabled,
    &.working {
      @include working-state;

      background: transparent;
      border-color: $border-borderless-border-color;
      color: $color-white;
    }
  }

  &%caButtonDestructive {
    &:not(:disabled) {
      background: $color-red-300;
      border-color: $border-borderless-border-color;
      color: $color-purple-800;

      &:hover {
        background: $color-red-400;
      }

      :global(.js-focus-visible) &:global(.focus-visible) {
        border-color: $border-borderless-border-color;
        background: $color-red-400;
      }
    }

    &:disabled,
    &.working {
      @include working-state;

      background: $color-red-300;
      border-color: $border-borderless-border-color;
      color: $color-purple-800;
    }
  }
}

%caButtonContent {
  height: 100%;
  display: flex;
  align-items: center;
  padding: $caButton-verticalPadding
    calc(#{$spacing-md} - #{$border-solid-border-width});

  %caButtonSecondary &,
  %caButtonSecondaryDestructive & {
    padding-left: calc(#{$spacing-sm} - #{$border-solid-border-width});
    padding-right: calc(#{$spacing-sm} - #{$border-solid-border-width});
  }

  %caButtonForm & {
    padding-top: $caButton-verticalPaddingForm;
    padding-bottom: $caButton-verticalPaddingForm;
  }

  :global(.js-focus-visible) %caButton:global(.focus-visible) & {
    padding: calc(#{$spacing-sm} - #{$border-focus-ring-border-width})
      calc(#{$spacing-md} - #{$border-focus-ring-border-width});
  }

  :global(.js-focus-visible) %caButtonSecondary:global(.focus-visible) &,
  :global(.js-focus-visible)
    %caButtonSecondaryDestructive:global(.focus-visible)
    & {
    padding: calc(#{$spacing-sm} - #{$border-focus-ring-border-width})
      calc(#{$spacing-sm} - #{$border-focus-ring-border-width});
  }

  :global(.js-focus-visible) %caButton%caButtonForm:global(.focus-visible) & {
    padding: calc(#{$spacing-md / 3} - #{$border-focus-ring-border-width})
      calc(#{$spacing-md} - #{$border-focus-ring-border-width});
  }

  :global(.js-focus-visible)
    %caButtonSecondary%caButtonForm:global(.focus-visible)
    & {
    padding: calc(#{$spacing-md / 3} - #{$border-focus-ring-border-width})
      calc(#{$spacing-sm} - #{$border-focus-ring-border-width});
  }
}

%caButtonLabel {
  // This line height equates to 3/4 of a grid unit - so 18px. We set this
  // here rather than in ca-type-inter-button because changing the type style
  // changes the baseline grid alignment for all buttons. Changing it here keeps
  // the baseline alignment correct for single line buttons.
  line-height: 1;

  &:only-child {
    %caButtonSecondary & {
      margin: 0;
    }
  }

  &:not(:first-child) {
    @include ca-margin($start: 0.5em, $end: null);
  }

  &:not(:last-child) {
    @include ca-margin($end: 0.5em, $start: null);
  }
}

%caButtonIconWrapper {
  height: $caButtonIcon-height;
  align-self: flex-start;
}

%caButtonAdditionalContentWrapper {
  display: inherit;

  &:not(:last-child) {
    @include ca-margin($end: 0.5em, $start: null);
  }
}
%caButtonIconButton {
  width: $caButton-height;

  // Reset for various states and variants
  &:not(:disabled),
  &:disabled {
    &,
    &:hover,
    &:active,
    &%caButtonPrimary {
      color: inherit;
      background: none;
      border-color: $border-borderless-border-color;

      &%caButtonReversed {
        color: $color-purple-800;

        &%caButtonPrimary {
          %caButtonContent {
            color: $color-purple-800;
            background: none;
          }
        }
      }
    }

    &.working {
      @include working-state;

      height: $caButtonIcon-height;
    }
  }

  &%caButtonPrimary {
    @include primary;
  }

  &%caButtonSecondary {
    @include secondary;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:active,
    :global(.js-focus-visible) &:global(.focus-visible) {
      background: $color-gray-200;
      border-color: $border-borderless-border-color;
    }
  }

  &%caButtonReversed {
    &:not(:disabled) {
      color: $color-white;

      &:hover,
      &:active,
      :global(.js-focus-visible) &:global(.focus-visible) {
        color: $color-white;
        background: rgba($color-white-rgb, 0.1);
        border-color: $border-borderless-border-color;
      }
    }

    &:disabled,
    &.working {
      @include working-state;

      opacity: 0.3;
      color: $color-white;
      background: transparent;
    }

    &%caButtonPrimary {
      @include primary-reversed;
    }

    &%caButtonDestructive {
      &:not(:disabled) {
        color: $color-purple-800;
        background: $color-red-300;
        border-color: $color-red-300;

        &:hover {
          background: $color-red-400;
          border-color: $color-red-400;
        }

        &:active {
          background: $color-red-400;
          border-color: $color-red-400;
        }

        :global(.js-focus-visible) &:global(.focus-visible) {
          background: $color-red-400;
          border-color: $color-red-400;
          color: $color-purple-800;
        }
      }

      &:disabled,
      &.working {
        @include working-state;

        color: $color-purple-800;
        background: $color-red-300;
        border-color: $color-red-300;
      }
    }
  }

  &%caButtonReversed,
  :global(.js-focus-visible) &:global(.focus-visible) {
    %caButtonContent {
      padding: 0;
    }
  }

  %caButtonContent {
    justify-content: center;
    width: 100%;
    padding: 0;

    // IE 10/11 workaround to fix vertical centering of icon
    margin: calc(
        (((#{$caButton-height}) - #{$caButtonIcon-height}) / 2) - #{$border-solid-border-width}
      )
      0;
  }

  &%caButtonForm {
    width: $caButton-formHeight;
  }

  &%caButtonDestructive {
    &:not(:disabled) {
      color: $color-white;
      background: $color-red-500;
      border-color: $color-red-500;

      &:hover {
        background: $color-red-600;
        border-color: $color-red-600;
      }

      &:active {
        background: $color-red-600;
        border-color: $color-red-600;
      }

      :global(.js-focus-visible) &:global(.focus-visible) {
        background: $color-red-600;
        border-color: $color-red-600;
        color: $color-white;
      }
    }

    &:disabled,
    &.working {
      @include working-state;

      color: $color-white;
      background: $color-red-500;
      border-color: $color-red-500;
    }
  }

  &%caButtonSecondaryDestructive {
    @include secondary-destructive;
  }
}

%caButtonDestructiveModifier {
  &:not(:disabled) {
    color: $color-red-600;

    %caButtonLabel {
      color: $color-red-600;
    }
  }

  &:hover span,
  &:active span {
    color: $color-red-600;
  }

  &:hover,
  &:active,
  :global(.js-focus-visible) &:global(.focus-visible) {
    // caButtonDestructiveModifier is only used in the Elm component
    // in order to create a Secondary Destructive variant.
    // The Elm component's HTML structure is different to the React one
    // and these !importants are here to protect against consumers
    // overriding the colours if they depending on the
    // Elm Button's internal structure.
    color: $color-red-600 !important; /* stylelint-disable-line declaration-no-important */
    background: $color-red-100 !important; /* stylelint-disable-line declaration-no-important */
  }
}
