@import "~@kaizen/design-tokens/sass/color-vars";

$dt-color-background-active: var(
  --kz-var-color-stone,
  $color-purple-100
);
$dt-color-background-focus: var(
  --kz-var-color-stone,
  $color-purple-100
);
$dt-color-background-hover: var(
  --kz-var-color-stone,
  $color-purple-100
);
$dt-color-border-color-base: var(
  --kz-var-color-iron,
  $color-purple-500
);
$dt-color-border-color-hover: var(
  --kz-var-color-slate,
  $color-purple-700
);
$dt-color-border-color-focus: var(
  --kz-var-color-slate,
  $color-purple-700
);
$dt-color-border-color-disabled: var(
  --kz-var-color-iron,
  $color-purple-500
);
$dt-color-color-disabled: var(
  --kz-var-color-wisteria-800,
  $color-purple-800
);
