@import "~@kaizen/design-tokens/sass/theme";

$dt-color-background-active: $kz-color-wisteria-100;
$dt-color-background-hover: $kz-color-wisteria-100;
$dt-color-background-focus: $kz-color-wisteria-100;
$dt-color-border-color-base: $kz-color-wisteria-500;
$dt-color-border-color-hover: $kz-color-wisteria-700;
$dt-color-border-color-focus: $kz-color-wisteria-700;
$dt-color-border-color-disabled: $kz-color-wisteria-500;
$dt-color-color-disabled: $kz-color-wisteria-800;

@if $rebrand {
  $dt-color-background-active: $kz-color-stone;
  $dt-color-background-focus: $kz-color-stone;
  $dt-color-background-hover: $kz-color-stone;
  $dt-color-border-color-base: $kz-color-iron-500;
  $dt-color-border-color-hover: $kz-color-slate-700;
  $dt-color-border-color-focus: $kz-color-slate-700;
  $dt-color-border-color-disabled: $kz-color-iron-500;
  $dt-color-color-disabled: $kz-color-wisteria-800;
}
