@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/draft-button/KaizenDraft/Button/styles.scss";

// TODO - remove this disabling line
// stylelint-disable
.container {
  composes: container from "~@kaizen/draft-button/KaizenDraft/Button/components/GenericButton.module.scss";
  @include ca-margin($end: $ca-grid * 0.1);
}

.button {
  composes: button from "~@kaizen/draft-button/KaizenDraft/Button/components/GenericButton.module.scss";
}

.iconButton {
  width: $caButton-height;
  &:not(:disabled),
  &:disabled {
    &,
    &:hover,
    &:active {
      color: $color-purple-800;
      background: none;
      border-color: $border-borderless-border-color;
    }
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-purple-800;
      background: $color-gray-200;
      border-color: $border-borderless-border-color;
    }

    :global(.js-focus-visible) &:global(.focus-visible) {
      border-color: $border-borderless-border-color;
    }
  }

  &.checked {
    &:not(:disabled) {
      background: $color-blue-100;
      border-color: $border-borderless-border-color;
      color: $color-blue-500;

      :global(.js-focus-visible) &:global(.focus-visible) {
        background: $color-blue-100;
        z-index: 2;
      }
    }
  }
  :global(.js-focus-visible) &:global(.focus-visible) .content {
    padding: 0;
  }
}

.content {
  composes: content from "~@kaizen/draft-button/KaizenDraft/Button/components/GenericButton.module.scss";
  justify-content: center;
  width: 100%;
  padding: 0;
  // IE 10/11 workaround to fix vertical centering of icon
  margin: calc(
      (((#{$caButton-height}) - #{$caButtonIcon-height}) / 2) - #{$border-solid-border-width}
    )
    0;
}

.js-focus-visible {
  :global(.focus-visible) {
    .content {
      padding: 0;
    }
  }
}

.js-focus-visible {
  :global(.focus-visible) {
    :global(.content) {
      padding: 0;
    }
  }
}

.iconWrapper {
  composes: iconWrapper from "~@kaizen/draft-button/KaizenDraft/Button/components/GenericButton.module.scss";
}
