@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";

.divider {
  @include ca-margin($start: $ca-grid * 0.25);
  @include ca-padding($start: $ca-grid * 0.25);
  border-left: $border-solid-border-width $border-solid-border-style
    $color-gray-100;
}

.dividerElement {
  @include ca-margin($start: $ca-grid * 0.25);
  @include ca-padding($start: $ca-grid * 0.25);
  border-left: $border-solid-border-width $border-solid-border-style
    $color-gray-100;
  align-self: stretch;
}
