@import "~@kaizen/design-tokens/sass/color";
@mixin avatar-theme-switching-tokens() {
  --avatar--color-icon-color: rgba($color-purple-800-rgb, 0.7);
}
$dt-color-background-color: $color-gray-300;
$dt-color-background-color-initials: $color-gray-300;
$dt-color-background-color-personal: $color-orange-100;
$dt-color-text-color: $color-purple-800;
$dt-color-border-color: $color-white;
$dt-color-icon-color: var(--avatar--color-icon-color);
