@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/typography";

.wrapper {
  background: $kz-color-stone;
  border-radius: 100%;
  border: 3px solid $kz-color-white;
  box-shadow: $kz-shadow-small-box-shadow;
  overflow: hidden;
  position: relative;

  // Themes

  &.personal {
    background: $kz-color-peach-200;
  }

  &.otherUser {
    background: $kz-color-wisteria-200;
  }

  // Sizes

  &.inherit {
    width: 100%;
    padding-bottom: 100%; // For aspect ratio control
  }

  &.medium {
    width: 3rem;
    height: 3rem;
  }

  &.large {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.wrapperInner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.avatarImage {
  .loading & {
    display: none;
  }
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallbackIcon {
  color: rgba($kz-color-wisteria-800, 0.3);
  width: 28px;
  .medium & {
    width: 20px;
  }
}

.initials {
  box-sizing: border-box;
  color: $kz-color-wisteria-800;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 100%;

  font-family: $kz-typography-heading-3-font-family;
  font-size: $kz-typography-heading-3-font-size;
  font-weight: $kz-typography-heading-3-font-weight;
  letter-spacing: $kz-typography-heading-3-letter-spacing;
  line-height: $kz-typography-heading-3-line-height;

  .medium & {
    font-family: $kz-typography-heading-5-font-family;
    font-size: $kz-typography-heading-5-font-size;
    font-weight: $kz-typography-heading-5-font-weight;
    letter-spacing: $kz-typography-heading-5-letter-spacing;
    line-height: $kz-typography-heading-5-line-height;
  }
}
