@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/shadow";
@import "./decision-tokens.scss";
@import "~@kaizen/design-tokens/sass/border";

.wrapper {
  background: $dt-color-background-color;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;

  &:not(.small) {
    box-shadow: $shadow-small-box-shadow;
    border: 3px solid $dt-color-border-color;
  }

  // Themes
  &.personal {
    background: $dt-color-background-color-personal;
  }

  &.otherUser {
    background: $dt-color-background-color-initials;
  }

  &.company {
    background: $color-white;
    border-radius: $border-solid-border-radius;
  }

  // Sizes

  &.small {
    width: $dt-avatar-sm;
    height: $dt-avatar-sm;
  }

  &.medium {
    width: $dt-avatar-md;
    height: $dt-avatar-md;
  }

  &.large {
    width: $dt-avatar-lg;
    height: $dt-avatar-lg;
  }

  &.xlarge {
    width: $dt-avatar-xl;
    height: $dt-avatar-xl;
  }

  &.xxlarge {
    width: $dt-avatar-xxl;
    height: $dt-avatar-xxl;
  }

  abbr {
    text-decoration: none;
    speak-as: spell-out;
  }
}

.avatarImage {
  .loading & {
    display: none;
  }
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companyAvatarImage {
  object-fit: contain;
  box-sizing: border-box;
  padding: 0.25rem;
}

.fallbackIcon {
  color: $dt-color-icon-color;
  width: 28px;

  .xxlarge & {
    width: 75px;
  }
  .xlarge & {
    width: 60px;
  }
  .large & {
    width: 35px;
  }
  .medium & {
    width: 25px;
  }
  .small & {
    width: 10px;
  }
}

.initials {
  box-sizing: border-box;
  color: $dt-color-text-color;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-family: $typography-heading-1-font-family;
  font-weight: $typography-heading-1-font-weight;
  letter-spacing: $typography-heading-3-letter-spacing;

  // Whitespace cropping
  &:not(.longName)::before {
    content: "";
    display: block;
    margin-top: -0.001em;
  }

  .xlarge &,
  .xxlarge & {
    font-size: 34px;
    letter-spacing: $typography-heading-1-letter-spacing;
  }

  .medium & {
    font-size: 16px;
    font-weight: $typography-heading-5-font-weight;
    letter-spacing: $typography-heading-5-letter-spacing;
  }

  .small & {
    font-size: 8px;
    font-weight: $typography-heading-5-font-weight;
    letter-spacing: $typography-heading-5-letter-spacing;
  }
}
