@import "~@kaizen/design-tokens/sass/animation";

.loadingSpinner {
  display: flex;
}

.spinner {
  animation: spinner $animation-duration-deliberate
    $animation-easing-function-ease-in-out infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
