@import "~@kaizen/design-tokens/sass/spacing";

.menu {
  list-style: none;
  padding: $spacing-sm;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  max-height: 22rem;

  &.focus {
    outline: none;
  }
}
