@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";

$white: white;
$black: black;

@function add-tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function add-shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

@function add-alpha($color, $percentage) {
  $decimal: $percentage / 100%;
  $inverse: 1 - $decimal;

  @return transparentize($color, $inverse);
}

// Primary colours
$ca-palette-ink: #3e4543;
$ca-palette-paper: #f2edde;
$ca-palette-coral: #f04c5d;

// Secondary colours
$ca-palette-seedling: #45ad8f;
$ca-palette-ocean: #1b7688;
$ca-palette-wisteria: #727193;
$ca-palette-lapis: #253c64;
$ca-palette-peach: #f3786d;
$ca-palette-yuzu: #ffce1e;

// Tertiary colours
$ca-palette-stone: #f9f9f9; // previously add-tint($ca-palette-ink, 97%);
$ca-palette-ash: #f3f4f4; // previously add-tint($ca-palette-ink, 94%)
$ca-palette-positive: #7dc6b1; // previously add-tint($ca-palette-seedling, 30%);
$ca-palette-negative: $ca-palette-coral;

// Delta colours are to be phased out. Please do not use.
$ca-palette-positive-delta: #43e699;
$ca-palette-negative-delta: #ff4757;
$ca-palette-input-validation-negative: #fbc9ce; // previously add-tint($ca-palette-coral, 70%);

// Text colours
$ca-base-text-color: $color-purple-800;
$ca-link-text-color: $color-blue-500;
$ca-link-hover-text-color: $color-blue-500;
$ca-palette-positive-text: #378a72; // previously add-shade($ca-palette-seedling, 20%);
$ca-palette-negative-text: #c03d4a; // previously add-shade($ca-palette-coral, 20%);

// Border colours
$ca-border-color: $border-solid-border-color;
$ca-border-between-rows-color: #ececec; // previously add-tint($ca-palette-ink, 90%);

// Freemium colors
$ca-freemium-blue: #9cd1e2;
$ca-freemium-green: #a2d6c7;
$ca-freemium-purple: #4c506b;
$ca-freemium-pink: #f9bbb6;
$ca-freemium-grey: #edeef0;
