/* stylelint-disable scss/at-if-no-null, declaration-block-no-redundant-longhand-properties */
@import 'type';

$ca-grid: 1.5rem; // 24px @ default root font-size of 16px
$ca-layout-max-width: 1416px;
$ca-layout-side-padding: 24px;
$ca-layout-content-width: 1080px;
$ca-layout-title-block-height: 5 * $ca-grid;
$ca-layout-title-block-tablet-height: 3.5 * $ca-grid;
$ca-layout-title-block-mobile-height: 2.5 * $ca-grid;
$ca-layout-sidebar-width: 10 * $ca-grid;

@mixin ca-margin($start: 0, $end: 0, $top: null, $bottom: null) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-inline-end: $end;
  margin-inline-start: $start;
}

@mixin ca-padding($start: 0, $end: 0, $top: null, $bottom: null) {
  padding-top: $top;
  padding-bottom: $bottom;
  padding-inline-end: $end;
  padding-inline-start: $start;
}

@mixin ca-position($start: null, $end: null, $top: null, $bottom: null) {
  @if ($start == null and $end != null) {
    $start: auto;
  }

  @if ($end == null and $start != null) {
    $end: auto;
  }

  top: $top;
  bottom: $bottom;
  inset-inline-end: $end;
  inset-inline-start: $start;
}

/* stylelint-enable scss/at-if-no-null, declaration-block-no-redundant-longhand-properties */
