@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/design-tokens/sass/animation-vars";

$duration: $kz-var-animation-duration-deliberate; // 700ms
$delay: -$kz-var-animation-duration-slow; // -400ms (stagger effect)

@include ca-series {
  .spin-1 {
    @include ca-queue($duration, $delay, pulsate);
  }
  .spin-2 {
    @include ca-queue($duration, $delay, pulsate);
  }
  .spin-3 {
    @include ca-queue($duration, 0, pulsate);
  }
}
