@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/design-tokens/sass/animation-vars";

///////////////////////////////////////////////
// ANIMATION PRESET CLASSES                  //
///////////////////////////////////////////////
:global(.ca-animation-fade-in) {
  @include ca-animation-fade(in);
}

:global(.ca-animation-fade-out) {
  @include ca-animation-fade(out);
}

:global(.ca-animation-pop) {
  @include ca-animation-pop();
}

:global(.ca-animation-pulsate) {
  @include ca-animation-pulsate();
}

:global(.ca-animation-slide-fade-in) {
  @include ca-animation-slide-fade(in);
}

:global(.ca-animation-slide-fade-out) {
  @include ca-animation-slide-fade(out);
}

:global(.ca-animation-scale-fade-in) {
  @include ca-animation-scale-fade(in);
}

:global(.ca-animation-scale-fade-out) {
  @include ca-animation-scale-fade(out);
}

///////////////////////////////////////////////
// TIMING PRESET CLASSES                     //
///////////////////////////////////////////////
:global(.ca-duration-instant) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-instant !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-instant !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-immediate) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-immediate !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-immediate !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-rapid) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-rapid !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-rapid !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-fast) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-fast !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-fast !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-slow) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-slow !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-slow !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-deliberate) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-deliberate !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-deliberate !important; /* stylelint-disable-line declaration-no-important */
}
