@import "~@cultureamp/kaizen-component-library/styles/animation";

///////////////////////////////////////////////
// ANIMATION PRESET CLASSES                  //
///////////////////////////////////////////////
:global(.ca-animation-fade-in) {
  @include ca-animation-fade(in);
}

:global(.ca-animation-fade-out) {
  @include ca-animation-fade(out);
}

:global(.ca-animation-pop) {
  @include ca-animation-pop();
}

:global(.ca-animation-pulsate) {
  @include ca-animation-pulsate();
}

:global(.ca-animation-slide-fade-in) {
  @include ca-animation-slide-fade(in);
}

:global(.ca-animation-slide-fade-out) {
  @include ca-animation-slide-fade(out);
}

:global(.ca-animation-scale-fade-in) {
  @include ca-animation-scale-fade(in);
}

:global(.ca-animation-scale-fade-out) {
  @include ca-animation-scale-fade(out);
}

///////////////////////////////////////////////
// TIMING PRESET CLASSES                     //
///////////////////////////////////////////////
:global(.ca-duration-instant) {
  animation-duration: $ca-duration-instant !important;
  transition-duration: $ca-duration-instant !important;
}

:global(.ca-duration-immediate) {
  animation-duration: $ca-duration-immediate !important;
  transition-duration: $ca-duration-immediate !important;
}

:global(.ca-duration-rapid) {
  animation-duration: $ca-duration-rapid !important;
  transition-duration: $ca-duration-rapid !important;
}

:global(.ca-duration-fast) {
  animation-duration: $ca-duration-fast !important;
  transition-duration: $ca-duration-fast !important;
}

:global(.ca-duration-slow) {
  animation-duration: $ca-duration-slow !important;
  transition-duration: $ca-duration-slow !important;
}

:global(.ca-duration-deliberate) {
  animation-duration: $ca-duration-deliberate !important;
  transition-duration: $ca-duration-deliberate !important;
}
