@import "~@kaizen/design-tokens/sass/animation";

@import "~@kaizen/component-library/styles/animation";

///////////////////////////////////////////////
// TRANSITION PRESET CLASSES                  //
///////////////////////////////////////////////

:global(.ca-transition-fade-in) {
  @include ca-transition-fade(in);
}

:global(.ca-transition-fade-out) {
  @include ca-transition-fade(out);
}

:global(.ca-transition-slide-fade-in) {
  @include ca-transition-slide-fade(in);
}

:global(.ca-transition-slide-fade-out) {
  @include ca-transition-slide-fade(out);
}

:global(.ca-transition-scale-fade-in) {
  @include ca-transition-scale-fade(in);
}

:global(.ca-transition-scale-fade-out) {
  @include ca-transition-scale-fade(out);
}

///////////////////////////////////////////////
// TIMING PRESET CLASSES                     //
///////////////////////////////////////////////
:global(.ca-duration-instant) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-instant !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-instant !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-immediate) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-immediate !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-immediate !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-rapid) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-rapid !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-rapid !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-fast) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-fast !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-fast !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-slow) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-slow !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-slow !important; /* stylelint-disable-line declaration-no-important */
}

:global(.ca-duration-deliberate) {
  /* Tech debt - this !important existed before Stylelint rules */
  animation-duration: $animation-duration-deliberate !important; /* stylelint-disable-line declaration-no-important */
  transition-duration: $animation-duration-deliberate !important; /* stylelint-disable-line declaration-no-important */
}
