@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";

.modal {
  composes: genericModal from "./GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $kz-color-white;
  padding: $kz-spacing-lg $kz-spacing-md $kz-spacing-lg;
  text-align: center;
  border-radius: $kz-border-solid-border-radius $kz-border-solid-border-radius 0
    0;

  // override Murmur global styles :(
  h1 {
    color: $kz-color-white;
  }
}

.positiveHeader {
  background-color: $kz-color-seedling-500;
}

.informativeHeader {
  background-color: $kz-color-cluny-500;
}

.negativeHeader {
  background-color: $kz-color-coral-500;
}

.cautionaryHeader {
  background-color: $kz-color-yuzu-500;

  &.header h1 {
    color: $kz-color-wisteria-800;
  }
}

.body {
  padding: $kz-spacing-md $kz-spacing-xxxxl $kz-spacing-sm;
}

.iconContainer {
  position: relative;
  margin-bottom: $kz-spacing-sm;
}

.spotIcon,
.svgIcon > svg {
  width: 155px;
  height: 155px;
  margin: 0 auto;
}
