@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.modal {
  composes: genericModal from "./GenericModal.scss";
  min-width: 300px;
  max-width: 840px;

  @include ca-media-tablet-and-up {
    width: 90%;
  }
}

.header {
  color: $kz-color-wisteria-800;
  padding: $ca-grid * 1.5 $ca-grid * 1.5 0;
}

.body {
  padding: $ca-grid $ca-grid * 1.5;
}

.bodyWithoutFooter {
  composes: body;
  padding-bottom: $ca-grid * 2.5;
}

.content {
  @include ca-media-tablet-and-up {
    max-width: $ca-grid * 16;
  }
}
