@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/spacing";

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 840px;

  @media (min-width: $layout-breakpoints-medium - 1px) {
    width: 90%;
  }
}

.header {
  color: $color-purple-800;
  text-align: left;
  &.padded {
    padding: $spacing-md $spacing-lg;
    @media (max-width: $layout-breakpoints-medium - 1px) {
      padding: $spacing-md;
    }
  }
}

.footer {
  white-space: nowrap;
  @media (max-width: $layout-breakpoints-medium - 1px) {
    white-space: initial;
  }
}

.footerWithSecondaryAction {
  composes: footer;
  margin-left: calc(-1 * #{$spacing-sm});
}

.emptyFooter {
  height: $spacing-sm;
}

.portraitContentlayout {
  display: flex;
  padding: $spacing-md $spacing-lg;
  @media (max-width: $layout-breakpoints-medium - 1px) {
    padding: $spacing-md;
    display: block;
  }
}

.landscapeContentlayout {
  display: flex;
  padding: $spacing-md $spacing-lg;
  flex-direction: column;
  @media (max-width: $layout-breakpoints-medium - 1px) {
    padding: $spacing-md;
  }
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    padding-left: 0rem;
    @media (min-width: $layout-breakpoints-medium) {
      max-width: 100%;
    }
  }
}

.content {
  flex: 1 0 100%;
  padding-left: $spacing-xl;
  @media (min-width: $layout-breakpoints-medium) {
    max-width: calc(16 * #{$spacing-md});
  }
  @media (max-width: $layout-breakpoints-medium - 1px) {
    padding-left: 0;
  }
}

.image {
  flex: 1;
}
