@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 840px;

  @include ca-media-tablet-and-up {
    width: 90%;
  }
}

.header {
  color: $kz-color-wisteria-800;
  padding: $ca-grid * 0.5 $ca-grid * 1.5;
  text-align: center;
}

.footer {
  white-space: nowrap;
  padding: $ca-grid 0 0 0;
  @include ca-media-mobile {
    white-space: initial;
  }
}

.footerWithSecondaryAction {
  composes: footer;
  margin-left: -0.5 * $ca-grid;
}

.emptyFooter {
  height: $ca-grid * 0.5;
}

.contentLayout {
  display: flex;
  padding: $ca-grid;
  @include ca-media-tablet-and-up {
    padding: $ca-grid 2 * $ca-grid 1.5 * $ca-grid 2 * $ca-grid;
  }
}

.content {
  flex: 1 0 100%;
  @include ca-media-tablet-and-up {
    max-width: $ca-grid * 16;
  }
}

.image {
  flex: 1;
  padding-left: $ca-grid * 2;
  @include ca-media-mobile {
    display: none;
  }
}
