@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/responsive";

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $color-purple-800;
  text-align: left;
  &.textAlignRTL {
    text-align: right;
  }
  &.padded {
    padding: $ca-grid $ca-grid * 1.5;
    @include ca-media-mobile {
      padding: $ca-grid;
    }
  }
}

.body {
  background: $color-gray-200;
  &.padded {
    padding: $ca-grid $ca-grid * 1.5 $ca-grid $ca-grid * 1.5;
    @include ca-media-mobile {
      padding: $ca-grid;
    }
  }
}
