@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/design-tokens/sass/layout";

.modal {
  composes: genericmodal from "../Primitives/GenericModal.module.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $color-purple-800;
  text-align: left;

  &.textAlignRTL {
    text-align: right;
  }

  &.padded {
    padding: $ca-grid $ca-grid * 1.5;

    @media (max-width: $layout-breakpoints-medium) {
      padding: $ca-grid;
    }
  }
}

.body {
  background: $color-gray-200;

  &.padded {
    padding: $ca-grid $ca-grid * 1.5 $ca-grid $ca-grid * 1.5;

    @media (max-width: $layout-breakpoints-medium) {
      padding: $ca-grid;
    }
  }
}
