@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/spacing";

.modal {
  composes: genericmodal from "../Primitives/GenericModal.module.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $color-purple-800;
  text-align: left;

  &.textAlignRTL {
    text-align: right;
  }

  &.padded {
<<<<<<< HEAD
    padding: $ca-grid $ca-grid * 1.5;

=======
    padding: $spacing-md $spacing-lg;
>>>>>>> main
    @media (max-width: $layout-breakpoints-medium) {
      padding: $spacing-md;
    }
  }
}

.body {
  background: $color-gray-200;

  &.padded {
<<<<<<< HEAD
    padding: $ca-grid $ca-grid * 1.5 $ca-grid $ca-grid * 1.5;

=======
    padding: $spacing-md $spacing-lg $spacing-md $spacing-lg;
>>>>>>> main
    @media (max-width: $layout-breakpoints-medium) {
      padding: $spacing-md;
    }
  }
}
