@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $color-purple-800;
  padding: $ca-grid $ca-grid $ca-grid * 1.5;
  text-align: center;
  border-bottom: 1px solid $ca-border-color;
}

.body {
  background: $color-neutral-200;
  padding: $ca-grid $ca-grid $ca-grid * 1.5;
  border-bottom: 1px solid $ca-border-color;
  @include kz-typography-paragraph-body;
}
