@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/responsive";

$dt-roadblock-header-background: $color-orange-100;

.modal {
  composes: genericModal from "../Primitives/GenericModal.module.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  padding: $spacing-lg $spacing-md $spacing-sm;
  text-align: center;
  position: relative;
}

.headerBackground {
  background-color: $dt-roadblock-header-background;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: $border-solid-border-radius $border-solid-border-radius 0 0;
}

.body {
  padding: $spacing-md $spacing-xxxxl $spacing-sm;
}

.iconContainer {
  position: relative;
  margin-bottom: $spacing-sm;
}

.spotIcon {
  width: 155px;
  height: 155px;
  margin: 0 auto;
}
