@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/responsive";

// Use Peach 100 for Heart theme, and Peach 500 for Zen (default fallback)
$dt-roadblock-header-background: var(
  $color-orange-100-id,
  $color-orange-500
);

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  padding: $spacing-lg $spacing-md $spacing-sm;
  text-align: center;
  position: relative;
}

.headerBackground {
  background-color: $dt-roadblock-header-background;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: $border-solid-border-radius
    $border-solid-border-radius 0 0;
}

.body {
  padding: $spacing-md $spacing-xxxxl $spacing-sm;
}

.iconContainer {
  position: relative;
  margin-bottom: $spacing-sm;
}

.spotIcon {
  width: 155px;
  height: 155px;
  margin: 0 auto;
}
