@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";

$dt-roadblock-header-background: var(
  $kz-var-id-color-peach-100,
  $kz-var-color-peach-500
);

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  padding: $kz-var-spacing-lg $kz-var-spacing-md $kz-var-spacing-sm;
  text-align: center;
  position: relative;
}

.headerBackground {
  background-color: $dt-roadblock-header-background;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: $kz-var-border-solid-border-radius
    $kz-var-border-solid-border-radius 0 0;
}

.body {
  padding: $kz-var-spacing-md $kz-var-spacing-xxxxl $kz-var-spacing-sm;
}

.iconContainer {
  position: relative;
  margin-bottom: $kz-var-spacing-sm;
}

.spotIcon {
  width: 155px;
  height: 155px;
  margin: 0 auto;
}
