.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: var(--spacing-6);
}

.actionsAlignStart {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.padded {
  padding: var(--spacing-24);
  flex-direction: column;

  @media (width >= 768px) {
    padding: 0 var(--spacing-lg) var(--spacing-lg);
    flex-direction: row-reverse;
  }
}

.actions > * {
  width: 100%;

  @media (width >= 768px) {
    width: inherit;
  }
}

.actions > * + .actions > * {
  margin-inline-end: var(--spacing-12);

  @media (width < 768px) {
    margin-block-start: var(--spacing-12);
  }
}

.footerWrap {
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

.border {
  border-block-start: 1px solid var(--border-solid-border-color);
}

.start {
  display: flex;
  justify-content: flex-start;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.fixed {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.filler {
  visibility: hidden;
}
