@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/draft-zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles";

.root {
  @include ca-padding($end: $ca-grid / 2);

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $kz-color-wisteria-700;
  box-sizing: border-box;

  &.content {
    background-color: $kz-color-cluny-200;
    color: $kz-color-wisteria-800;
  }
}

.heading {
  @include font-heading-3;

  color: $kz-color-white;

  .content & {
    color: $kz-color-wisteria-800;
  }
}
