@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "./mixins";

.notification {
  @extend %ca-notification;
}

// Structure
.icon {
  @extend %ca-notification__icon;
  color: var(--icon-color);
}

.textContainer {
  @extend %ca-notification__text-container;
}

.title {
  @extend %ca-notification__title;
}

.text {
  @extend %ca-notification__text;
}

.cancel {
  @extend %ca-notification__cancel;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    $focus-ring-offset: var(--spacing-2);

    content: "";
    pointer-events: none;
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    inset: $focus-ring-offset;
  }
}

.cancelLabel {
  @extend %ca-notification__cancel__label;
}

.notificationTitle {
  top: 0.42em;
  position: relative;
  margin-inline-end: $spacing-6;
  line-height: $typography-heading-6-line-height;
}

@container (max-width: 25rem) {
  .notificationTitle {
    width: 100%;
  }
}

// Animation
.hidden {
  @extend %ca-notification---hidden;
}

// Variant
.inline {
  @extend %ca-notification---inline;
}

.toast {
  @extend %ca-notification---toast;
}

.global {
  @extend %ca-notification---global;
}

// ------------------------------
// Type
// @deprecated use variant instead
// ------------------------------
.positive {
  @extend %ca-notification---positive;
}

.informative {
  @extend %ca-notification---informative;
}

.cautionary,
.security {
  @extend %ca-notification---cautionary;
}

.negative {
  @extend %ca-notification---negative;
}
// End deprecated styles

// ------------------------------
// Variant
// ------------------------------
.success {
  background: $color-green-100;
  border-color: var(--color-green-500);
  color: $color-purple-800;

  --icon-color: var(--color-green-500);
}

.informative {
  background: $color-blue-100;
  border-color: var(--color-blue-400);
  color: $color-purple-800;

  --icon-color: var(--color-blue-400);
}

.cautionary {
  background: $color-yellow-100;
  border-color: var(--color-yellow-700);
  color: $color-purple-800;

  --icon-color: var(--color-yellow-700);
}

.warning {
  background: $color-red-100;
  border-color: var(--color-red-500);
  color: $color-purple-800;

  --icon-color: var(--color-red-500);
}

// Modifiers
.noBottomMargin {
  @extend %ca-notification---noBottomMargin;
}

.forceMultiline {
  @extend %ca-notification---forceMultiline;
}

.persistent {
  @extend %ca-notification---persistent;
}

// this is only for inline notifications, but is here due to specificity issues in the _styles.scss file
.subtle {
  @extend %ca-notification---subtle;
}
