@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../../../../../styles/utils/button-reset";

$focus-ring-offset: 1px;

.button {
  @include button-reset;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typography-button-secondary-font-family;
  font-weight: $typography-button-secondary-font-weight;
  font-size: $typography-button-secondary-font-size;
  line-height: $typography-button-secondary-line-height;
  letter-spacing: $typography-button-secondary-letter-spacing;
  position: relative;
  color: $color-blue-500;
  border: $border-solid-border-width $border-solid-border-style;
  border-color: $border-borderless-border-color;
  border-radius: $border-solid-border-radius;
  padding: $spacing-4 $spacing-8;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    &:not(.isDisabled) {
      background-color: $color-blue-100;
    }
  }

  &:focus-visible::after {
    $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    inset: calc(-1 * #{$focus-ring-offset});
  }

  display: inline-flex;
  gap: $spacing-xs;
  align-items: center;

  // TODO: copied from Calendar button since the design is not settled
  &.isDisabled {
    pointer-events: none;
    color: rgba($color-purple-800-rgb, 0.3);
    opacity: 100%;

    &:focus {
      outline: none;
      border: 2px solid transparent;
    }

    &:focus-visible::after {
      border-style: $border-dashed-border-style;
      border-color: $color-gray-400;
    }
  }
}
