@import "@kaizen/design-tokens/sass/animation";
@import "@kaizen/design-tokens/sass/border";
@import "@kaizen/design-tokens/sass/color";
@import "@kaizen/design-tokens/sass/spacing";

.editableContainer :global(.ProseMirror) {
  padding: $spacing-sm;
  position: relative;
  border-radius: $border-solid-border-radius;
  border: $border-focus-ring-border-width $border-focus-ring-border-style
    transparent;
  transition:
    background-color $animation-duration-immediate,
    border-color $animation-duration-immediate;
  background-color: $color-gray-200;
}

.editableContainer:hover :global(.ProseMirror) {
  background-color: $color-gray-200;
  border-color: $color-blue-500;
}

.editableContainer .hiddenButton:focus-within + * > :global(.ProseMirror) {
  border: $border-focus-ring-border-width $border-focus-ring-border-style
    $color-blue-500;
}
