@import "~@cultureamp/kaizen-design-tokens/sass/color";
@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/border";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/animation";
@import "~@cultureamp/kaizen-component-library/components/Button/styles";

$heading-active-color: $ca-palette-ash;

.container {
  border: 1px solid $ca-border-color;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: $ca-border-radius;
}

.separated {
  & + .separated {
    @include ca-margin($top: $ca-grid * 0.3);
  }
}

.groupItem {
  & + .groupItem {
    border-top: 1px solid $ca-border-color;
  }
}

.button {
  @include button-reset;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  background-color: white;
  transition: background-color $ca-duration-rapid;
  padding: $ca-grid;

  &:hover {
    background-color: $heading-active-color;
  }
}

.buttonLoading {
  composes: button;
  width: auto;
  @include ca-padding(
    $top: $ca-grid * 1.2,
    $bottom: $ca-grid * 1.2,
    // ^ hack to roughly match the height of the collapsible buttons with an actual title
      $start: $ca-grid,
    $end: $ca-grid
  );

  &:hover {
    background-color: white;
  }
}

.title {
  flex: 1 1 auto;
}

.open {
  background-color: $heading-active-color;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}

.section {
  background-color: white;
  padding: $ca-grid;
}

.noPadding {
  padding: 0;
}

.hide {
  display: none;
}

.chevronLoading {
  flex: 0 0 20px;
  color: $kz-color-wisteria-500;
}
