@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
.showcase {
  margin-top: $ca-grid * 2.5;
}

.pageTitle {
  @include ca-type-ideal-page-title;
  margin: $ca-grid * 1.5 0;
}

.title {
  @include ca-type-ideal-title;
  margin: $ca-grid * 1.5 0;
}

.display {
  @include ca-type-ideal-display;
  margin: $ca-grid 0;
}

.heading {
  @include ca-type-ideal-heading;
}

.lede {
  @include ca-type-ideal-lede;
}

.body {
  @include ca-type-ideal-body;
}

.bodyBold {
  @include ca-type-ideal-body-bold;
}

.small {
  @include ca-type-ideal-small;
}

.smallBold {
  @include ca-type-ideal-small-bold;
}

.notification {
  @include ca-type-ideal-notification;
}

.label {
  @include ca-type-ideal-label;
}

.controlAction {
  @include ca-type-ideal-control-action;
}

.button {
  @include ca-type-ideal-button;
}

.typographyShowcaseItem {
  margin-bottom: $ca-grid * 2;
  h3 {
    @include ca-type-ideal-body;
    margin-bottom: $ca-grid;
  }
  p {
    margin: 0 0 $ca-grid 0;
  }
  pre {
    // @include ca-type-ideal-body;
    white-space: pre;
    background: $ca-palette-ink;
    color: white;
    border-radius: $ca-border-radius;
    padding: $ca-grid * 0.5;
    margin-top: $ca-grid * 0.5;
    margin-bottom: $ca-grid * 0.5;
  }
}
