@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "./NavigationBar/NavigationBarHelpers.module.scss";
@import "../layers";
@import "../color";
@import "../type";
@import "../layout";
@import "../responsive";

.navigationBar {
  @extend %ca-navigation-bar;

  &.kaizen {
    background: $kz-color-wisteria-700;

    a {
      color: white;
    }
  }

  &.content {
    background: $kz-color-cluny-200;

    .links {
      a {
        color: $kz-color-wisteria-800;
        font-weight: 500;
      }

      .active a {
        color: $kz-color-cluny-500;
      }
    }
  }
}

.links {
  display: inline-flex;
  flex: 1 0 0;
  @include ca-margin($start: 2 * $ca-grid);

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    &.primary {
      @include ca-margin($start: 0);
    }

    &.secondary {
      @include ca-margin($start: auto, $end: 0);
    }

    &.final {
      @include ca-margin($end: 0);
    }

    // Bit of a hack selector, but because of module scoping this is the easiest way
    .content & span::before {
      background-color: $kz-color-cluny-500;
      height: 5px;
      border-radius: 0 0 $kz-border-solid-border-radius
        $kz-border-solid-border-radius;
    }

    @include ca-media-tablet {
      margin: 0;
    }
  }

  @include ca-media-tablet {
    @include ca-margin($start: $ca-grid / 2);
  }
}

.child {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  text-decoration: none;
  margin: 0 ($ca-grid / 4);
}

.kaizen .active {
  background-color: $kz-color-wisteria-700;
}
