@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/layout-vars";

$breakpoint-xl: 1366px; // TODO: create an xl breakpoint in design-tokens and replace this out

// --------------------------------
// Body
// --------------------------------

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.informative {
    background: $kz-var-color-cluny-100;
  }

  &.positive {
    background: $kz-var-color-seedling-100;
  }

  &.negative {
    background: $kz-var-color-coral-100;
  }
}

@media (min-width: $kz-layout-breakpoints-large) {
  .body {
    min-height: 100vh;
  }
}

// --------------------------------
// Reusable container
// --------------------------------

.container {
  max-width: $kz-var-layout-content-max-width;
  margin: 0 auto;
  padding: 0 $kz-var-spacing-md;
}

@media (min-width: $kz-layout-breakpoints-large) {
  .container {
    padding: 0 $kz-var-spacing-xxl;
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    padding: 0 $kz-var-spacing-xxxxl;
  }
}

// --------------------------------
// Header
// --------------------------------

.header {
  width: 100%;
  margin-bottom: $kz-var-spacing-md;
}

// --------------------------------
// Main
// --------------------------------

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.mainInner {
  display: grid;
  grid-template-columns: 1fr;
  gap: $kz-var-spacing-xl $kz-var-spacing-lg;
  align-items: center;
}

@media (min-width: $kz-layout-breakpoints-medium) {
  .mainInner {
    row-gap: $kz-var-spacing-xxl;
  }
}

@media (min-width: $kz-layout-breakpoints-large) {
  .mainInner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $breakpoint-xl) {
  .mainInner {
    column-gap: $kz-var-spacing-xxxxl;
  }
}

.left {
  display: flex;
  justify-content: center;
}

.leftInner {
  width: 100%;
  max-width: 525px;
}

.right {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightInner {
  max-width: 543px;
}

.actions {
  display: flex;
}

@media (min-width: $kz-layout-breakpoints-large) {
  .left {
    justify-content: flex-end;
  }

  .right {
    align-items: flex-start;
  }
}

// --------------------------------
// Footer
// --------------------------------

.footer {
  flex: 0 0 auto;
}

.footerInner {
  border-top: 1px solid $kz-var-color-wisteria-800;
  border-left: 1px solid $kz-var-color-wisteria-800;
  padding: $kz-var-spacing-sm $kz-var-spacing-md;
  margin: $kz-var-spacing-xxl 0 $kz-var-spacing-lg;
}

.poweredByContainer {
  display: flex;
  margin: $kz-var-spacing-sm 0;
}

.poweredByText {
  flex: 0 0 auto;
  margin-right: $kz-var-spacing-xs;
}

@media (min-width: $kz-layout-breakpoints-medium) {
  .footerInner {
    display: flex;
    align-items: center;
  }

  .poweredByContainer {
    margin-bottom: 0;
  }
}
