@import "~@kaizen/design-tokens/sass/color";

$className--timesegment-wrapper: ".timeSegmentWrapper";

// Classnames to simulate pseudo states in storybook
$story-className--timesegment-hover: ":global(.story__timefield-hover) #{$className--timesegment-wrapper}:first-child &";
$story-className--timesegment-focus: ":global(.story__timefield-focus) #{$className--timesegment-wrapper}:first-child &";

$selectors--timesegment-hover: "&:hover, #{$story-className--timesegment-hover}";
$selectors--timesegment-focus: "&:focus-visible, #{$story-className--timesegment-focus}";

// Chrome has a bug where `contenteditable` elements receive focus from external clicks.
// This (in combination with the invisible character &#8203;) creates boundaries
// for the element.
// https://stackoverflow.com/a/34445203
#{$className--timesegment-wrapper} {
  white-space: nowrap;
}

.timeSegment {
  padding: 0 4px;
  text-align: end;
  background-color: $color-gray-300;
  border-radius: 3px;
  color: $color-purple-800;

  #{$selectors--timesegment-hover} {
    background-color: $color-white;
  }

  #{$selectors--timesegment-focus} {
    color: white;
    background: $color-blue-500;
    outline: none;
  }
}

.placeholder {
  color: rgba($color-purple-800-rgb, 0.7);
}

.literal {
  &,
  #{$selectors--timesegment-hover} {
    background: none;
  }
}

.dayPeriod {
  margin-right: 4px;
}
