@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.container {
  @include ca-margin($bottom: $ca-grid);
  border-bottom: 1px solid $ca-border-color;
  display: flex;
}

.tab {
  $underline-height: 4px;

  @include ca-padding($top: $ca-grid * 0.5, $bottom: $ca-grid * 0.75);
  @include kz-type-inter-button-primary;
  @include ca-inherit-baseline;
  text-decoration: none;
  color: $kz-color-wisteria-800;
  // This border will become visible when the .activeTab class is applied
  border-bottom: $underline-height solid transparent;
  // This invisible border is to compensate for the bottom border,
  // as to make sure the content is vertically centered
  border-top: $underline-height solid transparent;
  cursor: pointer;

  &:hover {
    color: $kz-color-cluny-500;
    text-decoration: none;
  }
}

.tab + .tab {
  @include ca-margin($start: $ca-grid);
}

.activeTab {
  composes: tab;
  color: $kz-color-cluny-500;
  border-bottom-color: currentColor;
}

.disabledTab {
  composes: tab;
  color: $kz-color-wisteria-300;
  cursor: inherit;

  &:hover {
    color: $kz-color-wisteria-300;
  }
}
