@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.container {
  display: flex;
}

.tab {
  @include ca-inherit-baseline;
  font-family: $kz-typography-heading-4-font-family;
  font-size: $kz-typography-heading-4-font-size;
  line-height: $kz-typography-heading-4-line-height;
  letter-spacing: $kz-typography-heading-4-letter-spacing;
  text-decoration: none;
  color: $kz-color-wisteria-800;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;

  &:hover {
    color: $kz-color-cluny-500;
    text-decoration: none;
    background-color: $kz-color-cluny-100;
    font-weight: $kz-typography-heading-4-font-weight;
  }

  // Use JS polyfill to simulate :focus-visible, not yet supported by bhorizontalsers
  // https://github.com/WICG/focus-visible#backwards-compatibility
  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    &:global(.focus-visible) {
      color: $kz-color-cluny-500;
      text-decoration: none;
      background-color: $kz-color-cluny-100;
      font-weight: $kz-typography-heading-4-font-weight;

      &:after {
        content: "";
        position: absolute;
        background: transparent;
        $focus-ring-offset: $kz-border-focus-ring-border-width - 1;
        border-width: $kz-border-focus-ring-border-width;
        border-style: $kz-border-focus-ring-border-style;
        border-color: $kz-color-cluny-500;
        top: -$focus-ring-offset;
        left: -$focus-ring-offset;
        right: -$focus-ring-offset;
        bottom: -$focus-ring-offset;
      }
    }
  }
}

.horizontalTab {
  composes: tab;
  font-weight: $kz-typography-heading-4-font-weight;
  border-top-left-radius: $kz-border-borderless-border-radius;
  border-top-right-radius: $kz-border-borderless-border-radius;
  padding: 0 $ca-grid * 0.75;
  height: 3 * $ca-grid;

  top: 0; // this overrides baseline shift. @include ca-inherit-baseline does not work because
  // we need to make this position: relative, for the absolutely positioned underline.

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.5rem - ($ca-grid * 0.75) * 2; // give tabs with short text some breathing room

  :global(.js-focus-visible) &:global(.focus-visible):after {
    border-radius: $kz-border-borderless-border-radius
      $kz-border-borderless-border-radius 0 0;
  }
}

.horizontalTabActive {
  composes: tab;
  composes: horizontalTab;
  font-weight: $kz-typography-heading-4-font-weight;
  color: $kz-color-cluny-500;

  &::before {
    $underline-height: 5px;
    content: "";
    display: block;
    border-top-left-radius: $underline-height;
    border-top-right-radius: $underline-height;
    background-color: currentColor;
    height: $underline-height;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.horizontalTabDisabled {
  composes: tab;
  composes: horizontalTab;
  cursor: inherit;
  opacity: 0.3;
  font-weight: normal;

  &.horizontalTabActive:hover {
    background-color: transparent;
  }

  &:hover:not(.horizontalTabActive) {
    color: $kz-color-wisteria-800;
    background-color: transparent;
  }
}

.horizontalTab + .horizontalTab {
  @include ca-margin($start: $ca-grid * 0.5);
}

.verticalTab {
  composes: tab;
  min-height: $kz-spacing-xl;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $kz-border-solid-border-radius;
  font-weight: $kz-typography-heading-4-font-weight;

  [dir="rtl"] & {
    padding-right: $kz-spacing-sm;
  }

  [dir="ltr"] & {
    padding-left: $kz-spacing-sm;
  }

  :global(.js-focus-visible) &:global(.focus-visible):after {
    border-radius: $kz-border-borderless-border-radius;
    z-index: 1; // pop the border out so sibling tabs don't overlap
  }
}

.verticalTabActive {
  composes: tab;
  composes: verticalTab;
  color: $kz-color-cluny-500;
}

.verticalTabDisabled {
  composes: tab;
  composes: verticalTab;
  cursor: inherit;
  opacity: 0.3;

  &.verticalTabActive:hover {
    background-color: transparent;
  }

  &:hover:not(.verticalTabActive) {
    color: $kz-color-wisteria-800;
    background-color: transparent;
  }
}
