@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

%tabHover {
  color: $kz-color-cluny-500;
  text-decoration: none;
  background-color: $kz-color-cluny-100;
}

%tabFocus {
  $focus-ring-offset: $kz-border-focus-ring-border-width - 1;
  content: "";
  position: absolute;
  background: transparent;
  border-radius: $kz-border-borderless-border-radius
    $kz-border-borderless-border-radius 0 0;
  border-width: $kz-border-focus-ring-border-width;
  border-style: $kz-border-focus-ring-border-style;
  border-color: $kz-color-cluny-500;
  top: -$focus-ring-offset;
  left: -$focus-ring-offset;
  right: -$focus-ring-offset;
  bottom: -$focus-ring-offset;
}

.container {
  @include ca-margin($bottom: $ca-grid);
  border-bottom: 1px solid add-alpha($kz-color-wisteria-700, 10%);
  display: flex;
}

.tab {
  $underline-height: 4px;
  @include ca-inherit-baseline;
  font-family: $kz-typography-heading-4-font-family;
  font-weight: $kz-typography-heading-4-font-weight;
  font-size: $kz-typography-heading-4-font-size;
  line-height: $kz-typography-heading-4-line-height;
  letter-spacing: $kz-typography-heading-4-letter-spacing;
  padding: 0 $ca-grid * 0.75;
  position: relative;
  top: 0; // this overrides baseline shift. @include ca-inherit-baseline does not work because
  // we need to make this position: relative, for the absolutely positioned underline.
  height: 3 * $ca-grid;
  min-width: 4.5rem - ($ca-grid * 0.75) * 2; // give tabs with short text some breathing room
  text-decoration: none;
  color: $kz-color-wisteria-800;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: $kz-border-borderless-border-radius;
  border-top-right-radius: $kz-border-borderless-border-radius;

  // Use JS polyfill to simulate :focus-visible, not yet supported by browsers
  // https://github.com/WICG/focus-visible#backwards-compatibility
  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    &:global(.focus-visible) {
      @extend %tabHover;
      // show custom focus ring when :focus-visible
      &:after {
        @extend %tabFocus;
      }
    }
  }

  &:hover {
    @extend %tabHover;
  }
}

.tab + .tab {
  @include ca-margin($start: $ca-grid * 0.5);
}

.activeTab {
  composes: tab;
  color: $kz-color-cluny-500;

  &::before {
    $underline-height: 5px;
    content: "";
    display: block;
    border-top-left-radius: $underline-height;
    border-top-right-radius: $underline-height;
    background-color: currentColor;
    height: $underline-height;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.disabledTab {
  composes: tab;
  cursor: inherit;
  opacity: 0.3;

  &:hover:not(.activeTab) {
    color: $kz-color-wisteria-800;
    background-color: transparent;
  }

  &.activeTab:hover {
    background-color: transparent;
  }
}
