@import "~@kaizen/design-tokens/sass/border";

$focus-ring-offset: 1px;
$focus-ring-offset-inner: calc(-1 * #{$focus-ring-offset});
$focus-ring-offset-outer: calc(
  -1 * calc(#{$border-focus-ring-border-width} + #{$focus-ring-offset})
);
