@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../../decision-tokens.scss";

.message {
  @include kz-typography-paragraph-small;
  @include ca-inherit-baseline;
}

.default {
  color: $dt-color-form-text-color-label;
  &.reversed {
    color: $dt-color-form-text-color-label-reversed;
  }
}

.error {
  padding: $ca-grid / 2;
  color: $dt-color-form-text-color;
  border-radius: $border-solid-border-radius;
  background: $color-red-300;
}

.positionBottom {
  margin-top: $spacing-xs;
}

.positionTop {
  margin-bottom: $spacing-xs;
}
