@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/mixins/forms";

// General purpose tokens

$input-placeholder-line-height: 2.9rem;
$input-height: 48px;
$input-base-padding-horizontal: calc(#{$ca-grid} / 2);
$input-placeholder-opacity: 0.5;
$input-disabled-background: $color-gray-300;
$input-disabled-opacity: 0.3;
$input-disabled-border-alpha: 50%;

@mixin form-input-focus-state {
  &:focus:not([disabled]),
  &:hover:focus:not([disabled]),
  &:hover:not([disabled]) {
    @content;
  }
}

@mixin base-font-style() {
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  color: $color-purple-800;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  @include base-font-style();
}

.input {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  background-clip: padding-box;
  border: $border-solid-border-width $border-solid-border-style $color-gray-500;
  border-radius: $border-solid-border-radius;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 $input-base-padding-horizontal;
  height: $input-height;
  width: 100%;
  box-sizing: border-box;
  @include form-input-focus-state {
    border-color: $color-gray-600;
    background-color: $color-gray-200;
  }
}

.isDisabled {
  pointer-events: none;
  background-color: transparent;
  border-color: $color-gray-500;
  opacity: 0.3;
}

.error {
  border: $border-solid-border-width $border-solid-border-style $color-red-500;
}

.input:focus-within {
  .focusRing {
    $focus-ring-offset: 3px;
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    top: -$focus-ring-offset;
    left: -$focus-ring-offset;
    right: -$focus-ring-offset;
    bottom: -$focus-ring-offset;
    pointer-events: none;
  }
  // .field {
  //   border-color: $color-gray-600;
  //   background-color: $color-gray-200;
  // }
}
.dropdownIndicator {
  display: flex;
  position: absolute;
  right: 0;
  padding: 8px;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: none;
  background: transparent;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $border-borderless-border-radius;
  color: $color-purple-700;
  opacity: 0.7;
  outline: none;
}
