@import "@kaizen/design-tokens/sass/animation";
@import "@kaizen/design-tokens/sass/border";
@import "@kaizen/design-tokens/sass/color";
@import "@kaizen/design-tokens/sass/spacing";
@import "@kaizen/design-tokens/sass/typography";

.editor > :global(.ProseMirror) {
  position: relative;
  border: $border-solid-border-width $border-solid-border-style $color-gray-500;
  background: $color-white;
  border-radius: $border-solid-border-radius;
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  padding: $spacing-sm calc($spacing-xs * 3);
  transition: background-color $animation-duration-immediate,
    border-color $animation-duration-immediate;

  > p {
    margin: 0 0 $spacing-sm;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    border-color: $color-gray-600;
    background: $color-gray-200;
  }

  &:focus {
    outline: none;
  }

  &:global(.focus-visible)::after {
    $focus-ring-offset: 5px;
    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    top: calc(-1 * #{$focus-ring-offset});
    left: calc(-1 * #{$focus-ring-offset});
    right: calc(-1 * #{$focus-ring-offset});
    bottom: calc(-1 * #{$focus-ring-offset});
  }
}
