@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/component-library/styles/responsive";

:root {
  --content-card-top-offset: $spacing-lg;
  --sidebar-content-gap: $spacing-md;
  --content-top-and-bottom-margin: $spacing-xl;
  --content-side-margin: $spacing-xxl;
  --page-content-width: calc(#{$spacing-md} * 45);
  --card-box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.19);
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-gray-100;
  color: $color-purple-800;
  font-family: $typography-paragraph-body-font-family;

  @include ca-media-mobile() {
    background-color: white;
  }
}

a {
  color: $color-blue-500;
  word-break: break-word;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  padding: $spacing-md;
  line-height: 1.5;
}

code {
  line-height: inherit;
  background-color: $color-gray-100;
  padding: 0.25em;
  border-radius: 0.25em;
}
