@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/responsive";

:root {
  --ca-grid: #{$ca-grid};
  --content-card-top-offset: calc(var(--ca-grid) * 3);
  --sidebar-content-gap: calc(var(--ca-grid) * 2);
  --content-top-and-bottom-margin: calc(var(--ca-grid) * 4);
  --content-side-margin: calc(var(--ca-grid) * 6);
  --page-content-width: calc(var(--ca-grid) * 45);
  --card-box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.19);
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $kz-color-stone;
  color: $kz-color-wisteria-800;
  font-family: $ca-ideal-sans-font-family;

  @include ca-media-mobile() {
    background-color: #fff;
  }
}

a {
  color: $kz-color-cluny-500;
  word-break: break-word;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  padding: $ca-grid;
  line-height: 1.5;
}

code {
  line-height: inherit;
  background-color: $kz-color-stone;
  padding: 0.25em;
  border-radius: 0.25em;
}
