@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/border";

.markdownContainer {
  :global(.md-p) {
    font-weight: $ca-weight-light;
    margin: $ca-grid 0;
  }

  :global(.md-p),
  :global(.md-li) {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  :global(.md-li) {
    margin: 0;
    font-weight: $ca-weight-light;

    :global(.md-p) {
      margin: $ca-grid / 2 0;
    }
  }

  :global(.md-ol) > :global(.md-li) {
    margin-top: $ca-grid;
  }

  :global(.md-h1),
  :global(.md-h2),
  :global(.md-h3),
  :global(.md-h4),
  :global(.md-h5),
  :global(.md-h6) {
    font-weight: $ca-weight-book;
    margin: ($ca-grid * 2) 0 ($ca-grid / 2);
  }

  // This is the actual h1 in the Header component.
  // We want to force h1s in markdown to look like h2s (see below).
  // :global(.md-h1) {
  //   font-size: 3.75rem;
  //   line-height: 1.4;
  // }

  :global(.md-h1) {
    @extend :global(.md-h2);
  }

  :global(.md-h2) {
    font-size: 2rem;
    line-height: 1.125;
    margin-top: $ca-grid * 3.5;
    margin-bottom: 0;
  }

  :global(.md-h2) + :global(.md-p),
  :global(.md-h2) + :global(.md-ul),
  :global(.md-h2) + :global(.md-ol) {
    margin-top: $ca-grid * 2.5;
  }

  :global(.md-h3) {
    font-size: 1.625rem;
    line-height: 1.3846153846;
    margin-top: $ca-grid * 2;
    margin-bottom: $ca-grid;
  }

  :global(.md-h2) + :global(.md-h3) {
    margin-top: $ca-grid;
  }

  :global(.md-h4) {
    font-size: 1.375rem;
    line-height: 1.0909090909;
    margin-top: $ca-grid * 2;
    margin-bottom: $ca-grid;
  }

  :global(.md-h3) + :global(.md-h4) {
    margin-top: 0;
  }

  :global(.md-h5) {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: $ca-weight-medium;
  }

  :global(.md-em),
  :global(.md-i) {
    font-style: normal;
    font-weight: $ca-weight-book;
  }

  :global(.md-hr) {
    height: 1px;
    border: 0;
    background-color: $ca-border-color;
  }

  :global(.md-a) {
    text-decoration: none;
    color: $ca-palette-ocean;
    word-break: break-word;

    &:hover {
      text-decoration: underline;
    }
  }

  :global(.md-table) {
    margin-bottom: $ca-grid * 2;
    border-collapse: collapse;
  }

  tbody > :global(.md-tr):first-of-type > :global(.md-td) {
    padding-top: $ca-grid / 2;
  }

  :global(.md-th),
  :global(.md-td) {
    $cell-padding: $ca-grid / 4;
    padding: $cell-padding $ca-grid $cell-padding 0;
  }

  :global(.md-th) {
    text-align: left;
    border-bottom: 1px solid $ca-border-color;
    font-weight: $ca-weight-book;
  }

  :global(.md-td) {
    font-weight: $ca-weight-light;
  }

  :global(.md-code) {
    line-height: inherit;
    background-color: add-tint($ca-palette-ink, 80%);
    // color: #fff;
    padding: 0.25em;
    border-radius: 0.25em;
  }

  // :global(.md-lede) {
  //   font-size: 20px;
  //   line-height: 24px;
  // }

  // :global(.md-small) {
  //   font-size: 14px;
  //   line-height: 24px;
  // }

  // :global(.md-notifications) {
  //   font-size: 15px;
  //   line-height: 18px;
  // }

  :global(.md-label) {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: $ca-grid / 2;
  }

  :global(.md-button) {
    font-size: 18px;
    line-height: 24px;
  }

  :global(.introParagraph) :global(.md-p) {
    font-size: 1.5rem;
  }

  :global(iframe) {
    background-color: $ca-palette-ash;
    border-radius: 3px;
    margin-top: 1.5rem;
    width: 100%;
  }

  :global(blockquote) {
    background-color: $ca-palette-stone;
    border-left: 4px solid $ca-palette-wisteria;
    margin: 0;
    padding: 0.5rem 1.5rem;
  }
}
