@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/components/NavigationBar/styles";
@import "~@kaizen/component-library/components/Icon/styles";

$link-icon-margin: 12px;

.markdownContainer {
  :global(.md-p) {
    font-weight: $typography-paragraph-body-font-weight;
    margin: $spacing-md 0;
  }

  :global(.md-p),
  :global(.md-li) {
    font-size: 1rem;
    line-height: 1.5;
  }

  :global(.md-ol),
  :global(.md-ul) {
    padding-inline-start: 30px;
  }

  :global(.md-li) {
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: $typography-paragraph-body-font-weight;

    :global(.md-p) {
      margin: $spacing-sm 0;
    }
  }

  :global(.md-ol) > :global(.md-li) {
    margin-top: $spacing-md;
  }

  /* Adds a negative top margin to counter for the fixed header + add a bit of padding */
  :global(.md-anchor-offset) {
    display: block;
    position: relative;
    top: calc(-1 * ($ca-navigation-bar__height - #{$spacing-md}));
    visibility: hidden;
  }

  :global(.md-heading-link) {
    float: left;
    margin-left: -$ca-icon-width - ($link-icon-margin * 2);
    padding: 0 $link-icon-margin;
    color: rgba($color-purple-700-rgb, 0.8);
    &:not(:focus) {
      svg {
        visibility: hidden;
      }
    }
  }

  :global(.md-h1),
  :global(.md-h2),
  :global(.md-h3),
  :global(.md-h4),
  :global(.md-h5),
  :global(.md-h6) {
    font-weight: $ca-weight-book;
    margin: $spacing-lg 0 $spacing-sm;

    &:hover :global(.md-heading-link) svg {
      visibility: visible;
    }
  }

  // This is the actual h1 in the Header component.
  // We want to force h1s in markdown to look like h2s (see below).
  // :global(.md-h1) {
  //   font-size: 3.75rem;
  //   line-height: 1.4;
  // }

  :global(.md-h1) {
    @extend :global(.md-h2);
  }

  :global(.md-h2) {
    @include kz-typography-heading-2;
    margin-top: calc(#{$spacing-md} * 3.25);
    margin-bottom: 0;

    @include ca-media-mobile() {
      margin-top: $spacing-lg;
    }
  }

  :global(.md-h2) + :global(.md-p),
  :global(.md-h2) + :global(.md-ul),
  :global(.md-h2) + :global(.md-ol) {
    margin-top: calc(#{$spacing-md} * 1.5);

    @include ca-media-mobile() {
      margin-top: $spacing-md;
    }
  }

  :global(.md-h3) {
    @include kz-typography-heading-3;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-md;

    @include ca-media-mobile() {
      margin-top: $spacing-md;
    }
  }

  :global(.md-h2) + :global(.md-h3) {
    margin-top: $spacing-md;
  }

  :global(.md-h4) {
    @include kz-typography-heading-4;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-md;

    @include ca-media-mobile() {
      margin-top: $spacing-md;
    }
  }

  :global(.md-h3) + :global(.md-h4) {
    margin-top: 0;
  }

  :global(.md-h5) {
    @include kz-typography-heading-4;
  }

  :global(.md-em),
  :global(.md-i) {
    font-style: normal;
    font-weight: $typography-paragraph-bold-font-weight;
  }

  :global(.md-strong) {
    font-style: normal;
    font-weight: 600; //TODO: create token in @kaizen/design-tokens
  }

  :global(.md-hr) {
    height: 1px;
    border: 0;
    background-color: $border-solid-border-color;
  }

  :global(.md-a) {
    text-decoration: underline;
    color: $color-blue-500;
    word-break: break-word;

    &:hover {
      text-decoration: none;
    }
  }

  :global(.md-table) {
    margin-bottom: $spacing-lg;
    border-collapse: collapse;
  }

  tbody > :global(.md-tr):first-of-type > :global(.md-td) {
    padding-top: $spacing-sm;
  }

  :global(.md-th),
  :global(.md-td) {
    $cell-padding: $spacing-sm;
    padding: $cell-padding $spacing-md $cell-padding 0;
  }

  :global(.md-th) {
    text-align: left;
    border-bottom: 1px solid $border-solid-border-color;
    font-weight: $typography-paragraph-bold-font-weight;
  }

  :global(.md-td) {
    font-weight: $typography-paragraph-body-font-weight;
    vertical-align: text-top;
  }

  :global(.md-tr) {
    border-bottom: 1px solid $border-solid-border-color;
    &:last-of-type {
      border-bottom: 0;
    }
  }

  :global(.md-pre) {
    background-color: $color-gray-100;

    & :global(.md-code) {
      padding: 0;
    }
  }

  // :global(.md-lede) {
  //   font-size: 20px;
  //   line-height: 24px;
  // }

  // :global(.md-small) {
  //   font-size: 14px;
  //   line-height: 24px;
  // }

  // :global(.md-notifications) {
  //   font-size: 15px;
  //   line-height: 18px;
  // }

  :global(.md-label) {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: $spacing-sm;
  }

  :global(.md-button) {
    font-size: 18px;
    line-height: 24px;
  }

  :global(.introParagraph) :global(.md-p) {
    font-size: 1.5rem;
  }

  :global(iframe) {
    background-color: $color-gray-300;
    border-radius: 3px;
    margin-top: 1.5rem;
    width: 100%;
  }

  :global(blockquote) {
    background-color: $color-gray-100;
    border-left: 4px solid $color-purple-600;
    margin: 0;
    padding: 0.5rem 1.5rem;
  }
}
