@import "~@cultureamp/kaizen-component-library/styles/type";

.markdownContainer {
  p {
    font-weight: $ca-weight-light;
    font-size: 16px;
    line-height: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $ca-weight-book;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  // lede {
  //   font-size: 20px;
  //   line-height: 24px;
  // }

  // small {
  //   font-size: 14px;
  //   line-height: 24px;
  // }

  // notifications {
  //   font-size: 15px;
  //   line-height: 18px;
  // }

  // label {
  //   font-size: 12px;
  //   line-height: 24px;
  // }

  button {
    font-size: 18px;
    line-height: 24px;
  }

  :global(.introParagraph) p {
    font-size: 20px;
    line-height: 24px;
  }
}
