@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/draft-form/KaizenDraft/Form/Primitives/Input/styles.scss";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

@mixin base-font-style() {
  @include kz-typography-paragraph-body;
  @include ca-inherit-baseline;
  color: $kz-color-wisteria-800;
}

.specificityIncreaser {
  .control {
    min-height: $input-height;
    border: $kz-border-solid-border-width $kz-border-solid-border-style
      $ca-border-color;
    border-radius: $kz-border-solid-border-radius;

    &:hover {
      border-color: $ca-border-color-hover;
      cursor: pointer;
    }
  }

  .focusedControl {
    border-color: $ca-border-color-focus;
    box-shadow: none;

    &:hover {
      border-color: $ca-border-color-focus;
      box-shadow: none;
    }
  }

  .placeholder {
    @include base-font-style();
    opacity: $input-placeholder-opacity;
  }

  .menu {
    // Temporary 6px until we redesign this component with Inter
    border: 6px $kz-border-solid-border-style transparent;
    border-radius: $kz-border-solid-border-radius;
    box-shadow: $kz-shadow-large-box-shadow;

    // built-in class of React Select that is not easily styled any other way in CSS
    // (This is the "MenuList" div that wraps all the options)
    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .option {
    @include base-font-style();
    border-radius: 4px;
    cursor: pointer;
  }

  .focusedOption {
    background-color: $kz-color-cluny-100;
    color: $kz-color-cluny-500;

    &:active {
      background-color: $kz-color-cluny-100;
    }
  }

  .selectedOption {
    background-color: $kz-color-cluny-100;
  }

  .disabledOption {
    cursor: not-allowed;
    opacity: 0.3;
  }

  .noOptionsMessage {
    @include base-font-style();
  }

  .singleValue {
    @include base-font-style();
  }

  &.reversed {
    .singleValue {
      color: $kz-color-white;
    }
    .singleValueOverrides {
      color: $kz-color-white;
    }
  }

  .multiValue {
    @include kz-typography-paragraph-body;
    @include ca-inherit-baseline;
    color: $kz-color-wisteria-800;
    border-radius: 15px;
    padding: $ca-grid * 0.075 $ca-grid * 0.25;
    cursor: default;
  }

  &.secondary,
  &.secondarySmall {
    &.default {
      .control {
        background: transparent;
        border: $kz-border-borderless-border-width
          $kz-border-borderless-border-style $kz-border-borderless-border-color;
        border-radius: $kz-border-borderless-border-radius;

        .singleValue {
          color: $kz-color-cluny-500;
        }

        &:hover {
          background: $kz-color-cluny-100;
        }

        &.disabled {
          opacity: 0.3;
        }

        &.focusedControl {
          background: $kz-color-cluny-100;

          &::after {
            $focus-ring-offset: ($kz-border-focus-ring-border-width * 2) + 1px;
            content: "";
            position: absolute;
            background: transparent;
            border-radius: $kz-border-focus-ring-border-radius;
            border-width: $kz-border-focus-ring-border-width;
            border-style: $kz-border-focus-ring-border-style;
            border-color: $kz-color-cluny-500;
            top: -$focus-ring-offset;
            left: -$focus-ring-offset;
            right: -$focus-ring-offset;
            bottom: -$focus-ring-offset;
          }
        }
      }

      .dropdownIndicator {
        color: $kz-color-cluny-500;
      }
    }

    &.reversed {
      .control {
        background: rgba($kz-color-white, 0.1);
        color: $kz-color-white;
        border: $kz-border-borderless-border-width
          $kz-border-borderless-border-style $kz-border-borderless-border-color;
        border-radius: $kz-border-borderless-border-radius;

        &:hover {
          background: rgba($kz-color-white, 0.2);
        }

        &.disabled {
          opacity: 0.3;
        }
      }

      .dropdownIndicator {
        color: $kz-color-white;
      }

      $secondary-reversed-focus-color: $kz-color-cluny-300;

      .focusedControl {
        border-color: $secondary-reversed-focus-color;

        &:hover {
          border-color: $secondary-reversed-focus-color;
        }
      }
    }
  }

  &.secondarySmall.secondarySmall {
    $secondary-small-select-height: 24px;

    &.reversed {
      .control {
        background: transparent;
        border: 0;

        &:hover {
          background: transparent;
        }
      }
    }

    .control {
      min-height: 0;
      height: auto;

      > div {
        // see note on > div within .notFullWidth below for explanation
        height: $secondary-small-select-height;
        padding-left: 0;
        padding-right: 0;
      }

      .valueContainer {
        height: $secondary-small-select-height;
      }

      .singleValue {
        font-family: $kz-typography-paragraph-extra-small-font-family;
        font-weight: $kz-typography-paragraph-extra-small-font-weight;
        font-size: $kz-typography-paragraph-extra-small-font-size;
        line-height: $kz-typography-paragraph-extra-small-line-height;
        letter-spacing: $kz-typography-paragraph-extra-small-letter-spacing;
      }

      .singleValueOverrides {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .dropdownIndicator {
      padding-top: 0;
      padding-bottom: 0;
      transform: translateY(1px);

      // Usually reaching into the Icon component like this is a no-no, but
      // in this case we don't have access to the component in the middle which is
      // part of react-select. I thought this would be better than hacking the
      // structure of that component to allow one custom prop to trickle through.
      > svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &.notFullWidth {
    .control {
      display: inline-block;
      // ideally this would be inline-flex, but that causes problems in IE11
      max-width: 100%;

      > div {
        // If this CSS is removed, then the control becomes too tall when
        // it ellipsizes. It's strange, as the parent element is
        // display: inline-block, so you wouldn't expect it to have any affect,
        // but it works and was honesty a fluke from some unintentionally
        // leftover code when refactoring to support IE11 :shrug
        // I don't like the descendent selector, but there doesn't seem to be
        // a way to customise this element in react-select.
        height: 44px; // fixed height required for vertical centering, due to IE11 hack
        flex-wrap: nowrap;
      }
    }

    .indicatorsContainer {
      position: absolute; // absolute positioning is required due to IE11 and not
      // being able to use inline-flex
      right: 0;
      top: 0;
    }

    .singleValueOverrides {
      overflow: hidden;
      position: static;
      white-space: nowrap;
      top: 0px;
      transform: none;
      max-width: 100%;
      padding-right: 30px;
    }

    .singleValue {
      max-width: 100%;
    }
  }
}
