@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/draft-form/KaizenDraft/Form/Primitives/Input/styles.scss";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/type";

@mixin base-font-style() {
  @include ca-type-ideal-body-bold;
  @include ca-inherit-baseline;
  color: $kz-color-wisteria-800;
}

.container {
  .control {
    min-height: $input-height;
    border: $kz-border-solid-border-width $kz-border-solid-border-style
      $ca-border-color;
    border-radius: $kz-border-solid-border-radius;

    &:hover {
      border-color: $ca-border-color-hover;
    }
  }

  .focusedControl {
    border-color: $ca-border-color-focus;
    box-shadow: none;

    &:hover {
      border-color: $ca-border-color-focus;
      box-shadow: none;
    }
  }

  .placeholder {
    @include base-font-style();
    opacity: $input-placeholder-opacity;
  }

  .menu {
    // Temporary 6px until we redesign this component with Inter
    border: 6px $kz-border-solid-border-style transparent;
    border-radius: $kz-border-solid-border-radius;
    box-shadow: $kz-shadow-large-box-shadow;
  }

  .option {
    @include base-font-style();
    border-radius: 4px;
  }

  .focusedOption {
    background-color: $kz-color-ash;

    &:active {
      background-color: $kz-color-ash;
    }
  }

  .selectedOption {
    background-color: $kz-color-cluny-100;
  }

  .noOptionsMessage {
    @include base-font-style();
  }

  .singleValue {
    @include base-font-style();
  }

  .multiValue {
    @include ca-type-ideal-small-bold;
    @include ca-inherit-baseline;
    color: $kz-color-wisteria-800;
    border-radius: 15px;
    padding: $ca-grid * 0.075 $ca-grid * 0.25;
    cursor: default;
  }
}
