@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/draft-form/KaizenDraft/Form/Primitives/Input/styles.scss";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

@mixin select-border($color: $color) {
  border-color: $color;
  // box-shadow: 0 0 0 1px $color;
}

.basePlaceholder {
  @include kz-typography-paragraph-body;
  margin-left: 2px;
  margin-right: 2px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.container {
  position: relative;
  box-sizing: border-box;
}

.control {
  align-items: center;
  background-color: white;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 48px;
  position: relative;
  box-sizing: border-box;
  border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style
    // Iron for Heart theme and Wisteria200 for Zen. Switching not needed when Zen is removed.
    var($kz-var-id-color-iron, $kz-var-color-wisteria-200);
  border-radius: $kz-var-border-solid-border-radius;
  /* Tech debt - this !important existed before Stylelint rules */
  outline: 0 !important; /* stylelint-disable-line declaration-no-important */

  &:hover {
    // Slate on Heart theme, Wisteria400 on Zen. Switching not needed when Zen is removed.
    border-color: var($kz-var-id-color-slate, $kz-var-color-wisteria-400);
    // Stone on Heart theme, Wisteria100 on Zen. Switching not needed when Zen is removed
    background-color: var($kz-var-id-color-stone, $kz-var-color-wisteria-100);
  }

  &.isFocused {
    @include select-border($color: $kz-var-color-cluny-500);
  }
}

.valueContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  flex: 1;
  padding: 2px 8px;
  overflow: hidden;
}

.singleValue {
  @extend .basePlaceholder;
  max-width: calc(100% - 8px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.placeholder {
  @extend .basePlaceholder;
  opacity: $input-placeholder-opacity;
}

.faded {
  color: $kz-var-color-wisteria-300;
}

.bold {
  color: $kz-var-color-wisteria-800;
  font-weight: $ca-weight-book;
}

.fadedBold {
  color: $kz-var-color-wisteria-300;
  font-weight: $ca-weight-book;
}

.indicators {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.indicatorContainer {
  display: flex;
  box-sizing: border-box;
  padding: 8px;
}

.iconButton {
  height: 20px;
  composes: interactiveIconWrapper from "~@kaizen/component-library/components/Icon/Icon.module.scss";
}

.menu {
  top: 100%;
  background-color: white;
  margin-bottom: 8px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  // Temporary 6px until we redesign this component with Inter
  border: 6px $kz-var-border-solid-border-style transparent;
  border-radius: $kz-var-border-solid-border-radius;
  box-shadow: $kz-var-shadow-large-box-shadow;
  z-index: 1;
}

.menuList {
  max-height: 215px;
  overflow-y: auto;
  padding-bottom: 6px;
  padding-top: 4px;
  box-sizing: border-box;
  position: relative;
}

.option {
  @include kz-typography-paragraph-body;
  background-color: transparent;
  color: inherit;
  cursor: default;
  display: block;
  font-size: inherit;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px $ca-grid / 2;
  outline: none;

  &.isTarget:not(.isSelected) {
    color: $kz-var-color-cluny-500;
    background-color: $kz-var-color-cluny-100;
  }

  &:focus:not(.isSelected) {
    background-color: $kz-var-color-cluny-100;
  }

  &.isFocused:not(.isSelected) {
    background-color: $kz-var-color-cluny-100;
  }
}

.isSelected {
  background-color: $kz-var-color-cluny-100;

  &:hover {
    color: $kz-var-color-cluny-500;
  }
}

.multiValue {
  margin: 2px;
  display: inline-block;
}

.cautionary {
  @include select-border($color: $kz-var-color-yuzu-300);

  &:hover {
    box-shadow: none;
  }
}

.error {
  @include select-border($color: $kz-var-color-coral-200);

  &:hover {
    box-shadow: none;
  }
}

.preventPointer {
  pointer-events: none;
}
