@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/draft-form/KaizenDraft/Form/Primitives/Input/styles.scss";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

$focus-border-color: $kz-var-color-cluny-500;

%focus-border {
  $focus-ring-offset: calc(
    (#{$kz-var-border-focus-ring-border-width} * -2) - 1px
  );
  content: "";
  position: absolute;
  background: transparent;
  border-radius: $kz-var-border-focus-ring-border-radius;
  border-width: $kz-var-border-focus-ring-border-width;
  border-style: $kz-var-border-focus-ring-border-style;
  border-color: $focus-border-color;
  top: $focus-ring-offset;
  left: $focus-ring-offset;
  right: $focus-ring-offset;
  bottom: $focus-ring-offset;
}

@mixin base-font-style() {
  @include kz-typography-paragraph-body;
  @include ca-inherit-baseline;
  color: $kz-var-color-wisteria-800;
}

.specificityIncreaser {
  .dropdownIndicator {
    color: rgba($kz-var-color-wisteria-800-rgb-params, 0.7);
    &:hover {
      color: rgba($kz-var-color-wisteria-800-rgb-params, 0.7);
    }
  }
  .control {
    &.disabled {
      opacity: 0.3;
    }
    min-height: $input-height;
    border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style
      // Iron for Heart theme and Wisteria500 for Zen. Switching not needed when Zen is removed.
      var($kz-var-id-color-iron, $kz-var-color-wisteria-500);
    border-radius: $kz-var-border-solid-border-radius;

    &:hover {
      // Slate on Heart theme, Wisteria700 on Zen. Switching not needed when Zen is removed.
      border-color: var($kz-var-id-color-slate, $kz-var-color-wisteria-700);
      // Stone on Heart theme, Wisteria100 on Zen. Switching not needed when Zen is removed.
      background-color: var($kz-var-id-color-stone, $kz-var-color-wisteria-100);
      cursor: pointer;
    }
  }

  .focusedControl {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  .placeholder {
    @include base-font-style();
    opacity: $input-placeholder-opacity;
  }

  .menu {
    // Temporary 6px until we redesign this component with Inter
    border: 6px $kz-var-border-solid-border-style transparent;
    border-radius: $kz-var-border-solid-border-radius;
    box-shadow: $kz-var-shadow-large-box-shadow;

    // built-in class of React Select that is not easily styled any other way in CSS
    // (This is the "MenuList" div that wraps all the options)
    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .option {
    @include base-font-style();
    border-radius: 4px;
    cursor: pointer;
  }

  .focusedOption {
    background-color: $kz-var-color-cluny-100;
    color: $kz-var-color-cluny-500;

    &:active {
      background-color: $kz-var-color-cluny-100;
    }
  }

  .selectedOption {
    background-color: $kz-var-color-cluny-100;
  }

  .disabledOption {
    cursor: not-allowed;
    opacity: 0.3;
  }

  .noOptionsMessage {
    @include base-font-style();
  }

  .singleValue {
    @include base-font-style();
  }

  &.reversed {
    .singleValue {
      color: $kz-var-color-white;
    }
    .singleValueOverrides {
      color: $kz-var-color-white;
    }
  }

  .multiValue {
    margin-right: $ca-grid * (7 / 24);
  }

  &.secondary,
  &.secondarySmall {
    &.default {
      .control {
        background: transparent;
        border: $kz-var-border-borderless-border-width
          $kz-var-border-borderless-border-style
          $kz-var-border-borderless-border-color;
        border-radius: $kz-var-border-borderless-border-radius;

        .singleValue {
          color: $kz-var-color-cluny-500;
        }

        &:hover {
          background: $kz-var-color-cluny-100;
        }

        &.disabled {
          opacity: 0.3;
        }

        &.focusedControl {
          background: $kz-var-color-cluny-100;

          &::after {
            @extend %focus-border;
          }
        }
      }

      .dropdownIndicator {
        color: $kz-var-color-cluny-500;
      }
    }

    &.reversed {
      .control {
        background: rgba($kz-var-color-white-rgb-params, 0.1);
        color: $kz-var-color-white;
        border: $kz-var-border-borderless-border-width
          $kz-var-border-borderless-border-style
          $kz-var-border-borderless-border-color;
        border-radius: $kz-var-border-borderless-border-radius;

        &:hover {
          background: rgba($kz-var-color-white-rgb-params, 0.2);
        }

        &.disabled {
          opacity: 0.3;
        }
      }

      .dropdownIndicator {
        color: $kz-var-color-white;
      }

      $secondary-reversed-focus-color: $kz-var-color-cluny-300;

      .focusedControl {
        border-color: $secondary-reversed-focus-color;

        &:hover {
          border-color: $secondary-reversed-focus-color;
        }
      }
    }
  }

  &.secondarySmall.secondarySmall {
    $secondary-small-select-height: 24px;

    &.reversed {
      .control {
        background: transparent;
        border: 0;

        &:hover {
          background: transparent;
        }
      }
    }

    .control {
      min-height: 0;
      height: auto;

      > div {
        // see note on > div within .notFullWidth below for explanation
        height: $secondary-small-select-height;
        padding-left: 0;
        padding-right: 0;
      }

      .valueContainer {
        height: $secondary-small-select-height;
      }

      .singleValue {
        font-family: $kz-var-typography-paragraph-extra-small-font-family;
        font-weight: $kz-var-typography-paragraph-extra-small-font-weight;
        font-size: $kz-var-typography-paragraph-extra-small-font-size;
        line-height: $kz-var-typography-paragraph-extra-small-line-height;
        letter-spacing: $kz-var-typography-paragraph-extra-small-letter-spacing;
      }

      .singleValueOverrides {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .dropdownIndicator {
      padding-top: 0;
      padding-bottom: 0;
      transform: translateY(1px);

      // Usually reaching into the Icon component like this is a no-no, but
      // in this case we don't have access to the component in the middle which is
      // part of react-select. I thought this would be better than hacking the
      // structure of that component to allow one custom prop to trickle through.
      > svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &.notFullWidth {
    .control {
      display: inline-block;
      // ideally this would be inline-flex, but that causes problems in IE11
      max-width: 100%;

      > div {
        // If this CSS is removed, then the control becomes too tall when
        // it ellipsizes. It's strange, as the parent element is
        // display: inline-block, so you wouldn't expect it to have any affect,
        // but it works and was honesty a fluke from some unintentionally
        // leftover code when refactoring to support IE11 :shrug
        // I don't like the descendent selector, but there doesn't seem to be
        // a way to customise this element in react-select.
        height: 44px; // fixed height required for vertical centering, due to IE11 hack
        flex-wrap: nowrap;
      }
    }

    .indicatorsContainer {
      position: absolute; // absolute positioning is required due to IE11 and not
      // being able to use inline-flex
      right: 0;
      top: 0;
    }

    .singleValueOverrides {
      overflow: hidden;
      position: static;
      white-space: nowrap;
      top: 0px;
      transform: none;
      max-width: 100%;
      padding-right: 30px;
    }

    .singleValue {
      max-width: 100%;
    }
  }
}
