@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/draft-zen-navigation-bar/KaizenDraft/ZenNavigationBar/_styles";
@import "../../decision-tokens.scss";

.root {
  @include ca-padding($end: $ca-grid / 2);

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $kz-var-color-wisteria-700;
  box-sizing: border-box;

  &.content {
    background-color: $dt-color-background-color-content;
    color: $dt-color-text;
  }
}

.heading {
  @include font-heading-3;
  color: $kz-var-color-white;

  .content & {
    color: $dt-color-text;
  }
}
