@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/border";

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.final {
    border-top: 1px solid rgba($kz-var-color-wisteria-700, 0.1);
    padding-top: 20px;
    margin-top: 20px;
  }
}

.active {
  background-color: $kz-var-color-wisteria-700;
}
