@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/color";

@import "~@cultureamp/kaizen-component-library/draft/Kaizen/Radio/Primitives/styles";

.container {
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: $ca-grid / 2;

  label {
    :global(.ideal-sans) & {
      // This is to override bootstrap styles. Remove when appropriate
      font-size: $ca-ideal-sans-font-base-size;
      padding-top: 0;
    }
  }

  label:hover {
    input:not([disabled]) + div {
      border-color: $ca-border-color-hover;
    }
  }

  &.selected {
    label {
      @include ca-type-ideal-body-bold;
      @include ca-inherit-baseline;
    }
  }

  &.disabled {
    label {
      > span {
        opacity: 0.3;
      }
    }
  }
}
