@import '~@kaizen/design-tokens/sass/color';

// General purpose tokens
$dt-color-form-border-color: $color-gray-cool-500;
$dt-color-form-border-color-hover: $color-gray-cool-700;
$dt-color-form-text-color: $color-purple-950;
$dt-color-form-text-color-reversed: $color-white;
$dt-color-form-text-color-label: oklch(from $color-purple-950 l c h / 0.75);
$dt-color-form-text-color-label-reversed: oklch(from $color-white l c h / 0.8);
$dt-color-form-color-icon-reversed: $color-gray-cool-700;
$dt-color-form-text-color-placeholder: oklch(from $color-purple-950 l c h / 0.7);
