@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../KaizenDraft/TitleBlockZen/TitleBlockBreakpoints.scss";

body {
  margin: 0;
}

.contentContainer {
  box-sizing: border-box;
  padding: 24px;
  max-width: $kz-layout-content-max-width;
  margin: 0 $kz-layout-content-side-margin;
  background: #eee;

  @include title-block-medium-and-small {
    margin: 0;
  }
}

$content-margin-width-on-medium-and-small: 12px;

.fakeSkirtContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fakeSkirtContainerWithBackground {
  composes: fakeSkirtContainer;
  background-color: $kz-color-wisteria-700;
}

.fakeSkirtContent {
  min-height: 4rem;
  max-width: $kz-layout-content-max-width;
  margin: 0 $kz-layout-content-side-margin;
  width: 100%;

  @media (max-width: $kz-layout-breakpoints-large - 1px) {
    margin: 0 $content-margin-width-on-medium-and-small;
  }
}

.fakeSkirtCard {
  composes: wrapper from "~@kaizen/draft-card/KaizenDraft/Card/styles.module.scss";
  margin-bottom: $kz-spacing-md * -1;
  padding: $kz-spacing-md;
  @media (max-width: $kz-layout-breakpoints-large) {
    margin-left: $content-margin-width-on-medium-and-small * -1;
    margin-right: $content-margin-width-on-medium-and-small * -1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  @media (max-width: $kz-layout-breakpoints-medium) {
    border-radius: 0;
    margin-left: $content-margin-width-on-medium-and-small * -1;
    margin-right: $content-margin-width-on-medium-and-small * -1;
  }
}
