@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../mixins";

.triggerButtonBase {
  @include button;
  border-radius: $border-solid-border-radius;
  white-space: nowrap;
  gap: $spacing-xs;
}
