@import "~@kaizen/component-library/styles/layers";

$menu-container-width: 248px;

.buttonWrapper {
  display: inline-block;
}

.menuContainer {
  z-index: $ca-z-index-dropdown;
  width: auto;
}

.defaultWidth {
  width: $menu-container-width;
}
