@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../../styles/button-reset";

$story-className--multi-select__toggle--hover: ":global(.story__multi-select__toggle--hover)";
$story-className--multi-select__toggle--focus: ":global(.story__multi-select__toggle--focus)";
$story-className--multi-select__toggle-button--hover: ":global(.story__multi-select__toggle-button--hover)";
$story-className--multi-select__toggle-button--focus: ":global(.story__multi-select__toggle-button--focus)";

$selectors--multi-select__toggle-button--hover: "&:hover, #{$story-className--multi-select__toggle-button--hover} &";
$selectors--multi-select__toggle-button--focus: "&:focus, #{$story-className--multi-select__toggle-button--focus} &";
$selectors--multi-select__toggle-button--focus-ring: "&:focus, #{$story-className--multi-select__toggle-button--focus} &, #{$story-className--multi-select__toggle--focus} &";

$selectors--multi-select__toggle--hover: "&:hover, #{$story-className--multi-select__toggle--hover} &, #{$story-className--multi-select__toggle-button--hover} &";
$selectors--multi-select__toggle--focus-within: "&:focus-within, #{$story-className--multi-select__toggle--focus} &, #{$story-className--multi-select__toggle-button--focus} &";

.toggle {
  position: relative;
  display: inline-flex;
  width: 100%;
  border: $border-solid-border-style $border-solid-border-width $color-gray-500;
  border-radius: $border-solid-border-radius;
  flex-direction: row-reverse;
  padding: calc(#{$spacing-12} - #{$border-solid-border-width});
  box-sizing: border-box;

  #{$selectors--multi-select__toggle--hover},
  #{$selectors--multi-select__toggle--focus-within} {
    border-color: $color-gray-600;
    background-color: $color-gray-200;
  }
}

.toggleButton {
  @include button-reset;

  display: inline-flex;
  align-items: flex-start;
  margin-top: 3px;
  color: rgba($color-purple-800-rgb, 0.7);

  #{$selectors--multi-select__toggle-button--hover} {
    color: $color-purple-800;
  }

  #{$selectors--multi-select__toggle-button--focus} {
    color: $color-purple-800;
    outline: none;
  }

  #{$selectors--multi-select__toggle-button--focus-ring} {
    &::after {
      position: absolute;
      pointer-events: none;
      content: "";
      inset: calc(
        -1 * calc(#{$border-focus-ring-border-width} + #{$border-solid-border-width} +
              1px)
      );
      border-radius: $border-focus-ring-border-radius;
      border: $border-focus-ring-border-style $border-focus-ring-border-width
        $color-blue-500;
    }
  }
}

.selectedItemsContainer {
  display: flex;
  gap: $spacing-12;
  align-items: flex-start;
  width: 100%;
  border-inline-end: 1px solid rgba($color-gray-600-rgb, 0.2);
  padding-inline-end: $spacing-12;
  margin-inline-end: $spacing-12;
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  gap: $spacing-6;
  list-style: none;
}

.clearAllButton {
  margin-top: 3px;
}
