@import '~@kaizen/design-tokens/sass/typography';
@import '~@kaizen/design-tokens/sass/semantic-color';
@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/border';

@layer kz-components {
  /* Pagination */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagesIndicatorWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .arrowIconWrapper {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border-focus-ring-border-width $border-focus-ring-border-style $border-brand_alt;
    margin: 0 5px;
    background-color: transparent;
    color: $text-brand-primary;
    box-sizing: border-box;

    &:disabled {
      opacity: 35%;
      pointer-events: none;
    }

    &:hover {
      background-color: $bg-brand-primary;
    }

    &:focus {
      background-color: $bg-brand-secondary;

      &:focus-visible {
        outline: none;
      }

      .pageIndicatorFocusRing {
        border: $border-focus-ring-border-width $border-focus-ring-border-style $border-brand;
      }
    }
  }
}
