@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

// Pagination
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowIconWrapper {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-focus-ring-border-width $border-focus-ring-border-style
    $color-blue-300;
  margin: 0 5px;
  background-color: transparent;
  color: $color-blue-500;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  &:hover {
    background-color: $color-blue-100;
  }

  &:focus {
    background-color: $color-blue-200;
    &:focus-visible {
      outline: none;
    }
    .pageIndicatorFocusRing {
      border: $border-focus-ring-border-width $border-focus-ring-border-style
        $color-blue-500;
    }
  }
}

// Page indicator
.pagesIndicatorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pageIndicator,
.pageIndicatorSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: $border-focus-ring-border-width $border-focus-ring-border-style
    transparent;
  background-color: transparent;
  color: $color-blue-500;
  margin: 0 5px;
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
}

.pageIndicatorFocusRing {
  position: absolute;
  padding: 1px;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.pageIndicator {
  &:hover {
    background-color: $color-blue-100;
  }
  &:focus-visible {
    outline: none;
  }
  &:focus {
    &:not(.pageIndicatorSelected) {
      background-color: $color-blue-100;
      .pageIndicatorFocusRing {
        border: $border-focus-ring-border-width $border-focus-ring-border-style
          $color-blue-500;
      }
    }
  }
}

.pageIndicatorSelected {
  background-color: $color-blue-500;
  color: $color-white;
  &:focus {
    .pageIndicatorFocusRing {
      border: $border-focus-ring-border-width $border-focus-ring-border-style
        $color-blue-500;
    }
  }
  &:hover {
    background-color: $color-blue-500;
  }
}

// Truncate indicator
.truncateIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: transparent;
  color: rgba($color-purple-800-rgb, 0.7);
  margin: 0 5px;
}
