// vars
$grid-gap: 1.5rem;

.storyRow {
  display: grid;
  grid-template-areas: "title stories";
  grid-template-columns: 100px 1fr;
  gap: $grid-gap;
}

.topHeader {
  grid-template-areas: ". stories";
  grid-template-columns: 100px 1fr;
}

.storyRowContainer {
  grid-area: stories;
  display: grid;
  gap: $grid-gap;
}
