@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/layout";
@import "../../../styles/legacy/layout";
@import "../../../styles/responsive";
@import "../../../styles/layers";
@import "../../../styles/border";

.defaultModalWidth {
  min-width: 300px;
  max-width: 600px;
}

.backdropLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);

  position: fixed;
  background-color: #000;
  opacity: 50%;
  z-index: $ca-z-index-modal-backdrop;
}

.scrollLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);

  position: fixed;
  display: flex;
  align-items: center;
  z-index: $ca-z-index-modal;
  overflow-y: auto;
}

.modalLayer {
  // use flexbox auto margins to horizontally and vertically centre the modal
  // because in IE11, `align-items: center` and `justify-content: center` cause
  // long modal content to become unreachable if they go off-screen
  margin: auto;
  padding: $ca-grid 0;
  width: 100%;
}

.genericModal {
  margin: auto;
  background-color: $color-white;
  border-radius: $border-solid-border-radius;
  box-shadow: $shadow-large-box-shadow;
  position: relative;
  width: 90%;
  -webkit-font-smoothing: antialiased;
  color: $color-purple-800;

  @include ca-media-tablet-and-up {
    width: 100%;
  }
}

// .animatingEnter {
//   transition-duration: $ca-duration-fast;

//   .backdropLayer {
//     /*
//       There's a weird bug in Chrome/Blink 102.x that animates the opacity
//       all the way to 1 with 200ms ("rapid" token), but is fine with
//       201ms, see Jira [KDS-523]
//     */
//     @include ca-animation-fade($duration: 201ms, $from: 0, $to: 0.5);
//   }

//   .genericModal {
//     @include ca-animation(fade($from: 0, $to: 1), zoom($from: 0.5, $to: 1));

//     animation-duration: $ca-duration-fast;
//     animation-fill-mode: forwards;
//     animation-timing-function: $ca-bounce-in;
//   }
// }

// .animatingLeave {
//   transition-duration: $ca-duration-rapid;

//   .backdropLayer {
//     @include ca-animation-fade(
//       $duration: $ca-duration-rapid,
//       $from: 0.5,
//       $to: 0
//     );
//   }

//   .genericModal {
//     @include ca-animation(fade($from: 1, $to: 0), zoom($from: 1, $to: 0.5));

//     animation-duration: $ca-duration-rapid;
//     animation-fill-mode: forwards;
//     animation-timing-function: $ca-bounce-out;
//   }
// }

.unscrollable {
  /* Tech debt - this !important existed before Stylelint rules */
  overflow: hidden !important; /* stylelint-disable-line declaration-no-important */
}

.pseudoScrollbar {
  /* Tech debt - this !important existed before Stylelint rules */
  padding-right: 15px !important; /* stylelint-disable-line declaration-no-important */
}

.hide {
  opacity: 0%;
  pointer-events: none;
}

.modalDescription {
  grid-column-start: 2;
}

// TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
$ca-breakpoint-small-mobile: 375px;

@mixin ca-media-small-mobile {
  @media (max-width: #{$ca-breakpoint-small-mobile}) {
    @content;
  }
}

.modalLabel {
  position: relative;

  // TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
  h2 {
    @media (max-width: $layout-breakpoints-medium) {
      font-size: 1.625rem;
      line-height: 2rem;
    }

    @include ca-media-small-mobile {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  &.prominent {
    grid-column-start: 2;
    text-align: left;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible::after {
    $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    inset: calc(-1 * #{$focus-ring-offset});
  }
}

.inputEdit {
  background-color: $color-gray-200;
  border-radius: $border-solid-border-radius;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.actionsAlignStart {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.padded {
  padding: $spacing-md;
  flex-direction: column;

  @media (min-width: $layout-breakpoints-medium) {
    padding: 0 $spacing-lg $spacing-lg $spacing-lg;
    flex-direction: row-reverse;
  }
}

.actionButton {
  width: 100%;

  @media (min-width: $layout-breakpoints-medium) {
    width: inherit;
  }
}

.actionButton + .actionButton {
  margin-right: $spacing-sm;

  @media (max-width: ($layout-breakpoints-medium - 1px)) {
    margin-top: $spacing-sm;
  }
}

.footerWrap {
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

.border {
  border-top: 1px solid $border-solid-border-color;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}

.filler {
  visibility: hidden;
}
