@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";

.button {
  @include kz-type-inter-button-primary;
  @include ca-inherit-baseline;
  top: 0;
  padding-top: $ca-grid * 0.25;
  color: $kz-color-wisteria-800;
  border: 0;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  background: transparent;
  transition: border-height 0.6s linear;

  &:hover {
    text-decoration: none;
    color: $kz-color-cluny-500;
    border-bottom-color: $kz-color-cluny-500;
  }

  @include ca-media-tablet-and-up {
    color: $kz-color-wisteria-800;
    padding-top: 1.0625rem;
  }

  @include ca-media-mobile {
    margin: 0;
    padding-bottom: 0.3125rem;
  }
}

.button + .button {
  @include ca-margin($start: $ca-grid);
}

.activeButton {
  composes: button;
  color: $kz-color-cluny-500;
  border-bottom-color: $kz-color-cluny-500;

  &.reversed {
    border-bottom-color: white;
  }
}

.reversed {
  color: white;

  &.button {
    &:hover {
      color: white;
      border-bottom-color: white;
    }
  }
}
