@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/layers";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/styles/animation";

@mixin title-block-mobile {
  @media (max-width: $kz-layout-breakpoints-large - 1px) {
    @content;
  }
}

@mixin title-block-desktop {
  @media (min-width: $kz-layout-breakpoints-large) {
    @content;
  }
}

.titleBlockContainer {
  color: $color-purple-800;
  width: 100%;
}

.titleBlock {
  background-color: $color-neutral-100;
  border-bottom: 1px solid $color-neutral-300;
  width: inherit;

  @media print {
    display: none;
  }
}

.titleBlockInner {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: $ca-layout-max-width;
  padding: 0 $ca-layout-side-padding;
  height: $ca-layout-title-block-height;
  margin: 0 auto;
  // Specifying this explicity in case the consuming app don't have this specified by default
  box-sizing: border-box;

  @include title-block-mobile {
    height: $ca-layout-title-block-mobile-height;
    padding-left: $ca-grid;
    padding-right: $ca-grid;
  }
}

.breadcrumb {
  @include kz-typography-paragraph-small;
  display: flex;
  position: absolute;
  z-index: $ca-z-index-sticky;
  align-items: center;
  top: $ca-layout-title-block-height / 2;
  transform: translateY(-50%);
  left: -38px;
  color: $ca-link-text-color;
  height: 45px;

  &:hover {
    text-decoration: none;
  }

  [dir="rtl"] & {
    left: auto;
    right: -38px;
  }

  @media only screen and (max-width: $ca-layout-max-width + ($ca-layout-side-padding * 2)) {
    position: relative;
    @include ca-margin($end: $ca-grid * 1.5);
    left: 0;

    [dir="rtl"] & {
      right: 0;
    }
  }

  @include title-block-mobile {
    display: none;
  }
}

.breadcrumbText {
  flex: 0 0 $ca-grid * 8;
  @include kz-typography-heading-4;
  top: 0;
  display: none;
  @include ca-margin($start: $ca-grid);
  white-space: nowrap;

  .breadcrumb:hover &,
  .breadcrumb:focus & {
    display: inline-block;
    animation: slide-fade 0.4s;

    [dir="rtl"] & {
      animation: reverse-slide-fade 0.4s;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: $ca-grid;
  }
}

.circle {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba($color-blue-500-rgb, 0.1);
  color: $color-blue-500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;

  .breadcrumb:hover &,
  .breadcrumb:focus & {
    background-color: $color-blue-500;
    color: $color-neutral-100;
    transform: scale(1.1);
  }
}

.leftContent {
  display: flex;
  transition: opacity 0.3s ease;
  flex: 1 0 auto;

  .breadcrumb:hover + &,
  .breadcrumb:focus + & {
    opacity: 0;
  }

  @include title-block-mobile {
    justify-content: center;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include title-block-mobile {
    justify-content: center;
  }
}

.title {
  @include kz-typography-heading-1;
  display: inline-block;
  top: auto;

  @include title-block-mobile {
    @include kz-typography-heading-3;
    @include ca-inherit-baseline;
  }
}

.textContainer {
  display: flex;
  align-items: baseline;
}

.subtitle {
  @include kz-typography-heading-4;
  display: inline-block;
  top: auto;
  @include ca-margin($start: $ca-grid);
  transform: translateY(-1px);

  @include title-block-mobile {
    display: none;
  }
}

.tag {
  margin-left: $ca-grid / 1.5;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.actionsContainer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;

  @include title-block-mobile {
    display: none;
  }
}

.buttonWrapper {
  margin: 0 ($ca-grid / 2);

  &:last-child {
    margin-right: 0;
  }
}

.copyButton {
  /* Tech debt - this !important existed before Stylelint rules */
  margin-right: 12px !important; /* stylelint-disable-line declaration-no-important */
  margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
  margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
}

@keyframes slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reverse-slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navContainer {
  @include ca-inherit-baseline;
  display: flex;
  flex: 1;
  align-items: stretch;
  height: 100%;
  color: $color-purple-800;
  @include ca-margin($start: $ca-grid * 1.5);

  @include title-block-mobile {
    display: flex;
    margin: 0;
    border-bottom: 1px solid $color-neutral-300;
    width: 100%;
    background: $color-neutral-100;
  }

  .navButtonsContainer {
    display: flex;

    @include title-block-mobile {
      @include ca-padding($start: $ca-grid, $top: $ca-grid * 0.5);
    }
  }
}

// Some hackiness to make mobile nav work in Elm 0.18:
.nonMobileNav {
  @include title-block-mobile {
    display: none;
  }
}

.mobileNav {
  @include title-block-desktop {
    display: none;
  }
}

//--------------------- REVERSE COLORS ---------------------//

.reversed {
  color: white;

  @include title-block-desktop {
    .title {
      color: white;
    }
  }

  .subtitle {
    color: white;
  }

  .breadcrumb {
    color: $color-neutral-100;

    &:hover {
      .circle {
        background-color: rgba($color-neutral-100-rgb, 0.4);
      }
    }
  }

  .circle {
    background-color: rgba($color-neutral-100-rgb, 0.2);
    color: $color-neutral-100;
  }

  .titleBlock {
    border-bottom: 1px solid rgba($color-neutral-100-rgb, 0.3);
  }

  .navContainer {
    background-color: transparent;

    @include title-block-mobile {
      border-bottom: 1px solid $color-neutral-100;
    }
  }
}

.reverseColorLapis {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-purple-800;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-purple-800;
    }
  }
}

.reverseColorOcean {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-blue-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-blue-500;
    }
  }
}

.reverseColorPeach {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-orange-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-orange-500;
    }
  }
}

.reverseColorSeedling {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-green-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-green-500;
    }
  }
}

.reverseColorWisteria {
  @include title-block-desktop {
    .titleBlock {
      background-color: var($color-purple-600-id, $color-purple-700);
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: var($color-purple-600-id, $color-purple-700);
    }
  }
}

.reverseColorYuzu {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-yellow-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-yellow-500;
    }
  }
}

.reverseColorTransparent {
  @include title-block-desktop {
    .titleBlock {
      background-color: transparent;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: transparent;
    }
  }
}

%backgroundAnimated {
  will-change: background-color;
  transition: background-color $ca-duration-rapid $ca-linear;
}

%heightAnimated {
  will-change: height;
  transition: height $ca-duration-rapid $ca-ease-in;
}

.compact {
  @include title-block-desktop {
    box-shadow: $shadow-large-box-shadow;

    .titleBlockInner {
      height: $ca-layout-title-block-tablet-height;
    }
  }
}

.sticky {
  @include title-block-desktop {
    position: fixed;
    z-index: $ca-z-index-sticky;
  }

  .titleBlock {
    @extend %backgroundAnimated;
  }

  .titleBlockInner {
    @extend %heightAnimated;
  }
}

.stickyColorLapis {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-purple-600;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-purple-600;
    }
  }
}

.stickyColorOcean {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-blue-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-blue-500;
    }
  }
}

.stickyColorPeach {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-orange-400;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-orange-400;
    }
  }
}

.stickyColorSeedling {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-green-400;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-green-400;
    }
  }
}

.stickyColorWisteria {
  @include title-block-desktop {
    .titleBlock {
      background-color: var($color-purple-600-id, $color-purple-700);
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: var($color-purple-600-id, $color-purple-700);
    }
  }
}

.stickyColorYuzu {
  @include title-block-desktop {
    .titleBlock {
      background-color: $color-yellow-500;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: $color-yellow-500;
    }
  }
}

.stickyColorTransparent {
  @include title-block-desktop {
    .titleBlock {
      background-color: transparent;
    }
  }
  @include title-block-mobile {
    .navContainer {
      background-color: transparent;
    }
  }
}
