@layer kz-components {
  .trigger {
    anchor-name: var(--anchor-name);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--typography-paragraph-body-font-family);
    font-weight: var(--typography-paragraph-body-font-weight);
    font-size: var(--typography-paragraph-body-font-size);
    line-height: var(--typography-paragraph-body-line-height);
    letter-spacing: var(--typography-paragraph-body-letter-spacing);
    padding: var(--spacing-12);
    height: var(--spacing-40);
    min-width: var(--spacing-200);
    background-color: var(--color-white);
    border-radius: var(--spacing-8);
    border: var(--spacing-2) solid var(--color-gray-500);

    &:focus-visible {
      outline-offset: var(--spacing-2);
      outline: var(--spacing-2) solid var(--color-blue-500);
      background-color: var(--color-white);
    }

    &:hover:not(.disabled) {
      border-color: var(--color-gray-600);
      background-color: var(--color-gray-200);
    }
  }

  .secondary:not(.disabled, .readOnly) {
    border: none;
    border-bottom: var(--spacing-2) solid var(--color-gray-400);
    border-radius: 0.4375rem 0.4375rem 0 0;

    &:hover {
      border: var(--spacing-2) solid var(--color-gray-600);
      border-radius: 0.4375rem;
    }

    &:focus-visible {
      border: var(--spacing-2) solid var(--color-gray-500);
      border-radius: 0.4375rem;
    }
  }

  .disabled {
    pointer-events: none;
    border: var(--spacing-2) solid var(--color-gray-300);
    background-color: var(--color-gray-100);
    color: var(--color-gray-500);
  }

  .readOnly {
    pointer-events: none;
    background-color: var(--color-gray-200);
    border: var(--spacing-2) solid var(--color-gray-200);
  }

  .small {
    height: var(--spacing-32);
  }

  .large {
    height: var(--spacing-48);
  }

  .chevronButton {
    background: none;
    padding: 0;
    display: flex;
  }
}
