@import "~@cultureamp/kaizen-component-library/styles/type";

.headerWrap.layout {
  width: 100%;
}

.headerWrap.layout.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.filler {
  visibility: hidden;
}
