@import "~@cultureamp/kaizen-design-tokens/sass/color";
@import "~@cultureamp/kaizen-component-library/styles/type";

.modalBody {
  padding: $ca-grid $ca-grid $ca-grid $ca-grid;
  overflow-x: hidden;
}

.modalBody.scrollable {
  overflow-y: scroll;
}

.modalBody.fillSpace {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
}

.white {
  background-color: $white;
}

.stone {
  background-color: $kz-color-stone;
}
