@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";

.container {
  border-radius: $border-solid-border-radius;
  margin-bottom: $ca-grid;
}

.noMargin {
  margin: 0;
}

// Background Style Variations

.positive {
  background: $color-green-100;
  border-color: var(#{$color-green-300-id}, $color-green-200);
  color: $color-purple-800;
}

.negative {
  background: $color-red-100;
  border-color: var(#{$color-red-300-id}, $color-red-200);
  color: $color-purple-800;
}

.informative {
  background: $color-blue-100;
  border-color: var(#{$color-blue-300-id}, $color-blue-200);
  color: $color-purple-800;
}

.cautionary {
  background: $color-yellow-100;
  border-color: var(#{$color-yellow-400-id}, $color-yellow-300);
  color: $color-purple-800;
}

.default {
  // Slate 700 10% for Heart theme, Wisteria 300 for Zen theme (use Zen fallback when CSS variables aren't available).
  --slate-700-10: rgba(var(#{$color-neutral-600-rgb-id}), 0.1);
  background-color: $color-neutral-300;
  border-color: var(--slate-700-10, $color-purple-300);
}

// Border Style Variations

.solid {
  border-style: $border-solid-border-style;
  border-width: $border-solid-border-width;
}

.dashed {
  border-style: $border-dashed-border-style;
  border-width: $border-dashed-border-width;
}

.none {
  border-color: $border-borderless-border-color;
  border-style: $border-borderless-border-style;
  border-width: $border-borderless-border-width;
}
