@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/layout";

.container {
  border-radius: $kz-border-solid-border-radius;
  margin-bottom: $ca-grid;
}

.noMargin {
  margin: 0;
}

// Background Style Variations

.positive {
  background: $kz-color-seedling-100;
  border-color: $kz-color-seedling-200;
  color: $kz-color-wisteria-800;
}

.negative {
  background: $kz-color-coral-100;
  border-color: $kz-color-coral-200;
  color: $kz-color-wisteria-800;
}

.informative {
  background: $kz-color-cluny-100;
  border-color: $kz-color-cluny-200;
  color: $kz-color-wisteria-800;
}

.cautionary {
  background: $kz-color-yuzu-100;
  border-color: $kz-color-yuzu-300;
  color: $kz-color-wisteria-800;
}

.default {
  background-color: $kz-color-ash;
  border-color: $kz-color-wisteria-300;
}

// Border Style Variations

.solid {
  border-style: $kz-border-solid-border-style;
  border-width: $kz-border-solid-border-width;
}

.dashed {
  border-style: $kz-border-dashed-border-style;
  border-width: $kz-border-dashed-border-width;
}

.none {
  border-color: $kz-border-borderless-border-color;
  border-style: $kz-border-borderless-border-style;
  border-width: $kz-border-borderless-border-width;
}
