@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "variables";
@import "../../../../styles/button-reset";

@mixin button {
  @include button-reset;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typography-button-secondary-font-family;
  font-weight: $typography-button-secondary-font-weight;
  font-size: $typography-button-secondary-font-size;
  line-height: $typography-button-secondary-line-height;
  letter-spacing: $typography-button-secondary-letter-spacing;
  height: $spacing-xl;
  color: $color-blue-500;
  border: $border-solid-border-width $border-solid-border-style;
  border-color: $border-borderless-border-color;
  padding: $button-vertical-padding
    calc(#{$spacing-sm} - #{$border-solid-border-width});
  position: relative;
  background-color: $color-blue-100;

  &:hover,
  &:active {
    background-color: $color-blue-200;
  }

  &:focus {
    outline: none;
  }

  #{$selectors--button-focus} {
    background-color: $color-blue-200;

    &::after {
      $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

      content: "";
      position: absolute;
      background: transparent;
      border: $border-focus-ring-border-width $border-focus-ring-border-style
        $color-blue-500;
      border-radius: $border-focus-ring-border-radius;
      inset: calc(-1 * #{$focus-ring-offset});
    }
  }

  display: inline-flex;
  align-items: center;

  .iconWrapper {
    line-height: 1;
  }
}
