.body {
  padding: var(--spacing-md) var(--spacing-lg);

  @media (width <= 768px) {
    padding: var(--spacing-md);
  }
}

.unpadded {
  padding: 0;
}

.inputEdit {
  background-color: var(--color-gray-200);
}
