@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";

.wrapper {
  color: $kz-color-wisteria-800;
  background-color: $kz-color-white;
  border-radius: $kz-border-borderless-border-radius;
  box-shadow: $kz-shadow-small-box-shadow;
}
