@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";

.wrapper {
  color: $color-purple-800;
  background-color: $color-neutral-100;
  border-radius: $border-borderless-border-radius;
  box-shadow: $shadow-small-box-shadow;
}
