@import "~@kaizen/design-tokens/sass/border";

$input-disabled-opacity: 0.3;

.dateRangeInputContainer {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.inputStartDate input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;

  // `postcss-preset-env` v8 has this style as a lower priority
  // than what it wants to override so we must make everything important
  + [class*="focusRing"] {
    /* stylelint-disable declaration-no-important */
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
    /* stylelint-enable declaration-no-important */
  }
}

.inputEndDate input {
  position: relative;
  inset-inline-start: calc(-1 * #{$border-solid-border-width});
  border-start-start-radius: 0;
  border-end-start-radius: 0;

  // `postcss-preset-env` v8 has this style as a lower priority
  // than what it wants to override so we must make everything important
  + [class*="focusRing"] {
    /* stylelint-disable declaration-no-important */
    border-start-start-radius: 0 !important;
    border-end-start-radius: 0 !important;
    inset-inline-start: calc(
      -1 * calc(2 * #{$border-solid-border-width} + 1px)
    ) !important;
    inset-inline-end: -1px !important;
    /* stylelint-enable declaration-no-important */
  }
}

.disabled {
  opacity: $input-disabled-opacity;
}
