@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "../variables";

%firstChildBorders {
  border-start-start-radius: $border-focus-ring-border-radius;
  border-end-start-radius: $border-focus-ring-border-radius;

  [dir="ltr"] [dir="rtl"] & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

%lastChildBorders {
  border-start-end-radius: $border-focus-ring-border-radius;
  border-end-end-radius: $border-focus-ring-border-radius;

  [dir="ltr"] [dir="rtl"] & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.filterButtonGroup {
  display: inline-flex;

  .child {
    border-radius: 0;

    #{$selectors--filter-button--focus} {
      &::after {
        border-radius: 0;
      }
    }

    &.firstChild {
      @extend %firstChildBorders;

      #{$selectors--filter-button--focus} {
        &::after {
          @extend %firstChildBorders;

          inset-inline-end: $focus-ring-offset-inner;

          [dir="ltr"] [dir="rtl"] & {
            right: $focus-ring-offset-outer;
          }
        }
      }
    }

    &:not(.firstChild) {
      border-inline-start: 1px solid $color-blue-300;

      [dir="ltr"] [dir="rtl"] & {
        border-left: 0;
      }
    }

    &:not(.firstChild):not(.lastChild) {
      #{$selectors--filter-button--focus} {
        &::after {
          inset-inline-start: $focus-ring-offset-inner;
          inset-inline-end: $focus-ring-offset-inner;
        }
      }
    }

    &.lastChild {
      @extend %lastChildBorders;

      #{$selectors--filter-button--focus} {
        &::after {
          @extend %lastChildBorders;

          inset-inline-start: $focus-ring-offset-inner;

          [dir="ltr"] [dir="rtl"] & {
            left: $focus-ring-offset-outer;
          }
        }
      }
    }
  }
}
