@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "../variables";
@import "../../../../mixins";

.filterButtonGroup {
  display: inline-flex;

  button {
    border-radius: 0;

    &:first-of-type {
      border-start-start-radius: $border-solid-border-radius;
      border-end-start-radius: $border-solid-border-radius;

      [dir="ltr"] [dir="rtl"] & {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:last-of-type {
      border-start-end-radius: $border-solid-border-radius;
      border-end-end-radius: $border-solid-border-radius;

      [dir="ltr"] [dir="rtl"] & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(&:first-of-type) {
      margin-inline-start: -1px;

      [dir="ltr"] [dir="rtl"] & {
        margin-left: 0;
      }

      &::before {
        content: "";
        z-index: 3;
        position: absolute;
        inset: 0;
        height: 100%;
        border-inline-start: 1px solid $color-blue-300;

        [dir="ltr"] [dir="rtl"] & {
          border-left: 0;
        }
      }
    }
  }
}
