@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/mixins/forms";

.textarea {
  @include form-input-reset;
  border-radius: $kz-border-solid-border-radius;
  width: 100%;
  border: $kz-border-solid-border-width $kz-border-solid-border-style
    $kz-color-wisteria-500;
  padding: $ca-grid * 0.5;
  color: $kz-color-wisteria-800;

  &:focus {
    border-color: $ca-border-color-focus;
  }

  &:hover {
    border-color: $kz-color-wisteria-700;
  }

  @include form-input-placeholder {
    line-height: 1.5;
    color: add-alpha($kz-color-wisteria-800, 70%);
  }
}
