.wrapper {
  color: var(--color-purple-800);
  border: var(--border-width-1) solid var(--card-border-color);
  background-color: var(--card-background-color);
  border-radius: var(--border-borderless-border-radius);
  box-shadow: var(--card-box-shadow);

  --card-border-color: var(--color-gray-500);
  --card-background-color: var(--color-white);
  --card-box-shadow: var(--shadow-small-box-shadow);
}

.elevated {
  --card-box-shadow: var(--shadow-large-box-shadow);
}

.blue {
  --card-background-color: var(--color-blue-100);
  --card-border-color: var(--color-blue-400);
}

.gray {
  --card-background-color: var(--color-gray-200);
  --card-border-color: var(--color-gray-500);
}

.green {
  --card-background-color: var(--color-green-100);
  --card-border-color: var(--color-green-500);
}

.orange {
  --card-background-color: var(--color-orange-100);
  --card-border-color: var(--color-orange-600);
}

.purple {
  --card-background-color: var(--color-purple-100);
  --card-border-color: var(--color-purple-400);
}

.red {
  --card-background-color: var(--color-red-100);
  --card-border-color: var(--color-red-500);
}

.white {
  --card-background-color: var(--color-white);
  --card-border-color: var(--color-gray-500);
}

.yellow {
  --card-background-color: var(--color-yellow-100);
  --card-border-color: var(--color-yellow-700);
}

.default {
  border-color: var(--color-gray-500);
  background-color: var(--color-white);
}

.informative {
  border-color: var(--color-blue-400);
  background-color: var(--color-blue-100);
}

.positive {
  border-color: var(--color-green-500);
  background-color: var(--color-green-100);
}

.cautionary {
  border-color: var(--color-yellow-700);
  background-color: var(--color-yellow-100);
}

.destructive {
  border-color: var(--color-red-500);
  background-color: var(--color-red-100);
}

.assertive {
  border-color: var(--color-orange-600);
  background-color: var(--color-orange-100);
}

.highlight {
  border-color: var(--color-purple-400);
  background-color: var(--color-purple-100);
}

.aiMoment {
  --border-width: 2px;

  position: relative;
  border-radius: var(--border-borderless-border-radius);
  border-width: 0;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background-position: 0 50%;
    border-radius: 8px;
    transition:
      filter 1s ease,
      background-size 1s ease,
      background-position 1s ease,
      opacity 1s ease;
    pointer-events: none;
  }

  &::before {
    background: linear-gradient(
      310deg,
      rgb(103 199 175 / 100%) 0%,
      rgb(100 210 215 / 100%) 41%,
      rgb(200 136 226 / 100%) 100%
    );
  }

  &::after {
    background: linear-gradient(
      310deg,
      rgb(200 136 226 / 100%) 0%,
      rgb(103 199 175 / 100%) 30%,
      rgb(100 210 215 / 100%) 60%,
      rgb(200 136 226 / 100%) 90%
    );
    filter: blur(8px);
    opacity: 0;
  }

  &.aiMomentLoading {
    &::before {
      background: linear-gradient(
        310deg,
        rgb(200 136 226 / 100%) 0%,
        rgb(103 199 175 / 100%) 30%,
        rgb(100 210 215 / 100%) 60%,
        rgb(200 136 226 / 100%) 90%
      );
      background-size: 300% 300%;
      animation: animate-ai-border 15s infinite;
    }

    &::after {
      background-size: 300% 300%;
      animation: animate-ai-blur 15s infinite;
      opacity: 0.7;
    }
  }
}

@keyframes animate-ai-border {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 400% 0;
  }
}

@keyframes animate-ai-blur {
  0% {
    background-position: 0 50%;
    filter: blur(8px);
  }

  50% {
    filter: blur(10px);
  }

  100% {
    background-position: 400% 0;
    filter: blur(8px);
  }
}
