.wrapper {
  color: var(--color-purple-800);
  border: var(--border-width-1) solid var(--card-border-color);
  background-color: transparent;
  background-color: var(--card-background-color);
  border-radius: var(--border-borderless-border-radius);
  box-shadow: var(--card-box-shadow);

  --card-border-color: var(--color-gray-500);
  --card-background-color: var(--color-white);
  --card-box-shadow: var(--shadow-small-box-shadow);
}

.elevated {
  --card-box-shadow: var(--shadow-large-box-shadow);
}

.blue {
  --card-background-color: var(--color-blue-100);
  --card-border-color: var(--color-blue-400);
}

.gray {
  --card-background-color: var(--color-gray-200);
  --card-border-color: var(--color-gray-500);
}

.green {
  --card-background-color: var(--color-green-100);
  --card-border-color: var(--color-green-500);
}

.orange {
  --card-background-color: var(--color-orange-100);
  --card-border-color: var(--color-orange-600);
}

.purple {
  --card-background-color: var(--color-purple-100);
  --card-border-color: var(--color-purple-400);
}

.red {
  --card-background-color: var(--color-red-100);
  --card-border-color: var(--color-red-500);
}

.white {
  --card-background-color: var(--color-white);
  --card-border-color: var(--color-gray-500);
}

.yellow {
  --card-background-color: var(--color-yellow-100);
  --card-border-color: var(--color-yellow-700);
}

.default {
  border-color: var(--color-gray-500);
  background-color: var(--color-white);
}

.informative {
  border-color: var(--color-blue-400);
  background-color: var(--color-blue-100);
}

.positive {
  border-color: var(--color-green-500);
  background-color: var(--color-green-100);
}

.cautionary {
  border-color: var(--color-yellow-700);
  background-color: var(--color-yellow-100);
}

.destructive {
  border-color: var(--color-red-500);
  background-color: var(--color-red-100);
}

.assertive {
  border-color: var(--color-orange-600);
  background-color: var(--color-orange-100);
}

.highlight {
  border-color: var(--color-purple-400);
  background-color: var(--color-purple-100);
}

.aiMoment {
  --border-width: 2px;

  position: relative;
  border-radius: calc(var(--border-borderless-border-radius) - 1px);
  border-width: 0;

  &::before,
  &::after {
    position: absolute;
    content: '';
    inset: -2px;
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background-position: 0 50%;
    background-size: 100% 100%;
    border-radius: 8px;
    transition:
      filter 3s ease,
      background-size 3s ease,
      background-position 3s ease,
      opacity 2s ease;
    pointer-events: none;
    background-image: linear-gradient(
      310deg,
      rgb(100 210 215 / 100%) 0%,
      rgb(103 199 175 / 100%) 20%,
      rgb(100 210 215 / 100%) 41%,
      rgb(200 136 226 / 100%) 100%
    );
  }

  &::before {
    filter: blur(8px);
    opacity: 0;
  }

  &.aiMomentLoading {
    &::before {
      animation: animate-ai-blur-pulse 4s infinite;
      opacity: 0.7;
    }

    &::after {
      animation: animate-ai-border-pulse 4s infinite;

      /* opacity: 0.7; */
    }
  }
}

@keyframes animate-ai-border-pulse {
  0% {
    background-position: 0 50%;
    background-size: 100% 100%;
    opacity: 1;
  }
  /* 25% {
    background-position: 25% 75%;
  } */
  50% {
    background-position: 15% -85%;
    background-size: 200% 100%;
    opacity: 0.8;
  }

  /* 75% {
    background-position: 5% 65%;
  } */
  100% {
    background-position: 0 50%;
    background-size: 100% 100%;
    opacity: 1;
  }
}

@keyframes animate-ai-blur-pulse {
  0% {
    opacity: 0.4;
    filter: blur(8px);
    background-position: 0% 50%;
    background-size: 100% 100%;
  }

  /* 25% {
    background-position: 25% 75%;
  } */
  50% {
    filter: blur(10px);
    opacity: 0.8;
    background-position: 15% -85%;
    background-size: 200% 100%;
  }

  /* 75% {
    background-position: 5% 65%;
  } */
  100% {
    opacity: 0.4;
    filter: blur(10px);
    background-position: 0% 50%;
    background-size: 100% 100%;
  }
}
