@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";

.wrapper {
  color: $color-purple-800;
  border-style: solid;
  border-width: $border-width-1;
  border-radius: $border-borderless-border-radius;
  box-shadow: $shadow-small-box-shadow;
}

.default {
  border-color: $color-gray-500;
  background-color: $color-white;
}

.informative {
  border-color: $color-blue-400;
  background-color: $color-blue-100;
}

.positive {
  border-color: $color-green-500;
  background-color: $color-green-100;
}

.cautionary {
  border-color: $color-yellow-700;
  background-color: $color-yellow-100;
}

.destructive,
.assertive {
  border-color: $color-red-500;
  background-color: $color-red-100;
}

.highlight {
  border-color: $color-purple-400;
  background-color: $color-purple-100;
}

.elevated {
  box-shadow: $shadow-large-box-shadow;
}
