@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 310deg;
  inherits: false;
}

.wrapper {
  color: var(--color-purple-800);
  border: var(--border-width-1) solid var(--card-border-color);
  background-color: var(--card-background-color);
  border-radius: var(--border-borderless-border-radius);
  box-shadow: var(--card-box-shadow);

  --card-border-color: var(--color-gray-500);
  --card-background-color: var(--color-white);
  --card-box-shadow: var(--shadow-small-box-shadow);
}

.elevated {
  --card-box-shadow: var(--shadow-large-box-shadow);
}

.blue {
  --card-background-color: var(--color-blue-100);
  --card-border-color: var(--color-blue-400);
}

.gray {
  --card-background-color: var(--color-gray-200);
  --card-border-color: var(--color-gray-500);
}

.green {
  --card-background-color: var(--color-green-100);
  --card-border-color: var(--color-green-500);
}

.orange {
  --card-background-color: var(--color-orange-100);
  --card-border-color: var(--color-orange-600);
}

.purple {
  --card-background-color: var(--color-purple-100);
  --card-border-color: var(--color-purple-400);
}

.red {
  --card-background-color: var(--color-red-100);
  --card-border-color: var(--color-red-500);
}

.white {
  --card-background-color: var(--color-white);
  --card-border-color: var(--color-gray-500);
}

.yellow {
  --card-background-color: var(--color-yellow-100);
  --card-border-color: var(--color-yellow-700);
}

.default {
  border-color: var(--color-gray-500);
  background-color: var(--color-white);
}

.informative {
  border-color: var(--color-blue-400);
  background-color: var(--color-blue-100);
}

.positive {
  border-color: var(--color-green-500);
  background-color: var(--color-green-100);
}

.cautionary {
  border-color: var(--color-yellow-700);
  background-color: var(--color-yellow-100);
}

.destructive {
  border-color: var(--color-red-500);
  background-color: var(--color-red-100);
}

.assertive {
  border-color: var(--color-orange-600);
  background-color: var(--color-orange-100);
}

.highlight {
  border-color: var(--color-purple-400);
  background-color: var(--color-purple-100);
}

.aiMoment {
  --clr-1: oklch(80.15% 0.101 199.35deg) 0%;
  --clr-2: oklch(76.41% 0.098 175.22deg) 20%;
  --clr-3: oklch(80.15% 0.101 199.35deg) 41%;
  --clr-4: oklch(72.34% 0.143 315.73deg) 100%;
  --animated-border-width: 2px;

  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  border-radius: calc(var(--border-borderless-border-radius) + 1px);
}

/* This absolute element is used to give the illusion of a gradient border without expanding the size of the Well */
.aiMomentBackground {
  margin: var(--animated-border-width);
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  inset: 0;
  display: block;
  border-radius: var(--border-borderless-border-radius);
  border: 1px solid transparent;
  background-color: var(--card-background-color);
}

.aiMoment::before,
.aiMoment::after {
  content: '';
  position: absolute;
  inset: -1px;
  z-index: -2;
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4)
  );
  border-radius: 8px;
  background-size: 100% 100%;
  background-position: 0 50%;
  transition:
    filter 1s ease-in,
    opacity 1s ease-in;
}

.aiMoment::before {
  filter: blur(0);
  opacity: 0;
}

.aiMoment::after {
  opacity: 1;
}

.aiMomentLoading::after,
.aiMomentExiting::after {
  animation: rotation-loop-after 2s linear infinite;
}

.aiMomentLoading::before,
.aiMomentExiting::before {
  animation: rotation-loop-before 2s linear infinite;
  filter: blur(10px);
  opacity: 0.7;
}

.aiMomentExiting::after,
.aiMomentExiting::before {
  animation-iteration-count: 1;
}

@keyframes rotation-loop-before {
  0%,
  100% {
    background-size: 100% 100%;
  }

  50% {
    --gradient-angle: 270deg;

    background-position: 0% 20%;
    background-size: 200% 300%;
    opacity: 0.3;
  }
}

@keyframes rotation-loop-after {
  0%,
  100% {
    background-size: 100% 100%;
  }

  50% {
    --gradient-angle: 270deg;

    background-position: 0% 20%;
    background-size: 110% 130%;
    opacity: 0.7;
  }
}
