@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/typography";

$badge__height: 80px;
$left-content__width: 221px;

.root {
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-paragraph-body-font-size;
  font-weight: $typography-paragraph-body-font-weight;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  display: flex;

  // this box shadow should change to small once the Zen look is adopted
  box-shadow: $shadow-large-box-shadow;
  background-color: transparent;
  border-radius: $border-solid-border-radius;
}

.fullWidth {
  width: 100%;
}

.left {
  display: flex;
  border-radius: $border-solid-border-radius 0 0 $border-solid-border-radius;
  color: $color-white;
  padding: $spacing-sm $spacing-xl;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  position: relative;
  width: $left-content__width;

  .fullWidth & {
    width: 33%;
    max-width: 450px;
  }

  &.wisteria700 {
    background-color: $color-purple-700;
  }

  &.wisteria200 {
    background-color: $color-purple-200;
  }

  &.cluny200 {
    background-color: $color-blue-200;
  }

  &.seedling200 {
    background-color: $color-green-200;
  }
}

.withBadge {
  margin-top: $badge__height + 24px;
}

.right {
  border-radius: 0 $border-solid-border-radius $border-solid-border-radius 0;
  display: flex;
  flex-direction: column;
  padding: 51px;
  background-color: $color-white;
  color: $color-purple-800;
  width: 100%;
}

.rightContent {
  height: 100%;
}

.title {
  font-family: $typography-heading-3-font-family;
  font-size: $typography-heading-3-font-size;
  font-weight: $typography-heading-3-font-weight;
  line-height: $typography-heading-3-line-height;
  letter-spacing: $typography-heading-3-letter-spacing;
  margin-bottom: $spacing-md;
}

.badge {
  font-family: $typography-heading-3-font-family;
  font-weight: $typography-heading-3-font-weight;
  letter-spacing: $typography-heading-3-letter-spacing;
  display: flex;
  font-size: 42px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 10%);
  align-self: flex-start;
  line-height: 80px;
  min-width: 80px;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: $spacing-md;
  left: calc(#{$spacing-md} * 1.2);
}
