@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/layout";

$badge__height: 80px;
$left-content__width: 221px;

.root {
  @include kz-typography-paragraph-body;
  @include ca-inherit-baseline;
  display: flex;
  // this box shadow should change to small once the Zen look is adopted
  box-shadow: $kz-shadow-large-box-shadow;
  background-color: transparent;
  border-radius: $kz-border-solid-border-radius;
}

.fullWidth {
  width: 100%;
}

.left {
  display: flex;
  border-radius: $kz-border-solid-border-radius 0 0
    $kz-border-solid-border-radius;
  background-color: $kz-color-wisteria-700;
  color: $kz-color-white;
  padding: ($ca-grid / 2) ($ca-grid * 2);
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  position: relative;
  width: $left-content__width;

  .fullWidth & {
    width: 33%;
    max-width: 450px;
  }
}

.withBadge {
  margin-top: $badge__height + 24px;
}

.right {
  border-radius: 0 $kz-border-solid-border-radius $kz-border-solid-border-radius
    0;
  display: flex;
  flex-direction: column;
  padding: 51px;
  background-color: $kz-color-white;
  color: $kz-color-wisteria-800;
  width: 100%;
}

.rightContent {
  height: 100%;
}

.title {
  @include kz-typography-heading-3;
  @include ca-inherit-baseline;
  @include ca-margin($top: 0, $bottom: $ca-grid);
}

.badge {
  @include kz-typography-heading-3;
  @include ca-inherit-baseline;
  display: flex;
  font-size: 42px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-self: flex-start;
  line-height: 80px;
  min-width: 80px;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: $ca-grid;
  left: $ca-grid * 1.2;
}
