@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

/**
 * _Most_ of these styles have been copied over from the generic button
 * in @kaizen/button. Although the appearance closely resembles reversed primary
 * button, some necessary modifications to make this component visuallyHidden and
 * other slight visual tweaks did not make this appropriate for reuse.
 */
$caButton-height: $spacing-xl;
$caButton-verticalPadding: calc(#{$spacing-sm} - #{$border-solid-border-width});
$caButtonIcon-height: 20px;

// reset user agent styles for button element type
@mixin button-reset {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: none; // override Murmur global styles :(
}

@mixin button {
  @include button-reset;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typography-button-primary-font-family;
  font-weight: $typography-button-primary-font-weight;
  font-size: $typography-button-primary-font-size;
  line-height: $typography-button-primary-line-height;
  letter-spacing: $typography-button-primary-letter-spacing;
  display: inline-flex;

  // ^inline-flex is used over (block) flex here to fix an edge case where the parent element is display:grid
  //  and this element is an <a>, causing the element to be full width.
  align-items: center;
  box-sizing: border-box;
  min-height: $caButton-height;
  border: $border-solid-border-width $border-solid-border-style;
  border-radius: $border-solid-border-radius;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: visible; // Required for the focus ring on IE11
  text-decoration: none;
  padding:
    $caButton-verticalPadding
    calc(#{$spacing-md} - #{$border-solid-border-width});
}

@mixin primary {
  background: $color-white;
  border-color: $border-borderless-border-color;
  color: $color-purple-800;

  // show custom focus ring when :focus-visible
  &:global(.focus-visible)::after {
    $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    top: calc(-1 * #{$focus-ring-offset});
    left: calc(-1 * #{$focus-ring-offset});
    right: calc(-1 * #{$focus-ring-offset});
    bottom: calc(-1 * #{$focus-ring-offset});
  }
}

.skipLinkContainer {
  @include button;
  @include primary;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1040; // Navigation z-index + 10
  opacity: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);

  &:focus {
    opacity: 1;
    clip: auto;
    clip-path: none;
  }
}

.skipLinkContent {
  height: 100%;
  display: flex;
  align-items: center;
}

.skipLinkIcon {
  height: $caButtonIcon-height;
  align-self: auto;
  display: flex;
  padding-right: 4px;
  color: $color-purple-800;
}
