@import '~@kaizen/design-tokens/sass/typography';
@import '~@kaizen/design-tokens/sass/spacing';
@import '~@kaizen/design-tokens/sass/color';

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  padding: $spacing-12;
  min-height: $spacing-48;
  min-width: $spacing-200;
  background-color: $color-white;
  border-radius: $spacing-8;
  border: 1px solid $color-gray-500;
}
