@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";

@layer reset {
  .text {
    margin: 0;

    strong {
      font-weight: $typography-paragraph-bold-font-weight;
    }
  }
}

.intro-lede {
  font-family: $typography-paragraph-intro-lede-font-family;
  font-weight: $typography-paragraph-intro-lede-font-weight;
  font-size: $typography-paragraph-intro-lede-font-size;
  line-height: $typography-paragraph-intro-lede-line-height;
  letter-spacing: $typography-paragraph-intro-lede-letter-spacing;
}

.body {
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
}

.small {
  font-family: $typography-paragraph-small-font-family;
  font-weight: $typography-paragraph-small-font-weight;
  font-size: $typography-paragraph-small-font-size;
  line-height: $typography-paragraph-small-line-height;
  letter-spacing: $typography-paragraph-small-letter-spacing;
}

.extra-small {
  font-family: $typography-paragraph-extra-small-font-family;
  font-weight: $typography-paragraph-extra-small-font-weight;
  font-size: $typography-paragraph-extra-small-font-size;
  line-height: $typography-paragraph-extra-small-line-height;
  letter-spacing: $typography-paragraph-extra-small-letter-spacing;
}

.dark {
  color: $color-purple-800;
  opacity: 100%;
}

.dark-reduced-opacity {
  color: $color-purple-800;
  opacity: 70%;
}

.white {
  color: $color-white;
  opacity: 100%;
}

.white-reduced-opacity {
  color: $color-white;
  opacity: 80%;
}

.positive {
  color: $color-green-600;
}

.negative {
  color: $color-red-600;
}
