@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/typography";

.base {
  background-color: rgba($color-gray-500-rgb, 0.2);
  border-radius: calc(#{$border-solid-border-radius} * 3);
  top: calc(#{$spacing-md} * 0.175);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.display-0 {
  height: $typography-display-0-font-size;
  margin-bottom: $typography-display-0-line-height;
}

.heading-1 {
  height: $typography-heading-1-font-size;
  margin-bottom: $typography-heading-1-line-height;
}

.heading-2 {
  height: $typography-heading-2-font-size;
  margin-bottom: $typography-heading-2-line-height;
}

.heading-3 {
  height: $typography-heading-3-font-size;
  margin-bottom: $typography-heading-3-line-height;
}

.heading-4 {
  height: $typography-heading-4-font-size;
  margin-bottom: $typography-heading-4-line-height;
}

.heading-5 {
  height: $typography-heading-5-font-size;
  margin-bottom: $typography-heading-5-line-height;
}

.heading-6 {
  height: $typography-heading-6-font-size;
  margin-bottom: $typography-heading-6-line-height;
}

.animated {
  animation-name: fadeInOut;
  animation-duration: calc(#{$animation-duration-deliberate} * 2);
  animation-iteration-count: infinite;
}

.reversed:not(.link) {
  background-color: rgba($color-white-rgb, 0.2);
}

.link {
  background-color: rgba($color-blue-500-rgb, 0.2);
}

.link.reversed {
  background-color: rgba($color-white-rgb, 0.65);
}
