// Here we are aliasing all of the Motion UI @mixins
// This allows us to easily expand upon or remove this dependency in the future
// https://github.com/zurb/motion-ui/tree/master
@import "./vendor/transitions/zoom";
@import "./vendor/transitions/slide";
@import "./vendor/transitions/fade";
@import "./vendor/transitions/animation";

@mixin ca-animation($args...) {
  @include mui-animation($args...);
}

@mixin ca-fade($args...) {
  @include mui-fade($args...);
}

@mixin ca-slide($args...) {
  @include mui-slide($args...);
}

@mixin ca-zoom($args...) {
  @include mui-zoom($args...);
}
