// CLASSES
$motion-ui-classes: (
  chain: true,
  prefix: "ca-",
  active: "-active",
);

$motion-ui-states: (
  in: "enter",
  out: "exit",
);

// TIMING FUNCTIONS
$motion-ui-delays: (
  default: $ca-duration-instant,
  short: $ca-duration-slow,
  long: $ca-duration-deliberate,
);

// DEFAULT EASINGS
$motion-ui-easings: (
  default: $ca-default,
  linear: $ca-linear,
  ease: $ca-ease,
  ease-in: $ca-ease-in,
  ease-out: $ca-ease-out,
  ease-in-out: $ca-ease-in-out,
  bounce-in: $ca-bounce-in,
  bounce-out: $ca-bounce-out,
  bounce-in-out: $ca-bounce-in-out,
);

@import "~motion-ui/src/motion-ui";
