@import "./durations";
@import "./easings";
@import "~@kaizen/design-tokens/sass/animation";

// CLASSES
$motion-ui-classes: (
  chain: true,
  prefix: "ca-",
  active: "-active",
);

$motion-ui-states: (
  in: "enter",
  out: "exit",
);

// TIMING FUNCTIONS
$motion-ui-delays: (
  default: $animation-duration-instant,
  short: $animation-duration-slow,
  long: $animation-duration-deliberate,
);

// DEFAULT EASINGS
$motion-ui-easings: (
  default: $animation-easing-function-ease-in-out,
  linear: $animation-easing-function-linear,
  ease: $animation-easing-function-ease-in-out,
  ease-in: $animation-easing-function-ease-in,
  ease-out: $animation-easing-function-ease-out,
  ease-in-out: $animation-easing-function-ease-in-out,
  bounce-in: $animation-easing-function-bounce-in,
  bounce-out: $animation-easing-function-bounce-out,
  bounce-in-out: $animation-easing-function-bounce-in-out,
);
