// vars
$grid-gap: 1.5rem;
$grid-spacer: calc(#{$grid-gap}/ 2);

.StorybookGridWrapper {
  display: grid;
  gap: $grid-gap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.StorybookRowWrapper {
  display: grid;
  grid-template-areas: "title stories";
  grid-template-columns: 150px 1fr;
  gap: $grid-gap;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }
}

.topHeader {
  grid-template-areas: ". stories";
  grid-template-columns: 150px 1fr;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }
}
.StoryRowTitle {
  grid-area: title;
}

.StoryRowContainer {
  grid-area: stories;
  display: grid;
  gap: $grid-gap;
}
