@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/animation-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/animation";
@import "./decision-tokens.scss";

$small: $ca-grid;

.badge {
  @include ca-inherit-baseline;
  border-radius: $kz-var-spacing-sm;
  color: $kz-var-color-wisteria-800;
  display: inline-block;
  position: relative;
  font-family: $kz-var-typography-paragraph-extra-small-font-family;
  font-size: $kz-var-typography-paragraph-extra-small-font-size;
  font-weight: $kz-var-typography-paragraph-bold-font-weight;
  letter-spacing: $kz-var-typography-paragraph-extra-small-letter-spacing;
  line-height: $kz-var-typography-paragraph-extra-small-line-height;
  padding: 1px $kz-var-spacing-xs;
  min-width: 8px;
  text-align: center;
}

.default {
  background-color: $dt-color-background-default;
  color: $kz-var-color-wisteria-800;
}

.reversed.active,
.active {
  background-color: $kz-var-color-cluny-500;
  color: $kz-var-color-white;
}

.dark {
  background-color: rgba($kz-var-color-wisteria-700-rgb-params, 0.1);
  color: $kz-var-color-wisteria-800;
}

.reversed.dark {
  background-color: $kz-var-color-wisteria-700;
  color: $kz-var-color-white;
}

.reversed {
  background-color: rgba($kz-var-color-white-rgb-params, 0.1);
  color: $kz-var-color-white;
}

$badge-duration-timing: ($kz-var-animation-duration-slow / 2)
  $kz-var-animation-easing-function-ease-in;

$badge-transition: transform $badge-duration-timing,
  background-color $badge-duration-timing;

.animation {
  display: inherit;
  .badge {
    transition: $badge-transition;
    transform-origin: center;
    transform: scale3d(1, 1, 1);
  }
  &.animationOn .badge {
    transform: scale3d(1.35, 1.35, 1.35);
    &.dark {
      background-color: rgba($kz-var-color-wisteria-700-rgb-params, 0.2);
    }
  }
}
