@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/design-tokens/sass/animation";

$small: $ca-grid;

.badge {
  @include ca-inherit-baseline;
  border-radius: $kz-spacing-sm;
  color: $kz-color-wisteria-800;
  display: inline-block;
  position: relative;
  font-family: $kz-typography-paragraph-extra-small-font-family;
  font-size: $kz-typography-paragraph-extra-small-font-size;
  font-weight: $kz-typography-paragraph-bold-font-weight;
  letter-spacing: $kz-typography-paragraph-extra-small-letter-spacing;
  line-height: $kz-typography-paragraph-extra-small-line-height;
  padding: 1px $kz-spacing-xs;
  min-width: 8px;
  text-align: center;
  z-index: 2;
}

.default .animate,
.default {
  background-color: $kz-color-wisteria-200;
  color: $kz-color-wisteria-800;
}

.reversed.active .animate,
.reversed.active,
.active .animate,
.active {
  background-color: $kz-color-cluny-500;
  color: $kz-color-white;
}

.dark .animate,
.dark {
  background-color: rgba($kz-color-wisteria-700, 0.1);
  color: $kz-color-wisteria-800;
}

.reversed.dark .animate,
.reversed.dark {
  background-color: $kz-color-wisteria-700;
  color: $kz-color-white;
}

.reversed .animate,
.reversed {
  background-color: rgba($kz-color-white, 0.1);
  color: $kz-color-white;
}

.animate {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $kz-spacing-sm;
  background: inherit;
  z-index: -1;
  transform-origin: center;
  transform: scale(1);
  &.enter {
    display: inline-block;
    transition: transform $kz-animation-duration-deliberate
        $kz-animation-easing-function-ease-in,
      opacity $kz-animation-duration-deliberate
        $kz-animation-easing-function-ease-in;
  }
  &.enterActive {
    opacity: 0;
    transform: scale(1.5);
  }
}
