@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../../styles/utils/button-reset";

// Sync with PopoverModern.tsx
$arrow-width: 14px;
$arrow-height: 7px;

$large-width: 450px;

// Suggestion: with this implementation, the anchor point of the popover is at the base of the triangle. But,
// we would ideally want it at the tip of the triangle. Otherwise, when using the popover, the consumer needs to manually
// add something like a `margin-top: 8px` to get the popover properly positioned.
// I didn't update this, as I didn't want to introduce a breaking change.
@mixin arrow($background-color, $border-color) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-left: ($arrow-width / 2) solid transparent;
    border-right: ($arrow-width / 2) solid transparent;
    top: 0;
    left: 0;
  }

  &::before {
    border-top: $arrow-height solid $border-color;
  }

  /* The white fill of the triangle */
  &::after {
    border-top: $arrow-height solid $background-color;
    margin-top: -2px;
    z-index: 1;
  }
}

.root {
  width: 220px;
  position: absolute;
  left: 50%;
  // also see the component file under getRootStyle, which will transform the element
}

%box {
  background: $color-white;
  border: $border-solid-border-width $border-solid-border-style $color-gray-300;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.1));
  border-radius: $border-solid-border-radius;
  color: $color-purple-800;
  text-align: left;
  padding: $spacing-sm 1rem 1rem;
}

.defaultBox {
  @extend %box;
}

.defaultArrow {
  @include arrow(white, $color-gray-300);
}

$informative-box-border-color: $color-blue-300;

.informativeBox {
  @extend %box;

  background: $color-blue-100;
  border-color: $informative-box-border-color;
}

.informativeArrow {
  @include arrow($color-blue-100, $informative-box-border-color);
}

$positive-box-border-color: $color-green-300;

.positiveBox {
  @extend %box;

  background: $color-green-100;
  border-color: $positive-box-border-color;
}

.positiveArrow {
  @include arrow($color-green-100, $positive-box-border-color);
}

$negative-box-border-color: $color-red-300;

.negativeBox {
  @extend %box;

  background: $color-red-100;
  border-color: $negative-box-border-color;
}

.negativeArrow {
  @include arrow($color-red-100, $negative-box-border-color);
}

.cautionaryBox {
  @extend %box;

  background: $color-yellow-100;
  border-color: $color-yellow-400;
}

.cautionaryArrow {
  @include arrow($color-yellow-100, $color-yellow-400);
}

.header {
  position: relative;
  margin-bottom: $spacing-xs;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-right: $spacing-md;
}

.container {
  position: relative;
  white-space: pre-line;
}

.icon {
  display: inherit;
  margin-right: $spacing-xs;
}

.informativeIcon {
  color: $color-blue-500;
}

.positiveIcon {
  color: $color-green-400;
}

.negativeIcon {
  color: $color-red-500;
}

.cautionaryIcon {
  color: $color-yellow-500;
}

.close {
  @include button-reset;

  position: absolute;
  right: 0;
  margin-left: auto;
  display: inherit;
  color: rgba($color-purple-800-rgb, 0.7);

  &:hover {
    color: $color-purple-800;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    color: $color-purple-800;
    outline: $color-blue-500 $border-focus-ring-border-style
      $border-focus-ring-border-width;
    outline-offset: calc(-1 * #{$border-focus-ring-border-width});
    border-radius: $border-borderless-border-radius;
  }
}

.arrowWrapper {
  position: absolute;
  // Needed by popper, so it measures the size of the arrow correctly
  width: $arrow-width;
  height: $arrow-height;
}

.arrow {
  // Needed by popper, so it measures the size of the arrow correctly
  width: $arrow-width;
  height: $arrow-height;
}

/* stylelint-disable no-descending-specificity */
/**
 * In the legacy popover, the "side" described the location of the arrow, and
 * we use css classes to determine the placement.
 * In the modern popover, the "side" describes the location of the popover
 * relative to the reference element, and we use data attributes to determine
 * the placement.
 * Hence, the confusion below.
 */

.arrowSideTop,
[data-popper-placement^="bottom"] .arrowWrapper {
  bottom: 100%;
  left: 50%;
  margin-top: -9px;

  .arrow {
    transform: rotate(180deg);
  }
}

.arrowSideLeft,
[data-popper-placement^="left"] .arrowWrapper {
  right: 0;
  margin-right: -10px;

  .arrow {
    transform: rotate(270deg);
  }
}

.arrowSideRight,
[data-popper-placement^="right"] .arrowWrapper {
  left: 0;
  margin-left: -10px;

  .arrow {
    transform: rotate(90deg);
  }
}

.arrowSideBottom,
[data-popper-placement^="top"] .arrowWrapper {
  top: 100%;
  left: 50%;
}

// Legacy component only
.arrowPositionCenter {
  transform: translateX(-50%);
}

// Legacy component only
.arrowPositionStart {
  left: $spacing-md;
  right: auto;
}

// Legacy component only
.arrowPositionEnd {
  right: $spacing-md;
  left: auto;
}

.large {
  width: auto;
  max-width: $large-width;
}

.singleLine {
  text-overflow: ellipsis;
  white-space: nowrap; /* white-space and overflow are required for text-overflow to do anything */
  overflow: hidden;
}
/* stylelint-enable no-descending-specificity */
