@import "~@kaizen/design-tokens/sass/theme";

$dt-color-border-color-content: rgba($kz-color-wisteria-700, 0.1);
$dt-color-border-color-canvas: rgba($kz-color-wisteria-700, 0.2);

@if $rebrand {
  $dt-color-border-color-content: rgba($kz-color-slate-700, 0.1);
  $dt-color-border-color-canvas: rgba($kz-color-slate-700, 0.1);
}
