@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border";

.wrapper {
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: $kz-border-solid-border-radius;
  // This is here to protect against a global style in a consumer.
  // https://github.com/cultureamp/murmur/blob/master/app/assets/stylesheets/legacy/modules/_body.scss
  visibility: visible;
}

.content {
  border-top: 1px solid rgba($kz-var-color-wisteria-700-rgb-params, 0.1);
  &.reversed {
    border-color: rgba($kz-var-color-white-rgb-params, 0.1);
  }
}

.canvas {
  border-top: 2px solid rgba($kz-var-color-wisteria-700-rgb-params, 0.2);
  border-bottom: 1px solid rgba($kz-var-color-wisteria-700-rgb-params, 0.2);
  &.reversed {
    border-color: rgba($kz-var-color-white-rgb-params, 0.1);
  }
}
