.branding {
  grid-area: branding;
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-4);

  @media (width >=768px) {
    justify-content: unset;
  }
}

.logo {
  width: 7.5rem;
}
