@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/layout";

$reverse-variant-color: $color-blue-100;

.footer {
  display: flex;
  justify-content: center;
}

.footerInner {
  max-width: calc(#{$spacing-md} * 25);
  display: flex;
  align-items: center;
  height: $spacing-xxxl;
  flex-wrap: wrap;
}

.footerLink {
  padding: 0 $spacing-sm;

  @media (max-width: $layout-breakpoints-medium) {
    padding: 0;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.cookieButton {
  // button reset
  border: none;
  background: none;
  box-shadow: none;
  color: inherit;

  // consistency with the other items in the footer
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  color: inherit;
}

.containerLinks {
  display: inline-flex;
  justify-content: space-evenly;
  min-width: 18rem;
}

.containerCompanyName {
  display: inline-flex;
  padding: 0 $spacing-sm;
}
