@layer kz-components {
  .toastNotificationsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: calc(160px + 12px);
    position: fixed;
    right: var(--spacing-md);
    top: 0;
    bottom: 0;
    z-index: 1100;
    max-width: 100%;
    pointer-events: none;

    /* Media queries can’t perform this calculation yet. Update when CSS supports it.  */
    @media (width <= 1079px) {
      padding-top: 108px;
    }

    @media (width <= 767px) {
      left: var(--spacing-md);
    }
  }
}
