@import "~@kaizen/design-tokens/sass/theme";

$dt-color-border-color-base: $kz-color-wisteria-500;
$dt-color-disc-color-base: $kz-color-wisteria-700;
$dt-color-border-color-hover: $kz-color-wisteria-700;
$dt-color-background-color-hover: $kz-color-wisteria-100;

@if $rebrand {
  $dt-color-border-color-base: $kz-color-iron-500;
  $dt-color-disc-color-base: $kz-color-slate-700;
  $dt-color-border-color-hover: $kz-color-slate-700;
  $dt-color-background-color-hover: $kz-color-stone;
}
