@import "~@kaizen/design-tokens/sass/color";

$dt-color-border-color-base: $kz-color-wisteria-500;
$dt-color-disc-color-base: $kz-color-wisteria-700;
$dt-color-border-color-hover: $kz-color-wisteria-700;
$dt-color-background-color-hover: $kz-color-wisteria-100;

// rebrand
$dt-color-border-color-base: var(--kz-color-iron-500, $kz-color-wisteria-500);
$dt-color-disc-color-base: var(--kz-color-slate-700, $kz-color-wisteria-700);
$dt-color-border-color-hover: var(--kz-color-slate-700, $kz-color-wisteria-700);
$dt-color-background-color-hover: var(--kz-color-stone, $kz-color-wisteria-100);
