@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "../../decision-tokens.scss";

$radio-size: 24px;
$icon-size: 10px;
$icon-offset: 5px;
$focus-ring-offset: 2px;

.radioInput {
  @include form-input-visually-hidden();
}

.icon {
  top: $icon-offset;
  left: $icon-offset;
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  background: $dt-color-radio-disc-color-base;
  position: absolute;
}

.box {
  display: block;
  position: relative;
  background: $color-white;
  height: $radio-size;
  width: $radio-size;
  top: 0;
  border: $border-solid-border-width $border-solid-border-style
    $dt-color-form-border-color;
  box-sizing: border-box;
  border-radius: 50%;

  .radioInput:focus:not([disabled]) + & {
    border-color: $dt-color-radio-border-color-focus;
  }

  .radioInput:focus:not([disabled]) + &::after {
    pointer-events: none;
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: transparent;
    border-radius: $radio-size + $focus-ring-offset;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $dt-color-radio-disc-color-base;
    top: -$focus-ring-offset - ($radio-size / 8);
    left: -$focus-ring-offset - ($radio-size / 8);
    width: calc(
      #{$radio-size} + #{$focus-ring-offset} + #{$border-solid-border-width} * 2
    );
    height: calc(
      #{$radio-size} + #{$focus-ring-offset} + #{$border-solid-border-width} * 2
    );
  }

  @media (hover: hover) and (pointer: fine) {
    .radioInput:not([disabled]) + &:hover {
      border-color: $dt-color-form-border-color-hover;
      background-color: $dt-color-radio-background-color-hover;
    }
  }
}
