@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "./decision-tokens.scss";

$radio-size: 24px;
$icon-size: 10px;
$icon-offset: 5px;
$focus-ring-offset: 2px;

.radioInput {
  @include form-input-visually-hidden();
}

.icon {
  top: $icon-offset;
  left: $icon-offset;
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  background: $dt-color-disc-color-base;
  position: absolute;
}

.box {
  position: relative;
  background: $kz-color-white;
  height: $radio-size;
  width: $radio-size;
  top: 0;
  border: $kz-border-solid-border-width $kz-border-solid-border-style
    $dt-color-border-color-base;
  box-sizing: border-box;
  border-radius: 50%;

  .radioInput:disabled + & {
    opacity: 0.3;
  }

  .radioInput:focus:not([disabled]) + & {
    border-color: $kz-color-wisteria-700;
    background-color: $kz-color-wisteria-100;
  }

  .radioInput:focus:not([disabled]) + &::after {
    pointer-events: none;
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: transparent;
    border-radius: $radio-size + $focus-ring-offset;
    border-width: $kz-border-focus-ring-border-width;
    border-style: $kz-border-focus-ring-border-style;
    border-color: $dt-color-disc-color-base;
    top: -$focus-ring-offset - ($radio-size / 8);
    left: -$focus-ring-offset - ($radio-size / 8);
    width: $radio-size + $focus-ring-offset + $kz-border-solid-border-width * 2;
    height: $radio-size + $focus-ring-offset + $kz-border-solid-border-width * 2;
  }

  @media (hover: hover) and (pointer: fine) {
    .radioInput:not([disabled]) + &:hover {
      border-color: $dt-color-border-color-hover;
      background-color: $dt-color-background-color-hover;
    }
  }
}
