@import "~@kaizen/design-tokens/sass/color";
@import "../styles";
@import "../../../styles/border";
@import "../../../styles/type";
@import "../../../styles/layout";
@import "../../../styles/responsive";

$nav-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-timing: 150ms;
$indicator-height: 3px;
$link-margin: $ca-grid / 4;

.link {
  @extend %ca-navigation-bar__menu-item-focus;

  @include ca-type-reverse;
  @include ca-media-mobile {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  // fill parent
  display: flex;
  min-width: 2 * $ca-grid;
  height: 2 * $ca-grid;
  margin: ($ca-grid / 4) 0;

  // center child
  align-items: center;
  justify-content: center;

  border-radius: $ca-border-radius;

  color: rgba(#fff, 0.8);
  padding: 0;
  text-decoration: none;

  // active indicator
  .linkText::before {
    content: "";
    display: block;
    transform: translateY(-#{$link-margin}) translateY(-100%);
    height: $indicator-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: transform $nav-ease $nav-timing;

    @include ca-media-mobile {
      width: $indicator-height;
      height: 60px;
      right: auto;
      transform: translateX(-#{$link-margin}) translateX(-100%);
    }
  }

  &:hover {
    color: #fff; // override hyperlink hover color
    text-decoration: none;

    .linkText::before {
      transform: translateY(-#{$link-margin});

      @include ca-media-mobile {
        transform: translateX(-#{$link-margin});
      }
    }
  }

  @include ca-type-ideal-heading;
  @include ca-inherit-baseline;
  top: 0;

  &.secondary {
    @include ca-media-tablet-and-up {
      @include ca-type-ideal-body;
      @include ca-inherit-baseline;

      padding: 0 $ca-grid / 2;

      .linkIcon {
        @include ca-media-tablet {
          opacity: 1;
        }
      }

      .linkText {
        @include ca-media-tablet {
          display: none;
        }

        padding: 0;

        &::before {
          display: none;
        }
      }

      &:hover,
      &:focus {
        background-color: rgba(#fff, 0.1);

        .linkIcon {
          opacity: 0.7;
        }
      }

      &:active {
        background-color: rgba(#fff, 0.2);
        transform: translateY(1px);

        .linkIcon {
          opacity: 1;
        }
      }
    }
  }
}

.linkIcon {
  display: inline-flex;
  opacity: 0.5;

  @include ca-media-mobile {
    display: none;
  }
}

.linkIcon + .linkText {
  @include ca-margin($start: $link-margin);

  @include ca-media-mobile {
    @include ca-margin($start: 0);
  }
}

.linkText {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: $ca-grid;
  justify-content: center;
}

.containsText {
  padding: 0;
}

.active {
  color: #fff; // override hyperlink hover color
  outline: none; // override native focus styles
  text-decoration: none;

  .linkText::before {
    transform: translateY(-#{$link-margin});
  }
}

.menuIcon {
  margin-left: auto;
  margin-right: $ca-grid;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.notificationPill {
  @include ca-margin($start: $ca-grid * 0.25);
  @include ca-padding($start: $ca-grid * 0.5, $end: $ca-grid * 0.5);
  @include ca-type-ideal-small-bold;
  @include ca-inherit-baseline;
  border-radius: $ca-grid;
  background-color: #bce3dc; // DST-TODO: Replace with $kz-color-seedling-200 once kaizen-design-tokens is installed
  color: #35374a; // DST-TODO: Replace with $kz-color-wisteria-800 once kaizen-design-tokens is installed
}
