@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "@kaizen/deprecated-component-library-helpers/styles/color";
@import "../../../styles/grid";

.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $color-purple-800;
}

.close {
  position: absolute;
  top: $ca-grid / 2;
  right: $ca-grid / 2;
}

.heading {
  @include ca-type-inter-display;
  @include ca-inherit-baseline;
  color: white;
}
