@import "~@kaizen/design-tokens/sass/color";
@import "../../../styles/type";
@import "../../../styles/color";

.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $kz-color-wisteria-800;
}

.close {
  position: absolute;
  top: $ca-grid / 2;
  right: $ca-grid / 2;
}

.heading {
  @include ca-type-inter-display;
  @include ca-inherit-baseline;
  color: #fff;
}
