@import "~@kaizen/design-tokens/sass/color";
@import "../../../styles/color";
@import "../../../styles/type";
@import "../../../styles/border";

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.primary {
    border-bottom: solid 1px $kz-color-wisteria-500;
  }

  &.secondary.first {
    border-top: 1px solid $kz-color-wisteria-700;
    padding-top: $ca-grid / 2;
    margin-top: $ca-grid / 2;
  }
}

.active {
  background-color: $kz-color-wisteria-700;
}
