@import "~@kaizen/design-tokens/sass/color-vars";
@import "@kaizen/deprecated-component-library-helpers/styles/color";
@import "@kaizen/deprecated-component-library-helpers/styles/type";
@import "../../../styles/border";

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.primary {
    border-bottom: solid 1px $color-purple-500;
  }
}

.active {
  background-color: $color-purple-700;
}
