@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";

$side-padding: $kz-var-spacing-sm;
$gutter: calc(#{$kz-var-spacing-md} * 1 / 6);
$padding: $kz-var-spacing-xs;

.menuContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: $kz-var-color-white;
  color: $kz-var-color-wisteria-800;
  border-radius: $kz-var-border-solid-border-radius;
  box-shadow: $kz-var-shadow-large-box-shadow;
  padding: $padding 0;
  text-align: left;
  width: 100%;

  [dir="rtl"] & {
    text-align: right;
  }
}

.header {
  padding: 10px $side-padding 5px;
  color: $kz-var-color-wisteria-800;
  margin: 0 $gutter;
}

.header__title {
  font-family: $kz-var-typography-heading-6-font-family;
  font-weight: $kz-var-typography-heading-6-font-weight;
  font-size: $kz-var-typography-heading-6-font-size;
  line-height: $kz-var-typography-heading-6-line-height;
  letter-spacing: $kz-var-typography-heading-6-letter-spacing;
  display: block;
}

.menuItem {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  box-sizing: border-box;
  background: none;
  border: 2px transparent solid;
  text-align: left;
  padding: 6px calc(#{$side-padding} - 2px);
  margin: 0 $padding;
  min-height: calc(1.75 * #{$kz-var-spacing-md});
  border-radius: 4px;
  font-family: $kz-var-typography-paragraph-body-font-family;
  font-weight: $kz-var-typography-paragraph-body-font-weight;
  font-size: $kz-var-typography-paragraph-body-font-size;
  line-height: $kz-var-typography-paragraph-body-line-height;
  letter-spacing: $kz-var-typography-paragraph-body-letter-spacing;
  text-decoration: none;
  color: $kz-var-color-wisteria-800;

  cursor: default;

  &:not(.menuItem--disabled) {
    cursor: pointer;
  }

  &:hover {
    text-decoration: none;
  }

  &:not(.menuItem--disabled):hover,
  &:focus {
    background: $kz-var-color-cluny-100;
    color: $kz-var-color-cluny-500;

    .menuItem__Icon {
      color: $kz-var-color-cluny-500;
    }

    &.menuItem--destructive {
      background: $kz-var-color-coral-100;
      color: $kz-var-color-coral-600;

      .menuItem__Icon {
        color: $kz-var-color-coral-600;
      }
    }
  }

  &:focus-visible,
  &.focus-visible {
    border: 2px $kz-var-color-cluny-500 solid;
    outline: none;
    &.menuItem--destructive {
      border: 2px $kz-var-color-coral-600 solid;
    }
  }

  [dir="rtl"] & {
    text-align: right;
  }
}

.menuItem--disabled {
  color: rgba($kz-var-color-wisteria-800-rgb-params, 0.3);
  .menuItem__Icon {
    color: rgba($kz-var-color-wisteria-800-rgb-params, 0.3);
  }
}

.menuItem--active {
  color: $kz-var-color-cluny-500;
  font-weight: $kz-var-typography-paragraph-bold-font-weight;
}

.menuItem--destructive {
  color: $kz-var-color-coral-600;
  .menuItem__Icon {
    color: $kz-var-color-coral-600;
  }
}

.menuItem--destructive.menuItem--disabled {
  color: rgba($kz-var-color-coral-600-rgb-params, 0.3);
  .menuItem__Icon {
    color: rgba($kz-var-color-coral-600-rgb-params, 0.3);
  }
}

.menuItem__Label {
  flex-grow: 1;
}

.menuItem__Icon {
  @include ca-margin($end: calc(#{$kz-var-spacing-md} / 3));

  display: flex;
  align-self: flex-start;
  transform: translateY(0.2em);
  color: rgba($kz-var-color-wisteria-800-rgb-params, 0.75);
}
