@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "../../../styles/button-reset";

.removeButton {
  @include button-reset;

  position: relative;
  display: inline-flex;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    &::after {
      $focus-ring-offset: -3px;

      content: "";
      position: absolute;
      background: transparent;
      border-width: $border-focus-ring-border-width;
      border-style: $border-focus-ring-border-style;
      border-radius: 50%;
      inset: $focus-ring-offset;
    }
  }

  &:after {
    position: absolute;
    content: "";
    inset: -5px;
    border-radius: 50%;
  }
}

.default {
  color: $color-gray-500;

  &:hover {
    background-color: $color-gray-400;
  }

  &:focus-visible {
    &::after {
      border-color: $color-blue-500;
    }
  }
}

.reversed {
  color: rgba($color-white-rgb, 0.8);

  &:focus-visible {
    &::after {
      border-color: $color-blue-300;
    }
  }
}
