@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "../../../styles/button-reset";

.removeButton {
  @include button-reset;

  position: relative;
  display: inline-flex;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    &::after {
      $focus-ring-offset: -3px;
      border-color: $color-blue-500;

      content: "";
      position: absolute;
      background: transparent;
      border-width: $border-focus-ring-border-width;
      border-style: $border-focus-ring-border-style;
      border-radius: 50%;
      inset: $focus-ring-offset;
    }
  }

  &:before {
    position: absolute;
    content: "";
    inset: -5px;
    border-radius: 50%;
  }

  .closeIcon {
    fill: #6d6674; // purple-800 at 0.7 opacity
  }

  &:hover {
    .closeIcon {
      fill: $color-purple-800;
    }
    &.gray {
      background-color: #dcdcdd; // gray-600 at 0.2 opacity
    }
    &.blue {
      background-color: #b3d2e8; // blue-500 at 0.3 opacity
    }
    &.green {
      background-color: #c7e3dc; // green-500 at 0.3 opacity
    }
    &.yellow {
      background-color: #ffdb80; // yellow-500 at 0.5 opacity
    }
    &.orange {
      background-color: #f8d3c1; // orange-500 at 0.3 opacity
    }
    &.red {
      background-color: #efc4cc; // red-500 at 0.3 opacity
    }
    &.purple {
      background-color: #dac7db; // purple-500 at 0.3 opacity
    }
  }
}
