@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/type";

.card {
  box-sizing: border-box;
  min-width: 280px;
  // margin-bottom: $ca-grid;
  border-radius: 3px;
  background-color: white;
}

.dark {
  background-color: $ca-palette-ink;
  color: white;
}
