@import "~@kaizen/design-tokens/sass/color";

.card {
  box-sizing: border-box;
  min-width: 280px;
  border-radius: 3px;
  background-color: white;
}

.dark {
  background-color: $color-purple-800;
  color: white;
}
