@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

.tag {
  margin-left: -1.75rem;
  margin-right: 0.25rem;
  position: absolute;
  transform: translateY(0.2em);
}

.do {
  .icon {
    color: $color-green-500;
  }
}

.dont {
  .icon {
    color: $color-red-500;
  }
}
