@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";

.container {
  display: flex;
  justify-content: space-between;

  @include ca-media-mobile() {
    flex-direction: column;
  }
}

.card {
  margin-top: var(--ca-grid);
  width: 48%;
  padding: var(--ca-grid);
  box-sizing: border-box;
  border: 1px solid $ca-border-color;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  border-top-width: 7px;
  border-top-style: solid;

  @include ca-media-mobile() {
    width: 100%;
  }

  :global(.md-ul.md-ul) {
    padding-left: 1.25rem;
  }

  :global(.md-li.md-li) {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 0.75rem;
  }

  :global(.md-strong.md-strong) {
    font-weight: 500;
  }

  :global(.md-a.md-a) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.whenToUse {
  border-top-color: $color-green-500;
}

.whenNotToUse {
  border-top-color: $color-red-500;
}
