@import "~@cultureamp/kaizen-design-tokens/sass/color";
@import "~@cultureamp/kaizen-component-library/styles/color";

.container {
  color: $kz-color-wisteria-800;
  display: inline-flex;
  height: 1.75rem;
  align-items: center;
  border-radius: 2rem;
  padding: 0 0.75rem 0 0.25rem;
  font-size: 0.8333rem;
  font-weight: 400;
}

.icon {
  display: flex;
  margin-right: 0.25rem;
}

.do {
  background: $kz-color-seedling-100;
  border: 1px solid $kz-color-seedling-500;

  .icon {
    color: $kz-color-seedling-500;
  }
}

.dont {
  background: $kz-color-coral-100;
  border: 1px solid $kz-color-coral-500;

  .icon {
    color: $kz-color-coral-500;
  }
}
