@import "~@kaizen/design-tokens/sass/color";

@import "~@kaizen/deprecated-component-library-helpers/styles/color";

.container {
  color: $color-purple-800;
  display: inline-flex;
  height: 1.75rem;
  align-items: center;
  border-radius: 2rem;
  padding: 0 0.75rem 0 0.25rem;
  font-size: 0.8333rem;
  font-weight: 400;
}

.icon {
  display: flex;
  margin-right: 0.25rem;
}

.whenToUse {
  background: $color-green-100;
  border: 1px solid $color-green-500;

  .icon {
    color: $color-green-500;
  }
}

.whenNotToUse {
  background: $color-red-100;
  border: 1px solid $color-red-500;

  .icon {
    color: $color-red-500;
  }
}
