@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/component-library/styles/responsive";

.container {
  display: flex;
  justify-content: space-between;

  @include ca-media-mobile() {
    flex-direction: column;
  }
}

.card {
  margin-top: $spacing-md;
  width: 48%;
  padding: $spacing-md;
  box-sizing: border-box;
  border: 1px solid $border-solid-border-color;
  box-shadow: $shadow-small-box-shadow;
  border-radius: $border-solid-border-radius;
  border-top-width: $border-solid-border-radius;
  border-top-style: $border-solid-border-style;

  @include ca-media-mobile() {
    width: 100%;
  }

  :global(.md-ul.md-ul) {
    padding-left: 1.25rem;
  }

  :global(.md-li.md-li) {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 0.75rem;
  }

  :global(.md-strong.md-strong) {
    font-weight: 500;
  }

  :global(.md-a.md-a) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.whenToUse {
  border-top-color: $color-green-500;
}

.whenNotToUse {
  border-top-color: $color-red-500;
}
