@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "@kaizen/deprecated-component-library-helpers/styles/type";

$gap: $kz-spacing-sm;
$menuContentHorizontalPadding: 4px; // this comes from the MenuContent component, which should be using tokens
$menuContentVerticalPadding: 6px; // this comes from the MenuContent component, which should be using tokens

.filterDrawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 (-$gap / 2);

  > * {
    margin: 0 ($gap / 2);
  }
}

.content {
  padding: calc(#{$kz-spacing-sm} - #{$menuContentVerticalPadding})
    calc(#{$kz-spacing-sm} - #{$menuContentHorizontalPadding});
}

// The button used for the Filter Drawer component is similar to the
// standard secondary reversed button, but has a background when
// no hovering as it needs to look more like a button. Rather than adding this
// snowflake button style to the core Button component, this is achieved by
// faking it with a surrounding div.
.buttonEdgeCaseStyling {
  display: inline-block;
  border-radius: $kz-border-borderless-border-radius;
  background-color: rgba($kz-color-cluny-400, 0.1);

  .reversed & {
    background-color: rgba($kz-color-white, 0.1);
  }
}

.metadata {
  @include kz-typography-paragraph-small;
  @include ca-inherit-baseline;
  color: $kz-color-wisteria-800;

  .reversed & {
    color: $kz-color-white;
  }
}
