@import "./animations/durations";
@import "./animations/easings";
@import "./animations/settings";
@import "./animations/aliases";
@import "./animations/keyframes";
@import "./animations/transitions";
@import "./animations/animations";
@import "./animations/vendor/effects/fade";
@import "./animations/vendor/effects/zoom";
@import "./animations/vendor/effects/slide";
