@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
$ca-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
$ca-border-color: $color-purple-200;
$ca-border-color-hover: $color-purple-400;
$ca-border-color-focus: $color-blue-500;
$ca-border-color-focus-reversed: $color-blue-300;
$ca-border-radius: 3px;
