@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
$ca-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
$ca-border-color: $kz-color-wisteria-200;
$ca-border-color-hover: $kz-color-wisteria-400;
$ca-border-color-focus: $kz-color-cluny-500;
$ca-border-color-focus-reversed: $kz-color-cluny-300;
$ca-border-radius: 3px;
