@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/components/Button/styles";

.step {
  padding: $ca-grid * 0.5;
  min-height: $ca-grid * 5;
  min-width: 400px;
  position: relative;
}

.button {
  @include button-reset;
  text-align: inherit; // Oops! This is missing from the reset. :)
  cursor: pointer;
  display: block;
  width: 100%;

  &:hover {
    background: $kz-color-wisteria-100;
  }

  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    // show custom focus ring when :focus-visible
    &:global(.focus-visible) {
      outline: $kz-border-focus-ring-border-width
        $kz-border-focus-ring-border-style $kz-color-cluny-500;
    }
  }
}

.actionable {
  color: $kz-color-cluny-500;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  margin-left: $ca-grid * 2;
}
