@use "~@kaizen/component-library/styles/grid" as *;
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "~@kaizen/component-library/draft/Kaizen/Form/Primitives/Checkbox/styles";

// -----------------------------------------------
// Checkbox Field
// -----------------------------------------------

///////////////////////////////////////////////////
// LAYOUT
///////////////////////////////////////////////////
.container {
  position: relative;
  margin-bottom: $ca-grid / 2;

  label {
    // This is to override bootstrap styles. Remove when appropriate
    padding-top: 0;
  }

  &.noBottomMargin {
    margin-bottom: 0;
  }

  label:hover {
    input:not([disabled]) + div {
      border-color: $ca-border-color-hover;
    }
  }

  &.checked,
  &.mixed {
    label {
      @include ca-type-ideal-body-bold;
      @include ca-inherit-baseline;
    }
  }

  &.disabled {
    label {
      > span {
        opacity: 0.3;
      }
    }
  }
}
