@layer kz-components {
  .container {
    display: flex;
  }

  .fullWidth {
    .inner {
      width: 100%;
    }
  }

  .on label {
    font-weight: var(--typography-paragraph-bold-font-weight);
  }
}
