@import "~@kaizen/design-tokens/sass/typography";

.container {
  display: flex;
}

.fullWidth {
  .inner {
    width: 100%;
  }
}

.on label {
  font-weight: $typography-paragraph-bold-font-weight;
}
