@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "variables";
@import "../../mixins";

@mixin button {
  @include button-reset;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $typography-button-secondary-font-family;
  font-weight: $typography-button-secondary-font-weight;
  font-size: $typography-button-secondary-font-size;
  line-height: $typography-button-secondary-line-height;
  letter-spacing: $typography-button-secondary-letter-spacing;

  height: $spacing-xl;
  color: $color-blue-500;

  border: $border-solid-border-width $border-solid-border-style;
  border-color: $border-borderless-border-color;

  padding: $button-vertical-padding
    calc(#{$spacing-sm} - #{$border-solid-border-width});

  background-color: $color-blue-100;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-blue-200;
  }

  &:focus {
    outline: none;
    border-color: $color-blue-500;
  }

  display: inline-flex;
  gap: $spacing-sm;
  align-items: center;

  .iconWrapper {
    line-height: 1;
  }
}
