@import "~@kaizen/design-tokens/sass/color";
// This is a file you can use to play with the stylelint plugin
@import "~@kaizen/design-tokens/sass/spacing-vars";

@import "~@kaizen/design-tokens/sass/color-vars";
@import "././another.scss";

.test {
  color: $kz-var-color-wisteria-800-rgb-params;
}

.testt {
  color: rgba($kz-var-color-cluny-600-rgb-params, 80%);
  background-color: rgb($kz-var-color-cluny-600-rgb-params);

  border-color: rgba($kz-var-color-wisteria-800-rgb-params, 70%);
  padding: $kz-var-spacing-md;

  padding: calc(#{$kz-var-spacing-md} * 2);
  margin: calc(#{$kz-var-spacing-md} * 2);

  margin: $kz-var-spacing-md calc((-1 * #{$kz-var-spacing-md}));

  color: darken($kz-color-white, 80%);
}
