// This is a file you can use to play with the stylelint plugin
/* stylelint-disable */
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/layout";

$test-color: $color-purple-800;

.test {
  background-color: rgb($color-blue-600-rgb);

  border-color: rgba($color-purple-800-rgb, 70%);

  border: rgba($color-purple-800-rgb, 0.7);

  padding: $spacing-md;

  padding: $spacing-md * 2;
  margin: $kz-spacing-md * 2;

  margin: $spacing-md calc(-1 * #{$spacing-md});

  color: mix($foo, white, 80%);

  test: $color-purple-800;

  color: $color-neutral-200 $color-neutral-300 $color-neutral-500;
  color: $color-neutral-200;
  color: $color-neutral-100;
  color: $color-neutral-500;
  color: $color-neutral-600;
}
