// This is a file you can use to play with the stylelint plugin
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/layout";

$test-color: $kz-var-color-yellow-600;

.test {
  background-color: rgb($kz-var-color-blue-600-rgb-params);

  border-color: rgba($kz-var-color-purple-800-rgb-params, 70%);

  border: rgba($kz-var-color-purple-800-rgb-params, 0.7);

  test: $kz-color-red-800 $kz-var-color-blue-500 $kz-var-color-orange-100
    $kz-var-color-yellow-200;
}
