// This is a file you can use to play with the stylelint plugin
@import "~@kaizen/design-tokens/less/color-vars";
@import "~@kaizen/design-tokens/less/spacing-vars";

.test {
  color: rgba(@kz-var-color-blue-600-rgb-params, 80%);
  background-color: rgb(@kz-var-color-blue-600-rgb-params);

  border-color: rgba(@kz-var-color-purple-800-rgb-params, 70%);
  padding: @kz-var-spacing-md;

}
