@import "~@kaizen/design-tokens/less/color-vars";

@import "~@kaizen/design-tokens/less/spacing-vars";
@import "~@kaizen/design-tokens/less/typography-vars";

.test {
  color: @kz-var-color-wisteria-800;
}

.testt {
  color: rgba(@kz-var-color-cluny-600-rgb-params, 80%);
  background-color: rgb(@kz-var-color-cluny-600-rgb-params);

  border-color: rgba(@kz-var-color-wisteria-800-rgb-params, 70%);
  padding: @kz-var-spacing-md;

}
