@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

.paragraph {
  background-color: $color-gray-300;
  height: calc(#{$spacing-md} * 0.625);
  margin-bottom: calc(#{$spacing-md} * 0.5);

  &.reversed:not(.link) {
    background-color: rgba($color-white-rgb, 0.1);
  }

  &.link {
    background-color: rgba($color-blue-500-rgb, 0.2);
  }

  &.link.reversed {
    background-color: rgba($color-white-rgb, 0.65);
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline-block;
  margin-bottom: calc(#{$spacing-md} * 0.35);
}

.inline + .inline {
  margin-right: 0;
  margin-left: $spacing-md;

  &[dir="rtl"],
  [dir="rtl"] & {
    margin-right: $spacing-md;
    margin-left: 0;
  }
}

.noBottomMargin {
  margin-bottom: 0;
}

// We double the class selector to increase specificity above rules like `h1.default-style`
.inheritBaseline.inheritBaseline {
  position: static;
}
