@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/components/Button/styles";
@import "~@kaizen/component-library/components/Icon/Icon.module.scss";
@import "~@kaizen/component-library/components/Button/styles";

$heightConstraint: $ca-grid * 6;
$ca-banner-fade-out: opacity $ca-duration-slow ease;
$ca-banner-collapse-height-delayed: margin-top $ca-duration-fast
  $ca-duration-slow ease;

.banner {
  min-height: $heightConstraint;
  background: #fff;
  width: 100%;
  max-width: $ca-layout-content-width;
  border: $kz-border-borderless-border-width $kz-border-borderless-border-style
    $kz-border-borderless-border-color;
  border-radius: $kz-border-solid-border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $ca-grid;
  box-shadow: $kz-shadow-small-box-shadow;
  position: relative;
  top: -1px;
  transition: $ca-banner-fade-out, $ca-banner-collapse-height-delayed;
  color: $kz-color-wisteria-800;
  border-radius: $kz-border-borderless-border-radius;

  > * {
    padding: $ca-grid / 2;
  }
}

.iconWrapper {
  padding: 0 ($ca-grid / 2);
  flex: 1 0 auto;
}

.descriptionContainer {
  flex: 0 1 auto;
}

.buttonContainer {
  padding: 0 0 0 $ca-grid;
  flex: 1 0 auto;
  flex-direction: row;
  text-align: center;
}

.secondaryAction {
  margin-top: auto;
}

.hidden {
  opacity: 0;
  margin-bottom: 0;
}

.headingWrapper {
  margin-bottom: $ca-grid / 4;
}

.cancel {
  @include button-reset;
  composes: interactiveIconWrapper from "~@kaizen/component-library/components/Icon/Icon.module.scss";
  position: absolute;
  top: $ca-grid / 2;
  right: $ca-grid / 2;
  color: $kz-color-wisteria-800;
}
