@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/animation-vars";
@import "~@kaizen/design-tokens/sass/layout-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/draft-button/KaizenDraft/Button/styles";

$bannerPadding: $spacing-sm;
$ca-banner-fade-out: opacity $animation-duration-slow ease;
$ca-banner-collapse-height-delayed: margin-top $animation-duration-fast
  $animation-duration-slow ease;
$illustration-size: 155px;

.banner.noMaxWidth {
  max-width: inherit;
}

.banner {
  display: flex;
  flex-direction: column;
  background: $color-neutral-100;
  min-width: 320px;
  max-width: $layout-breakpoints-large;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $border-solid-border-radius;
  padding: $bannerPadding;
  box-shadow: $shadow-small-box-shadow;
  position: relative;
  top: -1px;
  transition: $ca-banner-fade-out, $ca-banner-collapse-height-delayed;
  color: $color-purple-800;

  @include ca-media-desktop {
    min-height: calc(12rem - calc(#{$bannerPadding} * 2));
    flex-direction: row;
    width: auto;
    align-items: center;

    > * {
      padding: $spacing-sm;
    }
  }

  @include ca-media-mobile {
    min-width: unset;
  }
}

.illustrationWrapper {
  display: flex;
  padding: 0 ($spacing-sm);

  @include ca-media-tablet {
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: $spacing-sm;
  }

  @include ca-media-mobile {
    display: none;
  }
}

.illustration {
  width: $illustration-size;
  height: $illustration-size;
}

.descriptionContainer {
  flex: 1;
  margin: $spacing-sm 0;
  text-align: center;
  align-self: center;
  max-width: 780px;

  @include ca-media-desktop {
    padding-left: $spacing-sm;
    text-align: left;
  }

  @include ca-media-mobile {
    margin: $spacing-sm;
    max-width: 100%;
  }
}

.descriptionAndActions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  @include ca-media-tablet-and-under {
    flex-direction: column;
    width: 100%;
    align-items: unset;
  }
}

.buttonContainer {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  flex-direction: row-reverse;
  min-width: max-content;

  @include ca-media-tablet-and-up {
    padding: ($spacing-sm) 0;
    text-align: center;
  }

  @include ca-media-mobile {
    flex-direction: column;
    width: 100%;
    margin-top: $spacing-xs;
  }
}

.hidden {
  opacity: 0;
  margin-bottom: 0;
}

.headingWrapper {
  margin-bottom: $spacing-md;
}

.cancel {
  @include button-reset;
  composes: interactiveIconWrapper from "~@kaizen/component-library/components/Icon/Icon.module.scss";
  position: absolute;
  top: $spacing-sm;
  right: $spacing-sm;
  color: $color-purple-800;
}

.prominent {
  background: $color-blue-100;
}
