@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/components/Button/styles";
@import "~@kaizen/component-library/components/Icon/Icon.module.scss";

$heightConstraint: $ca-grid * 6;
$ca-banner-fade-out: opacity $ca-duration-slow ease;
$ca-banner-collapse-height-delayed: margin-top $ca-duration-fast
  $ca-duration-slow ease;

.banner.noMaxWidth {
  max-width: inherit;
}

.banner {
  display: flex;
  flex-direction: column;
  background: $kz-var-color-white;
  min-width: 320px;
  max-width: $ca-layout-content-width;
  border: $kz-var-border-borderless-border-width
    $kz-var-border-borderless-border-style
    $kz-var-border-borderless-border-color;
  border-radius: $kz-var-border-solid-border-radius;
  padding: $ca-grid / 2;
  box-shadow: $kz-var-shadow-small-box-shadow;
  position: relative;
  top: -1px;
  transition: $ca-banner-fade-out, $ca-banner-collapse-height-delayed;
  color: $kz-var-color-wisteria-800;

  @include ca-media-desktop {
    min-height: $heightConstraint;
    flex-direction: row;
    width: auto;
    align-items: center;

    > * {
      padding: $ca-grid / 2;
    }
  }
}

.iconWrapper {
  display: none;

  @include ca-media-tablet {
    display: block;
    text-align: center;
    padding: $ca-grid / 2;
    width: auto;
  }

  @include ca-media-desktop {
    display: block;
    padding: 0 ($ca-grid / 2);
  }
}

.spotWrapper {
  width: 155px;
  height: 155px;
  margin: auto;
}

.descriptionContainer {
  flex: 0 1 auto;
  margin: ($ca-grid / 2) 0;
  text-align: center;

  @include ca-media-desktop {
    padding-left: $ca-grid;
    text-align: left;
  }
}

.buttonContainer {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  flex-direction: row-reverse;

  width: 100%;

  @include ca-media-tablet-and-up {
    width: auto;
    padding: ($ca-grid / 2) 0;
    text-align: center;
  }

  @include ca-media-desktop {
    padding: 0 ($ca-grid);
    margin-top: 0;
  }
}

.secondaryAction {
  margin-right: $ca-grid / 2;
}

.hidden {
  opacity: 0;
  margin-bottom: 0;
}

.headingWrapper {
  margin-bottom: $ca-grid / 4;
}

.cancel {
  @include button-reset;
  composes: interactiveIconWrapper from "~@kaizen/component-library/components/Icon/Icon.module.scss";
  position: absolute;
  top: $ca-grid / 2;
  right: $ca-grid / 2;
  color: $kz-var-color-wisteria-800;
}

.prominent {
  background: $kz-var-color-cluny-100;
}
