@import '~@kaizen/design-tokens/sass/spacing';
@import '~@kaizen/design-tokens/sass/color';

@layer kz-components {
  .tabList {
    border-bottom: 1px solid oklch(from $color-grey-cool-700 l c h / 0.1);
    padding: $spacing-xs $spacing-md 0;
  }

  .tabList.noPadding {
    padding: 0;
  }
}
