@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/design-tokens/sass/border";
@import "../styles";

$menuItem__padding: $ca-grid / 2;
$menuItem__margin: 4px;

.buttonReset {
  // reset button styles
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // override Murmur global styles :(
  transition: none;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.arrowIcon {
  @include ca-margin($start: $ca-grid / 2);

  display: flex;
  color: $kz-color-cluny-500;
  opacity: 0;
  transition: opacity $ca-ease $ca-duration-immediate;
}

.item {
  @include font-body;
  @include ca-margin(
    $end: $menuItem__margin,
    $start: $menuItem__margin,
    $bottom: $menuItem__margin
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;

  border-radius: $kz-border-solid-border-radius;
  height: 42px;
  padding: 0 $menuItem__padding;
  text-align: left;
  color: $kz-color-wisteria-800;

  transition-property: background-color, color;
  transition-duration: $ca-duration-immediate;
  transition-timing-function: $ca-ease;

  &:hover,
  &:focus,
  .active & {
    background-color: $kz-color-cluny-100;
    color: $kz-color-cluny-500;
    text-decoration: none;

    .arrowIcon {
      opacity: 1;
    }
  }
}

.itemBtn {
  @extend .item;

  composes: buttonReset;
  width: calc(100% - #{$menuItem__margin * 2});
}
