@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/layout";
@import "../styles";

.container {
  @include ca-padding($start: 0);

  border-top: 1px solid rgba($kz-color-wisteria-800, 0.1);
  list-style: none;

  &:first-child {
    border-top: 0;

    .title {
      padding-top: 8px;
    }
  }

  &.offCanvas {
    margin-top: $ca-grid / 1.5;
    padding-top: $ca-grid / 3;
    width: 100%;

    &:first-child {
      border-top: 1px solid rgba($kz-color-wisteria-800, 0.1);
    }

    // Required because of the way this is nested
    &.firstMenuItem {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.title {
  @include ca-padding($end: 16px, $start: 16px, $bottom: 8px, $top: 16px);
  @include font-heading-6;

  margin: 0;
  white-space: nowrap;

  color: rgba($kz-color-wisteria-800, 0.8);

  .offCanvas & {
    @include ca-padding($top: 10px, $bottom: 4px, $start: 12px, $end: 12px);
    @include font-heading-6;

    margin: 0 10px;
    color: $kz-color-wisteria-800;
  }
}
