@import "../../../styles/type";
@import "../styles";
@import "../decision-tokens.scss";

.badge {
  background-color: $dt-color-badge-background-color;
  color: white;
  font-weight: $ca-weight-medium;
  text-decoration: none;
  text-transform: uppercase;
  width: $ca-navigation-bar__height;
  flex: 0 0 $ca-navigation-bar__height;

  // auto 1:1 (square) aspect ratio
  position: relative;
  &::after {
    display: block;
    content: "";
    padding-bottom: 100%; // % of parent width
  }
  > * {
    @extend %ca-navigation-bar__menu-item-focus;

    // fill the square
    position: absolute;
    width: 100%;
    height: 100%;

    // center child
    display: flex;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  &.staging {
    background-color: $dt-color-badge-background-color-staging;
  }

  &.named {
    background-color: $dt-color-badge-background-color-named;
  }

  &.test {
    background-color: $dt-color-badge-background-color-test;
  }

  &.local {
    background-color: $dt-color-badge-background-color-local;
  }

  &.content {
    background-color: $dt-color-background-color-content;
    color: $dt-color-badge-color-content;
  }
}
