@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/fonts";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../styles";

$nav-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-timing: 150ms;
$indicator-height: 5px;
$link-margin: 18px;

@mixin anti-aliasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin heading-4 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-4-font-family;
  font-weight: $kz-typography-heading-4-font-weight;
  font-size: $kz-typography-heading-4-font-size;
  line-height: $kz-typography-heading-4-line-height;
  letter-spacing: $kz-typography-heading-4-letter-spacing;
}

@mixin heading-5 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-5-font-family;
  font-weight: $kz-typography-heading-5-font-weight;
  font-size: $kz-typography-heading-5-font-size;
  line-height: $kz-typography-heading-5-line-height;
  letter-spacing: $kz-typography-heading-5-letter-spacing;
}

@mixin heading-6 {
  @include anti-aliasing;
  font-family: $kz-typography-heading-6-font-family;
  font-weight: $kz-typography-heading-6-font-weight;
  font-size: $kz-typography-heading-6-font-size;
  line-height: $kz-typography-heading-6-line-height;
  letter-spacing: $kz-typography-heading-6-letter-spacing;
}

.link {
  @extend %ca-navigation-bar__menu-item-focus;

  @include ca-media-mobile {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  // fill parent
  display: flex;
  min-width: 2 * $ca-grid;
  height: 100%;
  margin: ($ca-grid / 4) 0;

  // center child
  align-items: center;
  justify-content: center;

  border-radius: $kz-border-solid-border-radius;

  color: rgba($kz-color-white, 0.8);
  padding: 0;
  text-decoration: none;
  transition: background-color $ca-duration-rapid $ca-ease-in-out;

  // active indicator
  .linkText::before {
    content: "";
    display: block;
    transform: translateY(-#{$link-margin}) translateY(-100%);
    height: $indicator-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: transform $nav-ease $nav-timing;
    border-radius: 0 0 7px 7px;

    @include ca-media-mobile {
      width: $indicator-height;
      height: 60px;
      right: auto;
      transform: translateX(-#{$link-margin}) translateX(-100%);
    }
  }

  &:hover {
    color: #fff; // override hyperlink hover color
    text-decoration: none;
    background-color: rgba($kz-color-white, 0.1);
    border-radius: 7px;

    .linkText::before {
      @include ca-media-mobile {
        transform: translateX(-#{$link-margin});
      }
    }
  }

  @include heading-4;
  @include ca-inherit-baseline;
  top: 0;

  &.secondary {
    color: $kz-color-white;

    @include ca-media-tablet-and-up {
      @include heading-5;
      @include ca-inherit-baseline;

      padding: 0 $ca-grid / 2;

      .linkIcon {
        opacity: 1;
        transition: opacity $ca-duration-rapid $ca-ease-in-out;
      }

      .linkText {
        @include ca-media-tablet {
          display: none;
        }

        padding: 0;

        &::before {
          display: none;
        }
      }

      &:hover,
      &:focus {
        .linkIcon {
          opacity: 0.7;
        }
      }

      &:active {
        background-color: rgba($kz-color-white, 0.2);
        transform: translateY(1px);

        .linkIcon {
          opacity: 1;
        }
      }
    }
  }
}

.linkIcon {
  display: inline-flex;
  opacity: 0.5;

  @include ca-media-mobile {
    display: none;
  }
}

.linkIcon + .linkText {
  @include ca-margin($start: $link-margin);

  @include ca-media-mobile {
    @include ca-margin($start: 0);
  }
}

.linkText {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 $ca-grid/1.5;
  justify-content: center;
  height: 48px;
}

.containsText {
  padding: 0;
}

.active {
  color: $kz-color-white; // override hyperlink hover color
  outline: none; // override native focus styles
  text-decoration: none;

  .linkText::before {
    transform: translateY(-#{$link-margin});
  }
}

.menuIcon {
  margin-left: auto;
  margin-right: $ca-grid;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.notificationPill {
  @include ca-margin($start: $ca-grid * 0.25);
  @include ca-padding($start: $ca-grid * 0.5, $end: $ca-grid * 0.5);
  @include heading-6;
  @include ca-inherit-baseline;
  border-radius: $ca-grid;
  background-color: $kz-color-seedling-200;
  color: $kz-color-wisteria-800;
}
