@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../styles";

.link {
  @include ca-navigation-bar__link-item;
}

.linkIcon {
  display: inline-flex;
  opacity: 0.5;

  @include ca-media-mobile {
    display: none;
  }
}

.linkIcon + .linkText {
  @include ca-margin($start: 8px);

  @include ca-media-mobile {
    @include ca-margin($start: 0);
  }
}

.linkText {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 ($ca-grid / 1.5);
  justify-content: center;
  height: 48px;
}

.containsText {
  padding: 0;
}

.active {
  color: $kz-color-white; // override hyperlink hover color
  outline: none; // override native focus styles
  text-decoration: none;

  .linkText::before {
    transform: translateY(-18px);
  }
}

.menuIcon {
  margin-left: auto;
  margin-right: $ca-grid;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.badge {
  @include ca-margin($start: $ca-grid * 0.25);
  @include font-heading-6;

  border-radius: $ca-grid;
  &.badgeNew {
    @include ca-padding($start: $ca-grid * 0.5, $end: $ca-grid * 0.5);
    background-color: $kz-color-seedling-200;
    color: $kz-color-wisteria-800;
  }
  &.badgeNotification {
    @include ca-padding($start: $ca-grid / 3, $end: $ca-grid / 3);
    background-color: $kz-color-coral-500;
    color: $kz-color-white;
  }
}
