@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "../styles";
@import "../../../styles/border";
@import "../../../styles/color";
@import "../../../styles/type";
@import "../../../styles/layers";
@import "../../../styles/layout";

$menu__square-size: $ca-grid * 2;

@mixin menu-font-styles {
  @include ca-type-ideal-body-bold;
  @include ca-inherit-baseline;
  @include ca-type-align-start;
}

.root {
  position: relative;
  margin: $ca-grid / 4;
  width: $menu__square-size;
  height: $menu__square-size;
}

.buttonReset {
  // reset button styles
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // override Murmur global styles :(
  transition: none;
}

.button {
  @extend %ca-navigation-bar__menu-item-focus;
  composes: buttonReset;

  // fill parent
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  $menu__arrow-size: $ca-grid / 4;

  @include ca-position($top: calc(100% + #{$ca-grid * 0.75}), $end: 0);

  align-items: center;
  position: absolute;
  height: 100%;
  z-index: $ca-z-index-dropdown;

  // menu arrow
  &::before {
    content: "";
    position: absolute;
    top: -0.3rem;
    right: calc(#{$menu__square-size / 2} - #{$menu__arrow-size});
    border: $menu__arrow-size solid transparent;
    border-top-width: 0;
    border-bottom-color: $kz-color-wisteria-800;
  }

  [dir="rtl"] &::before {
    left: calc(#{$menu__square-size / 2} - #{$menu__arrow-size});
    right: auto;
  }

  > * {
    color: #fff;
    background-color: $kz-color-wisteria-800;
    border-radius: $kz-border-solid-border-radius;
    padding: 3px 0; // @TODO-DST - No magic padding
    white-space: nowrap;
  }

  // HACK: duplicate class selector to bump specificity to work around https://trello.com/c/VGvOyHk4
  &.menu {
    &:focus {
      // focus is non-interactive
      outline: 0;
    }

    > * {
      align-self: flex-start;
      padding-bottom: $ca-grid * 0.75;
      padding-top: $ca-grid * 0.25;
    }
  }
}

.menuTitle {
  // screen readers only
  position: absolute;
  left: -9999em;
}

.menuItem {
  @include menu-font-styles;

  composes: buttonReset;

  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: ($ca-grid / 8) 2em;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $kz-color-wisteria-700;
  }
}

.submenu {
  border-top: 1px solid $kz-color-wisteria-700;
  margin-top: $ca-grid / 2;
}

.submenuTitle {
  @include menu-font-styles;
  @include ca-padding($start: 32px, $end: 32px, $bottom: 5px);
  @include ca-margin($top: $ca-grid / 2, $bottom: 0);
  font-weight: 700;
}

.offCanvasSubmenu {
  border-top: 1px solid $kz-color-wisteria-700;
  width: 100%;
  margin-top: $ca-grid / 3;
}

.offCanvasSubmenuTitle {
  @include menu-font-styles;
  font-weight: 700;
  font-size: 18px;
  color: $kz-color-white;
  padding: 0 $ca-grid;
}
