@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "../styles";
@import "../../../styles/border";
@import "../../../styles/color";
@import "../../../styles/type";
@import "../../../styles/layers";
@import "../../../styles/layout";

$menu__square-size: $ca-grid * 2;

@mixin menu-font-styles {
  @include ca-type-ideal-body;
  @include ca-inherit-baseline;
  @include ca-type-align-start;
}

.root {
  position: relative;
  margin: $ca-grid / 4;
  width: $menu__square-size;
  height: $menu__square-size;
}

.buttonReset {
  // reset button styles
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // override Murmur global styles :(
  transition: none;
}

.button {
  @extend %ca-navigation-bar__menu-item-focus;
  composes: buttonReset;

  // fill parent
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  $menu__arrow-size: $ca-grid / 4;

  @include ca-position($top: calc(100% - #{$ca-grid / 2}), $end: $ca-grid/3);

  align-items: center;
  position: absolute;
  z-index: $ca-z-index-dropdown;
  background-color: $kz-color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: $kz-border-solid-border-radius;
  padding: 4px;

  // HACK: duplicate class selector to bump specificity to work around https://trello.com/c/VGvOyHk4
  &.menu {
    &:focus {
      // focus is non-interactive
      outline: 0;
    }
  }
}

.menuTitle {
  // screen readers only
  position: absolute;
  left: -9999em;
}

.menuItem {
  @include font-body;

  composes: buttonReset;

  color: $kz-color-wisteria-800;
  border-radius: $kz-border-solid-border-radius;
  white-space: nowrap;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  align-self: flex-start;
  align-items: center;
  padding: 0 $ca-grid / 1.5;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $kz-color-cluny-100;
    color: $kz-color-cluny-500;
  }
}

.menuGroup {
  border-top: 1px solid $kz-color-wisteria-700;
  margin-top: $ca-grid / 2;

  &:first-child {
    border: 0;
  }
}

.menuGroupTitle {
  @include menu-font-styles;
  @include ca-padding($start: 32px, $end: 32px, $bottom: 5px);
  @include ca-margin($top: $ca-grid / 2, $bottom: 0);
  font-weight: 700;
}

.offCanvasMenuGroup {
  @extend .menuGroup;
  margin-top: $ca-grid / 3;
  width: 100%;
}

.offCanvasMenuGroupTitle {
  @extend .menuGroupTitle;
  font-size: 18px;
  color: $kz-color-white;
  padding: ($ca-grid / 2) $ca-grid;
}
