@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "../styles";
@import "../../../styles/border";
@import "../../../styles/color";
@import "../../../styles/type";
@import "../../../styles/layers";
@import "../../../styles/layout";

$menu__square-size: $ca-grid * 2;

.root {
  position: relative;
  margin: $ca-grid / 4;
  width: $menu__square-size;
  height: $menu__square-size;
}

.buttonReset {
  // reset button styles
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // override Murmur global styles :(
  transition: none;
}

.button {
  @extend %ca-navigation-bar__menu-item-focus;
  composes: buttonReset;

  // fill parent
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  @include ca-position($top: calc(100% - #{$ca-grid / 2}), $end: $ca-grid/3);

  $menu__arrow-size: $ca-grid / 4;

  align-items: center;
  position: absolute;
  z-index: $ca-z-index-dropdown;
  background-color: $kz-color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: $kz-border-solid-border-radius;
  padding: 4px;
  overflow: hidden;
  min-width: 200px;

  // HACK: duplicate class selector to bump specificity to work around https://trello.com/c/VGvOyHk4
  &.menu {
    &:focus {
      // focus is non-interactive
      outline: 0;
    }
  }

  > * {
    list-style: none;
  }
}

.menuTitle {
  // screen readers only
  position: absolute;
  left: -9999em;
}

.menuItemContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.menuItem {
  @include font-body;
  display: block;

  color: $kz-color-wisteria-800;
  border-radius: $kz-border-solid-border-radius;
  //white-space:

  padding: $ca-grid / 2;
  text-align: left;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $kz-color-cluny-100;
    color: $kz-color-cluny-500;
  }
}

.menuItemBtn {
  @extend .menuItem;

  composes: buttonReset;
  width: 100%;
}

.menuGroup {
  border-top: 1px solid $kz-color-ash;
  margin-top: $ca-grid / 2;

  &:first-child {
    border: 0;
  }
}

.menuGroupTitle {
  @include font-heading-6;
  padding: 4px $ca-grid / 1.5;
  color: rgba($kz-color-wisteria-800, 0.8);
}

.offCanvasMenuGroup {
  @extend .menuGroup;
  margin-top: $ca-grid / 3;
  width: 100%;
}

.offCanvasMenuGroupTitle {
  //@extend .menuGroupTitle;
  font-size: 18px;
  color: $kz-color-white;
  padding: ($ca-grid / 2) $ca-grid;
}
