.buttonContent {
  display: inline-flex;
  align-items: center;
  gap: var(--button-icon-gap, var(--spacing-4));
}

.large {
  --button-icon-gap: var(--spacing-8);
}

.buttonLabel {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--spacing-4);
}

.buttonContentPending {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.buttonContentPendingHidden {
  visibility: hidden;
}

.buttonIcon {
  display: inline-flex;
  align-items: center;
}
