@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/color";

.container {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  max-width: $kz-var-layout-content-max-width;
  margin: 0 auto;
  background-color: $kz-var-color-stone;
}

.sidebar {
  flex-basis: 300px;
}

.content {
  background-color: $kz-var-color-white;
  border-radius: 7px;
  width: 100%;
}

.rtl {
  flex-direction: row-reverse;
}
