@import "~@kaizen/design-tokens/sass/layout-vars";
@import "~@kaizen/design-tokens/sass/color-vars";

.container {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  max-width: $layout-content-max-width;
  margin: 0 auto;
  background-color: $color-neutral-200;
}

.sidebar {
  flex-basis: 300px;
}

.content {
  background-color: $color-neutral-100;
  border-radius: 7px;
  width: 100%;
}

.rtl {
  flex-direction: row-reverse;
}
