@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/utils";

.wrapper {
  display: flex;
}

.visuallyHidden {
  @include sr-only();
}

.spinner {
  animation: spinner $ca-duration-deliberate $ca-ease-in-out infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
