@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/component-library/styles/utils";
@import "./decision-tokens.scss";

.wrapper {
  display: flex;
}

.visuallyHidden {
  @include sr-only();
}

.spinner {
  animation: spinner $kz-animation-duration-deliberate
    $kz-animation-easing-function-ease-in-out infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  color: $dt-color-color-cirle;
}

.path {
  fill: $dt-color-fill-path;
}
