@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";

// Setting these variables on our container allows us to use rgba() while allowing cascading fallbacks.
// If the `--kz-var-*` variables exist, then our `--loading-placeholder--*` variables will use these colours with alpha added.
// If the `--kz-var-*` variables do not exist, then our `--loading-placeholder--*` variables will also be invalid.
// Therefore when we use `--loading-placeholder--*` they will either correctly have alpha added, or trigger a fallback.
@mixin loading-placeholder-theme-switching-tokens() {
  --loading-placeholder--color-background-default: rgba(
    var(#{$kz-var-id-color-slate-rgb-params}),
    0.1
  );
  --loading-placeholder--color-background-reversed: rgba(
    var(#{$kz-var-id-color-white-rgb-params}),
    0.1
  );
}

// Decision tokens for background colours based on presence of CSS variables.
// If the `--kz-var-*` variable is missing, our `--loading-placeholder--*` variables will be invalid, and the Zen tokens are used as a fallback.
$dt-color-background-default: var(
  --loading-placeholder--color-background-default,
  $kz-color-wisteria-200
);

$dt-color-background-reversed: var(
  --loading-placeholder--color-background-reversed,
  rgba($kz-color-white, 0.65)
);
