@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./variables";

.base {
  background-color: $dt-color-background-default;
  border-radius: calc(#{$border-solid-border-radius} * 3);
  position: relative;
  top: calc(#{$spacing-md} * 0.175);
  margin-bottom: calc(#{$spacing-md} * 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.animated {
  animation-name: fadeInOut;
  animation-duration: calc(#{$animation-duration-deliberate} * 2);
  animation-iteration-count: infinite;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.reversedDefault {
  background-color: $dt-color-background-reversed;
}

.reversedOcean {
  background-color: $color-blue-200;
}

.normal {
  height: calc(#{$spacing-md} * 0.625);
}

.tall {
  top: calc(#{$spacing-md} * 0.25);
  height: calc(#{$spacing-md} * 0.725);
}

.inline {
  display: inline-block;
  margin-bottom: calc(#{$spacing-md} * 0.35);
}

.inline + .inline {
  @include ca-margin($start: $spacing-md);
}

.noBottomMargin {
  margin-bottom: 0;
}

// We double the class selector to increase specificity above rules like `h1.default-style`
.inheritBaseline.inheritBaseline {
  @include ca-inherit-baseline;
}
