@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/animation-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./decision-tokens";

.base {
  // We need to set some CSS Custom Properties on our container for theme switching to work.
  @include loading-placeholder-theme-switching-tokens;

  background-color: $dt-color-background-default;
  border-radius: calc(#{$kz-var-border-solid-border-radius} * 3);
  position: relative;
  top: calc(#{$kz-var-spacing-md} * 0.175);
  margin-bottom: calc(#{$kz-var-spacing-md} * 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.animated {
  animation-name: fadeInOut;
  animation-duration: calc(#{$kz-var-animation-duration-deliberate} * 2);
  animation-iteration-count: infinite;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.reversedDefault {
  background-color: $dt-color-background-reversed;
}

.reversedOcean {
  background-color: var($kz-var-id-color-cluny-200, $kz-var-color-cluny-300);
}

.normal {
  height: calc(#{$kz-var-spacing-md} * 0.625);
}

.tall {
  top: calc(#{$kz-var-spacing-md} * 0.25);
  height: calc(#{$kz-var-spacing-md} * 0.725);
}

.inline {
  display: inline-block;
  margin-bottom: calc(#{$kz-var-spacing-md} * 0.35);
}

.inline + .inline {
  @include ca-margin($start: $kz-var-spacing-md);
}

.noBottomMargin {
  margin-bottom: 0;
}

// We double the class selector to increase specificity above rules like `h1.default-style`
.inheritBaseline.inheritBaseline {
  @include ca-inherit-baseline;
}
