@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/button/KaizenDraft/Button/styles";
@import "./decision-tokens.scss";

.step {
  padding: $spacing-sm;
  min-height: calc(#{$spacing-md} * 5);
  min-width: 400px;
  position: relative;
}

.button {
  @include button-reset;
  text-align: inherit; // Oops! This is missing from the reset. :)
  cursor: pointer;
  display: block;
  width: 100%;

  &:hover {
    background: $dt-color-button-hover;
  }

  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    // show custom focus ring when :focus-visible
    &:global(.focus-visible) {
      outline: $border-focus-ring-border-width $border-focus-ring-border-style
        $dt-color-actionable;
    }
  }
}

.actionable {
  color: $dt-color-actionable;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  margin-left: $spacing-xl;
}
