@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "../decision-tokens";

$top: $kz-var-spacing-md;
$left: $kz-var-spacing-md;
$icon-width: 18px;
$line-width: 2px;

.iconWrapper {
  position: absolute;
  top: $top;
  left: $left;
  width: $icon-width;
  height: $icon-width;
  line-height: 0; // To avoid problems with the icon being inline-block and having extra whitespace
}

.dot {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: $dt-color-success;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.upcomingIcon {
  composes: iconWrapper;
  color: $dt-color-border-color;
}

.currentInactionableIcon {
  composes: iconWrapper;
  color: $dt-color-border-color;
}

.currentActionableIcon {
  composes: iconWrapper;
  color: $dt-color-actionable;
}

.currentStartedIcon {
  composes: iconWrapper;
  color: $dt-color-success;
}

.completedIcon {
  composes: iconWrapper;
  color: $dt-color-success;
}

.topLine {
  position: absolute;
  top: 0;
  left: calc(#{$kz-var-spacing-md} + #{$icon-width/2 - $line-width/2});
  width: $line-width;
  height: calc(#{$top} - 1px);
  border-radius: 0 0 $line-width $line-width;
}

.greenTopLine {
  composes: topLine;
  background: $dt-color-success;
}

.greyTopLine {
  composes: topLine;
  background: $dt-color-border-color-line;
}

.bottomLine {
  position: absolute;
  bottom: 0;
  left: calc(#{$kz-var-spacing-md} + #{$icon-width/2 - $line-width/2});
  width: $line-width;
  top: calc(#{$top} + #{$icon-width + 1px});
  border-radius: $line-width $line-width 0 0;
}

.greenBottomLine {
  composes: bottomLine;
  background: $dt-color-success;
}

.greyBottomLine {
  composes: bottomLine;
  background: $dt-color-border-color-line;
}
