@import "~@kaizen/design-tokens/sass/color";

.truncateIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: transparent;
  color: rgba($color-purple-800-rgb, 0.7);
  margin: 0 5px;
}
