// NOTES:
// - `'wght'` cannot be declared if we want to be able to adjust the
//   font weight without redeclaring `font-variation-settings`

// -------
// BASE
// -------
.iconPocBasic {
  font-weight: var(--iconpoc-font-weight, 400);

  // Must use vars otherwise whole attribute must be set again
  font-variation-settings:
    'FILL' var(--iconpoc-fill, 0),
    // 'wght' var(--iconpoc-weight, 400),
    'GRAD' var(--iconpoc-grade, 0),
    'opsz' var(--iconpoc-optical-size, 24);

  &.filled {
    --iconpoc-fill: 1
  }
}

.iconPocWithSize {
  font-weight: var(--iconpoc-font-weight, 400);

  // Must use vars otherwise whole attribute must be set again
  font-variation-settings:
    'FILL' var(--iconpoc-fill, 0),
    // Below cannot be set if we want to be able to inherit font weight
    // 'wght' var(--iconpoc-weight, 400),
    'GRAD' var(--iconpoc-grade, 0),
    'opsz' var(--iconpoc-optical-size, 24);

  &.filled {
    --iconpoc-fill: 1
  }

  &.small {
    font-size: 16px;
    --iconpoc-optical-size: 20;
  }

  &.medium {
    font-size: 20px;
    --iconpoc-optical-size: 24;
  }

  &.large {
    font-size: 24px;
    --iconpoc-optical-size: 40;
  }

  &.inherit {
    font-size: inherit;
  }
}

.iconPocInheritWeight {
  font-weight: var(--iconpoc-font-weight, inherit);

  // Must use vars otherwise whole attribute must be set again
  font-variation-settings:
    'FILL' var(--iconpoc-fill, 0),
    // Below cannot be set if we want to be able to inherit font weight
    // 'wght' var(--iconpoc-weight, 400),
    'GRAD' var(--iconpoc-grade, 0),
    'opsz' var(--iconpoc-optical-size, 24);

  &.filled {
    --iconpoc-fill: 1
  }
}

.adjustedAlignment {
  position: relative;
  inset-block-start: calc(11.5em/100);
}
