.iconPoc {
  font-variation-settings:
    'FILL' var(--iconpoc-fill, 0),
    'wght' var(--iconpoc-weight, 400),
    'GRAD' var(--iconpoc-grade, 0),
    'opsz' var(--iconpoc-optical-size, 24);
}

.filled {
  --iconpoc-fill: 1
}

.small {
  font-size: 16px;
  --iconpoc-optical-size: 20
}

.medium {
  font-size: 20px;
  --iconpoc-optical-size: 24
}

.large {
  font-size: 24px;
  --iconpoc-optical-size: 40
}
