.item {
  font-family: var(--typography-paragraph-body-font-family);
  font-size: var(--typography-paragraph-body-font-size);
  letter-spacing: var(--typography-paragraph-body-letter-spacing);
  font-weight: var(--typography-paragraph-body-font-weight);
  line-height: var(--typography-paragraph-body-line-height);
  color: rgba(var(--color-purple-800-rgb), 0.7);
  padding: var(--spacing-6) var(--spacing-8);
  border: var(--border-focus-ring-border-width)
    var(--border-focus-ring-border-style) transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-inline: var(--spacing-6);
  text-decoration: none;
}

.iconWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.submenuTriggerInner {
  flex-grow: 1;
  display: flex;
}

.item,
.submenuTriggerInner {
  gap: 0 var(--spacing-8);
}

.item[data-focused] {
  background-color: var(--color-blue-100);
  color: var(--color-blue-500);
  border-color: var(--border-borderless-border-color);
}

.item[data-disabled] {
  opacity: 0.3;
}

.item.destructive {
  color: var(--color-red-600);
}

.item.destructive[data-focused] {
  background-color: var(--color-red-100);
}
