@import "~@kaizen/design-tokens/sass/color-vars";

$dt-color-text: $color-purple-800;
$dt-color-background-color-default: var(
  --kz-var-color-wisteria-600,
  $color-purple-700
);
$dt-color-background-color-content: var(
  --kz-var-color-cluny-100,
  $color-blue-200
);
$dt-color-link: $color-purple-800;
$dt-color-link-active: $color-blue-500;
$dt-color-background-color-content-link: $color-blue-500;
$dt-color-badge-background-color: $color-red-500;
$dt-color-badge-background-color-staging: $color-orange-500;
$dt-color-badge-background-color-named: $color-green-400;
$dt-color-badge-background-color-test: $color-purple-400;
$dt-color-badge-background-color-local: $color-blue-300;
$dt-color-badge-background-color-new: $color-green-200;
$dt-color-indicator-color: $color-green-400;
$dt-color-menu-background-color: var(
  --kz-var-color-wisteria-700,
  $color-purple-800
);
$dt-color-menu-background-color-active: var(
  --kz-var-color-wisteria-600,
  $color-purple-700
);
