@import "~@kaizen/design-tokens/sass/color";
@import "./styles";
@import "../../styles/color";
@import "../../styles/type";
@import "../../styles/layout";
@import "../../styles/responsive";

@mixin rounded-border {
  height: 5px;
  border-radius: 0 0 7px 7px;
}

.navigationBar {
  @extend %ca-navigation-bar;

  &.kaizen {
    background: $kz-color-wisteria-700;

    a {
      color: #fff;
    }
  }

  &.content {
    background: $kz-color-cluny-200;

    .links {
      a {
        color: $kz-color-wisteria-800;
        font-weight: 500;
      }

      .active a {
        color: $kz-color-cluny-500;
      }
    }
  }

  &.zen {
    height: 84px;
    max-height: 84px;
    align-items: center;
  }
}

.links {
  flex: 1 0 0;
  @include ca-margin($start: 2 * $ca-grid);

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li {
      margin: 0 ($ca-grid / 4);

      &:first-child {
        @include ca-margin($start: 0);
      }

      &.secondary {
        @include ca-margin($start: 0, $end: 0);
      }

      // Bit of a hack selector, but because of module scoping this is the easiest way
      .content & span::before {
        @include rounded-border;
        background-color: $kz-color-cluny-500;
      }

      @include ca-media-tablet {
        margin: 0;
      }

      &.zen {
        a {
          height: inherit;
        }
      }

      .zen & span::before {
        @include rounded-border;
      }
    }
  }

  @include ca-media-tablet {
    @include ca-margin($start: $ca-grid / 2);
  }
}

.child {
  display: flex;
  flex: 0 0 auto;
  text-decoration: none;

  &.secondary.first {
    @include ca-margin($start: auto);
  }
}

.otherChildren {
  display: flex;
  @include ca-margin($start: $ca-grid / 2);
  @include ca-media-tablet {
    margin: 0;
  }
}

.kaizen .active {
  background-color: $kz-color-wisteria-700;
}
