@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";

// General purpose tokens
$dt-color-form-border-color: var(
  $color-neutral-500-id,
  $color-purple-500
);
$dt-color-form-border-color-focus: $color-blue-500;
$dt-color-form-border-color-hover: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-form-border-color-reversed-focus: $color-blue-300;
$dt-color-form-text-color: $color-purple-800;
$dt-color-form-text-color-reversed: $color-neutral-100;
$dt-color-form-text-color-label: rgba(
  $color-purple-800-rgb,
  0.75
);
$dt-color-form-text-color-label-reversed: rgba(
  $color-neutral-100-rgb,
  0.8
);
$dt-color-form-color-icon-reversed: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-form-text-color-placeholder: rgba(
  $color-purple-800-rgb,
  0.7
);

// component specific tokens
$dt-color-checkbox-background-color-checked: var(
  $color-neutral-500-id,
  $color-purple-500
);
$dt-color-checkbox-background-color-checked-focus: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-checkbox-background-color-unchecked-focus: var(
  $color-neutral-200-id,
  $color-purple-100
);
$dt-color-checkbox-background-color-hover: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-checkbox-background-color-unchecked-hover: var(
  $color-neutral-200-id,
  $color-purple-100
);
$dt-color-checkbox-border-color-checked-focus: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-checkbox-border-color-focus: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-checkbox-border-color-hover: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-radio-disc-color-base: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-radio-background-color-hover: var(
  $color-neutral-200-id,
  $color-purple-100
);
$dt-color-radio-border-color-focus: var(
  $color-neutral-600-id,
  $color-purple-700
);
$dt-color-toggle-background-color: var(
  $color-neutral-300-id,
  $color-purple-300
);
$dt-color-toggle-background-color-hover: $color-purple-500;
$dt-color-toggle-background-color-hover: rgba(
  var($color-neutral-500-rgb-id),
  0.4
);
