@mixin two-column {
  grid-template-columns: repeat(2, 1fr);
}
@mixin three-column {
  grid-template-columns: repeat(3, 1fr);
}
@mixin four-column {
  grid-template-columns: repeat(4, 1fr);
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  border: 1px solid #eaeaec;

  @media (min-width: 664px) {
    &.small-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.small-3 {
      @include three-column;
    }

    &.small-4 {
      @include four-column;
    }
  }
}

.column {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eaeaec;
}

// .gridWrapper {
//   grid-template-columns: 1fr;
// }

// @media (min-width: 1008px) {
//   .medium-2 {
//     @include two-column;
//   }

//   .medium-3 {
//     @include three-column;
//   }

//   .medium-4 {
//     @include four-column;
//   }
// }

// @media (min-width: 1080px) {
//   .large-2 {
//     @include two-column;
//   }

//   .large-3 {
//     @include three-column;
//   }

//   .large-4 {
//     @include four-column;
//   }
// }

// @media (min-width: 1157px) {
//   .xlarge-2 {
//     @include two-column;
//   }

//   .xlarge-3 {
//     @include three-column;
//   }

//   .xlarge-4 {
//     @include four-column;
//   }
// }

// @media (min-width: 1495px) {
//   .xxlarge-2 {
//     @include two-column;
//   }

//   .xxlarge-3 {
//     @include three-column;
//   }

//   .xxlarge-4 {
//     @include four-column;
//   }
// }
