@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

.radioGroupLabel {
  label {
    :global(.ideal-sans) & {
      // This is to override bootstrap styles. Remove when appropriate
      padding-top: 0;
    }
  }
  &.reversed {
    color: $color-white;
  }
}

.radioGroupContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}
