@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/type";

.radioGroupLabel {
  margin-bottom: $ca-grid / 2;
  label {
    :global(.ideal-sans) & {
      // This is to override bootstrap styles. Remove when appropriate
      padding-top: 0;
    }
  }
}
.radioGroupContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $ca-grid / 2;
  &.noBottomMargin {
    margin-bottom: 0;
  }

  label {
    width: 400px;
  }
}
