@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";

.listItem {
  @include ca-padding(
    $top: $spacing-md,
    $end: $spacing-md,
    $bottom: $spacing-md,
    $start: $spacing-md
  );

  & + .listItem {
    border-top: 1px $border-solid-border-style $border-solid-border-color;
  }
}
