@import "~@kaizen/design-tokens/sass/animation";

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
  display: flex;
}

.visuallyHidden {
  @include sr-only;
}

.spinner {
  animation:
    spinner $animation-duration-deliberate
    $animation-easing-function-ease-in-out infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
