.link {
  color: var(--link-text-color, var(--color-blue-500));
  font-family: var(--typography-paragraph-body-font-family);
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  font-weight: 400;
  text-decoration: none;
  position: relative;
  outline: 0;
}

.link[data-focus-visible]::after {
  content: '';
  position: absolute;
  background: transparent;
  border-color: var(--color-blue-500);
  border-radius: 0; /* var(--border-focus-ring-border-radius); */
  border-width: var(--border-focus-ring-border-width);
  border-style: var(--border-focus-ring-border-style);
  inset: calc(-1 * (var(--border-focus-ring-border-width) * 2) - 1px);
}

.isUnderlined {
  border-bottom: var(--spacing-1) solid var(--link-text-color, var(--color-blue-500));
}

/* Body parent text size has perfect icon size. Icon is too small on larger text, and too large on smaller text */
.icon > * {
  vertical-align: text-bottom;
  font-size: var(--icon-font-size, 1em);
}

.iconStart {
  margin-inline-start: var(--text-icon-gap, 0.5em);
}

.iconEnd {
  margin-inline-end: var(--text-icon-gap, 0.5em);
}

.primary[data-hovered] {
  --link-text-color: var(--color-blue-600);
}

.primary[data-pressed] {
  --link-text-color: var(--color-blue-700);
}

.secondary {
  --link-text-color: var(--color-purple-800);
}

.secondary[data-hovered] {
  --link-text-color: var(--color-gray-600);
}

.secondary[data-pressed] {
  --link-text-color: var(--color-black);
}

[class*='extra-small'] .isInline > *,
.extra-small {
  --link-font-size: var(--spacing-12);
  --link-line-height: 18px;
  --icon-font-size: 14px;
  --text-icon-gap: 2px;
}

[class^='small'] .isInline > *,
.small {
  --link-font-size: 14px;
  --link-line-height: 18px;
  --icon-font-size: 16px;
  --text-icon-gap: 4px;
}

[class*='body'] .isInline > *,
.body {
  --link-font-size: var(--spacing-16);
  --link-line-height: var(--spacing-24);
  --icon-font-size: 20px;
  --text-icon-gap: 6px;
}

[class*='intro-lede'] .isInline > *,
.intro-lede {
  --link-font-size: var(--spacing-20);
  --link-line-height: 30px;
  --icon-font-size: 24px;
  --text-icon-gap: 8px;
}

.reversed {
  --link-text-color: var(--color-white);
}

.reversed[data-focus-visible]::after {
  border-color: var(--color-blue-300);
}

.link.isDisabled {
  --link-text-color: var(--color-gray-400);
}

.reversed.isDisabled {
  --link-text-color: rgba(var(--color-white-rgb), 0.2);
}
