.link {
  color: var(--link-text-color, var(--color-blue-500));
  font-family: var(--typography-paragraph-body-font-family);
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  font-weight: var(--typography-paragraph-body-font-weight);
  text-decoration: none;
  position: relative;
  outline: 0;
}

.link[data-focus-visible]::after {
  content: '';
  position: absolute;
  background: transparent;
  border-color: var(--color-blue-500);
  border-radius: 0;
  border-width: var(--border-focus-ring-border-width);
  border-style: var(--border-focus-ring-border-style);
  inset: calc(-1 * (var(--border-focus-ring-border-width) * 2) - 1px);
}

.isUnderlined {
  border-bottom: var(--spacing-1) solid var(--link-text-color, var(--color-blue-500));
}

.icon > * {
  vertical-align: text-bottom;
  font-size: var(--icon-font-size, 1em);
}

.iconStart {
  margin-inline-start: var(--text-icon-gap, 0.5em);
}

.iconEnd {
  margin-inline-end: var(--text-icon-gap, 0.5em);
}

.primary[data-hovered] {
  --link-text-color: var(--color-blue-600);
}

.primary[data-pressed] {
  --link-text-color: var(--color-blue-700);
}

.secondary {
  --link-text-color: var(--color-purple-800);
}

.secondary[data-hovered] {
  --link-text-color: var(--color-gray-600);
}

.secondary[data-pressed] {
  --link-text-color: var(--color-black);
}

.isInline {
  --link-font-size: inherit;
  --link-line-height: inherit;
}

[class*='extra-small'] .link.isInline,
.extra-small {
  --icon-font-size: 0.875rem;
  --text-icon-gap: var(--spacing-2);
}

[class*='small']:not([class*='extra-small']) .link.isInline,
.small {
  --icon-font-size: 1rem;
  --text-icon-gap: var(--spacing-4);
}

[class*='body'] .link.isInline,
.body {
  --icon-font-size: 1.25rem;
  --text-icon-gap: var(--spacing-6);
}

[class*='intro-lede'] .link.isInline,
.intro-lede {
  --icon-font-size: 1.5rem;
  --text-icon-gap: var(--spacing-8);
}

.white {
  --link-text-color: var(--color-white);
}

.white[data-focus-visible]::after {
  border-color: var(--color-blue-300);
}

.white.isDisabled {
  --link-text-color: rgba(var(--color-white-rgb), 0.2);
}

.reversed {
  --link-text-color: var(--color-white);
}

.reversed[data-focus-visible]::after {
  border-color: var(--color-blue-300);
}

.link.isDisabled {
  --link-text-color: var(--color-gray-400);
}

.reversed.isDisabled {
  --link-text-color: rgba(var(--color-white-rgb), 0.2);
}
