@import "~@kaizen/design-tokens/sass/border";

.menuSection {
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-of-type) {
    &::after {
      width: 100%;
      height: 1px;
      background-color: $border-solid-border-color;
      content: "";
      display: block;
      margin: 5px 0;
    }
  }
}
