@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/component-library/styles/fonts";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.heading {
  margin: 0;
}

.display-0 {
  font-family: $kz-var-typography-display-0-font-family;
  font-weight: $kz-var-typography-display-0-font-weight;
  font-size: $kz-var-typography-display-0-font-size;
  line-height: $kz-var-typography-display-0-line-height;
  letter-spacing: $kz-var-typography-display-0-letter-spacing;
}

.heading-1 {
  font-family: $kz-var-typography-heading-1-font-family;
  font-weight: $kz-var-typography-heading-1-font-weight;
  font-size: $kz-var-typography-heading-1-font-size;
  line-height: $kz-var-typography-heading-1-line-height;
  letter-spacing: $kz-var-typography-heading-1-letter-spacing;
}

.heading-2 {
  font-family: $kz-var-typography-heading-2-font-family;
  font-weight: $kz-var-typography-heading-2-font-weight;
  font-size: $kz-var-typography-heading-2-font-size;
  line-height: $kz-var-typography-heading-2-line-height;
  letter-spacing: $kz-var-typography-heading-2-letter-spacing;
}

.heading-3 {
  font-family: $kz-var-typography-heading-3-font-family;
  font-weight: $kz-var-typography-heading-3-font-weight;
  font-size: $kz-var-typography-heading-3-font-size;
  line-height: $kz-var-typography-heading-3-line-height;
  letter-spacing: $kz-var-typography-heading-3-letter-spacing;
}

.heading-4 {
  font-family: $kz-var-typography-heading-4-font-family;
  font-weight: $kz-var-typography-heading-4-font-weight;
  font-size: $kz-var-typography-heading-4-font-size;
  line-height: $kz-var-typography-heading-4-line-height;
  letter-spacing: $kz-var-typography-heading-4-letter-spacing;
}

.heading-5 {
  font-family: $kz-var-typography-heading-5-font-family;
  font-weight: $kz-var-typography-heading-5-font-weight;
  font-size: $kz-var-typography-heading-5-font-size;
  line-height: $kz-var-typography-heading-5-line-height;
  letter-spacing: $kz-var-typography-heading-5-letter-spacing;
}

.heading-6 {
  font-family: $kz-var-typography-heading-6-font-family;
  font-weight: $kz-var-typography-heading-6-font-weight;
  font-size: $kz-var-typography-heading-6-font-size;
  line-height: $kz-var-typography-heading-6-line-height;
  letter-spacing: $kz-var-typography-heading-6-letter-spacing;
}

.dark {
  color: $kz-var-color-wisteria-800;
  opacity: 1;
}

.dark-reduced-opacity {
  color: $kz-var-color-wisteria-800;
  opacity: 0.7;
}

.white {
  color: $kz-var-color-white;
  opacity: 1;
}

.white-reduced-opacity {
  color: $kz-var-color-white;
  opacity: 0.8;
}

.positive {
  &.small {
    color: $kz-var-color-seedling-600;
  }
  &.large {
    color: $kz-var-color-seedling-500;
  }
}

.negative {
  &.small {
    color: $kz-var-color-coral-600;
  }

  &.large {
    color: $kz-var-color-coral-500;
  }
}
