@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/fonts";
@import "~@kaizen/component-library/styles/type";

.heading {
  color: $kz-color-wisteria-800;
}

.heading-0 {
  font-family: $kz-typography-display-0-font-family;
  font-weight: $kz-typography-display-0-font-weight;
  font-size: $kz-typography-display-0-font-size;
  line-height: $kz-typography-display-0-line-height;
  letter-spacing: $kz-typography-display-0-letter-spacing;
}

.heading-1 {
  font-family: $kz-typography-heading-1-font-family;
  font-weight: $kz-typography-heading-1-font-weight;
  font-size: $kz-typography-heading-1-font-size;
  line-height: $kz-typography-heading-1-line-height;
  letter-spacing: $kz-typography-heading-1-letter-spacing;
}

.heading-2 {
  font-family: $kz-typography-heading-2-font-family;
  font-weight: $kz-typography-heading-2-font-weight;
  font-size: $kz-typography-heading-2-font-size;
  line-height: $kz-typography-heading-2-line-height;
  letter-spacing: $kz-typography-heading-2-letter-spacing;
}

.heading-3 {
  font-family: $kz-typography-heading-3-font-family;
  font-weight: $kz-typography-heading-3-font-weight;
  font-size: $kz-typography-heading-3-font-size;
  line-height: $kz-typography-heading-3-line-height;
  letter-spacing: $kz-typography-heading-3-letter-spacing;
}

.heading-4 {
  font-family: $kz-typography-heading-4-font-family;
  font-weight: $kz-typography-heading-4-font-weight;
  font-size: $kz-typography-heading-4-font-size;
  line-height: $kz-typography-heading-4-line-height;
  letter-spacing: $kz-typography-heading-4-letter-spacing;
}

.heading-5 {
  font-family: $kz-typography-heading-5-font-family;
  font-weight: $kz-typography-heading-5-font-weight;
  font-size: $kz-typography-heading-5-font-size;
  line-height: $kz-typography-heading-5-line-height;
  letter-spacing: $kz-typography-heading-5-letter-spacing;
}

.heading-6 {
  font-family: $kz-typography-heading-6-font-family;
  font-weight: $kz-typography-heading-6-font-weight;
  font-size: $kz-typography-heading-6-font-size;
  line-height: $kz-typography-heading-6-line-height;
  letter-spacing: $kz-typography-heading-6-letter-spacing;
}
