@import "~@cultureamp/kaizen-component-library/styles/animation";
@import "~@cultureamp/kaizen-component-library/styles/border";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/layers";
@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/responsive";

.backdropLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);
  position: fixed;
  background-color: black;
  z-index: $ca-z-index-modal-backdrop;
  opacity: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.modalLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: $ca-z-index-modal;
  overflow-y: auto;
  padding: $ca-grid * 0.5 0;
}

.genericModal {
  margin: auto;
  background-color: $white;
  border-radius: $ca-border-radius;
  box-shadow: $ca-box-shadow;
  position: relative;
  width: 90%;

  @include ca-media-tablet-and-up {
    width: 100%;
  }
}

.animatingEnter {
  .backdropLayer {
    @include ca-animation-fade(
      $duration: $ca-duration-rapid,
      $from: 0,
      $to: 0.5
    );
  }

  .modalBox {
    @include ca-animation(fade($from: 0, $to: 1), zoom($from: 0.75, $to: 1));
    animation-duration: $ca-duration-fast;
    animation-fill-mode: forwards;
    animation-timing-function: $ca-bounce-in;
  }
}

.animatingExit {
  .backdropLayer {
    @include ca-animation-fade(
      $duration: $ca-duration-rapid,
      $from: 0.5,
      $to: 0
    );
  }

  .modalBox {
    @include ca-animation(fade($from: 1, $to: 0), zoom($from: 1, $to: 0.75));
    animation-duration: $ca-duration-rapid;
    animation-fill-mode: forwards;
    animation-timing-function: $ca-bounce-out;
  }
}

.unscrollable {
  overflow: hidden !important;
  padding-right: 15px !important;
}

.modalBox {
  border-radius: $ca-border-radius;
  box-shadow: $ca-box-shadow;
  position: absolute;
  background-color: white;
  z-index: 4000;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
