@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.page-title,
h1.default-style {
  @include ca-type-inter-page-title;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.title,
h2.default-style {
  @include ca-type-inter-title;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.display,
h3.default-style {
  @include ca-type-inter-display;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.heading,
h4.default-style,
h5.default-style,
h6.default-style {
  @include ca-type-inter-heading;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.lede {
  @include ca-type-inter-lede;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.paragraph,
p.default-style {
  @include ca-type-inter-body;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.body,
.default-style {
  @include ca-type-inter-body;

  margin: 0;
}

.body-bold {
  @include ca-type-inter-body-bold;

  margin: 0;
}

.small {
  @include ca-type-inter-small;

  margin: 0;
}

.small-bold {
  @include ca-type-inter-small-bold;

  margin: 0;
}

.notification {
  @include ca-type-inter-notification;

  margin: 0;
}

.label {
  @include ca-type-inter-label;

  margin: 0;
}

.control-action {
  @include ca-type-inter-control-action;

  margin: 0;
}

.button {
  @include ca-type-inter-button;

  margin: 0;
}

// We double the class selector to increase specificity above rules like `h1.default-style`
.inheritBaseline.inheritBaseline {
  @include ca-inherit-baseline;
}

// Required for aligning text alongside other elements e.g. Button
.inline.inline {
  display: inline-flex;
  margin-bottom: 0;
}

// Alias classes for Elm CSS modules
.defaultStyle {
  composes: default-style;
}
.pageTitle {
  composes: page-title;
}
.bodyBold {
  composes: body-bold;
}
.smallBold {
  composes: small-bold;
}
.controlAction {
  composes: control-action;
}

.zen-display-0 {
  @include kz-typography-display-0;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-heading-1 {
  @include kz-typography-heading-1;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-heading-2 {
  @include kz-typography-heading-2;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-heading-3 {
  @include kz-typography-heading-3;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-large {
  @include kz-typography-data-large;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-large-units {
  @include kz-typography-data-large-units;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-medium {
  @include kz-typography-data-medium;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-medium-units {
  @include kz-typography-data-medium-units;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-small {
  @include kz-typography-data-small;

  margin-bottom: $ca-grid;
  margin-top: 0;
}

.zen-data-small-units {
  @include kz-typography-data-small-units;

  margin-bottom: $ca-grid;
  margin-top: 0;
}
