@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

.baseButton {
  border-width: $border-solid-border-width;
  border-style: $border-solid-border-style;
  padding: calc(#{$spacing-sm} - #{$border-borderless-border-width})
    calc(#{$spacing-md} - #{$border-borderless-border-width});
  font-family: $typography-button-primary-font-family;
  font-weight: $typography-button-primary-font-weight;
  letter-spacing: $typography-button-primary-letter-spacing;
  font-size: $typography-button-primary-font-size;
  line-height: $typography-button-primary-line-height;
  text-decoration: unset;
  cursor: default;
  white-space: nowrap;

  &:hover,
  &:active {
    z-index: 2;
    text-decoration: unset; // override Murmur global styles :(
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    z-index: 3;
    outline-width: $border-solid-border-width;
    outline-style: $border-solid-border-style;
    outline-offset: 1px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 30%;
  }
}

.default {
  $default-text-color: $color-purple-800;

  background-color: $color-white;
  border-color: $color-gray-500;
  color: $default-text-color;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: $color-gray-200;
    border-color: $color-gray-600;
    color: $default-text-color; // override Murmur global styles :(
  }

  &:focus-visible {
    outline-color: $color-blue-500;
  }
}

.isReversed {
  $reversed-text-color: $color-white;

  background-color: transparent;
  border-color: rgba($color-white-rgb, 0.65);
  color: $reversed-text-color;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: rgba($color-white-rgb, 0.1);
    border-color: $color-white;
    color: $reversed-text-color; // override Murmur global styles :(
  }

  &:focus-visible {
    outline-color: $color-blue-300;
  }
}
