@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/shadow";
@import "./decision-tokens.scss";

.wrapper {
  @include avatar-theme-switching-tokens;
  background: $dt-color-background-color;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;

  &:not(.small) {
    box-shadow: $shadow-small-box-shadow;
    border: 3px solid $dt-color-border-color;
  }

  // Themes

  &.personal {
    background: $dt-color-background-color-personal;
  }

  &.otherUser {
    background: $dt-color-background-color-initials;
  }

  // Sizes

  &.small {
    width: $spacing-md;
    height: $spacing-md;
  }

  &.medium {
    width: $spacing-xl;
    height: $spacing-xl;
  }

  &.large {
    width: $spacing-xxl;
    height: $spacing-xxl;
  }

  &.xlarge {
    width: 7.75rem;
    height: 7.75rem;
  }
}

.avatarImage {
  .loading & {
    display: none;
  }
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallbackIcon {
  color: $dt-color-icon-color;
  width: 28px;
  .xlarge & {
    width: 62px;
  }
  .medium & {
    width: 20px;
  }
  .small & {
    width: 8px;
  }
}

.initials {
  box-sizing: border-box;
  color: $dt-color-text-color;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 100%;

  font-size: 22px;
  font-family: $typography-heading-1-font-family;
  font-weight: $typography-heading-1-font-weight;
  letter-spacing: $typography-heading-3-letter-spacing;

  // Whitespace cropping

  &:not(.longName)::before {
    content: "";
    display: block;
    margin-top: -0.001em;
  }

  .xlarge & {
    font-size: 34px;
    letter-spacing: $typography-heading-1-letter-spacing;
  }

  .medium & {
    font-size: 16px;
    font-weight: $typography-heading-5-font-weight;
    letter-spacing: $typography-heading-5-letter-spacing;
  }

  .small & {
    font-size: 8px;
    font-weight: $typography-heading-5-font-weight;
    letter-spacing: $typography-heading-5-letter-spacing;
  }
}
