@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";

.pagesIndicatorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pageIndicator,
.pageIndicatorSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: $border-focus-ring-border-width $border-focus-ring-border-style
    transparent;
  background-color: transparent;
  color: $color-blue-500;
  margin: 0 5px;
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
}

.pageIndicatorFocusRing {
  position: absolute;
  padding: 1px;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.pageIndicator {
  &:hover {
    background-color: $color-blue-100;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    &:not(.pageIndicatorSelected) {
      background-color: $color-blue-100;

      .pageIndicatorFocusRing {
        border: $border-focus-ring-border-width $border-focus-ring-border-style
          $color-blue-500;
      }
    }
  }
}

.pageIndicatorSelected {
  background-color: $color-blue-500;
  color: $color-white;

  &:focus {
    .pageIndicatorFocusRing {
      border: $border-focus-ring-border-width $border-focus-ring-border-style
        $color-blue-500;
    }
  }

  &:hover {
    background-color: $color-blue-500;
  }
}
