@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../../decision-tokens.scss";

.message {
  @include kz-typography-paragraph-small;
  @include ca-inherit-baseline;
}

.default {
  color: rgba($dt-color-form-text-color, 0.75);

  &.reversed {
    color: rgba($dt-color-form-text-color-reversed, 0.8);
  }
}

.error {
  padding: $ca-grid / 2;
  color: $dt-color-form-text-color;
  border-radius: $kz-border-solid-border-radius;
  background: $kz-color-coral-300;
}

.positionBottom {
  margin-top: $kz-spacing-xs;
}

.positionTop {
  margin-bottom: $kz-spacing-xs;
}
