@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../../decision-tokens.scss";

.message {
  @include kz-typography-paragraph-small;
  @include ca-inherit-baseline;
}

.default {
  color: $dt-color-form-text-color-label;
  &.reversed {
    color: $dt-color-form-text-color-label-reversed;
  }
}

.error {
  padding: $ca-grid / 2;
  color: $dt-color-form-text-color;
  border-radius: $kz-var-border-solid-border-radius;
  background: $kz-var-color-coral-300;
}

.positionBottom {
  margin-top: $kz-var-spacing-xs;
}

.positionTop {
  margin-bottom: $kz-var-spacing-xs;
}
