:root {
  --kz-var-theme-key: zen;
  --kz-var-animation-easing-function-ease-in-out: cubic-bezier(
    0.455,
    0.03,
    0.515,
    0.955
  );
  --kz-var-animation-easing-function-ease-in: cubic-bezier(
    0.55,
    0.085,
    0.68,
    0.53
  );
  --kz-var-animation-easing-function-ease-out: cubic-bezier(
    0.25,
    0.46,
    0.45,
    0.94
  );
  --kz-var-animation-easing-function-linear: linear;
  --kz-var-animation-easing-function-bounce-in: cubic-bezier(
    0.485,
    0.155,
    0.24,
    1.245
  );
  --kz-var-animation-easing-function-bounce-out: cubic-bezier(
    0.485,
    0.155,
    0.515,
    0.845
  );
  --kz-var-animation-easing-function-bounce-in-out: cubic-bezier(
    0.76,
    -0.245,
    0.24,
    1.245
  );
  --kz-var-animation-duration-instant: 0ms;
  --kz-var-animation-duration-immediate: 100ms;
  --kz-var-animation-duration-rapid: 200ms;
  --kz-var-animation-duration-fast: 300ms;
  --kz-var-animation-duration-slow: 400ms;
  --kz-var-animation-duration-deliberate: 700ms;
  --kz-var-border-solid-border-width: 2px;
  --kz-var-border-solid-border-radius: 7px;
  --kz-var-border-solid-border-style: solid;
  --kz-var-border-solid-border-color: #e1e2ea;
  --kz-var-border-solid-border-color-rgb-params: 225, 226, 234;
  --kz-var-border-dashed-border-width: 2px;
  --kz-var-border-dashed-border-radius: 7px;
  --kz-var-border-dashed-border-style: dashed;
  --kz-var-border-borderless-border-width: 2px;
  --kz-var-border-borderless-border-radius: 7px;
  --kz-var-border-borderless-border-style: solid;
  --kz-var-border-borderless-border-color: transparent;
  --kz-var-border-borderless-border-color-rgb-params: 0, 0, 0;
  --kz-var-border-focus-ring-border-width: 2px;
  --kz-var-border-focus-ring-border-radius: 10px;
  --kz-var-border-focus-ring-border-style: solid;
  --kz-var-color-wisteria-100: #f0f1f4;
  --kz-var-color-wisteria-100-rgb-params: 240, 241, 244;
  --kz-var-color-wisteria-200: #e1e2ea;
  --kz-var-color-wisteria-200-rgb-params: 225, 226, 234;
  --kz-var-color-wisteria-300: #c4c5d4;
  --kz-var-color-wisteria-300-rgb-params: 196, 197, 212;
  --kz-var-color-wisteria-400: #a7a9c1;
  --kz-var-color-wisteria-400-rgb-params: 167, 169, 193;
  --kz-var-color-wisteria-500: #898ba9;
  --kz-var-color-wisteria-500-rgb-params: 137, 139, 169;
  --kz-var-color-wisteria-600: #6b6e94;
  --kz-var-color-wisteria-600-rgb-params: 107, 110, 148;
  --kz-var-color-wisteria-700: #4b4d68;
  --kz-var-color-wisteria-700-rgb-params: 75, 77, 104;
  --kz-var-color-wisteria-800: #35374a;
  --kz-var-color-wisteria-800-rgb-params: 53, 55, 74;
  --kz-var-color-purple-100: #f0f1f4;
  --kz-var-color-purple-100-rgb-params: 240, 241, 244;
  --kz-var-color-purple-200: #e1e2ea;
  --kz-var-color-purple-200-rgb-params: 225, 226, 234;
  --kz-var-color-purple-300: #c4c5d4;
  --kz-var-color-purple-300-rgb-params: 196, 197, 212;
  --kz-var-color-purple-400: #a7a9c1;
  --kz-var-color-purple-400-rgb-params: 167, 169, 193;
  --kz-var-color-purple-500: #898ba9;
  --kz-var-color-purple-500-rgb-params: 137, 139, 169;
  --kz-var-color-purple-600: #6b6e94;
  --kz-var-color-purple-600-rgb-params: 107, 110, 148;
  --kz-var-color-purple-700: #4b4d68;
  --kz-var-color-purple-700-rgb-params: 75, 77, 104;
  --kz-var-color-purple-800: #35374a;
  --kz-var-color-purple-800-rgb-params: 53, 55, 74;
  --kz-var-color-cluny-100: #e6f0f7;
  --kz-var-color-cluny-100-rgb-params: 230, 240, 247;
  --kz-var-color-cluny-200: #cce1f0;
  --kz-var-color-cluny-200-rgb-params: 204, 225, 240;
  --kz-var-color-cluny-300: #99c3e1;
  --kz-var-color-cluny-300-rgb-params: 153, 195, 225;
  --kz-var-color-cluny-400: #4d95ca;
  --kz-var-color-cluny-400-rgb-params: 77, 149, 202;
  --kz-var-color-cluny-500: #0168b3;
  --kz-var-color-cluny-500-rgb-params: 1, 104, 179;
  --kz-var-color-cluny-600: #00518c;
  --kz-var-color-cluny-600-rgb-params: 0, 81, 140;
  --kz-var-color-cluny-700: #003157;
  --kz-var-color-cluny-700-rgb-params: 0, 49, 87;
  --kz-var-color-blue-100: #e6f0f7;
  --kz-var-color-blue-100-rgb-params: 230, 240, 247;
  --kz-var-color-blue-200: #cce1f0;
  --kz-var-color-blue-200-rgb-params: 204, 225, 240;
  --kz-var-color-blue-300: #99c3e1;
  --kz-var-color-blue-300-rgb-params: 153, 195, 225;
  --kz-var-color-blue-400: #4d95ca;
  --kz-var-color-blue-400-rgb-params: 77, 149, 202;
  --kz-var-color-blue-500: #0168b3;
  --kz-var-color-blue-500-rgb-params: 1, 104, 179;
  --kz-var-color-blue-600: #00518c;
  --kz-var-color-blue-600-rgb-params: 0, 81, 140;
  --kz-var-color-blue-700: #003157;
  --kz-var-color-blue-700-rgb-params: 0, 49, 87;
  --kz-var-color-seedling-100: #e9f6f3;
  --kz-var-color-seedling-100-rgb-params: 233, 246, 243;
  --kz-var-color-seedling-200: #bce3dc;
  --kz-var-color-seedling-200-rgb-params: 188, 227, 220;
  --kz-var-color-seedling-300: #90d1c5;
  --kz-var-color-seedling-300-rgb-params: 144, 209, 197;
  --kz-var-color-seedling-400: #64bfae;
  --kz-var-color-seedling-400-rgb-params: 100, 191, 174;
  --kz-var-color-seedling-500: #21a38b;
  --kz-var-color-seedling-500-rgb-params: 33, 163, 139;
  --kz-var-color-seedling-600: #177261;
  --kz-var-color-seedling-600-rgb-params: 23, 114, 97;
  --kz-var-color-seedling-700: #22594a;
  --kz-var-color-seedling-700-rgb-params: 34, 89, 74;
  --kz-var-color-green-100: #e9f6f3;
  --kz-var-color-green-100-rgb-params: 233, 246, 243;
  --kz-var-color-green-200: #bce3dc;
  --kz-var-color-green-200-rgb-params: 188, 227, 220;
  --kz-var-color-green-300: #90d1c5;
  --kz-var-color-green-300-rgb-params: 144, 209, 197;
  --kz-var-color-green-400: #64bfae;
  --kz-var-color-green-400-rgb-params: 100, 191, 174;
  --kz-var-color-green-500: #21a38b;
  --kz-var-color-green-500-rgb-params: 33, 163, 139;
  --kz-var-color-green-600: #177261;
  --kz-var-color-green-600-rgb-params: 23, 114, 97;
  --kz-var-color-green-700: #22594a;
  --kz-var-color-green-700-rgb-params: 34, 89, 74;
  --kz-var-color-yuzu-100: #fffae8;
  --kz-var-color-yuzu-100-rgb-params: 255, 250, 232;
  --kz-var-color-yuzu-200: #fff5d2;
  --kz-var-color-yuzu-200-rgb-params: 255, 245, 210;
  --kz-var-color-yuzu-300: #ffeba5;
  --kz-var-color-yuzu-300-rgb-params: 255, 235, 165;
  --kz-var-color-yuzu-400: #ffe278;
  --kz-var-color-yuzu-400-rgb-params: 255, 226, 120;
  --kz-var-color-yuzu-500: #ffce1e;
  --kz-var-color-yuzu-500-rgb-params: 255, 206, 30;
  --kz-var-color-yuzu-600: #c68600;
  --kz-var-color-yuzu-600-rgb-params: 198, 134, 0;
  --kz-var-color-yuzu-700: #876400;
  --kz-var-color-yuzu-700-rgb-params: 135, 100, 0;
  --kz-var-color-yellow-100: #fffae8;
  --kz-var-color-yellow-100-rgb-params: 255, 250, 232;
  --kz-var-color-yellow-200: #fff5d2;
  --kz-var-color-yellow-200-rgb-params: 255, 245, 210;
  --kz-var-color-yellow-300: #ffeba5;
  --kz-var-color-yellow-300-rgb-params: 255, 235, 165;
  --kz-var-color-yellow-400: #ffe278;
  --kz-var-color-yellow-400-rgb-params: 255, 226, 120;
  --kz-var-color-yellow-500: #ffce1e;
  --kz-var-color-yellow-500-rgb-params: 255, 206, 30;
  --kz-var-color-yellow-600: #c68600;
  --kz-var-color-yellow-600-rgb-params: 198, 134, 0;
  --kz-var-color-yellow-700: #876400;
  --kz-var-color-yellow-700-rgb-params: 135, 100, 0;
  --kz-var-color-coral-100: #fcedef;
  --kz-var-color-coral-100-rgb-params: 252, 237, 239;
  --kz-var-color-coral-200: #fccfd4;
  --kz-var-color-coral-200-rgb-params: 252, 207, 212;
  --kz-var-color-coral-300: #fcaeb6;
  --kz-var-color-coral-300-rgb-params: 252, 174, 182;
  --kz-var-color-coral-400: #fc7c89;
  --kz-var-color-coral-400-rgb-params: 252, 124, 137;
  --kz-var-color-coral-500: #e22b3e;
  --kz-var-color-coral-500-rgb-params: 226, 43, 62;
  --kz-var-color-coral-600: #b02130;
  --kz-var-color-coral-600-rgb-params: 176, 33, 48;
  --kz-var-color-coral-700: #6c1e20;
  --kz-var-color-coral-700-rgb-params: 108, 30, 32;
  --kz-var-color-red-100: #fcedef;
  --kz-var-color-red-100-rgb-params: 252, 237, 239;
  --kz-var-color-red-200: #fccfd4;
  --kz-var-color-red-200-rgb-params: 252, 207, 212;
  --kz-var-color-red-300: #fcaeb6;
  --kz-var-color-red-300-rgb-params: 252, 174, 182;
  --kz-var-color-red-400: #fc7c89;
  --kz-var-color-red-400-rgb-params: 252, 124, 137;
  --kz-var-color-red-500: #e22b3e;
  --kz-var-color-red-500-rgb-params: 226, 43, 62;
  --kz-var-color-red-600: #b02130;
  --kz-var-color-red-600-rgb-params: 176, 33, 48;
  --kz-var-color-red-700: #6c1e20;
  --kz-var-color-red-700-rgb-params: 108, 30, 32;
  --kz-var-color-peach-100: #fff1ee;
  --kz-var-color-peach-100-rgb-params: 255, 241, 238;
  --kz-var-color-peach-200: #fdd6cd;
  --kz-var-color-peach-200-rgb-params: 253, 214, 205;
  --kz-var-color-peach-300: #fdbaab;
  --kz-var-color-peach-300-rgb-params: 253, 186, 171;
  --kz-var-color-peach-400: #fc9e8a;
  --kz-var-color-peach-400-rgb-params: 252, 158, 138;
  --kz-var-color-peach-500: #fa7558;
  --kz-var-color-peach-500-rgb-params: 250, 117, 88;
  --kz-var-color-peach-600: #b85d4a;
  --kz-var-color-peach-600-rgb-params: 184, 93, 74;
  --kz-var-color-peach-700: #903c00;
  --kz-var-color-peach-700-rgb-params: 144, 60, 0;
  --kz-var-color-orange-100: #fff1ee;
  --kz-var-color-orange-100-rgb-params: 255, 241, 238;
  --kz-var-color-orange-200: #fdd6cd;
  --kz-var-color-orange-200-rgb-params: 253, 214, 205;
  --kz-var-color-orange-300: #fdbaab;
  --kz-var-color-orange-300-rgb-params: 253, 186, 171;
  --kz-var-color-orange-400: #fc9e8a;
  --kz-var-color-orange-400-rgb-params: 252, 158, 138;
  --kz-var-color-orange-500: #fa7558;
  --kz-var-color-orange-500-rgb-params: 250, 117, 88;
  --kz-var-color-orange-600: #b85d4a;
  --kz-var-color-orange-600-rgb-params: 184, 93, 74;
  --kz-var-color-orange-700: #903c00;
  --kz-var-color-orange-700-rgb-params: 144, 60, 0;
  --kz-var-color-ash: #ececef;
  --kz-var-color-ash-rgb-params: 236, 236, 239;
  --kz-var-color-stone: #f6f6f6;
  --kz-var-color-stone-rgb-params: 246, 246, 246;
  --kz-var-color-white: #ffffff;
  --kz-var-color-white-rgb-params: 255, 255, 255;
  --kz-var-color-iron: #8c8c97;
  --kz-var-color-iron-rgb-params: 140, 140, 151;
  --kz-var-color-slate: #524e56;
  --kz-var-color-slate-rgb-params: 82, 78, 86;
  --kz-var-data-viz-favorable: #6b6e94;
  --kz-var-data-viz-favorable-rgb-params: 107, 110, 148;
  --kz-var-data-viz-unfavorable: #fccfd4;
  --kz-var-data-viz-unfavorable-rgb-params: 252, 207, 212;
  --kz-var-deprecated-color-lapis: #253c64;
  --kz-var-deprecated-color-lapis-rgb-params: 37, 60, 100;
  --kz-var-deprecated-color-ocean: #1b7688;
  --kz-var-deprecated-color-ocean-rgb-params: 27, 118, 136;
  --kz-var-deprecated-color-ink: #3e4543;
  --kz-var-deprecated-color-ink-rgb-params: 62, 69, 67;
  --kz-var-deprecated-color-paper: #f2edde;
  --kz-var-deprecated-color-paper-rgb-params: 242, 237, 222;
  --kz-var-layout-content-max-width: 1392px;
  --kz-var-layout-content-side-margin: 72px;
  --kz-var-layout-mobile-actions-drawer-height: 60px;
  --kz-var-layout-navigation-bar-height: 72px;
  --kz-var-layout-breakpoints-medium: 768px;
  --kz-var-layout-breakpoints-large: 1080px;
  --kz-var-shadow-small-box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
  --kz-var-shadow-large-box-shadow: 0 0 12px rgba(0, 0, 0, 0.19);
  --kz-var-spacing-xs: 0.375rem;
  --kz-var-spacing-sm: 0.75rem;
  --kz-var-spacing-md: 1.5rem;
  --kz-var-spacing-lg: 2.25rem;
  --kz-var-spacing-xl: 3rem;
  --kz-var-spacing-xxl: 3.75rem;
  --kz-var-spacing-xxxl: 4.5rem;
  --kz-var-spacing-xxxxl: 5.25rem;
  --kz-var-spacing-xxxxxl: 6rem;
  --kz-var-typography-data-large-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-large-font-weight: 700;
  --kz-var-typography-data-large-font-size: 5.25rem;
  --kz-var-typography-data-large-line-height: 5.25rem;
  --kz-var-typography-data-large-letter-spacing: normal;
  --kz-var-typography-data-large-units-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-large-units-font-weight: 700;
  --kz-var-typography-data-large-units-font-size: 2.625rem;
  --kz-var-typography-data-large-units-line-height: 5.25rem;
  --kz-var-typography-data-large-units-letter-spacing: normal;
  --kz-var-typography-data-medium-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-medium-font-weight: 700;
  --kz-var-typography-data-medium-font-size: 3rem;
  --kz-var-typography-data-medium-line-height: 5rem;
  --kz-var-typography-data-medium-letter-spacing: normal;
  --kz-var-typography-data-medium-units-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-medium-units-font-weight: 700;
  --kz-var-typography-data-medium-units-font-size: 1.5rem;
  --kz-var-typography-data-medium-units-line-height: 5rem;
  --kz-var-typography-data-medium-units-letter-spacing: normal;
  --kz-var-typography-data-small-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-small-font-weight: 700;
  --kz-var-typography-data-small-font-size: 1.5rem;
  --kz-var-typography-data-small-line-height: 1.5rem;
  --kz-var-typography-data-small-letter-spacing: normal;
  --kz-var-typography-data-small-units-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-data-small-units-font-weight: 700;
  --kz-var-typography-data-small-units-font-size: 1.125rem;
  --kz-var-typography-data-small-units-line-height: 1.5rem;
  --kz-var-typography-data-small-units-letter-spacing: normal;
  --kz-var-typography-display-0-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-display-0-font-weight: 700;
  --kz-var-typography-display-0-font-size: 4.5rem;
  --kz-var-typography-display-0-line-height: 4.5rem;
  --kz-var-typography-display-0-letter-spacing: -0.03em;
  --kz-var-typography-heading-1-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-heading-1-font-weight: 700;
  --kz-var-typography-heading-1-font-size: 2.25rem;
  --kz-var-typography-heading-1-line-height: 2.25rem;
  --kz-var-typography-heading-1-letter-spacing: -0.03em;
  --kz-var-typography-heading-2-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-heading-2-font-weight: 700;
  --kz-var-typography-heading-2-font-size: 1.875rem;
  --kz-var-typography-heading-2-line-height: 2.25rem;
  --kz-var-typography-heading-2-letter-spacing: -0.03em;
  --kz-var-typography-heading-3-font-family: "Greycliff CF", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-heading-3-font-weight: 700;
  --kz-var-typography-heading-3-font-size: 1.375rem;
  --kz-var-typography-heading-3-line-height: 1.5rem;
  --kz-var-typography-heading-3-letter-spacing: -0.03em;
  --kz-var-typography-heading-4-font-family: "Inter", "Noto Sans", Helvetica,
    Arial, sans-serif;
  --kz-var-typography-heading-4-font-weight: 600;
  --kz-var-typography-heading-4-font-size: 1.125rem;
  --kz-var-typography-heading-4-line-height: 1.5rem;
  --kz-var-typography-heading-4-letter-spacing: normal;
  --kz-var-typography-heading-5-font-family: "Inter", "Noto Sans", Helvetica,
    Arial, sans-serif;
  --kz-var-typography-heading-5-font-weight: 600;
  --kz-var-typography-heading-5-font-size: 1rem;
  --kz-var-typography-heading-5-line-height: 1.5rem;
  --kz-var-typography-heading-5-letter-spacing: normal;
  --kz-var-typography-heading-6-font-family: "Inter", "Noto Sans", Helvetica,
    Arial, sans-serif;
  --kz-var-typography-heading-6-font-weight: 700;
  --kz-var-typography-heading-6-font-size: 0.875rem;
  --kz-var-typography-heading-6-line-height: 1.5rem;
  --kz-var-typography-heading-6-letter-spacing: normal;
  --kz-var-typography-paragraph-intro-lede-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-paragraph-intro-lede-font-weight: 400;
  --kz-var-typography-paragraph-intro-lede-font-size: 1.25rem;
  --kz-var-typography-paragraph-intro-lede-line-height: 1.875rem;
  --kz-var-typography-paragraph-intro-lede-letter-spacing: -0.5px;
  --kz-var-typography-paragraph-body-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-paragraph-body-font-weight: 400;
  --kz-var-typography-paragraph-body-font-size: 1rem;
  --kz-var-typography-paragraph-body-line-height: 1.5rem;
  --kz-var-typography-paragraph-body-letter-spacing: normal;
  --kz-var-typography-paragraph-small-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-paragraph-small-font-weight: 400;
  --kz-var-typography-paragraph-small-font-size: 0.875rem;
  --kz-var-typography-paragraph-small-line-height: 1.125rem;
  --kz-var-typography-paragraph-small-letter-spacing: normal;
  --kz-var-typography-paragraph-extra-small-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-paragraph-extra-small-font-weight: 400;
  --kz-var-typography-paragraph-extra-small-font-size: 0.75rem;
  --kz-var-typography-paragraph-extra-small-line-height: 1.125rem;
  --kz-var-typography-paragraph-extra-small-letter-spacing: normal;
  --kz-var-typography-paragraph-bold-font-weight: 600;
  --kz-var-typography-button-primary-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-button-primary-font-weight: 700;
  --kz-var-typography-button-primary-font-size: 1.125rem;
  --kz-var-typography-button-primary-line-height: 1.5rem;
  --kz-var-typography-button-primary-letter-spacing: normal;
  --kz-var-typography-button-secondary-font-family: "Inter", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --kz-var-typography-button-secondary-font-weight: 500;
  --kz-var-typography-button-secondary-font-size: 1rem;
  --kz-var-typography-button-secondary-line-height: 1.5rem;
  --kz-var-typography-button-secondary-letter-spacing: normal;
}
