.icon {
  font-weight: var(--icon-font-weight, 400);

  /* Must use vars otherwise whole attribute must be set again */
  font-variation-settings:
    "FILL" var(--icon-fill, 0),
    "GRAD" var(--icon-grade, 0),
    "opsz" var(--icon-optical-size, 24);
}

.filled {
  --icon-fill: 1;
}

.small {
  --icon-optical-size: 20;

  font-size: 16px;
}

.medium {
  --icon-optical-size: 24;

  font-size: 20px;
}

.large {
  --icon-optical-size: 40;

  font-size: 24px;
}

.inherit {
  font-size: inherit;
}
