.wrapper {
  container: filter-bar-wrapper / inline-size;
}

.filterBar {
  display: flex;
  padding: var(--spacing-8);
  border-radius: var(--border-solid-border-radius);
  background-color: var(--color-white);
}

/* keep max-width value in sync with other places using this container */
@container filter-bar-wrapper (max-width: 767px) {
  .filterBar {
    flex-direction: column;
  }
}

.filtersContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: var(--spacing-8);
}
