@import "~@kaizen/design-tokens/sass/animation";

$ca-duration-instant: $animation-duration-instant;
$ca-duration-immediate: $animation-duration-immediate;
$ca-duration-rapid: $animation-duration-rapid;
$ca-duration-fast: $animation-duration-fast;
$ca-duration-slow: $animation-duration-slow;
$ca-duration-deliberate: $animation-duration-deliberate;
