@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/layout-vars";
@import "~@kaizen/component-library/styles/responsive";
@import "./dimensions";

// Don't change this classname before checking GenericTile.scss in components/.
// There is a hack in the Tile which depends on this classname in order to make
// the Tile work with the TileGrid.
.grid {
  display: grid;
  // the more we shave off the width here,
  // the less the tiles will grow when they lose one from the row
  grid-template-columns: repeat(auto-fit, minmax($tileWidth - 40px, 1fr));
  grid-gap: $kz-var-spacing-md;

  @include ca-media-mobile {
    grid-template-columns: repeat(2, minmax(226px, $tileHeight));

    > * {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 100%);
  }
}
