@import "../../../styles/utils/legacy/layout";
@import "../../../styles/utils/legacy/grid";
@import "../mixins";

.toolbar {
  display: flex;
  align-items: center;

  .toolbarItem {
    margin: 0 calc(#{$ca-grid} / 4);

    @include title-block-under-1024 {
      margin: 0 calc(#{$ca-grid} / 8);
    }

    &.noGap {
      margin: 0;
    }
  }

  .toolbarItem:first-of-type {
    @include ca-margin($start: 0, $end: calc(#{$ca-grid} / 4));

    @include title-block-under-1024 {
      @include ca-margin($start: 0, $end: calc(#{$ca-grid} / 8));
    }

    &.noGap {
      margin: 0;
    }
  }

  .toolbarItem:last-of-type {
    @include ca-margin($start: calc(#{$ca-grid} / 4), $end: 0);

    @include title-block-under-1024 {
      @include ca-margin($start: calc(#{$ca-grid} / 8), $end: 0);
    }

    &.noGap {
      margin: 0;
    }
  }
}
