@import "../../../styles/legacy/layout";
@import "../../../styles/grid";
@import "../mixins";

.toolbar {
  display: flex;
  align-items: center;

  .toolbarItem {
    margin: 0 ($ca-grid / 4);

    @include title-block-under-1024 {
      margin: 0 ($ca-grid / 8);
    }

    &.noGap {
      margin: 0;
    }
  }

  .toolbarItem:first-of-type {
    @include ca-margin($start: 0, $end: $ca-grid / 4);

    @include title-block-under-1024 {
      @include ca-margin($start: 0, $end: $ca-grid / 8);
    }

    &.noGap {
      margin: 0;
    }
  }

  .toolbarItem:last-of-type {
    @include ca-margin($start: $ca-grid / 4, $end: 0);

    @include title-block-under-1024 {
      @include ca-margin($start: $ca-grid / 8, $end: 0);
    }

    &.noGap {
      margin: 0;
    }
  }
}
