@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";

.menuPopup {
  position: absolute;
  z-index: 1000; // from $ca-z-index-dropdown
  box-sizing: border-box;
  background: $color-white;
  color: $color-purple-800;
  border-radius: $border-solid-border-radius;
  box-shadow: $shadow-large-box-shadow;
  margin-top: 0.5rem;
  text-align: left;
  min-width: 248px;

  [dir="rtl"] & {
    text-align: right;
  }

  // Allow horizontal scroll for long text options
  overflow: auto;
}
