@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "../../styles/button-reset";

$button-border-radius: 3px;
$rdp-cell-size: 40px;

$story-className--calendar--hover: ":global(.story__datepicker__calendar--hover)";
$story-className--calendar--focus: ":global(.story__datepicker__calendar--focus)";

$selectors--button-focus: "&:focus-visible, &#{$story-className--calendar--focus}";

%focus-ring {
  position: relative;

  &:focus,
  #{$selectors--button-focus} {
    outline: none;
  }

  #{$selectors--button-focus} {
    &::after {
      $focus-ring-offset: calc(
        -1 * calc((#{$border-focus-ring-border-width} * 2) + 1px)
      );

      content: "";
      position: absolute;
      inset: $focus-ring-offset;
      border-radius: $button-border-radius;
    }
  }
}

%focus-ring--enabled {
  @extend %focus-ring;

  #{$selectors--button-focus} {
    &::after {
      border: $border-focus-ring-border-width $border-focus-ring-border-style
        $color-blue-500;
    }
  }
}

.root {
  display: inline-flex;
}

.months {
  display: flex;
}

.buttonReset {
  @include button-reset;
}

.button {
  cursor: pointer;
}

.caption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 $spacing-xs;
}

.captionLabel {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25em;
  white-space: nowrap;
  font-family: $typography-heading-4-font-family;
  font-size: $typography-heading-4-font-size;
  font-weight: $typography-heading-5-font-weight;
  line-height: $typography-heading-4-line-height;
  letter-spacing: $typography-heading-4-letter-spacing;
  color: $color-purple-800;
}

.navButton {
  @extend %focus-ring--enabled;

  display: inherit;
  padding: 0.25rem $spacing-xs;
  border: $border-solid-border-width $border-solid-border-style transparent;
  border-radius: $button-border-radius;

  &:hover,
  &#{$story-className--calendar--hover} {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  #{$selectors--button-focus} {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  [dir="rtl"] & {
    transform: rotate(180deg);
  }
}

.table {
  border-collapse: separate;
  border-spacing: 1px;
  margin: 0;
  max-width: calc(#{$rdp-cell-size} * 7);
}

.tbody {
  border: 0;
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-paragraph-body-font-size;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  font-weight: $typography-paragraph-body-font-weight;
  line-height: $typography-paragraph-body-line-height;
}

.weekday {
  padding: 0.5rem 0;
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-paragraph-body-font-size;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  font-weight: $typography-paragraph-body-font-weight;
  line-height: $typography-paragraph-body-line-height;
  color: $color-purple-800;
}

.cell {
  width: $rdp-cell-size;
  height: $rdp-cell-size;
  padding: 0;
  text-align: center;
}

.day {
  @extend %focus-ring--enabled;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: $rdp-cell-size;
  max-width: $rdp-cell-size;
  height: $rdp-cell-size;
  margin: 0;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $button-border-radius;
  padding: calc(#{$spacing-md} / 3) 0.625rem;
  color: $color-purple-800;

  &:hover,
  &#{$story-className--calendar--hover} {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  #{$selectors--button-focus} {
    background-color: $color-blue-100;
    color: $color-blue-500;
  }
}

.dayToday {
  color: $color-blue-500;
  font-weight: bold;
}

.daySelected {
  background-color: $color-blue-500;
  color: $color-white;

  &:hover,
  &#{$story-className--calendar--hover},
  #{$selectors--button-focus} {
    background-color: $color-blue-400;
    color: $color-white;
  }
}

.dayDisabled {
  // Focus ring styles have been removed as react-day-picker has been updated such that
  // disabled days do not receive focus, and keyboard navigation only lands on available days.
  // https://github.com/gpbl/react-day-picker/pull/1519
  // https://github.com/gpbl/react-day-picker/issues/1449#issuecomment-1149942033
  background: none;
  pointer-events: none;
  color: rgba($color-purple-800-rgb, 0.3);
  opacity: 100%;

  #{$selectors--button-focus} {
    color: rgba($color-purple-800-rgb, 0.3);
    background-color: transparent;
    opacity: 100%;
  }
}

// We can't use <VisuallyHidden />, so copied the styles here.
%visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.vHidden {
  @extend %visually-hidden;
}
