.filterButton {
  gap: var(--spacing-6);
  justify-content: space-between;
}

@media (width < 768px) {
  .filterButton {
    flex-grow: 1;
  }
}

.labelContainer {
  display: inline-flex;
  flex-wrap: wrap;
}

.hasSelectedValues {
  font-weight: bold;
}

.labelSeparator {
  margin-inline-end: var(--spacing-6);
}
