.filterButton {
  gap: var(--spacing-xs);
}

.labelContainer {
  display: inline-flex;
  flex-wrap: wrap;
}

.hasSelectedValues {
  font-weight: bold;
}

.labelSeparator {
  margin-inline-end: var(--spacing-xs);

  [dir="ltr"] [dir="rtl"] & {
    margin-right: 0;
  }
}
