@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

.filterButton {
  height: auto;
  gap: $spacing-xs;
}

.labelContainer {
  display: inline-flex;
  flex-wrap: wrap;
}

.hasSelectedValues {
  font-weight: bold;
}

.selectedValues {
  text-align: left;
  text-wrap: wrap;
}

.labelSeparator {
  margin-inline-end: $spacing-xs;

  [dir="ltr"] [dir="rtl"] & {
    margin-right: 0;
  }
}
