@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "~@kaizen/design-tokens/sass/typography-vars";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./responsive";

.container {
  --dt-border-zen: #{$kz-var-border-solid-border-width} #{$kz-var-border-solid-border-style}
    #{$kz-var-color-wisteria-200};
  --dt-border-heart: var(#{$kz-var-id-border-solid-border-width})
    var(#{$kz-var-id-border-solid-border-style})
    var(#{$kz-var-id-border-borderless-border-color});

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: $kz-var-spacing-md;
  padding-right: $kz-var-spacing-md;
  color: $kz-var-color-wisteria-800;
  border: var(--dt-border-heart, var(--dt-border-zen));
  border-radius: $kz-var-border-solid-border-radius;

  @include small {
    flex-direction: column;
    align-items: center;
    padding-top: $kz-var-spacing-md;
    padding-bottom: $kz-var-spacing-md;
  }

  &.straightCorners {
    border-radius: 0;
  }

  // These class names must match the possible values of the component's layoutContext prop
  &.sidebarAndContent {
    @include large-sidebar-and-content {
      padding-top: $kz-var-spacing-md;
      padding-bottom: $kz-var-spacing-md;
    }
  }

  &.contentOnly {
    @include large-content-only {
      padding-top: $kz-var-spacing-md;
      padding-bottom: $kz-var-spacing-md;
    }
  }

  &.positive {
    background-color: var($kz-var-id-color-seedling-100, $kz-var-color-ash);
  }
  &.negative {
    background-color: var($kz-var-id-color-coral-100, $kz-var-color-ash);
  }
  &.action {
    background-color: var($kz-var-id-color-peach-100, $kz-var-color-ash);
  }
  &.neutral {
    background-color: var($kz-var-id-color-wisteria-100, $kz-var-color-ash);
  }
  &.informative {
    background-color: var($kz-var-id-color-cluny-100, $kz-var-color-ash);
  }
}

.illustrationSide,
.textSide {
  display: inline-block;
}

.illustrationSide {
  min-width: 224px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: $kz-var-spacing-md;

  @include small {
    width: 224px;
  }

  @include medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
    min-width: 40%;
    max-width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: $kz-var-spacing-md;
  }

  .sidebarAndContent & {
    @include large-sidebar-and-content {
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  .contentOnly & {
    @include large-content-only {
      flex-shrink: 1;
      flex-basis: auto;
    }
  }
}

.illustration {
  max-width: 100%;
  max-height: 366px;
  width: auto;

  // Fixes for IE11 Flexbox issues
  min-height: 196px;

  @include small {
    max-height: 196px;
  }
}

.textSide {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  -webkit-font-smoothing: antialiased;

  @include medium {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

.textSideInner {
  flex-grow: 0;
  height: auto;
  margin: 0 $kz-var-spacing-sm;

  @include small {
    margin-bottom: 0;
  }

  @include medium {
    max-width: 426px;
  }
}

.heading {
  @include ca-type-inter-display;
  margin-bottom: $kz-var-spacing-md;

  .sidebarAndContent & {
    @include large-sidebar-and-content {
      @include ca-type-inter-title;
    }
  }

  .contentOnly & {
    @include large-content-only {
      @include ca-type-inter-title;
    }
  }
}

// ===================================================
// This works with the temporary useZenStyles prop and
// will enable Zen headings. This block can be removed
// once these typography styles are the default.
// TODO: Heart Rebrand Cleanup > We can remove the `useZenStyles` and this class variant once Heart is released. This means moving the following heading styles to the class above.
.zen .heading {
  font-family: $kz-var-typography-heading-3-font-family;
  font-size: $kz-var-typography-heading-3-font-size;
  font-weight: $kz-var-typography-heading-3-font-weight;
  line-height: $kz-var-typography-heading-3-line-height;
  letter-spacing: $kz-var-typography-heading-3-letter-spacing;
}
// ===================================================

.description {
  @include kz-typography-paragraph-body;
  margin-bottom: $kz-var-spacing-md;

  .sidebarAndContent & {
    @include small {
      @include kz-typography-paragraph-body;
    }
  }

  .contentOnly & {
    @include small {
      @include kz-typography-paragraph-body;
    }
  }
}
