@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./responsive";

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: $ca-grid;
  padding-right: $ca-grid;
  color: $kz-var-color-wisteria-800;

  &.zen {
    background-color: $kz-var-color-ash;
    border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style
      $ca-border-color;
    border-radius: $kz-var-border-solid-border-radius;
  }

  @include small {
    flex-direction: column;
    align-items: center;
    padding-top: $ca-grid;
    padding-bottom: $ca-grid;
  }

  &.straightCorners {
    border-radius: 0;
  }

  // These class names must match the possible values of the component's layoutContext prop
  &.sidebarAndContent {
    @include large-sidebar-and-content {
      padding-top: $ca-grid;
      padding-bottom: $ca-grid;
    }
  }

  &.contentOnly {
    @include large-content-only {
      padding-top: $ca-grid;
      padding-bottom: $ca-grid;
    }
  }
}

.illustrationSide,
.textSide {
  display: inline-block;
}

.illustrationSide {
  min-width: 224px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: $ca-grid;

  @include small {
    width: 224px;
  }

  @include medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
    min-width: 40%;
    max-width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: $ca-grid * 2;
  }

  .sidebarAndContent & {
    @include large-sidebar-and-content {
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  .contentOnly & {
    @include large-content-only {
      flex-shrink: 1;
      flex-basis: auto;
    }
  }
}

.illustration {
  max-width: 100%;
  max-height: 366px;

  // Fixes for IE11 Flexbox issues
  min-height: 196px;

  @include small {
    max-height: 196px;
  }
}

.textSide {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  -webkit-font-smoothing: antialiased;

  @include medium {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

.textSideInner {
  flex-grow: 0;
  height: auto;
  margin: 0 ($ca-grid / 2);

  @include small {
    margin-bottom: 0;
  }

  @include medium {
    max-width: 460px;
  }
}

.heading {
  @include ca-type-inter-display;
  margin-bottom: $ca-grid;

  .sidebarAndContent & {
    @include large-sidebar-and-content {
      @include ca-type-inter-title;
    }
  }

  .contentOnly & {
    @include large-content-only {
      @include ca-type-inter-title;
    }
  }
}

// ===================================================
// This works with the temporary useZenStyles prop and
// will enable Zen headings. This block can be removed
// once these typography styles are the default.
.zen .heading {
  @include kz-typography-heading-3;

  .sidebarAndContent & {
    @include large-sidebar-and-content {
      @include kz-typography-heading-2;
    }
  }

  .contentOnly & {
    @include large-content-only {
      @include kz-typography-heading-2;
    }
  }
}
// ===================================================

.description {
  @include kz-typography-paragraph-body;
  margin-bottom: $ca-grid;

  .sidebarAndContent & {
    @include small {
      @include kz-typography-paragraph-body;
    }
  }

  .contentOnly & {
    @include small {
      @include kz-typography-paragraph-body;
    }
  }
}
