@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "../../mixins";
@import "../mixins";

$input-height: 48px;
$input-base-padding-horizontal: $spacing-sm;
$input-icon-size: 1.25rem; // 20px
$input-disabled-opacity: 0.3;
$input-disabled-border-alpha: 50%;
$search-input-placeholder-opacity: 0.7;
$search-input-disabled-icon-opacity: 0.8;
$border-solid-border-radius-curved: $input-height;

.wrapper {
  position: relative;
}

.withLoading .startIconAdornment {
  margin-top: -2px;
}

// [type="search"] is required to override performance-ui global materialize CSS >:|
.input[type="search"] {
  @include form-input-reset;

  background-color: transparent;
  background-clip: padding-box;
  border: $border-solid-border-width $border-solid-border-style transparent;
  border-radius: $border-solid-border-radius-curved;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 $input-base-padding-horizontal;
  height: $input-height;
  width: 100%;
  margin-bottom: 2px;

  &.disabled {
    &:not(.reversed) {
      background: $color-white;
      opacity: $input-disabled-opacity;
    }

    @include form-input-placeholder {
      color: rgba($color-purple-800-rgb, $search-input-placeholder-opacity);
    }
  }

  @include form-input-placeholder {
    opacity: 1;
  }

  &:focus:not([disabled]),
  &:hover:focus:not([disabled]) {
    @include form-input-placeholder {
      opacity: 0;
    }
  }

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.input[type="search"]:focus + .focusRing {
  $focus-ring-offset: 3px;

  position: absolute;
  background: transparent;
  border-radius: $border-solid-border-radius-curved;
  border-width: $border-focus-ring-border-width;
  border-style: $border-focus-ring-border-style;
  border-color: transparent;
  top: -$focus-ring-offset;
  left: -$focus-ring-offset;
  right: -$focus-ring-offset;
  bottom: -$focus-ring-offset;
  pointer-events: none;
}

///////////////////////////////////////////////////
// ICON ADORNMENT STYLES
///////////////////////////////////////////////////

@mixin vertically-center-icon {
  position: absolute;
  height: $input-icon-size;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.withStartIconAdornment {
  .startIconAdornment {
    @include vertically-center-icon;

    right: auto;
    left: $spacing-sm;

    &[dir="rtl"],
    [dir="rtl"] & {
      right: $spacing-sm;
      left: auto;
    }
  }

  &.withDisabled {
    .startIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  .input[type="search"] {
    padding-right: $input-base-padding-horizontal;
    padding-left: calc(#{$spacing-md} + #{$input-icon-size});

    &[dir="rtl"],
    [dir="rtl"] & {
      padding-right: calc(#{$spacing-md} + #{$input-icon-size});
      padding-left: $input-base-padding-horizontal;
    }
  }
}

.withEndIconAdornment {
  .endIconAdornment {
    @include vertically-center-icon;

    right: $spacing-sm;
    left: auto;

    &[dir="rtl"],
    [dir="rtl"] & {
      right: auto;
      left: $spacing-sm;
    }
  }

  &.isDisabled {
    .endIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  .input[type="search"] {
    padding-right: calc(#{$spacing-md} + #{$input-icon-size});
    padding-left: $input-base-padding-horizontal;

    &[dir="rtl"],
    [dir="rtl"] & {
      padding-right: $input-base-padding-horizontal;
      padding-left: calc(#{$spacing-md} + #{$input-icon-size});
    }
  }
}

.withStartIconAdornment.withEndIconAdornment {
  .input[type="search"] {
    padding-right: calc(#{$spacing-md} + #{$input-icon-size});
    padding-left: calc(#{$spacing-md} + #{$input-icon-size});

    &[dir="rtl"],
    [dir="rtl"] & {
      padding-right: calc(#{$spacing-md} + #{$input-icon-size});
      padding-left: calc(#{$spacing-md} + #{$input-icon-size});
    }
  }
}

// Default theme
/* stylelint-disable-next-line no-duplicate-selectors */
.withStartIconAdornment {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .startIconAdornment {
    color: $color-purple-800;
    opacity: $search-input-placeholder-opacity;
  }

  &:focus-within:not(.withDisabled),
  &:hover:not(.withDisabled) {
    .startIconAdornment {
      opacity: 1;
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &.withDisabled {
    /* stylelint-disable-next-line no-duplicate-selectors */
    .startIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.withEndIconAdornment {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .endIconAdornment {
    color: $color-gray-600;
    opacity: $search-input-placeholder-opacity;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &.withDisabled {
    /* stylelint-disable-next-line no-duplicate-selectors */
    .endIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }
}

// Reversed
.withStartIconAdornment.withReversed {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .startIconAdornment {
    color: $color-white;
    opacity: $search-input-disabled-icon-opacity;
  }

  &.withDisabled {
    .startIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  &:hover:not(.withDisabled),
  &:focus-within:not(.withDisabled) {
    .startIconAdornment {
      opacity: 1;
    }
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.withEndIconAdornment.withReversed {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .endIconAdornment .cancelButton {
    color: $color-white;
    opacity: $search-input-disabled-icon-opacity;
  }

  &.withDisabled {
    .endIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  &:hover:not(.withDisabled),
  &:focus-within:not(.withDisabled) {
    .endIconAdornment {
      opacity: $search-input-disabled-icon-opacity;
    }
  }
}

///////////////////////////////////////////////////
// THEMES
///////////////////////////////////////////////////

// Default
.input[type="search"].default {
  background-color: $color-white;
  color: $color-purple-800;
  border-color: $color-gray-500;
  display: flex;
  align-items: center;

  @include form-input-placeholder {
    color: $color-purple-800;
    opacity: $search-input-placeholder-opacity;
  }

  &:focus:not([disabled]),
  &:hover:focus:not([disabled]),
  &:hover:not([disabled]) {
    background-color: $color-gray-200;
  }

  &:hover:not([disabled]) {
    @include form-input-placeholder {
      opacity: 1;
    }
  }

  &:focus + .focusRing {
    border-color: $color-blue-500;
  }

  &.disabled {
    color: rgba($color-purple-800-rgb, $search-input-placeholder-opacity);

    @include form-input-placeholder {
      opacity: $search-input-placeholder-opacity;
    }
  }

  &.error:not(:focus) {
    border-color: $color-red-500;
  }
}

// Secondary default
.input[type="search"].secondary.default {
  background-color: $color-gray-200;
  color: $color-purple-800;
  border: transparent;
  display: flex;
  align-items: center;

  @include form-input-placeholder {
    color: $color-purple-800;
    opacity: $search-input-placeholder-opacity;
  }

  &:focus:not([disabled]),
  &:hover:focus:not([disabled]),
  &:hover:not([disabled]) {
    background-color: $color-gray-300;
    border-color: transparent;
  }

  &:focus + .focusRing {
    border-color: $color-blue-500;
  }

  &.disabled {
    color: rgba($color-purple-800-rgb, $search-input-placeholder-opacity);

    @include form-input-placeholder {
      opacity: $search-input-placeholder-opacity;
    }
  }
}

// Reversed (Dark Backgrounds)
.input[type="search"].reversed {
  color: $color-white;
  border-color: rgba($color-white-rgb, 0.65);
  background: rgba($color-white-rgb, 0.1);

  @include form-input-placeholder {
    color: $color-white;
    opacity: $search-input-disabled-icon-opacity;
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    background: rgba($color-white-rgb, 0.2);
    color: $color-white;
  }

  &:hover:not([disabled]) {
    @include form-input-placeholder {
      opacity: 1;
    }
  }

  &:focus + .focusRing {
    border-color: $color-blue-300;
  }

  &.disabled {
    color: rgba($color-white-rgb, $input-disabled-opacity);
    border-color: rgba($color-white-rgb, $input-disabled-border-alpha);

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }

  &.error:not(:focus) {
    border-color: $color-red-200;

    @include form-input-placeholder {
      opacity: $search-input-placeholder-opacity;
    }
  }
}

// Reversed Secondary (Dark Backgrounds)
.input[type="search"].reversed.secondary {
  color: $color-white;
  border: none;
  background-color: rgb(255 255 255 / 10%);

  @include form-input-placeholder {
    color: $color-white;
    opacity: rgba(255, 255, 255, $search-input-disabled-icon-opacity);
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    background: rgba($color-white-rgb, 0.2);
    border: none;
  }

  &:focus + .focusRing {
    border-color: $color-blue-300;
  }

  &.disabled {
    color: rgba($color-white-rgb, $input-disabled-opacity);

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }
}

.cancelButton {
  @include button-reset;

  &:hover {
    cursor: pointer;
  }
}
