@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/spacing';

@layer kz-components {
  .footer {
    border-top: 1px solid oklch(from $color-gray-cool-700 l c h / 0.1);
    gap: $spacing-xs;
    display: flex;
    padding: $spacing-sm $spacing-sm 0;
  }
}
