@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/draft-empty-state/KaizenDraft/EmptyState/responsive";

.container {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: $ca-layout-max-width;
  box-sizing: border-box;
}

.sidebar {
  width: $ca-layout-sidebar-width + (2 * $ca-grid);
  padding: 0 $ca-grid;
  border: 3px dashed #ccc;
  box-sizing: border-box;
  flex-shrink: 0;

  @include ca-media-tablet-and-under {
    display: none;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  padding: 0 $ca-grid;
  box-sizing: border-box;
}

.buttonContainer {
  // This size mixin comes from EmptyState's responsive.scss - useful for
  // applying your own styles at the component's own breakpoints.
  // Unfortunately if you want full-width buttons at the "sm" size and
  // regular buttons otherwise, you'll have to specify a fixed width for
  // "md" size and above (fullWidth prop on the Button controls full width;
  // can't use CSS breakpoints unless we make the Button component aware
  // of which page layout and component it's a part of).
  // If in doubt, ask Design Systems Team!
  @include medium {
    width: 118px;
  }
}
