@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../title-block-zen/KaizenDraft/TitleBlockZen/TitleBlockBreakpoints.scss";

body {
  margin: 0;
}

.contentContainer {
  box-sizing: border-box;
  padding: 24px;
  max-width: $kz-layout-content-max-width;
  margin: 0 $kz-layout-content-side-margin;
  background: #eee;

  @include title-block-medium-and-small {
    margin: 0;
  }
}
