@import "~@kaizen/design-tokens/sass/layout";

// An approximation of storybooks default toc column size
$storybook-toc: 150px;

.main {
  max-width: $layout-content-max-width;
  margin: auto;
}

.content {
  :global(code) {
    // If not set, the code overflows behind the TOC when it doesn't wrap.
    /* stylelint-disable-next-line declaration-no-important */
    white-space: pre-wrap !important;
  }
}

.docsWrapper {
  max-width: calc(#{$layout-content-max-width} + #{$storybook-toc});
  margin: auto;
}
