@import "../button.module";

.container {
  @extend %caButtonContainer;
}

.button {
  @extend %caButton;
}

.primary {
  @extend %caButtonPrimary;
}

.secondary {
  @extend %caButtonSecondary;
}

.iconButton {
  @extend %caButtonIconButton;
}

.destructive {
  @extend %caButtonDestructive;
}

.secondaryDestructive {
  @extend %caButtonSecondaryDestructive;
}

.form {
  @extend %caButtonForm;
}

.reversed {
  @extend %caButtonReversed;
}

.content {
  @extend %caButtonContent;
}

.label {
  @extend %caButtonLabel;
}

.fullWidth {
  width: 100%;

  .button {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content {
    justify-content: center;
  }
}

.iconWrapper {
  @extend %caButtonIconWrapper;
}

.additionalContentWrapper {
  @extend %caButtonAdditionalContentWrapper;
}

.destructiveModifier.destructiveModifier {
  @extend %caButtonDestructiveModifier;
}

.loadingSpinner {
  // This is to fix a problem in safari where the svg stretched too high
  svg {
    height: 100%;
  }
}

.centeredLoadingSpinner {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}
