@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "~@kaizen/draft-form/KaizenDraft/Form/Primitives/base";

// @TODO - brought through from borders.scss in component-library
// In the future these tokens should be better represented in
// a separate package so they are shareable.
$ca-border-color-focus: $kz-color-cluny-500;
$ca-border-color-hover: $kz-color-wisteria-700;
$ca-border-color-focus-reversed: $kz-color-cluny-300;

// -----------------------------------------------
// Form Input Primitive
// -----------------------------------------------

// Vars
$input-height: 48px;
$input-base-padding-horizontal: $ca-grid / 2;
$input-icon-size: 1.25rem; // 20px
$input-placeholder-opacity: 0.5;
$input-disabled-background: $kz-color-ash;
$input-disabled-alpha: 30%;
$input-disabled-opacity: 0.3;
$input-disabled-border-alpha: 50%;

///////////////////////////////////////////////////
// BASE STYLES
///////////////////////////////////////////////////

.wrapper {
  position: relative;
}

.input {
  @include form-input-reset;
  background-color: transparent;
  background-clip: padding-box;
  border: $kz-border-solid-border-width $kz-border-solid-border-style
    transparent;
  border-radius: $kz-border-solid-border-radius;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 $input-base-padding-horizontal;
  height: $input-height;
  width: 100%;
  margin-bottom: 2px;

  @include form-input-placeholder {
    opacity: 1;
  }

  &:focus:not([disabled]),
  &:hover:focus:not([disabled]) {
    @include form-input-placeholder {
      opacity: 0;
    }
  }

  &.disabled {
    &:not(.reversed) {
      background: $input-disabled-background;
    }

    @include form-input-placeholder {
      color: add-alpha($kz-color-wisteria-800-default, $input-disabled-alpha);
    }
  }
}

.input:focus + .focusRing {
  $focus-ring-offset: 3px;
  position: absolute;
  background: transparent;
  border-radius: $kz-border-focus-ring-border-radius;
  border-width: $kz-border-focus-ring-border-width;
  border-style: $kz-border-focus-ring-border-style;
  border-color: transparent;
  top: -$focus-ring-offset;
  left: -$focus-ring-offset;
  right: -$focus-ring-offset;
  bottom: -$focus-ring-offset;
  pointer-events: none;
}

///////////////////////////////////////////////////
// ICON ADORNMENT STYLES
///////////////////////////////////////////////////

@mixin vertically-center-icon {
  position: absolute;
  height: $input-icon-size;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.withStartIconAdornment {
  .startIconAdornment {
    @include vertically-center-icon;
    @include ca-position($start: $ca-grid / 2);
  }

  &.withDisabled {
    .startIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  .input {
    @include ca-padding(
      $start: $ca-grid + $input-icon-size,
      $end: $input-base-padding-horizontal
    );
  }
}

.withEndIconAdornment {
  .endIconAdornment {
    @include vertically-center-icon;
    @include ca-position($end: $ca-grid / 2);
  }

  &.isDisabled {
    .endIconAdornment {
      opacity: $input-disabled-opacity;
    }
  }

  .input {
    @include ca-padding(
      $start: $input-base-padding-horizontal,
      $end: $ca-grid + $input-icon-size
    );
  }
}

.withStartIconAdornment.withEndIconAdornment {
  .input {
    @include ca-padding(
      $start: $ca-grid + $input-icon-size,
      $end: $ca-grid + $input-icon-size
    );
  }
}

// Default theme
/* stylelint-disable-next-line no-duplicate-selectors */
.withStartIconAdornment {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .startIconAdornment {
    color: $kz-color-wisteria-800;
    opacity: 0.5;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &.withDisabled {
    /* stylelint-disable-next-line no-duplicate-selectors */
    .startIconAdornment {
      opacity: 0.3;
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &:hover:not(.withDisabled),
  &:focus-within:not(.withDisabled) {
    .startIconAdornment {
      opacity: 0.7;
    }
  }
}

// Reversed
.withStartIconAdornment.withReversed {
  .startIconAdornment {
    color: $kz-color-white;
    opacity: 1;
  }

  &.withDisabled {
    .startIconAdornment {
      opacity: 0.3;
    }
  }

  &:hover:not(.withDisabled),
  &:focus-within:not(.withDisabled) {
    .startIconAdornment {
      opacity: 1;
    }
  }
}
///////////////////////////////////////////////////
// THEMES
///////////////////////////////////////////////////

// Default
.input.default {
  background-color: $kz-color-white;
  color: $ca-base-text-color;
  border-color: $kz-color-wisteria-500;
  display: flex;
  align-items: center;

  @include form-input-placeholder {
    color: $ca-base-text-color;
    opacity: $input-placeholder-opacity;
  }

  &:focus:not([disabled]),
  &:hover:focus:not([disabled]) {
    border-color: $ca-border-color-hover;
  }

  &:focus + .focusRing {
    border-color: $ca-border-color-focus;
  }

  &.disabled {
    color: add-alpha($kz-color-wisteria-800-default, $input-disabled-alpha);

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }

  &.error:not(:focus) {
    border-color: $ca-palette-input-validation-negative;
  }
}

// Reversed (Dark Backgrounds)
.input.reversed {
  color: $kz-color-white;
  border-color: rgba($kz-color-white, 0.65);

  @include form-input-placeholder {
    color: $kz-color-white;
    opacity: $input-placeholder-opacity;
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    background: rgba($kz-color-white, 0.1);
    border-color: $kz-color-white;
  }

  &:focus + .focusRing {
    border-color: $ca-border-color-focus-reversed;
  }

  &.disabled {
    color: add-alpha($kz-color-white, $input-disabled-alpha);
    border-color: add-alpha(
      $kz-color-white-default,
      $input-disabled-border-alpha
    );

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }

  &.error:not(:focus) {
    border-color: $ca-palette-input-validation-negative;

    @include form-input-placeholder {
      opacity: $input-placeholder-opacity;
    }
  }
}
