@import "~@kaizen/design-tokens/sass/layout";

$small: 300px;
$medium: $layout-breakpoints-medium;
$large: $layout-breakpoints-large;

// comes from ca-layout-padding x2 which is no longer used
$side-padding: 48px;
$sidebarWidth: 240px;
$sidebarWithPadding: $sidebarWidth + $side-padding;

$typography-heading-3-font-size-small: 1.25rem;
$typography-heading-3-font-weight-small: 700;
$typography-heading-3-line-height-small: 1.5rem;

@mixin large-sidebar-and-content {
  @media (min-width: ($large + $sidebarWithPadding + $side-padding)) {
    @content;
  }
}

@mixin large-content-only {
  @media (min-width: ($large + $side-padding)) {
    @content;
  }
}

@mixin medium {
  @media (min-width: ($medium + $side-padding)) {
    @content;
  }
}

@mixin small {
  @media (max-width: ($medium + $side-padding - 1px)) {
    @content;
  }
}

@mixin typography-heading-3-sm {
  font-size: $typography-heading-3-font-size-small;
  line-height: $typography-heading-3-line-height-small;
  font-weight: $typography-heading-3-font-weight-small;
}
