@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/component-library/styles/responsive";

$bannerPadding: $spacing-lg;
$ca-banner-fade-out: opacity $animation-duration-slow ease;
$ca-banner-collapse-height-delayed: margin-top $animation-duration-fast
  $animation-duration-slow ease;

.banner {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  background: $color-white;
  min-width: 320px;
  max-width: $layout-breakpoints-large;
  border:
    $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $border-solid-border-radius;
  padding: $bannerPadding;
  box-shadow: $shadow-small-box-shadow;
  position: relative;
  top: -1px;
  transition: $ca-banner-fade-out, $ca-banner-collapse-height-delayed;
  color: $color-purple-800;

  @include ca-media-desktop {
    min-height: calc(12rem - calc(#{$bannerPadding} * 2));
    flex-direction: row;
    gap: $spacing-md;
    width: auto;
    align-items: center;
  }

  @include ca-media-mobile {
    min-width: unset;
  }
}

.illustrationWrapper {
  display: flex;

  @include ca-media-tablet {
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: $spacing-sm;
  }

  @include ca-media-mobile {
    display: none;
  }
}

.descriptionContainer {
  flex: 1;
  text-align: center;
  align-self: center;
  max-width: 780px;

  @include ca-media-desktop {
    padding: 0 $spacing-sm;
    text-align: left;
  }

  @include ca-media-mobile {
    margin: $spacing-sm;
    max-width: 100%;
  }

  [dir="rtl"] & {
    @include ca-media-desktop {
      padding: 0 $spacing-sm;
      text-align: right;
    }
  }
}

.descriptionAndActions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-md;

  @include ca-media-tablet-and-under {
    flex-direction: column;
    width: 100%;
    align-items: unset;
  }
}

.buttonContainer {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  flex-direction: row-reverse;
  gap: $spacing-sm;
  min-width: max-content;

  @include ca-media-tablet-and-up {
    text-align: center;
  }

  @include ca-media-mobile {
    flex-direction: column;
    width: 100%;
    margin-top: $spacing-xs;
  }

  [dir="rtl"] & svg {
    transform: rotate(180deg);
  }
}

.headingWrapper {
  margin-bottom: $spacing-md;
}
