@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/layers";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/styles/animation";

.titleBlockContainer {
  width: 100%;
}

.titleBlock {
  background-color: #fff;
  background-color: $kz-color-wisteria-700;
  color: $kz-color-white;
  width: inherit;

  @media print {
    display: none;
  }
}

.educationVariant {
  background-color: $kz-color-cluny-200;
  color: $kz-color-wisteria-800;
}

.adminVariant {
  background-color: $kz-color-white;
  color: $kz-color-wisteria-800;
}

.bottomSeparatorContainer {
  max-width: $ca-layout-max-width;
  border-bottom: 3px solid add-alpha($kz-color-white, 10%);
  margin: 0 auto;
  display: flex;

  .educationVariant &,
  .adminVariant & {
    border-bottom: 3px solid add-alpha($kz-color-wisteria-700, 20%);
  }

  .noBottomSeparator & {
    border-bottom: 3px solid transparent;
  }
}

.titleBlockInner {
  position: relative;
  padding: 0 $ca-layout-side-padding;
  height: $ca-layout-title-block-height;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include ca-media-tablet {
    height: $ca-layout-title-block-tablet-height;
  }

  @include ca-media-mobile {
    height: $ca-layout-title-block-mobile-height;
    padding-left: $ca-grid;
    padding-right: $ca-grid;
  }
}

$breadcrumb-circle-width: 40px;

.breadcrumb {
  @include ca-type-ideal-small;
  display: flex;
  position: absolute;
  z-index: $ca-z-index-sticky;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-#{$breadcrumb-circle-width} - #{$ca-grid});
  color: $kz-color-white;

  &:hover {
    text-decoration: none;
  }

  [dir="rtl"] & {
    left: auto;
    right: -38px;
  }

  .educationVariant &,
  .adminVariant & {
    color: $ca-link-text-color;
  }

  @media only screen and (max-width: $ca-layout-max-width + ($ca-layout-side-padding * 2)) {
    position: relative;
    @include ca-margin($end: $ca-grid * 1.5);
    left: 0;

    [dir="rtl"] & {
      right: 0;
    }
  }

  @include ca-media-tablet {
    top: $ca-layout-title-block-tablet-height / 2;
  }

  @include ca-media-mobile {
    display: none;
  }
}

.breadcrumbText {
  flex: 0 0 $ca-grid * 8;
  @include ca-type-ideal-heading;
  top: 0;
  display: none;
  @include ca-margin($start: $ca-grid);
  white-space: nowrap;

  .breadcrumb:hover &,
  .breadcrumb:focus & {
    display: inline-block;
    animation: slide-fade 0.4s;

    [dir="rtl"] & {
      animation: reverse-slide-fade 0.4s;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: $ca-grid;
  }
}

.circle {
  $border-width: 3px;
  flex: 0 0 $breadcrumb-circle-width;
  box-sixing: border-box;
  width: $breadcrumb-circle-width;
  height: $breadcrumb-circle-width;
  color: $kz-color-white;
  border-color: add-alpha($kz-color-white, 50%);
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;

  .breadcrumb:hover &,
  .breadcrumb:focus & {
    transform: scale(1.1);
    border-color: transparent;
    background-color: $kz-color-white;
    color: $kz-color-wisteria-700;
  }

  .educationVariant &,
  .adminVariant & {
    color: $kz-color-cluny-500;
    border-color: $kz-color-cluny-300;
    border-width: $border-width;
  }

  .educationVariant .breadcrumb:hover &,
  .educationVariant .breadcrumb:focus &,
  .adminVariant .breadcrumb:hover &,
  .adminVariant .breadcrumb:focus & {
    background-color: $kz-color-cluny-500;
    color: #fff;
  }
}

.leftContent {
  display: flex;
  transition: opacity 0.3s ease;
  flex: 1 0 auto;

  .breadcrumb:hover + &,
  .breadcrumb:focus + & {
    opacity: 0;
  }

  @include ca-media-mobile {
    justify-content: center;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include ca-media-mobile {
    justify-content: center;
  }
}

.title {
  @include kz-typography-heading-1;
  display: inline-block;
  top: auto;

  @include ca-media-tablet {
    @include kz-typography-heading-2;
    @include ca-inherit-baseline;
  }

  @include ca-media-mobile {
    @include kz-typography-heading-3;
    @include ca-inherit-baseline;
  }
}

.textContainer {
  display: flex;
  align-items: center;
}

.tag {
  margin-left: $ca-grid;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.toolbarContainer {
  $gap-emulation-margin: $ca-grid * 0.25; // if we could use column-gap, it would be used instead, and would be a half grid;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin-left: -$gap-emulation-margin;
  margin-right: -$gap-emulation-margin;

  & > * {
    margin-left: $gap-emulation-margin;
    margin-right: $gap-emulation-margin;
  }

  @include ca-media-mobile {
    display: none;
  }
}

.buttonWrapper {
  margin: 0 ($ca-grid / 2);

  &:last-child {
    margin-right: 0;
  }
}

// scss-lint:disable ImportantRule
.copyButton {
  margin-right: 12px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
// scss-lint:enable ImportantRule

@keyframes slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reverse-slide-fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navContainer {
  @include ca-inherit-baseline;
  display: flex;
  flex: 1;
  align-items: stretch;
  height: 100%;
  color: $kz-color-wisteria-800;
  @include ca-margin($start: $ca-grid * 1.5);

  @include ca-media-mobile {
    display: flex;
    margin: 0;
    border-bottom: 1px solid $ca-border-color;
    width: 100%;
    background: #fff;
  }

  .navButtonsContainer {
    display: flex;

    @include ca-media-mobile {
      @include ca-padding($start: $ca-grid, $top: $ca-grid * 0.5);
    }
  }
}

// Some hackiness to make mobile nav work in Elm 0.18:
.nonMobileNav {
  @include ca-media-mobile {
    display: none;
  }
}

.mobileNav {
  @include ca-media-tablet-and-up {
    display: none;
  }
}

.compact {
  @include ca-media-tablet-and-up {
    box-shadow: $kz-shadow-large-box-shadow;
  }
}

.sticky {
  @include ca-media-tablet-and-up {
    position: fixed;
    z-index: $ca-z-index-sticky;
  }
}
