/*
 * This is taken from the Material Symbols CDN
 * font-weight & font-size removed as overridden in .icon
 */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icon {
  font-size: calc(1px * var(--icon-size, 20));
  font-weight: var(--icon-font-weight, 400);
  vertical-align: var(--icon-vertical-align);

  /* Must use vars otherwise whole attribute must be set again */
  font-variation-settings:
    "FILL" var(--icon-fill, 0),
    "GRAD" var(--icon-grade, 0),
    "opsz" var(--icon-optical-size, var(--icon-size, 20));
}

.filled {
  --icon-fill: 1;
}

.shouldMirrorInRTL {
  [dir="rtl"] & {
    transform: scale(-1, 1);
  }
}

.iconLTR {
  [dir="rtl"] & {
    display: none;
  }
}

.iconRTL {
  display: none;

  [dir="rtl"] & {
    display: inherit;
  }
}
