.icon {
  font-size: calc(1px * var(--icon-size, 20));
  font-weight: var(--icon-font-weight, 400);
  vertical-align: var(--icon-vertical-align);

  /* Must use vars otherwise whole attribute must be set again */
  font-variation-settings:
    'FILL' var(--icon-fill, 0),
    'GRAD' var(--icon-grade, 0),
    'opsz' var(--icon-optical-size, var(--icon-size, 20));
}

.filled {
  --icon-fill: 1;
}

.shouldMirrorInRTL {
  [dir='rtl'] & {
    transform: scale(-1, 1);
  }
}

.iconLTR {
  [dir='rtl'] & {
    display: none;
  }
}

.iconRTL {
  display: none;

  [dir='rtl'] & {
    display: inherit;
  }
}
