@import "./styles";
@import "../../styles/utils";

.root {
  @extend %root;
}

.navigationBar {
  @extend %navigation-bar;

  box-sizing: border-box;
  top: 0;
  z-index: $ca-z-index-fixed;
}

.page {
  @extend %page;

  box-sizing: border-box;
  position: relative;
}

.header {
  @extend %header;

  box-sizing: border-box;
}

.body {
  @extend %body;

  box-sizing: border-box;
}

.bodyInner {
  @extend %body-inner;
}

.sidebar {
  @extend %sidebar;

  box-sizing: border-box;
}

.content {
  @extend %content;

  box-sizing: border-box;
}

.footer {
  @extend %footer;

  box-sizing: border-box;
}

.toasts {
  position: absolute;
  top: 0;
  right: 0;
}

.announcers {
  @include sr-only;
}
