@import "~@kaizen/component-library/styles/responsive";

.buttonSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;

  @include ca-media-mobile {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.buttonState {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5rem;

  @include ca-media-mobile {
    flex-direction: column;
    margin-top: 1rem;
  }
}
