@import "~@kaizen/design-tokens/sass/spacing";

.listBox {
  list-style: none;
  padding-left: $spacing-sm;
  padding-top: $spacing-sm;
  padding-right: $spacing-sm;
  margin: 0 $spacing-sm 0 0;
  display: grid;
  max-height: 344px;
  overflow-y: auto;
}

.overflown {
  padding-right: $spacing-sm;
}
