@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";

.popover {
  border-radius: $border-solid-border-radius;
  box-shadow: $shadow-large-box-shadow;
  background: $color-white;
}
