@layer kz-components {
  .tabPanel {
    border: 2px solid transparent;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-color: var(--border-brand);
      border-radius: var(--border-focus-ring-border-radius);
    }
  }
}
