@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/semantic-color';

@layer kz-components {
  .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $text-primary;
    top: -0.25rem;
  }

  .dayRangeStart,
  .dayRangeEnd {
    background-color: $bg-brand-solid;
    color: $color-white;
  }

  .dayRangeMiddle {
    background-color: $bg-brand-primary;
    color: $text-brand-primary;

    & [class*='_button_'] {
      color: $text-brand-primary;
    }
  }

  .chevronIcon {
    pointer-events: none;
  }
}
