@import '~@kaizen/design-tokens/sass/color';

@layer kz-components {
  .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $color-purple-950;
    top: -0.25rem;
  }

  .dayRangeStart,
  .dayRangeEnd {
    background-color: $color-blue-600;
    color: $color-white;
  }

  .dayRangeMiddle {
    background-color: $color-blue-050;
    color: $color-blue-600;

    & [class*='_button_'] {
      color: $color-blue-600;
    }
  }

  .chevronIcon {
    pointer-events: none;
  }
}
