@import "~@kaizen/design-tokens/sass/color";

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $color-purple-800;
}

.navButtonNext {
  inset-inline-end: 0;
}

.dayRangeStart,
.dayRangeEnd {
  background-color: $color-blue-500;
  color: $color-white;
}

.dayRangeMiddle {
  background-color: $color-blue-100;
  color: $color-blue-500;
}
