@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/semantic-color';
@import '~@kaizen/design-tokens/sass/spacing';
@import '~@kaizen/design-tokens/sass/typography';

@layer kz-components {
  .tag {
    display: inline-flex;
    align-items: center;
    padding: $spacing-4 $spacing-8;
    gap: $spacing-4;
    border-radius: 28px;
    font-family: $typography-paragraph-intro-lede-font-family;
    font-size: $typography-paragraph-small-font-size;
    font-weight: $typography-paragraph-small-font-weight;
    line-height: $typography-paragraph-small-line-height;
    white-space: nowrap;
    min-height: $spacing-20;
  }

  .iconContainer {
    display: inline-flex;
  }

  .gray {
    background-color: $bg-tertiary;
    color: $text-primary;
  }

  .blue {
    background-color: $bg-brand-primary;
    color: $text-brand-secondary;

    .iconContainer {
      color: $text-brand-primary;
    }
  }

  .green {
    background-color: $bg-success-primary;
    color: $color-green-700;

    .iconContainer {
      color: $color-green-500;
    }
  }

  .yellow {
    background-color: $bg-warning-primary;
    color: $color-yellow-700;

    .iconContainer {
      color: $color-yellow-700;
    }
  }

  .orange {
    background-color: $color-orange-100;
    color: $color-orange-700;

    .iconContainer {
      color: $color-orange-500;
    }
  }

  .red {
    background-color: $bg-error-primary;
    color: $color-red-700;

    .iconContainer {
      color: $color-red-500;
    }
  }

  .purple {
    background-color: $color-purple-100;
    color: $color-purple-700;

    .iconContainer {
      color: $color-purple-500;
    }
  }
}
