@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";

.calendar {
  display: flex;
  flex-direction: column;
  color: $ca-palette-ink;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weekdays {
  display: flex;
  flex-direction: row;
  margin-bottom: $ca-grid / 2;
}

.row {
  &:last-child {
    border-bottom: 0;
  }

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $ca-border-color;
}

.dayName {
  text-align: center;
  width: 42px;
}

.day {
  @include ca-type-ideal-small;
  @include ca-inherit-baseline;
  padding: 0;
  border-width: 0 1px;
  border-color: $ca-border-color;
  border-style: solid;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  outline: 0;

  &:not(:first-child) {
    border-left-width: 0;
  }

  .row:first-child > &:not(.empty) {
    border-top-width: 1px;
  }

  .empty + & {
    border-left-width: 1px;
  }

  .row:last-child > & {
    border-bottom-width: 1px;
  }
}

.selected {
  background-color: $ca-palette-seedling;
  color: white;
  border-color: $ca-palette-seedling;
}

.between {
  background-color: $ca-border-color;
}

.empty {
  border: none;
  @include ca-padding($start: 1px);
}
