@import "~@kaizen/design-tokens/sass/layout-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "../styles";
@import "../decision-tokens.scss";

.badge {
  background-color: $dt-color-badge-background-color;
  color: $color-neutral-100;
  font-weight: $ca-weight-medium;
  text-decoration: none;
  text-transform: uppercase;
  max-height: $layout-navigation-bar-height;
  width: $layout-navigation-bar-height;
  position: relative;
  &::after {
    display: block;
    content: "";
    padding-bottom: 100%; // % of parent width
  }
  > * {
    @extend %ca-navigation-bar__menu-item-focus;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  &.staging {
    background-color: $dt-color-badge-background-color-staging;
  }

  &.named {
    background-color: $dt-color-badge-background-color-named;
  }

  &.test {
    background-color: $dt-color-badge-background-color-test;
  }

  &.local {
    background-color: $dt-color-badge-background-color-local;
  }

  &.content {
    background-color: $dt-color-background-color-content;
    color: $dt-color-text;
  }

  @include navbar-mobile-only {
    @include ca-margin($start: 21px);

    background: none;
    flex: none;
    width: 20px;
  }
}
