@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/layout";
@import "../styles";

.dropdown {
  top: calc(100% + #{$ca-grid / 4});
  align-items: center;
  position: absolute;
  z-index: $ca-z-index-dropdown;
  background-color: $kz-color-white;
  box-shadow: 0 0 ($ca-grid / 2) rgba($kz-color-wisteria-800, 0.3);
  border-radius: $kz-border-solid-border-radius;
  overflow: hidden;
  padding: 4px 0 0;
  max-width: 300px;

  // HACK: duplicate class selector to bump specificity to work around https://trello.com/c/VGvOyHk4
  &.dropdown {
    &:focus {
      // focus is non-interactive
      outline: 0;
    }
  }
}

.shiftDropdownLeft {
  @include ca-position($end: 0);
}

.menuItems {
  padding: 0;
  margin: 0;
}
