@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";

.container {
  @include ca-margin($end: 4px);
  width: $kz-var-spacing-sm;
  color: $kz-var-color-seedling-400;
}
