@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/spacing-vars";
@import "../styles";

$menuItem__padding: $kz-var-spacing-md / 2;
$menuItem__margin: 4px;

.buttonReset {
  // reset button styles
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  // override Murmur global styles :(
  transition: none;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.arrowIcon {
  @include ca-margin($start: $kz-var-spacing-sm);

  display: flex;
  color: rgba($kz-var-color-wisteria-800-rgb-params, 0.5);
  transition: color $ca-ease $ca-duration-immediate;
}

.item {
  @include font-body;
  @include ca-margin(
    $end: $menuItem__margin,
    $start: $menuItem__margin,
    $bottom: $menuItem__margin
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;

  border-radius: 4px;
  height: 42px;
  min-width: 150px;
  padding: 0 $menuItem__padding;
  text-align: left;
  color: $kz-var-color-wisteria-800;

  transition-property: background-color, color;
  transition-duration: $ca-duration-immediate;
  transition-timing-function: $ca-ease;

  &:hover,
  &:focus,
  .active & {
    background-color: $kz-var-color-cluny-100;
    color: $kz-var-color-cluny-500;
    text-decoration: none;

    .arrowIcon {
      color: $kz-var-color-cluny-500;
    }
  }
}

.itemBtn {
  @extend .item;

  composes: buttonReset;
  width: calc(100% - #{$menuItem__margin * 2});
}

.linkLabel {
  display: flex;
  align-items: center;
}

.badge {
  @include ca-margin($start: $kz-var-spacing-xs);
  min-height: $kz-var-spacing-md;
  border-radius: $kz-var-spacing-md;
  display: flex;
  align-items: center;
  justify-content: center;

  &.badgeNew {
    @include ca-padding($start: $kz-var-spacing-sm, $end: $kz-var-spacing-sm);
    background-color: $kz-var-color-seedling-200;
  }

  &.badgeNotification {
    @include ca-padding(
      $start: calc(#{$kz-var-spacing-md}#{" / 3"}),
      $end: calc(#{$kz-var-spacing-md}#{" / 3"})
    );
    background-color: $kz-var-color-wisteria-800;

    @include navbar-mobile-only {
      background-color: $kz-var-color-coral-500;
      color: $kz-var-color-white;
    }
  }
}
