@import "../sass/border";
@import "../sass/color";
@import "../sass/typography";

.codeWrapper {
  max-height: 25rem;
  overflow: auto;
  border-radius: $border-solid-border-radius;
  pre {
    margin: 0;
  }
}

.codeWrapperCaption {
  text-align: center;
  padding: 0.75rem 0 2rem;
}

.codeWrapperCaptionText {
  color: $color-purple-600;
}

.dataSmallExample {
  font-family: $typography-data-small-font-family;
  font-size: $typography-data-small-font-size;
  font-weight: $typography-data-small-font-weight;
  line-height: $typography-data-small-line-height;
  letter-spacing: $typography-data-small-letter-spacing;
}

.dataSmallUnitsExample {
  font-family: $typography-data-small-units-font-family;
  font-size: $typography-data-small-units-font-size;
  font-weight: $typography-data-small-units-font-weight;
  line-height: $typography-data-small-units-line-height;
  letter-spacing: $typography-data-small-units-letter-spacing;
}
