@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/shadow";
// @import "~@kaizen/design-tokens/sass/spacing";

.filterPopover {
  background-color: $color-white;
  z-index: 1010;
  box-shadow: $shadow-large-box-shadow;
  border-radius: $border-borderless-border-radius;
  // padding: $spacing-md;
  display: inline-flex;
}
