@import "../styles";
@import "~@kaizen/design-tokens/sass/typography";

.notification {
  @extend %ca-notification;
}

// Structure

.icon {
  @extend %ca-notification__icon;
}

.textContainer {
  @extend %ca-notification__text-container;
}

.title {
  @extend %ca-notification__title;
}

.text {
  @extend %ca-notification__text;
}

.cancel {
  @extend %ca-notification__cancel;
}

.cancelInner {
  @extend %ca-notification__cancel__inner;
}

.cancelLabel {
  @extend %ca-notification__cancel__label;
}

.notificationTitle {
  top: 0.42em;
  position: relative;
  padding-right: 6px;
  line-height: $typography-heading-6-line-height;
}

// Animation

.hidden {
  @extend %ca-notification---hidden;
}

// Variant

.inline {
  @extend %ca-notification---inline;
}

.toast {
  @extend %ca-notification---toast;
}

.global {
  @extend %ca-notification---global;
}

// Type

.positive {
  @extend %ca-notification---positive;
}

.informative {
  @extend %ca-notification---informative;
}

.cautionary {
  @extend %ca-notification---cautionary;
}

.negative {
  @extend %ca-notification---negative;
}

// Modifiers

.noBottomMargin {
  @extend %ca-notification---noBottomMargin;
}

.forceMultiline {
  @extend %ca-notification---forceMultiline;
}
