@import "~@kaizen/design-tokens/sass/layout";
@import "../../../Content/variables";

.wrapper {
  @media (max-width: $layout-breakpoints-large) {
    margin-left: $content-margin-width-on-medium-and-small * -1;
    margin-right: $content-margin-width-on-medium-and-small * -1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: $layout-breakpoints-medium) {
    border-radius: 0;
    margin-left: $content-margin-width-on-medium-and-small * -1;
    margin-right: $content-margin-width-on-medium-and-small * -1;
  }
}
