@import "~@kaizen/design-tokens/sass/spacing";

.fieldMessageList {
  margin: $spacing-0;
  padding-inline-start: $spacing-24;
}

// TODO: Remove once the FieldMessage component has been updated
.fieldMessageIcon > span {
  align-self: flex-start;
}
