@layer kz-components {
  .listSectionHeader {
    font-family: var(--typography-heading-5-font-family);
    font-weight: var(--typography-heading-5-font-weight);
    font-size: var(--typography-heading-5-font-size);
    line-height: var(--typography-heading-5-line-height);
    letter-spacing: var(--typography-heading-5-letter-spacing);
  }

  .listSectionGroup {
    padding: 0;
    list-style: none;
  }
}
