@layer kz-components {
  .sectionWrapper:not(.firstSectionHeader) {
    padding-top: var(--spacing-16);
  }

  .firstSectionHeader {
    padding-top: var(--spacing-8);
  }

  .listSectionHeader {
    font-family: var(--typography-paragraph-small-font-family);
    font-weight: var(--typography-paragraph-bold-font-weight);
    font-size: var(--typography-paragraph-small-font-size);
    line-height: var(--typography-paragraph-small-line-height);
    letter-spacing: var(--typography-paragraph-small-letter-spacing);
    padding-bottom: var(--spacing-4);
    padding-left: var(--spacing-16);
  }

  .listSectionGroup {
    padding: 0;
    list-style: none;
  }
}
