@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/component-library/styles/responsive";

.content {
  display: grid;
  grid-template-areas:
    "guidelines-image language-image components-image"
    "guidelines-text language-text components-text";
  justify-content: space-evenly;
  align-content: center;
  padding: calc(var(--ca-grid) * 4.5) 0;

  @include ca-media-mobile() {
    grid-template-areas:
      "guidelines-image"
      "guidelines-text"
      "."
      "language-image"
      "language-text"
      "."
      "components-image"
      "components-text";
    padding: calc(var(--ca-grid) * 4) 0 0 0;
    grid-template-rows: auto auto 3rem auto auto 3rem;
  }
}

%imageContainer {
  background: white;
  width: 240px;
  height: 240px;
  transition: transform $animation-duration-rapid
      $animation-easing-function-ease-in-out,
    box-shadow $animation-duration-rapid $animation-easing-function-ease-in-out;

  &:hover {
    transform: scale(1.025);
    box-shadow: var(--card-box-shadow);
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }
}

.guidelinesImageContainer {
  @extend %imageContainer;
  grid-area: guidelines-image;
}

.languageImageContainer {
  @extend %imageContainer;
  grid-area: language-image;
}

.componentsImageContainer {
  @extend %imageContainer;
  grid-area: components-image;
}

%textContainer {
  width: 240px;
}

.guidelinesTextContainer {
  @extend %textContainer;
  grid-area: guidelines-text;
}

.languageTextContainer {
  @extend %textContainer;
  grid-area: language-text;
}

.componentsTextContainer {
  @extend %textContainer;
  grid-area: components-text;
}

.headingContainer {
  margin-top: calc(var(--ca-grid) * 1.5);

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.body {
  margin-top: calc(var(--ca-grid) * 0.75);
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  padding: calc(var(--ca-grid) * 5) calc(var(--ca-grid) * 2)
    calc(var(--ca-grid) * 4);
}

.footerInner {
  max-width: var(--page-content-width);
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include ca-media-mobile() {
    flex-direction: column;
  }
}

.footerIntroduction {
  max-width: 650px;
  width: 100%;
}

.footerRecruitment {
  max-width: calc(var(--ca-grid) * 13);
  width: 100%;
  margin-left: calc(var(--ca-grid) * 2);

  @include ca-media-mobile() {
    margin: calc(var(--ca-grid) * 2) 0 0 0;
  }
}

.footerHeading {
  font-size: 1.375rem;
  line-height: 1.0909;
}

.footerText {
  @extend .body;
}

.footerLinkButton {
  margin-top: var(--ca-grid);
}
