@import "~@kaizen/design-tokens/sass/color";

.graphic {
  background-color: rgba($color-gray-600-rgb, 0.1);
  border-radius: 50%;

  &.reversed {
    background-color: rgba($color-white-rgb, 0.1);
  }
}
