@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

.month {
  padding: $spacing-md;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $color-purple-800;
}

.navButtonNext {
  right: 0;

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }
}
