@import '~@kaizen/design-tokens/sass/layout';
@import './variables';

.content {
  max-width: $layout-content-max-width;
  padding: 0 $layout-content-side-margin;
  width: 100%;

  @media (max-width: calc(#{$layout-breakpoints-large} - 1px)) {
    padding: 0 $content-margin-width-on-medium-and-small;
  }
}
