@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

.stepContainer {
  width: 100%;
  grid-area: stepper;
}

.stepList {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.step {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: center;
  max-width: $spacing-96;
  position: relative;
  container-type: inline-size;
}

.stepContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stepIndicator {
  width: $spacing-12;
  height: $spacing-12;
  position: relative;
}

.stepIndicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $spacing-12;
  height: $spacing-12;
  border-radius: 100%;
  border: $border-solid-border-style $border-solid-border-width $color-white;
  opacity: 0.65;
}

.stepIndicator.stepActive {
  opacity: 1;
}

.stepIndicator.stepActive::before {
  opacity: 1;
}

.stepIndicator.completedStep {
  background-color: transparent;
}

.stepName {
  text-align: center;
  margin-bottom: $spacing-12;
  font-weight: $typography-paragraph-bold-font-weight;
}

.completedIcon {
  color: $color-white;
  position: absolute;
  width: $spacing-16;
  height: $spacing-16;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stepDivider {
  height: 0;
  display: flex;
  position: absolute;
  flex-grow: 1;
  min-width: calc(100% - #{$spacing-24});
  border: solid $spacing-1 $color-white;
  opacity: 0.65;
  margin: 0;
  border-radius: $border-solid-border-radius;
  left: 100%;
  top: calc(100% - #{$spacing-6});
  transform: translateX(-50%);
}

.stepDivider.completedStep {
  opacity: 1;
}

// this need to be on the item
.stepDisplayName {
  display: none;
}

.stepperDescription {
  display: block;
  text-align: center;
}

.stepperDescription {
  display: none;
}

@container (min-width: 72px) {
  .stepDisplayName {
    display: inline;
  }

  .step {
    align-self: center;
  }

  .stepContainer {
    align-self: center;
  }

  .stepperDescription {
    dispay: block;
  }
}
