@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

.stepContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.step {
  display: flex;
  align-items: center;
  padding-top: $spacing-24;
  box-sizing: border-box;
}

.stepIndicator {
  width: $spacing-12;
  height: $spacing-12;
  position: relative;
}

.stepIndicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $spacing-12;
  height: $spacing-12;
  border-radius: 100%;
  border: $border-solid-border-style $border-solid-border-width $color-white;
  opacity: 0.65;
}

.stepIndicator.stepActive {
  opacity: 1;
}

.stepIndicator.stepActive::before {
  opacity: 1;
}

.stepIndicator.completedStep {
  background-color: transparent;
}

.stepName {
  position: absolute;
  margin-bottom: $spacing-12;
  left: 50%;
  bottom: 100%;
  transform: translateX(calc(-50%));
  font-weight: $typography-paragraph-bold-font-weight;
}

.stepDivider {
  height: 0;
  display: flex;
  min-width: $spacing-72;
  border: solid 1px $color-white;
  opacity: 0.65;
  margin: 0 4px;
  border-radius: $border-solid-border-radius;
}

.stepDivider.completedStep {
  opacity: 1;
}

.completedIcon {
  color: $color-white;
  position: absolute;
  width: $spacing-16;
  height: $spacing-16;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
