@import "~@kaizen/component-library/styles/responsive";

.tagSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  @include ca-media-mobile {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.tagState {
  display: grid;
  grid-gap: 1rem;
}
