@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/design-tokens/sass/animation";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/draft-button/KaizenDraft/Button/styles";

$default-width: 385px;
$option-height: $kz-spacing-xl;
$max-visible-options: 6;
$navigation-transition-speed: $kz-animation-duration-rapid;
$navigation-transition-easing: $kz-animation-easing-function-ease-in-out;
$delay-before-showing-loading-placeholders: 500ms;

.container {
  -webkit-font-smoothing: antialiased;
  border: $kz-border-solid-border-width $kz-border-solid-border-style
    $ca-border-color;
  border-radius: $kz-border-solid-border-radius;
  display: flex;
  overflow: hidden;
  transition: height $navigation-transition-speed $navigation-transition-easing;
  max-height: $option-height * (2 + $max-visible-options);
}

.defaultWidth {
  width: $default-width;
}

.menu {
  flex-shrink: 0;
}

.header {
  background-color: $kz-color-wisteria-700;
  color: $kz-color-wisteria-200;
  border-top-left-radius: $kz-border-solid-border-radius;
  border-top-right-radius: $kz-border-solid-border-radius;
}

.parent {
  margin: 0 $kz-spacing-md;
  border-bottom: 1px $kz-border-solid-border-style $kz-color-wisteria-500;
  height: $option-height;
  display: flex;
  align-items: center;
}

.parentButton {
  @include button-reset;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

.disabledParentButton {
  composes: parentButton;
  opacity: 0.3;
}

.parentButtonIcon {
  @include ca-margin($start: -8px, $end: $kz-spacing-xs);
  height: $kz-spacing-md;
  width: $kz-spacing-md;
}

.parentButtonIcon > svg {
  display: block;
}

.current {
  margin: 0 $kz-spacing-md;
  height: $option-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  background-color: $kz-color-white;
  color: $kz-color-wisteria-800;
  border-bottom-left-radius: $kz-border-solid-border-radius;
  border-bottom-right-radius: $kz-border-solid-border-radius;
  max-height: $option-height * $max-visible-options;
  overflow-y: auto;
}

.child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childLabelButton {
  @include button-reset;
  @include ca-type-align-start;
  color: inherit;
  flex: 1 0;
  height: $option-height;
  padding: 0 $kz-spacing-md;
}

.childDrilldownButton {
  @include button-reset;
  color: inherit;
  height: $option-height;
  padding: 0 $kz-spacing-md;
  display: flex;
  align-items: center;
}

.childLabelButton:hover,
.childDrilldownButton:hover {
  background-color: $kz-color-wisteria-100;
}

.childDrilldownButtonIcon {
  height: $kz-spacing-md;
  width: $kz-spacing-md;
}

.parentMenu,
.currentMenu,
.childMenu {
  transform: translateX(-100%);

  [dir="rtl"] & {
    transform: translateX(100%);
  }
}

:global(.animating-enter),
:global(.animating-enter-done) {
  &.parentMenu {
    transition: transform $navigation-transition-speed
      $navigation-transition-easing;
    transform: translateX(0);
  }

  &.childMenu {
    transition: transform $navigation-transition-speed
      $navigation-transition-easing;
    transform: translateX(-200%);

    [dir="rtl"] & {
      transform: translateX(200%);
    }
  }
}

:global(.animating-exit),
:global(.animating-exit-done) {
  &.currentMenu {
    transition: transform $navigation-transition-speed
      $navigation-transition-easing;
  }

  &.currentMenu.toChild {
    transform: translateX(-200%);

    [dir="rtl"] & {
      transform: translateX(200%);
    }
  }

  &.currentMenu.toParent {
    transform: translateX(0);
  }
}

.loadingMenu {
  composes: menu;

  .parent,
  .current,
  .body {
    transition: opacity $kz-animation-duration-deliberate
      $navigation-transition-easing;
    transition-delay: $delay-before-showing-loading-placeholders;
    opacity: 0;
  }

  &.shouldAnimate .parent,
  &.shouldAnimate .current {
    opacity: 0.1;
  }

  &.shouldAnimate .body {
    opacity: 1;
  }
}
