@import "./Base.module.scss";

@each $fraction, $margin in $spacing-list {
  .m-#{$fraction} {
    margin: $margin;
  }
  .mt-#{$fraction} {
    margin-top: $margin;
  }
  .mr-#{$fraction} {
    margin-right: $margin;
  }
  .mb-#{$fraction} {
    margin-bottom: $margin;
  }
  .ml-#{$fraction} {
    margin-left: $margin;
  }
  .mx-#{$fraction} {
    margin: 0 $margin;
  }
  .my-#{$fraction} {
    margin: $margin 0;
  }
}

@each $screen, $min in $breakpoints {
  @media (min-width: #{$min}) {
    @each $fraction, $margin in $spacing-list {
      .m-#{$fraction}--#{$screen} {
        margin: $margin;
      }
    }
  }
}
