@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/form/KaizenDraft/Form/Primitives/base";
@import "../../decision-tokens.scss";

.wrapper {
  position: relative;
}

.textarea {
  @include form-input-reset;
  border-radius: $border-solid-border-radius;
  width: 100%;
  border: $border-solid-border-width $border-solid-border-style
    $dt-color-form-border-color;
  padding: $ca-grid * 0.5;
  color: $dt-color-form-text-color;
  display: block;
  resize: vertical;

  &:focus,
  &:hover {
    border-color: $dt-color-form-border-color-hover;
  }

  &.error:not(:focus) {
    border-color: $color-red-500;
  }

  @include form-input-placeholder {
    line-height: 1.5;
    color: $dt-color-form-text-color-placeholder;
  }
}

.textarea:focus + .focusRing {
  $focus-ring-offset: 3px;
  position: absolute;
  background: transparent;
  border-radius: $border-focus-ring-border-radius;
  border-width: $border-focus-ring-border-width;
  border-style: $border-focus-ring-border-style;
  border-color: transparent;
  top: -$focus-ring-offset;
  left: -$focus-ring-offset;
  right: -$focus-ring-offset;
  bottom: -$focus-ring-offset;
  pointer-events: none;
}

.textarea.default {
  &:focus + .focusRing {
    border-color: $dt-color-form-border-color-focus;
  }
}

// Reversed (Dark Backgrounds)
.textarea.reversed {
  color: $color-white;
  border-color: rgba($color-white-rgb, 0.65);
  background: transparent;

  @include form-input-placeholder {
    line-height: 1.5;
    color: $color-white;
  }

  &:focus,
  &:hover {
    background: rgba($color-white-rgb, 0.1);
    border-color: $color-white;
  }

  &.error {
    border-color: $color-red-300;
  }

  &:focus + .focusRing {
    border-color: $dt-color-form-border-color-reversed-focus;
  }
}
