@import "~@cultureamp/kaizen-design-tokens/sass/color";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/layout";

.customExpandedHeader {
  margin-bottom: $ca-grid * 0.5;
}

.popoutExpandedBody {
  border-top: 1px solid $ca-border-color;
  padding: $ca-grid * 0.5 $ca-grid * 0.8;
}

.popoutExpandedFooter {
  background: $kz-color-ash;
  margin-left: -$ca-grid * 0.5;
  margin-right: -$ca-grid * 0.5;
  padding: $ca-grid * 0.5 ($ca-grid * 0.5 + $ca-grid * 0.8) $ca-grid;
}

.countAndExpander {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.multiline {
  padding: ($ca-grid * 0.5) 0;
}
