@import "../utils/variables";

%icon-button {
  width: $button-height;

  &.default {
    --button-border-color: transparent;
    --button-hover-border-color: transparent;
  }

  & #{$className--content} {
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}
