@layer kz-components {
  .popover {
    box-sizing: border-box;
    background-color: var(--color-white);
    border-radius: var(--spacing-8);
    padding: var(--spacing-8);
    box-shadow: var(--shadow-small-box-shadow);  
  }

}