@import '../../../styles/utils/legacy/layout';
@import '../mixins';

@layer kz-components {
  .mainActionsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 0;

    .defaultActionButtonMinimized {
      display: none;
      margin-inline-end: 0;
    }

    @include title-block-small {
      justify-content: flex-start;
      padding-left: 2.75rem;

      @media (max-width: 360px) {
        .defaultActionButton {
          display: none;
          margin-inline-end: 0;
        }

        .defaultActionButtonMinimized {
          display: flex;
          margin-inline-end: 3px;
          margin-left: -0.5rem;
        }
      }
    }
  }
}
