@import '../../../styles/utils/legacy/layout';
@import '../mixins';

@layer kz-components {
  .mainActionsContainer {
    display: flex;
    gap: 12px; // TODO centralise $title-block-gap-default;
    align-self: flex-start;
    flex-shrink: 0;

    @include title-block-under-576 {
      justify-content: flex-start;
      margin-left: 50px;
    }

    .defaultActionButtonMinimized {
      display: none;
    }

    @media (max-width: 360px) {
      .defaultActionButton {
        display: none;
      }

      .defaultActionButtonMinimized {
        display: flex;
      }
    }
  }
}
