@import '../../../styles/utils/legacy/layout';
@import '../../../styles/utils/legacy/grid';
@import '../mixins';

@layer kz-components {
  .toolbar {
    display: flex;
    align-items: center;
    // gap sizing needs to be applied on parent container
    // the toolbar is used accross mutiple subcomponents within Titleblock,
    //  spacing in now the responsibility of the parent.
    gap: inherit;
  }
}
