@import "~@kaizen/design-tokens/sass/spacing";

.stickerSheet + .stickerSheet {
  .stickerSheetSectionHeading {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-sm;
  }
}

.stickerSheetTable {
  margin-left: calc(-1 * #{$spacing-sm});
}
