@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.root {
  opacity: 0;
  left: 50%;
  position: absolute;
  pointer-events: none;
  border-radius: $kz-border-solid-border-radius;
  transition: opacity $ca-duration-fast, transform $ca-duration-fast;
  padding: $ca-grid / 2 $ca-grid / 2;
  z-index: 2;
  border: $kz-border-solid-border-width $kz-border-solid-border-style
    $kz-color-wisteria-200;
  box-shadow: $kz-shadow-small-box-shadow;
  text-align: center;
}

.contentWrap {
  display: block;
  width: 400px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}

.contentWrap.above {
  top: 0;
}

.contentWrap.below {
  bottom: 0;
}

.tooltipContent {
  @include kz-typography-paragraph-body($size: 14);
  color: $kz-color-wisteria-800;
  top: 0;
}

.default {
  background-color: white;
}

.above {
  transform: translateX(-50%) translateY(-70%);
}

.below {
  bottom: -4px;
  transform: translateX(-50%) translateY(70%);
}

.shadow {
  z-index: 1;
  border: none;
  .tooltipContent {
    visibility: hidden;
  }
}

.tooltipWrap {
  position: initial;
  display: inline-block;
  &:hover {
    .above {
      opacity: 1;
      transform: translateX(-50%) translateY(calc(-100% + -6px));
    }

    .below {
      opacity: 1;
      transform: translateX(-50%) translateY(calc(100% + 6px));
    }
  }
  &:focus {
    .root {
      visibility: visible;
    }
  }
}

.root::before,
.root::after {
  content: "";
  position: absolute;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
}

.above::before,
.above::after {
  bottom: -4px;
  top: 100%;
}

.below::before,
.below::after {
  top: -10px;
  transform: rotate(180deg);
}

.root::before {
  border-top: 10px solid $kz-color-wisteria-200;
}

.root::after {
  border-top: 10px solid white;
  margin-top: -2px;
  z-index: 2;
}

.shadow::before {
  border-top: 0px solid $kz-color-wisteria-200;
}

// Triangle portion is a little darker to bring out shadow
.shadow::after {
  // this color is a duplication of the color portion of our
  // "small" shadow token defined in the design-tokens package
  border-top: 10px solid rgba(53, 55, 74, 0.09);
  margin-top: 1px;
  filter: blur(4px);
  z-index: 2;
}

.below::after {
  margin-top: 2px;
}

.inline {
  display: inline;
  position: relative;
}
