@import "~@kaizen/design-tokens/sass/color";

.liveIcon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  color: $color-green-500;
}

.liveIcon_base {
  opacity: 30%;
  display: block;
}

.liveIcon_1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: circle(16%);
}

.liveIcon_2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-delay: 1s;
  clip-path: circle(32%);
  animation-name: pulse-inner;
}

.liveIcon_3 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-delay: 1s;
  clip-path: circle(50%);
  animation-name: pulse-outer;
}

@keyframes pulse-inner {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes pulse-outer {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
