@import "~@kaizen/design-tokens/sass/color";

.segment {
  padding: 0 2px;
  font-variant-numeric: tabular-nums;
  text-align: end;
}

.segment.placeholder {
  color: var(--react-spectrum-datepicker-placeholder-color);
}

.segment:focus {
  color: white;
  background: $color-blue-500;
  outline: none;
  border-radius: 2px;
}
