@import "~@kaizen/design-tokens/sass/color";

// TODO: double check with Jason with segment colours

.segment {
  padding: 0 2px;
  font-variant-numeric: tabular-nums;
  text-align: end;
}

.segment.placeholder {
  color: rgba($color-purple-800-rgb, 0.4);
}

.segment:focus {
  color: white;
  background: $color-blue-500;
  outline: none;
  border-radius: 2px;
}
