@import "~@kaizen/design-tokens/sass/color";

.segment {
  padding: 0 4px;
  text-align: end;
  background-color: $color-gray-300;
  border-radius: 3px;
  color: $color-purple-800;
}

.placeholder {
  color: rgba($color-purple-800-rgb, 0.7);
}

.literal {
  background: none;
}
