@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";

.tab {
  display: inline-flex;
  align-items: center;
  border: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top-left-radius: $border-borderless-border-radius;
  border-top-right-radius: $border-borderless-border-radius;
  background: $color-white;
  white-space: nowrap;
  text-decoration: none;
  padding: $spacing-md $spacing-md;
  margin: 0;
  font-family: $typography-heading-4-font-family;
  font-size: $typography-heading-4-font-size;
  font-weight: $typography-heading-4-font-weight;
  line-height: $typography-heading-4-line-height;
  letter-spacing: $typography-heading-4-letter-spacing;
  color: $color-purple-800;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background: $color-blue-100;
    color: $color-blue-500;
    border-color: $color-blue-500;
  }

  &:disabled {
    opacity: 30%;
  }

  &:not(:first-child) {
    margin-inline-start: $spacing-xs;
  }

  &:not(:disabled):hover {
    background: $color-blue-100;
    color: $color-blue-500;
  }
}

.tab[data-selected] {
  position: relative;
  color: $color-blue-500;

  &::before {
    content: "";
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: currentcolor;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.badge {
  margin-inline-start: $spacing-sm;
  display: inline-flex;
  align-items: center;
}

@media (forced-colors: active) {
  .tab {
    border: 2px solid transparent;

    &:focus-visible::after {
      $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

      content: "";
      position: absolute;
      background: transparent;
      border-radius: $border-focus-ring-border-radius;
      border-width: $border-focus-ring-border-width;
      border-style: $border-focus-ring-border-style;
      border-color: transparent;
      inset: calc(-1 * #{$focus-ring-offset});
    }
  }

  .tab.selected::before {
    // High contrast also doesn't see the pseudo element created to show the active tab.
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
  }
}
