@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";

.tabPanel {
  border: 2px solid transparent;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: $color-blue-500;
    border-radius: $border-focus-ring-border-radius;
  }
}
