@import "@kaizen/design-tokens/sass/animation";
@import "@kaizen/design-tokens/sass/border";
@import "@kaizen/design-tokens/sass/color";
@import "@kaizen/design-tokens/sass/spacing";

.button {
  border: none;
  background-color: $color-white;
  width: 3rem;
  height: 3rem;
  border-radius: $border-solid-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-purple-800;
  position: relative;
  transition: background-color $animation-duration-immediate;

  &:hover:not(.active),
  &:global(.focus-visible):not(.active) {
    background-color: $color-gray-200;
  }

  &:focus {
    outline: none;
  }

  &:global(.focus-visible)::after {
    $focus-ring-offset: 3px;
    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    top: calc(-1 * #{$focus-ring-offset});
    left: calc(-1 * #{$focus-ring-offset});
    right: calc(-1 * #{$focus-ring-offset});
    bottom: calc(-1 * #{$focus-ring-offset});
  }
}

.active {
  background-color: $color-blue-500;
  color: $color-white;
}

.iconWrapper {
  > svg {
    max-width: 14px;
    max-height: 14px;
    object-fit: contain;
  }
}
