@import "./Base.module";

@each $fraction, $margin in $spacing-list {
  .m-#{$fraction} {
    margin: $margin;
  }
  .mt-#{$fraction} {
    margin-top: $margin;
  }
  .mr-#{$fraction} {
    margin-right: $margin;
  }
  .mb-#{$fraction} {
    margin-bottom: $margin;
  }
  .ml-#{$fraction} {
    margin-left: $margin;
  }
}
