@import "./Base.module";

@each $fraction, $padding in $spacing-list {
  .p-#{$fraction} {
    padding: $padding;
  }
  .pt-#{$fraction} {
    padding-top: $padding;
  }
  .pr-#{$fraction} {
    padding-right: $padding;
  }
  .pb-#{$fraction} {
    padding-bottom: $padding;
  }
  .pl-#{$fraction} {
    padding-left: $padding;
  }
}
