@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/layout";
@import "~@kaizen/design-tokens/sass/spacing";
@import "../GenericModal/GenericModal.module";

.modal {
  @extend %genericModal;

  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $color-purple-800;
  text-align: left;

  &.textAlignRTL {
    text-align: right;
  }

  &.padded {
    padding: $spacing-md $spacing-lg;

    @media (max-width: $layout-breakpoints-medium) {
      padding: $spacing-md;
    }
  }
}

.body {
  background: $color-gray-200;

  &.padded {
    padding: $spacing-md $spacing-lg $spacing-md $spacing-lg;

    @media (max-width: $layout-breakpoints-medium) {
      padding: $spacing-md;
    }
  }
}
