@import "~@kaizen/design-tokens/sass/color";

// vars
$grid-gap: 1.5rem;

.storyRow {
  display: grid;
  grid-template-areas: "title stories";
  grid-template-columns: 100px 1fr;
  gap: $grid-gap;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }

  .rowDivider & {
    &:not(:last-child) {
      border-bottom: 2px rgba($color-gray-600-rgb, 0.1) solid;
      padding-bottom: 1.5rem;
    }
  }

  .rowDivider.reversed & {
    &:not(:last-child) {
      border-bottom: 2px rgba($color-white-rgb, 0.1) solid;
      padding-bottom: 1.5rem;
    }
  }
}

.topHeader {
  grid-template-areas: ". stories";
  grid-template-columns: 100px 1fr;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }
}

.storyRowTitle {
  grid-area: title;
  display: inline-flex;
  align-items: center;
}

.storyRowContainer {
  grid-area: stories;
  display: grid;
  gap: $grid-gap;

  & + & {
    margin-top: 4rem;
  }

  .columnDivider * {
    &:not(:last-child) {
      border-right: 2px rgba($color-gray-600-rgb, 0.1) solid;
      padding-right: 1.5rem;
    }
  }

  .columnDivider.reversed * {
    &:not(:last-child) {
      border-right: 2px rgba($color-white-rgb, 0.1) solid;
      padding-right: 1.5rem;
    }
  }
}
