// vars
$grid-gap: 1.5rem;

.storyRow {
  display: grid;
  grid-template-areas: "title stories";
  grid-template-columns: 100px 1fr;
  gap: $grid-gap;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }
}

.topHeader {
  grid-template-areas: ". stories";
  grid-template-columns: 100px 1fr;

  .noRowTitles & {
    grid-template-areas: "stories";
    grid-template-columns: 1fr;
  }
}

.storyRowTitle {
  grid-area: title;
  display: inline-flex;
  align-items: center;
}

.storyRowContainer {
  grid-area: stories;
  display: grid;
  gap: $grid-gap;
}
