.overlay {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;
  /* backdrop-filter: blur(8px); */
}
