@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

.toolbarSection {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xs;
  margin: $spacing-xs 0;
  padding: 0 $spacing-xs;
  flex-wrap: wrap;
}

.toolbarSection + .toolbarSection {
  border-inline-start: 1px solid rgba($color-gray-600-rgb, 0.1);
}
