@import '~@kaizen/design-tokens/sass/color';
@import '~@kaizen/design-tokens/sass/spacing';

@layer kz-components {
  .toolbarSection {
    display: inline-flex;
    align-items: center;
    gap: $spacing-xs;
    margin: $spacing-xs 0;
    padding: 0 $spacing-xs;
    flex-wrap: wrap;
  }

  .toolbarSection + .toolbarSection {
    border-inline-start: 1px solid oklch(from $color-grey-cool-700 l c h / 0.1);
  }
}
