@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/border";

.row {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: $shadow-large-box-shadow;
  border-radius: $border-solid-border-radius;
  padding: $spacing-xs;

  .filters {
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-xs;
  }
}

.helperMessage {
  padding-bottom: 0.5rem;
}
