@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/component-library/styles/layers";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

$menu-container-width: 248px;

.buttonWrapper {
  display: inline-block;
}

.menuContainer {
  z-index: $ca-z-index-dropdown;
  width: auto;
}

.defaultWidth {
  width: $menu-container-width;
}

.reversedColor {
  color: $kz-color-white;
}
