@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./NavigationBarHelpers.module.scss";
@import "../../../layers";
@import "../../../border";
@import "../../../layout";
@import "../../../grid";
@import "../../../responsive";

$nav-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-timing: 150ms;
$indicator-height: 3px;

.link {
  @include ca-navigation-bar__link-item;
}

.linkIcon {
  display: inline-flex;
  opacity: 0.5;

  @include ca-media-mobile {
    display: none;
  }
}

.linkIcon + .linkText {
  @include ca-margin($start: $link-margin);

  @include ca-media-mobile {
    @include ca-margin($start: 0);
  }
}

.linkText {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: $ca-grid;
  justify-content: center;
}

.containsText {
  padding: 0;
}

.menuIcon {
  margin-left: auto;
  margin-right: $ca-grid;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.badge {
  @include ca-margin($start: $ca-grid * 0.25);
  @include ca-type-inter-small-bold;
  @include ca-inherit-baseline;

  border-radius: $ca-grid;
  &.badgeNew {
    @include ca-padding($start: $ca-grid * 0.5, $end: $ca-grid * 0.5);
    background-color: $kz-color-seedling-200;
    color: $kz-color-wisteria-800;
  }
  &.badgeNotification {
    @include ca-padding($start: $ca-grid / 3, $end: $ca-grid / 3);
    background-color: $kz-color-coral-500;
    color: $kz-color-white;
  }
}
