@import "~@kaizen/design-tokens/sass/color";
@import "../../../styles/color";
@import "../../../styles/type";
@import "../../../styles/responsive";

$ca-navigation-bar__height: 2.5 * $ca-grid;

$ca-navigation-bar__animation-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ca-navigation-bar__animation-timing: 150ms;

$ca-navigation-bar__link-item-height: 2 * $ca-grid;
$ca-navigation-bar__link-item-indicator-height: 3px;
$ca-navigation-bar__link-item-margin: $ca-grid / 4;

$link-margin: $ca-grid / 4;

@mixin ca-navigation-bar__link-item {
  @extend %ca-navigation-bar__menu-item-focus;

  @include ca-type-reverse;
  @include ca-media-mobile {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  // fill parent
  display: flex;
  min-width: 2 * $ca-grid;
  height: $ca-navigation-bar__link-item-height;
  margin: ($ca-grid / 4) 0;

  // center child
  align-items: center;
  justify-content: center;

  border-radius: $kz-border-solid-border-radius;

  color: rgba(white, 0.8);
  padding: 0;
  text-decoration: none;

  &.active {
    color: white; // override hyperlink hover color
    outline: none; // override native focus styles
    text-decoration: none;

    .linkText::before {
      transform: translateY(-#{$link-margin});
    }
  }

  // active indicator
  .linkText::before {
    content: "";
    display: block;
    transform: translateY(-#{$ca-navigation-bar__link-item-margin})
      translateY(-100%);
    height: $ca-navigation-bar__link-item-indicator-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: transform $ca-navigation-bar__animation-ease
      $ca-navigation-bar__animation-timing;

    @include ca-media-mobile {
      width: $ca-navigation-bar__link-item-indicator-height;
      height: 60px;
      right: auto;
      transform: translateX(-#{$ca-navigation-bar__link-item-margin})
        translateX(-100%);
    }
  }

  &:hover {
    color: white; // override hyperlink hover color
    text-decoration: none;

    .linkText::before {
      transform: translateY(-#{$ca-navigation-bar__link-item-margin});

      @include ca-media-mobile {
        transform: translateX(-#{$ca-navigation-bar__link-item-margin});
      }
    }
  }

  @include ca-type-inter-heading;
  @include ca-inherit-baseline;
  top: 0;

  &.secondary {
    @include ca-media-tablet-and-up {
      @include ca-type-inter-body;
      @include ca-inherit-baseline;

      padding: 0 $ca-grid / 2;

      .linkIcon {
        @include ca-media-tablet {
          opacity: 1;
        }
      }

      .linkText {
        @include ca-media-tablet {
          display: none;
        }

        padding: 0;

        &::before {
          display: none;
        }
      }

      &:hover,
      &:focus {
        background-color: rgba(white, 0.1);

        .linkIcon {
          opacity: 0.7;
        }
      }

      &:active {
        background-color: rgba(white, 0.2);
        transform: translateY(1px);

        .linkIcon {
          opacity: 1;
        }
      }
    }
  }
}

%ca-navigation-bar {
  display: flex;
  flex-direction: row;
  background-color: $kz-color-wisteria-700;
  height: $ca-navigation-bar__height;
  width: 100%;
  position: fixed;

  @media print {
    display: none;
  }
}

%ca-navigation-bar__menu-item-focus {
  :global(.js-focus-visible) & {
    // hide native focus ring when :focus but not :focus-visible
    &:focus {
      outline: none;
    }

    // show custom focus ring when :focus-visible
    &:global(.focus-visible) {
      color: white;
      outline: 2px solid $kz-color-cluny-500;
    }
  }
}
