@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/type";

.modal {
  composes: genericModal from "../Primitives/GenericModal.scss";
  min-width: 300px;
  max-width: 600px;
}

.header {
  color: $ca-palette-ink;
  padding: $ca-grid $ca-grid $ca-grid * 1.5;
  text-align: center;
  border-bottom: 1px solid $ca-border-color;
}

.body {
  background: $ca-palette-stone;
  padding: $ca-grid $ca-grid $ca-grid * 1.5;
  border-bottom: 1px solid $ca-border-color;
}
