@tailwind base;
@tailwind components;
@tailwind utilities;

pre code {
  font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New",
    monospace !important;
  font-size: 13px !important;
  line-height: 19px;
  border: 1px solid hsla(203, 50%, 30%, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
  border-radius: 4px;
  padding: 20px !important;
  font-weight: 300 !important;
  -webkit-font-smoothing: antialiased;
}

#storybook-docs {
  .sbdocs-wrapper {
    padding: 2.5rem;
  }

  .sbdocs-content {
    max-width: unset;
  }

  .sbdocs-a {
    color: var(--color-blue-400);

    &:hover {
      text-decoration: underline;
    }

    & code {
      color: inherit;
      text-decoration: underline;
    }
  }
}
