.container {
  position: relative;
}

.tabList {
  border-bottom: 1px solid rgba(var(--color-gray-600-rgb), 0.1);
  padding: var(--spacing-xs) 0 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.noPadding {
  padding: 0;
}

.leftArrow,
.rightArrow {
  --icon-size: 24;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  background: var(--color-white);
  inset-block: 0 1px;
  width: 48px;
  cursor: default;

  &:hover {
    background: var(--color-blue-100);
  }
}

.leftArrow {
  inset-inline-start: 0;
}

.leftArrow,
.leftArrow:hover {
  border-inline-end: 1px solid rgba(var(--color-gray-600-rgb), 0.1);
}

.rightArrow {
  inset-inline-end: 0;
}

.rightArrow,
.rightArrow:hover {
  border-inline-start: 1px solid rgba(var(--color-gray-600-rgb), 0.1);
}
