.stickerSheetSectionHeading {
  margin-bottom: var(--spacing-20);

  .stickerSheetContainer + .stickerSheetContainer & {
    margin-top: var(--spacing-40);
  }
}

.stickerSheet {
  max-width: fit-content;
  display: grid;
  gap: var(--spacing-32);
}

.stretch {
  max-width: unset;
}

.stickerSheetHeaders {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
