.stickerSheetSectionHeading {
  margin-bottom: var(--spacing-12);

  .stickerSheet + .stickerSheet & {
    margin-top: var(--spacing-lg);
  }
}

.stickerSheetTable {
  margin-left: calc(-1 * var(--spacing-12));
}
