@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/typography";

.stepsContainer {
  width: 100%;
  grid-area: stepper;
}

.stepList {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.step {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: center;
  max-width: $spacing-96;
  position: relative;
  container: step / inline-size;
}

.stepContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: $spacing-2;
}

.stepIndicator {
  width: $spacing-12;
  height: $spacing-12;
  position: relative;
}

.stepIndicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $spacing-12;
  height: $spacing-12;
  border-radius: 100%;
  border: $border-solid-border-style $border-solid-border-width $color-white;
  opacity: 65%;
}

.stepCurrent {
  opacity: 100%;
}

.stepCurrent::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $spacing-8;
  height: $spacing-8;
  background-color: $color-white;
  border-radius: 100%;
}

.stepCurrent::before,
.stepCurrent::after,
.completedStep::before {
  opacity: 100%;
}

.completedStep,
.completedStep::after {
  background-color: transparent;
}

.stepName {
  display: none;
  text-align: center;
  margin-bottom: $spacing-12;
  font-weight: $typography-paragraph-bold-font-weight;
}

.completedIcon {
  color: $color-white;
  position: absolute;
  width: $spacing-16;
  height: $spacing-16;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stepDivider {
  height: 0;
  display: flex;
  position: absolute;
  flex-grow: 1;
  min-width: calc(100% - #{$spacing-24});
  border: solid $spacing-1 $color-white;
  opacity: 65%;
  margin: 0;
  border-radius: $border-solid-border-radius;
  left: 100%;
  // sets fron the bottom to the centre of the dot
  top: calc(100% - #{$spacing-8});
  transform: translateX(-50%);
}

.stepDivider.completedStep {
  opacity: 100%;
}

.stepperDescription {
  display: none;
  text-align: center;
}

@container step (min-width: 4.5rem) {
  .stepName {
    display: inline;
  }

  .step {
    align-self: center;
  }

  .stepContent {
    align-self: center;
  }
}
