@import '~@kaizen/design-tokens/sass/layout';

@mixin title-block-under-1645 {
  @container (max-width: 1644px) {
    @content;
  }
}

@mixin title-block-under-1440 {
  @container (max-width: 1439px) {
    @content;
  }
}

@mixin title-block-under-1366 {
  @container (max-width: 1365px) {
    @content;
  }
}

@mixin title-block-medium-and-small {
  @container (max-width: calc(#{$layout-breakpoints-large} - 1px)) {
    @content;
  }
}

@mixin title-block-under-1024 {
  @container (max-width: 1023px) {
    @content;
  }
}

@mixin title-block-small {
  @container (max-width: calc(#{$layout-breakpoints-medium} - 1px)) {
    @content;
  }
}

@mixin title-block-xsmall {
  @container (max-width: 511px) {
    @content;
  }
}

@mixin title-block-media-at-1080 {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin title-block-container-1440 {
  @container (min-width: 1440px) {
    @content;
  }
}

// This emulates a scenario in which the the appchrome is in use and the CP is open
@mixin title-block-media-mixed-width {
  @media (min-width: 1080px) and (max-width: 1439px) {
    // Note: There is adiff of 15px between the media and container query
    @container (min-width: 1065px) {
      @content;
    }
  }
}
