@import '~@kaizen/design-tokens/sass/color';

$dt-color-background-color-admin: $color-gray-warm-010;
$dt-color-background-color-eduction: $color-blue-050;
$dt-color-background-color-default: $color-purple-800;
$dt-color-background-color-light: $color-white;
$dt-color-background-gradient: linear-gradient(
  0deg,
  $color-purple-800,
  oklch(from $color-purple-800 l c h / 0)
);
