@import "~@kaizen/design-tokens/sass/spacing";

.row {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  padding: $spacing-xs;

  .filters {
    display: flex;
    flex-direction: row;
    gap: $spacing-xs;
  }
}
