@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/shadow";

.row {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: $shadow-large-box-shadow;
  border-radius: 7px;
  padding: $spacing-xs;

  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-xs;
  }
}
