.dosAndDonts {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-16);

  > :only-child {
    grid-column: span 2;
  }
}

.doOrDontTag {
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 6px;
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  border-radius: var(--border-solid-border-radius);
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4) var(--spacing-8);
  color: var(--color-white);
}
