@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

$reverse-variant-color: $kz-color-wisteria-700;

.footerExtraContent {
  .reverseVariant & {
    background-color: $reverse-variant-color;
    color: white;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $ca-grid * 3;

  .reverseVariant & {
    background-color: $reverse-variant-color;
    color: white;
  }
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: $ca-grid * 16;
  width: 100%;
}

%link {
  a {
    .reverseVariant & {
      color: inherit;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.privacy,
.github,
.logo {
  @extend %link;
}

.logoLink {
  display: flex;
  align-items: center;
  color: inherit;
}
