@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/color";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $ca-grid * 3;

  &.reverseVariant {
    background-color: add-shade($ca-palette-wisteria, 30%);
    color: #fff;
  }
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: $ca-grid * 16;
  width: 100%;
}

%link {
  a {
    .reverseVariant & {
      color: inherit;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.privacy,
.github,
.logo {
  @extend %link;
}

.logoLink {
  display: flex;
  align-items: center;
  color: inherit;
}
