@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";

$reverse-variant-color: $color-blue-100;

.footerExtraContent {
  .reverseVariant & {
    background-color: $reverse-variant-color;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $spacing-xxxl;

  .reverseVariant & {
    background-color: $reverse-variant-color;
    color: $color-purple-800;
  }
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: calc(#{$spacing-md} * 16);
  width: 100%;
}

%link {
  a {
    .reverseVariant & {
      color: inherit;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.privacy,
.github,
.logo {
  @extend %link;
}

.logoLink {
  display: flex;
  align-items: center;
  color: inherit;
}
