@import "~@cultureamp/kaizen-component-library/components/NavigationBar/styles";
@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/responsive";

$content-max-width: $ca-grid * 57;

body {
  background-color: $ca-palette-stone;
  color: $ca-base-text-color;
  font-family: $ca-ideal-sans-font-family;
}

pre {
  white-space: normal;
  word-break: break-word;
}

.root {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "navbar"
    "page";
  grid-template-columns: 1fr;
  grid-template-rows: [navigationBarContainer] $ca-navigation-bar__height [page] 1fr;
}

.navigationBarContainer {
  grid-area: navbar;
  height: $ca-navigation-bar__height;
}

.page {
  display: grid;
  grid-area: page;
  grid-template-rows: [titleBlockContainer] auto [contentContainer] 1fr;
}

.contentContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: $ca-grid [content] 1fr $ca-grid;
}

.content {
  display: grid;
  grid-column: content;
  max-width: $content-max-width;
  width: 100%;
  padding: 0 0 $ca-grid;
  box-sizing: border-box;

  p {
    font-weight: $ca-weight-light;
    font-size: 16px;
    line-height: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $ca-weight-book;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  // lede {
  //   font-size: 20px;
  //   line-height: 24px;
  // }

  // small {
  //   font-size: 14px;
  //   line-height: 24px;
  // }

  // notifications {
  //   font-size: 15px;
  //   line-height: 18px;
  // }

  // label {
  //   font-size: 12px;
  //   line-height: 24px;
  // }

  button {
    font-size: 18px;
    line-height: 24px;
  }
}
