@use "~@kaizen/component-library/styles/grid" as *;
@import "~@kaizen/component-library/components/NavigationBar/styles";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/component-library/styles/layers";

:root {
  --content-max-width: calc(var(--ca-grid) * 57);
}

.root {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "navbar"
    "page"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: [navigationBarContainer] $ca-navigation-bar__height [page] 1fr [footer];
}

.navigationBarContainer {
  grid-area: navbar;
  height: $ca-navigation-bar__height;
  z-index: $ca-z-index-fixed;
}

.page {
  display: grid;
  grid-area: page;
  grid-template-rows: [pageHeaderContainer] auto [contentContainer] 1fr;
  padding-bottom: $ca-grid * 3;
}

.noPageHeader {
  grid-template-rows: [contentContainer] 1fr;
}

.noBottomPadding {
  padding-bottom: 0;
}

.contentContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: $ca-grid [content] 1fr $ca-grid;

  &.trimBottomOfCardToContent {
    grid-template-rows: min-content;
  }
}

.content {
  display: grid;
  grid-column: content;
  max-width: var(--content-max-width);
  width: 100%;
  padding: 0 0 $ca-grid;
  box-sizing: border-box;
}

.footerContainer {
  grid-area: footer;
}
