@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/responsive";

.pageHeader {
  display: grid;
  justify-items: center;
  background: $kz-color-wisteria-700;
  padding: calc(var(--ca-grid) * 3.5) var(--ca-grid);
  color: #fff;

  @include ca-media-mobile() {
    padding-bottom: calc(var(--ca-grid) * 3.5);
    justify-items: left;
  }
}

.pageHeaderInner {
  display: grid;
  grid-template-columns: [side] (12 * $ca-grid) [main] 1fr;
  width: var(--content-max-width);

  @include ca-media-mobile() {
    grid-template-columns: 1fr;
    grid-template-rows: [main] auto [side] auto;
    row-gap: $ca-grid;
    width: auto;
  }

  .headingOnly & {
    display: block;
    width: auto;
  }
}

.sideSection {
  grid-area: side;
  display: grid;
  grid-template-rows: ($ca-grid * 9.5) auto;
  row-gap: $ca-grid;

  @include ca-media-mobile() {
    grid-template-rows: auto;
  }
}

.image {
  display: flex;
  justify-content: start;
  align-items: end;
  position: relative;

  @include ca-media-mobile() {
    display: none;
  }
}

.imageBackdrop {
  position: absolute;
  margin-left: -20px;
  margin-top: -10px;
}

.headerImage {
  position: absolute;
  max-width: 200px;
}

.tagsContainer {
  color: $kz-color-white;
}

.tagsLabel {
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: $ca-grid / 2;
  margin-bottom: $ca-grid / 2;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.25em;
}

.mainSection {
  grid-area: main;
  padding: 0 $ca-grid * 6;

  @include ca-media-mobile() {
    padding: 0;
  }
}

.headingTextContainer {
  margin-bottom: $ca-grid * 2;
  margin-top: calc(-0.5 * 0.5em); // hack to make text flush with adjacent image

  .headingOnly & {
    text-align: center;
  }
}

.headingTextOverrides.headingTextOverrides {
  // the double class name is to get higher specificity. This is until we find a better way to specify colour overrides of the Text component. Without this, the css file load order becomes important, but it is non deterministic or unpredictable (is different in development and production)
  color: $kz-color-white;
}

.summaryParagraph {
  font-size: 1.625rem;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: var(--content-card-top-offset);

  .headingOnly & {
    text-align: center;
    white-space: pre-wrap;

    @media (max-width: 1080px) {
      white-space: normal;
    }
  }
}
