@import "~@cultureamp/kaizen-design-tokens/sass/color";
@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/responsive";

$sidebar-width: $ca-grid * 10;

.sidebarAndContent {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: 1fr;
  grid-gap: var(--sidebar-content-gap);

  @include ca-media-mobile() {
    grid-template-areas:
      "content"
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

.content {
  grid-area: content;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: var(--card-box-shadow);
  padding: 0;
  margin-top: calc(-1 * var(--content-card-top-offset));
  max-width: var(--page-content-width);

  @include ca-media-mobile() {
    border: 0;
    padding: 0;
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }
}

.contentNeedToKnow {
  margin-top: var(--content-top-and-bottom-margin);
  padding: 0 var(--content-side-margin) var(--content-top-and-bottom-margin);
  border-bottom: 1px solid $ca-border-color;

  @include ca-media-mobile() {
    padding: 0 0 var(--content-top-and-bottom-margin);
  }
}

// Sidebar styles

.sidebar {
  grid-area: sidebar;
  margin-top: $ca-grid * 1.5;
}

.sidebarSectionTitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1.5rem 0.75rem 0.75rem;
  letter-spacing: 0.03125em;
  color: add-alpha($kz-color-wisteria-700, 80%);
}

.tabList {
  padding: 0;
  margin: 0;
}

.tab {
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;

  a {
    padding: $ca-grid * 0.25 $ca-grid / 2;
    width: 100%;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: $kz-color-ash;
    }
  }

  &.active {
    background-color: $kz-color-ash;
    color: $kz-color-cluny-500;
  }
}
