@import "~@cultureamp/kaizen-component-library/styles/layout";
@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/responsive";

$sidebar-width: $ca-grid * 10;
$sidebar-content-gap: $ca-grid * 2;
$content-side-margin: $ca-grid * 6;
$content-top-and-bottom-margin: $ca-grid * 4;

:root {
  --content-card-top-offset: calc(var(--ca-grid) * 2);
}

.sidebarAndContent {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: 1fr;
  grid-gap: $sidebar-content-gap;

  @include ca-media-mobile() {
    grid-template-areas:
      "content"
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

.content {
  grid-area: content;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.19);
  padding: 0;
  margin-top: calc(-1 * var(--content-card-top-offset));
  max-width: $ca-grid * 45;

  @include ca-media-mobile() {
    border: 0;
    padding: 0;
    margin-top: 0;
    box-shadow: none;
  }
}

.contentInner {
  margin: $content-top-and-bottom-margin $content-side-margin;

  @include ca-media-mobile() {
    margin: 0;
  }
}

.contentNeedToKnow {
  margin-top: $content-top-and-bottom-margin;
  padding: 0 $content-side-margin $content-top-and-bottom-margin;
  border-bottom: 1px solid $ca-border-color;

  @include ca-media-mobile() {
    padding: 0 0 $content-top-and-bottom-margin;
  }
}

// Sidebar styles

.sidebar {
  grid-area: sidebar;
  margin-top: $ca-grid;
}

.tabList {
  padding: 0;
  margin: 0;
}

.tab {
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;

  a {
    padding: $ca-grid / 2.5 $ca-grid / 2;
    width: 100%;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: $ca-palette-ash;
    }
  }

  &.active {
    background-color: $ca-palette-ash;
    color: $ca-palette-ocean;
  }
}
