@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";

.container {
  display: flex;
  min-height: 6rem;
  padding: calc(var(--ca-grid) * 2) var(--content-side-margin);
  background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%),
    linear-gradient(-45deg, #eeeeee 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #eeeeee 75%),
    linear-gradient(-45deg, transparent 75%, #eeeeee 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border-bottom: 1px solid $ca-border-color;

  iframe {
    border: 0;
    width: 100%;
  }

  @include ca-media-mobile() {
    padding: var(--ca-grid);
  }
}
