.tag {
  color: inherit;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 0.08em 0.75em;
  margin: 0 0.25em 0.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}
