@import "~@kaizen/design-tokens/sass/layout";
@import "../variables";

.container {
  display: flex;
  width: 100%;
  justify-content: center;

  * {
    &,
    &:after,
    &:before {
      box-sizing: border-box;
    }
  }
}

.content {
  max-width: $layout-content-max-width;
  margin: 0 $layout-content-side-margin;
  width: 100%;

  @media (max-width: calc(#{$layout-breakpoints-large} - 1px)) {
    margin: 0 $content-margin-width-on-medium-and-small;
  }
}
