@import "~@kaizen/design-tokens/sass/shadow";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "../../styles/border";
@import "../../styles/layers";
@import "../../styles/animation";

$side-padding: calc(calc(3 / 4) * #{$ca-grid});

.menuList {
  background: white;
  border: $border-solid-border-width $border-solid-border-style
    $color-purple-200;
  box-shadow: $shadow-small-box-shadow;
  line-height: 40px;
}

.header {
  padding: 10px $side-padding;
  text-align: left;
  color: rgba($color-purple-800-rgb, 0.4);
  border-bottom: $ca-border-color 1px solid;
}

.header__title {
  @include kz-typography-heading-6;
  @include ca-inherit-baseline;

  display: block;
}

/* stylelint-disable no-descending-specificity */
.menuItem {
  @include kz-typography-paragraph-body;
  @include ca-inherit-baseline;

  composes: interactiveIconWrapper from "../Icon/Icon.module.scss";
  background: transparent;
  color: $color-purple-800;
  cursor: pointer;
  text-align: left;
  transition:
    $ca-duration-immediate background-color ease,
    $ca-duration-immediate color ease;
  padding: 10px $side-padding;
  text-decoration: none;
  display: flex;
  flex: 0 0 100%;

  [dir="rtl"] & {
    text-align: right;
  }

  &.menuItem--active,
  &:hover,
  &:focus {
    background: $color-gray-100;
    color: $color-blue-500;
    // override Murmur global styles :(
    text-decoration: none;

    .menuItem__Icon {
      color: $color-blue-500;
    }
  }
}

.menuItem--active {
  composes: active from "../Icon/Icon.module.scss";
}

.menuItem--destructive {
  color: $color-red-600;

  .menuItem__Icon {
    color: $color-red-600;
  }
}

.menuItem__Label {
  flex: 1;

  :not(:only-child) {
    @include ca-margin($end: calc(#{$ca-grid} / 2));
  }
}

.menuItem__Icon {
  text-align: right;
  color: $color-purple-800;
  position: relative;
  top: 3px;

  .hoverIcon & {
    opacity: 0%;
  }

  .menuItem--active &,
  .hoverIcon:hover &,
  .hoverIcon:focus & {
    opacity: 100%;
  }
}

.separator {
  height: 1px;
  width: 100%;
  border: 0;
  background: $color-purple-200;
  visibility: visible;
  margin: 5px 0;
}
/* stylelint-enable no-descending-specificity */
