@mixin enabled-pseudo-states-variant(
  $background-color: undefined,
  $border-color: undefined
) {
  &:not(:disabled) {
    &:hover,
    &:active,
    &:focus-visible {
      @if ($background-color != undefined) {
        background-color: $background-color;
      }

      @if ($border-color != undefined) {
        border-color: $border-color;
      }
    }
  }
}
