@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "../../../styles/legacy/color";
@import "../../../styles/legacy/layout";

$button-height: $spacing-xl;
$button-small-height: calc(#{$spacing-md} * 5 / 3);
$button-vertical-padding: calc(#{$spacing-sm} - #{$border-solid-border-width});
$button-vertical-padding--small: calc(
  #{$spacing-md / 3} - #{$border-solid-border-width}
);

// Elements
$className--content: ".content";
