@import "~@kaizen/design-tokens/sass/theme";

$dt-checkbox-color-background-color-base: $kz-color-wisteria-700;
$dt-checkbox-color-background-color-checked-focus: $kz-color-wisteria-700;
$dt-checkbox-color-background-color-unchecked-focus: $kz-color-wisteria-100;
$dt-checkbox-color-background-color-hover: $kz-color-wisteria-700;
$dt-checkbox-color-background-color-unchecked-hover: $kz-color-wisteria-100;
$dt-checkbox-color-border-color-base: $kz-color-wisteria-500;
$dt-checkbox-color-border-color-checked-focus: $kz-color-wisteria-700;
$dt-checkbox-color-border-color-focus: $kz-color-wisteria-700;
$dt-checkbox-color-border-color-hover: $kz-color-wisteria-700;

@if $rebrand {
  $dt-checkbox-color-background-color-base: $kz-color-iron-500;
  $dt-checkbox-color-background-color-checked-focus: $kz-color-slate-700;
  $dt-checkbox-color-background-color-unchecked-focus: $kz-color-stone-200;
  $dt-checkbox-color-background-color-hover: $kz-color-slate-700;
  $dt-checkbox-color-background-color-unchecked-hover: $kz-color-stone-200;
  $dt-checkbox-color-border-color-base: $kz-color-iron-500;
  $dt-checkbox-color-border-color-checked-focus: $kz-color-slate-700;
  $dt-checkbox-color-border-color-focus: $kz-color-slate-700;
  $dt-checkbox-color-border-color-hover: $kz-color-slate-700;
}
