@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "../../decision-tokens.scss";

$checkbox-size: 24px;
$icon-size: 24px;
$focus-ring-offset: 2px;

// override bootstrap styles
.checkbox.checkbox {
  @include form-input-visually-hidden();
  width: $checkbox-size;
  height: $checkbox-size;
  margin: 0;
}

.icon {
  height: $checkbox-size;
  width: $checkbox-size;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // .icon is inside .box so .box's border-box rule means
  // .icon sits to the right of .box's left-side border
  left: calc(-1 * #{$border-solid-border-width});
  color: $color-neutral-100;
}

.icon.reversed {
  color: $dt-color-form-color-icon-reversed;
}

.box {
  position: relative;
  pointer-events: none;
  background: $color-neutral-100;
  height: $checkbox-size;
  width: $checkbox-size;
  top: 0;
  border: $border-solid-border-width $border-solid-border-style
    $dt-color-form-border-color;
  border-radius: $border-solid-border-radius;
  box-sizing: border-box;
  background-color: white;
  border-color: $dt-color-form-border-color;

  .checkbox:checked + &,
  .checkbox:indeterminate + & {
    background: $dt-color-checkbox-background-color-checked;
    background-color: $dt-color-form-border-color;
  }

  .checkbox:focus + & {
    background: white;
    border-color: $dt-color-form-border-color-hover;
  }

  .checkbox:checked:focus + &,
  .checkbox:indeterminate:focus + & {
    background: $dt-color-form-border-color-hover;
    border-color: $dt-color-form-border-color-hover;
  }

  @media (hover: hover) and (pointer: fine) {
    .checkbox:checked:not([disabled]):hover + &,
    .checkbox:indeterminate:not([disabled]):hover + & {
      background: $dt-color-form-border-color-hover;
      border-color: $dt-color-form-border-color-hover;
    }

    .checkbox:not([disabled]):hover + & {
      border-color: $dt-color-form-border-color-hover;
    }
  }

  .checkbox:focus + &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $dt-color-form-border-color-focus;
    top: -$focus-ring-offset - ($checkbox-size / 8);
    left: -$focus-ring-offset - ($checkbox-size / 8);
    width: calc(
      #{$checkbox-size} + #{$focus-ring-offset} + #{$border-solid-border-width} *
        2
    );
    height: calc(
      #{$checkbox-size} + #{$focus-ring-offset} + #{$border-solid-border-width} *
        2
    );
  }

  .checkbox:disabled + & {
    opacity: 0.3;
  }
}

.box.reversed {
  border: $border-solid-border-width $border-solid-border-style
    $color-purple-100;
  background-color: $color-purple-700;

  .checkbox:not([checked]):focus + & {
    border-color: $color-purple-100;
    background-color: $color-purple-700;
  }

  @media (hover: hover) and (pointer: fine) {
    .checkbox:not([checked]):hover + & {
      border-color: $color-neutral-100;
      background-color: $color-purple-300;
    }
  }

  .checkbox:checked + &,
  .checkbox:indeterminate + & {
    background: $color-purple-300;
  }

  .checkbox:checked:focus + &,
  .checkbox:indeterminate:focus + & {
    background: rgba($color-purple-200-rgb, 0.65);
    border-color: $color-purple-100;
  }

  @media (hover: hover) and (pointer: fine) {
    .checkbox:indeterminate:hover + &,
    .checkbox:checked:hover + & {
      background: $color-neutral-100;
      border-color: $color-neutral-100;
    }
  }

  .checkbox:focus + &::after {
    border-color: $dt-color-form-border-color-reversed-focus;
  }
}

.box.error {
  border-color: $color-red-300;

  .checkbox:not([checked]):focus + & {
    border-color: $color-red-300;
  }

  @media (hover: hover) and (pointer: fine) {
    .checkbox:not([checked]):hover + & {
      border-color: $color-red-300;
    }
  }
}
