.truncateIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  background-color: transparent;
  color: rgba(var(color-purple-800-rgb), 0.7);
  margin: 0 var(--spacing-4);
}
