@layer kz-components {
  .truncateIndicatorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    background-color: transparent;
    color: oklch(from var(--color-gray-cool-950) l c h / 70%);
    margin: 0 var(--spacing-4);
  }
}
