@import "~@cultureamp/kaizen-component-library/styles/type";

@mixin setColumnSizes($numColumns, $min, $max) {
  .cardContainer {
    grid-template-columns: repeat($numColumns, minmax($min, $max));
  }

  .gridHeader {
    grid-column-end: span $numColumns;
  }
}

// expand or center on phone view
@include setColumnSizes(1, 280px, 1fr);

@media screen and (min-width: 768px) and (max-width: 1159px) {
  @include setColumnSizes(2, 280px, 1fr);
}

@media screen and (min-width: 960px) {
  @include setColumnSizes(3, 280px, 360px);
}

.cardContainer {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: $ca-grid;
  justify-content: space-between;
}

.gridHeader {
  grid-column-start: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: $ca-grid * 2;
  }
}

.sectionHeader.sectionHeader {
  margin-top: 0;
}

.toggleAccessibilityButton {
  margin: $ca-grid * 3 0 $ca-grid 0;
}
