@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";

.button {
  display: flex;
  position: absolute;
  right: 0;
  padding: 8px;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: none;
  background: transparent;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $border-borderless-border-radius;
  color: $color-purple-700;
  opacity: 0.7;
  outline: none;
}
