@import "~@kaizen/design-tokens/sass/spacing";

.filterContents {
  box-sizing: border-box;
  min-width: 12.25rem; // 196px
  max-width: 25rem; // 400px
  overflow: auto;
  // Padding is added by <SelectPopoverContents>
  padding: unset;
}
