@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";

.container {
  border-width: $border-width-1;
  border-radius: $border-solid-border-radius;
  margin-bottom: $spacing-md;
}

.noMargin {
  margin: 0;
}

// Background Style Variations
.default {
  background-color: $color-gray-300;
  border-color: $color-gray-500;
}

.positive {
  background: $color-green-100;
  border-color: $color-green-500;
  color: $color-purple-800;
}

.negative,
.assertive {
  background: $color-red-100;
  border-color: $color-red-500;
  color: $color-purple-800;
}

.informative {
  background: $color-blue-100;
  border-color: $color-blue-400;
  color: $color-purple-800;
}

.cautionary {
  background: $color-yellow-100;
  border-color: $color-yellow-700;
  color: $color-purple-800;
}

.prominent {
  background: $color-purple-100;
  border-color: $color-purple-400;
  color: $color-purple-800;
}

// Border Style Variations
.solid {
  border-style: $border-solid-border-style;
}

.dashed {
  border-style: $border-dashed-border-style;
}

.none {
  border-color: $border-borderless-border-color;
  border-style: $border-borderless-border-style;
}
