.container {
  background-color: var(--background-color);
  border-width: var(--border-width-1);
  border-radius: var(--border-solid-border-radius);
  border-style: var(--border-style);
  margin-bottom: var(--spacing-24);
  color: var(--color-purple-800);
  border-color: var(--border-color);
}

.noMargin {
  margin: 0;
}

.white {
  --background-color: var(--color-white);
  --border-color: var(--color-gray-500);
}

.gray {
  --background-color: var(--color-gray-200);
  --border-color: var(--color-gray-500);
}

.blue {
  --background-color: var(--color-blue-100);
  --border-color: var(--color-blue-400);
}

.yellow {
  --background-color: var(--color-yellow-100);
  --border-color: var(--color-yellow-700);
}

.orange {
  --background-color: var(--color-orange-100);
  --border-color: var(--color-orange-600);
}

.red {
  --background-color: var(--color-red-100);
  --border-color: var(--color-red-500);
}

.green {
  --background-color: var(--color-green-100);
  --border-color: var(--color-green-500);
}

.purple {
  --background-color: var(--color-purple-100);
  --border-color: var(--color-purple-400);
}

.positive {
  --background-color: var(--color-green-100);
  --border-color: var(--color-green-500);
}

// These are @deprecated but must come after `color` so not everything will default to white
// This will be @deprecated
.default {
  --background-color: var(--color-gray-200);
  --border-color: var(--color-gray-500);
}

.negative {
  --background-color: var(--color-red-100);
  --border-color: var(--color-red-500);
}

.informative {
  --background-color: var(--color-blue-100);
  --border-color: var(--color-blue-400);
}

.cautionary {
  --background-color: var(--color-yellow-100);
  --border-color: var(--color-yellow-700);
}

.assertive {
  --background-color: var(--color-orange-100);
  --border-color: var(--color-orange-600);
}

.prominent {
  --background-color: var(--color-purple-100);
  --border-color: var(--color-purple-400);
}

// @deprecated end

// Border Style Variations
.solid {
  --border-style: solid;
}

.dashed {
  --border-style: dashed;
}

.none {
  --border-color: transparent;
  --border-style: none;
}

.isAi {
  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

.isAi.isLoading {
  position: relative;
  border-color: transparent;
  border-width: 1px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: calc(var(--border-solid-border-radius) + 1px);
    animation: pulse 20s linear infinite;
  }

  &:after {
    filter: blur(20px);
  }

  @keyframes pulse {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
