@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/component-library/styles/layers";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/component-library/styles/responsive";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

.defaultModalWidth {
  min-width: 300px;
  max-width: 600px;
}

.backdropLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);
  position: fixed;
  background-color: $black;
  opacity: 0.5;
  z-index: $ca-z-index-modal-backdrop;
}

.scrollLayer {
  @include ca-position($start: 0, $end: 0, $top: 0, $bottom: 0);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: $ca-z-index-modal;
  overflow-y: auto;
}

.modalLayer {
  // use flexbox auto margins to horizontally and vertically centre the modal
  // because in IE11, `align-items: center` and `justify-content: center` cause
  // long modal content to become unreachable if they go off-screen
  margin: auto;

  padding: $ca-grid 0;
  width: 100%;
}

.genericModal {
  margin: auto;
  background-color: $color-neutral-100;
  border-radius: $border-solid-border-radius;
  box-shadow: $shadow-large-box-shadow;
  position: relative;
  width: 90%;
  -webkit-font-smoothing: antialiased;
  color: $color-purple-800;

  @include ca-media-tablet-and-up {
    width: 100%;
  }
}

// TODO: unify margin top styling
.elmGenericModal {
  @extend .genericModal;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: $ca-z-index-modal + 1;
}

.animatingEnter,
.animatingElmEnter {
  transition-duration: $ca-duration-fast;

  .backdropLayer {
    @include ca-animation-fade(
      $duration: $ca-duration-rapid,
      $from: 0,
      $to: 0.5
    );
  }

  .genericModal,
  .elmGenericModal {
    @include ca-animation(fade($from: 0, $to: 1), zoom($from: 0.5, $to: 1));
    animation-duration: $ca-duration-fast;
    animation-fill-mode: forwards;
    animation-timing-function: $ca-bounce-in;
  }
}

.animatingLeave,
.animatingElmLeave {
  transition-duration: $ca-duration-rapid;

  .backdropLayer {
    @include ca-animation-fade(
      $duration: $ca-duration-rapid,
      $from: 0.5,
      $to: 0
    );
  }

  .genericModal,
  .elmGenericModal {
    @include ca-animation(fade($from: 1, $to: 0), zoom($from: 1, $to: 0.5));
    animation-duration: $ca-duration-rapid;
    animation-fill-mode: forwards;
    animation-timing-function: $ca-bounce-out;
  }
}

.elmUnscrollable {
  .scrollLayer {
    overflow-y: hidden;
  }
}

.unscrollable {
  /* Tech debt - this !important existed before Stylelint rules */
  overflow: hidden !important; /* stylelint-disable-line declaration-no-important */
}

.pseudoScrollbar {
  /* Tech debt - this !important existed before Stylelint rules */
  padding-right: 15px !important; /* stylelint-disable-line declaration-no-important */
}

.hide {
  opacity: 0;
  pointer-events: none;
}
