@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.padded {
  padding: $ca-grid;
}
.inputEdit {
  background-color: $color-gray-200;
  border-radius: $border-solid-border-radius;
}
