@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/responsive";

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.actionsAlignStart {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.padded {
  padding: 0 $ca-grid * 1.5 $ca-grid * 1.5 $ca-grid * 1.5;
  @include ca-media-mobile {
    padding: $ca-grid;
    flex-direction: column;
  }
}
.actionButton {
  @include ca-media-mobile {
    width: 100%;
    > *,
    > * > * {
      width: 100%;
      justify-content: center;
    }
  }
}
.actionButton + .actionButton {
  @include ca-margin($end: $ca-grid * 0.5);
  @include ca-media-mobile {
    @include ca-margin($top: $ca-grid * 0.5);
  }
}

// to avoid the row-reverse styles
.elmActionButton + .elmActionButton {
  @include ca-margin($start: $ca-grid * 0.5);
}

.footerWrap {
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

.border {
  border-top: 1px solid $ca-border-color;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}
.filler {
  visibility: hidden;
}
