@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/layout";

// TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
$ca-breakpoint-small-mobile: 375px;

@mixin ca-media-small-mobile {
  @media (max-width: #{$ca-breakpoint-small-mobile}) {
    @content;
  }
}

.modalLabel {
  position: relative;

  // TODO - Remove below styles for Heading once responsive styling has been added to the Heading Component
  h2 {
    @media (max-width: $layout-breakpoints-medium) {
      font-size: 1.625rem;
      line-height: 2rem;
    }

    @include ca-media-small-mobile {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  &.prominent {
    grid-column-start: 2;
    text-align: left;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible::after {
    $focus-ring-offset: calc((#{$border-focus-ring-border-width} * 2) + 1px);

    content: "";
    position: absolute;
    background: transparent;
    border-radius: $border-focus-ring-border-radius;
    border-width: $border-focus-ring-border-width;
    border-style: $border-focus-ring-border-style;
    border-color: $color-blue-500;
    inset: calc(-1 * #{$focus-ring-offset});
  }
}
