@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.actionsAlignStart {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.padded {
  padding: 0 $ca-grid * 1.5 $ca-grid * 1.5 $ca-grid * 1.5;
  &.informationPadded {
    padding: 1.25rem $ca-grid * 1.5 0 $ca-grid * 1.5;
  }
}

.actionButton + .actionButton {
  @include ca-margin($end: $ca-grid * 0.5);
}

// to avoid the row-reverse styles
.elmActionButton + .elmActionButton {
  @include ca-margin($start: $ca-grid * 0.5);
}

.footerWrap {
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

.border {
  border-top: 1px solid $ca-border-color;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}
.filler {
  visibility: hidden;
}
