@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

.modalBody {
  overflow-x: hidden;
}

.padded {
  padding: $ca-grid $ca-grid $ca-grid $ca-grid;
}

.modalBody.scrollable {
  overflow-y: scroll;
}

.modalBody.fillSpace {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
}

.white {
  background-color: $kz-var-color-white;
}

.stone {
  background-color: $kz-var-color-stone;
}
