@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";

.footer {
  padding: 2rem $spacing-md $spacing-md;
  display: flex;
  justify-content: flex-end;
  gap: $spacing-sm;
}

.footer.fullWidth {
  display: block;
}

.formFooter {
  background-color: $color-gray-200;
  border-radius: $border-solid-border-radius;
}
