@import "~@kaizen/design-tokens/sass/spacing";

.footer {
  padding: 0px $spacing-md $spacing-md;
  display: flex;
  justify-content: flex-end;
  gap: $spacing-sm;
}

.footer.fullWidth {
  display: block;
}
