.wrapper {
  width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0; // Override global Material UI styles
=======
  margin: 0px;
>>>>>>> 0b0381910 (fix: Update modals to new design (WIP))
=======
  margin: 0; // Override global Material UI styles
>>>>>>> fdc13070f (Resolve branch conflicts and remove ContextModal)
}

// If the .visually-hidden class is applied to natively focusable elements
// (such as a, button, input, etc) they must become visible when they receive
// keyboard focus. Otherwise, a sighted keyboard user would have to try and
// figure out where their visible focus indicator had gone to.
.visuallyHidden:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
