@mixin button-reset {
  appearance: none;
  display: inline;
  background: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

@mixin input-icon($color, $reversed) {
  color: $color;

  .isReversed & {
    color: $reversed;
  }
}
