@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/draft-button/KaizenDraft/Button/styles";

.overlay {
  background: none;
  box-shadow: none;
}

.calendar {
  font-family: $typography-heading-4-font-family;
  margin-top: 10px;

  .wrapper {
    padding-bottom: 0;
  }

  .navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2.5rem);
    margin: 0 1.25rem;
    top: 1rem;
    color: $color-purple-800;
    margin-top: 1rem;

    .arrows {
      @include button-reset;
      display: inherit;
      padding: 4px;
      border: 2px solid transparent;
      border-radius: 3px;

      &:focus {
        color: $color-purple-800;
        border: $color-blue-500 $border-focus-ring-border-style
          $border-focus-ring-border-width;
        padding: 4px;
        border-radius: 3px;
      }
    }
  }

  .month {
    margin: 1rem;
  }

  .months {
    box-shadow: 0px 0px 7px rgb(0 0 0 / 9%);
    border-radius: 7px;
  }

  .caption {
    text-align: center;
    font-size: $typography-heading-4-font-size;
    font-weight: $typography-heading-4-font-weight;
    line-height: $typography-heading-4-line-height;
    letter-spacing: $typography-heading-4-letter-spacing;
    color: $color-purple-800;
    margin-top: 1rem;
  }
  .weekday {
    font-size: $typography-paragraph-body-font-size;
    font-weight: $typography-paragraph-body-font-weight;
    line-height: $typography-paragraph-body-line-height;
    color: $color-purple-800;
  }
  .body {
    font-size: $typography-paragraph-body-font-size;
    font-weight: $typography-paragraph-body-font-weight;
    line-height: $typography-paragraph-body-line-height;
  }

  .today {
    color: $color-blue-500;
  }

  .day {
    padding: calc(#{$spacing-md} / 3) 0.625rem;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  .disabled {
    color: rgba($color-purple-800-rgb, 0.3);
  }

  .day:not(.interactionDisabled):not(.disabled):not(.selected):not(.outside):hover {
    border-radius: 4px;
    background-color: $color-blue-100;
    color: $color-blue-500;
  }

  .selected:not(.disabled):not(.outside) {
    border-radius: 4px;
    background-color: $color-blue-500;
    color: $color-white;
  }
}
