name: Add branch preview link to a PR comment

# Note about "status" events:
# - The workflow must be merged to main, a status on a commit in any branch will still run the workflow found on main
# - "status" events (like those from buildkite) are different to "check" events from Github actions.
# - You can check for a specific status using it's context. Find it using the API:
#     curl \
#       --header "Accept: application/vnd.github.v3+json" \
#       --header 'Authorization: token ${PERSONAL_API_TOKEN}' \
#       https://api.github.com/repos/${ORG}/${REPO}/commits/${SHA}/status
# - You can trigger a "status" event manually for testing:
#     curl -request POST --url "https://api.github.com/repos/${ORG}/${REPO}/statuses/${SHA}" \
#      --header "Authorization: token ${PERSONAL_API_TOKEN}" \
#      --header 'content-type: application/json' \
#      --data '{"state": "success", "description": "my status", "context": "some/unique/identifier", "target_url": "http://link-in-status/"}'

on:
  - status

jobs:
  add_branch_preview_links_to_a_PR_comment:
    runs-on: ubuntu-latest
    if: github.event.state == 'success' && github.event.context == 'Branch preview'
    steps:
      - uses: actions/checkout@v3

      - name: Find relevant PR
        if: github.event.state == 'success'
        uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          sha: ${{ github.event.sha }}
          github-token: ${{ github.token }}

      - run: echo "Found PR ${PR}"
        if: success() && steps.findPr.outputs.number
        env:
          PR: ${{ steps.findPr.outputs.number }}

      - name: Check if there is an existing comment
        if: success() && steps.findPr.outputs.number
        uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ steps.findPr.outputs.number }}
          comment-author: "github-actions[bot]"
          body-includes: ":sparkles: Here is your branch preview! :sparkles:"

      - name: Create a new comment
        if: success() && steps.find_comment.outputs.comment-id == 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ steps.findPr.outputs.number }}
          body: |
            :sparkles: Here is your branch preview! :sparkles:

            - [Storybook][1]

            Last updated for commit ${{ github.event.sha }}: ${{ github.event.commit.commit.message }}

            [1]: https://dev.cultureamp.design/${{ github.event.branches[0].name }}

      - name: Update an existing comment
        if: success() && steps.find_comment.outputs.comment-id != 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          edit-mode: replace
          body: |
            :sparkles: Here is your branch preview! :sparkles:

            - [Storybook][1]

            Last updated for commit ${{ github.event.sha }}: ${{ github.event.commit.commit.message }}

            [1]: https://dev.cultureamp.design/${{ github.event.branches[0].name }}
