name: Changeset

on:
  push:
    branches:
      - "main"

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    env:
      GITHUB_TOKEN: ${{ github.token }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "$NPM_TOKEN"
      - uses: changesets/action@v1
        with:
          title: "Changeset: Version packages"
          commit: "version packages"
          version: yarn ci:version
          publish: yarn ci:publish
  push-tags:
    runs-on: ubuntu-latest
    needs: version
    if: needs.version.outputs.published == 'true'
    steps:
      - uses: actions/checkout@v3
      - run: git push --follow-tags
  slack-notify:
    runs-on: ubuntu-latest
    needs: version
    steps:
      - name: Notify Slack (success)
        if: needs.version.outputs.published == 'true'
        # https://github.com/marketplace/actions/post-to-slack
        uses: pcolby/post-to-slack@v1
        with:
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel: "#wol_kaizen"
          username: "Release"
          text: Complete
          iconEmoji: ":squid:"
      - name: Notify Slack (failure)
        if: needs.version.outputs.published == 'false'
        # https://github.com/marketplace/actions/post-to-slack
        uses: pcolby/post-to-slack@v1
        with:
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel: "#wol_kaizen"
          username: "Release"
          text: Something went wrong
          iconEmoji: ":squid:"
