name: Changeset

on:
  push:
    branches:
      - "main"

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - name: Create Release Pull Request
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          title: "Changeset: Version packages"
          commit: "version packages"
          version: pnpmci:version
