name: check files

on:
  push:
    branches-ignore:
      - "main"

  # When Changesets opens a PR it does not trigger GitHub actions,
  # because its token does not have permission to. This is a hack
  # to allow one of us to trigger GitHub actions for a changesets PR
  # by enabling automerge on the PR.
  pull_request_target:
    types:
      - auto_merge_enabled
    branches:
      - main # the target branch of the PR
    paths:
      - "**/CHANGELOG.md" # only changesets releases touch changelogs

jobs:
  changesets-exists:
    if: github.head_ref != 'changeset-release/main'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: pnpm changeset status --since origin/main

  verify-build:
    if: github.head_ref != 'changeset-release/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: pnpm build && pnpm test:treeshake
