# Chromatic action from https://www.chromatic.com/docs/github-actions

name: "chromatic and storybook testing (PR)"

on:
  pull_request:
    types:
      - ready_for_review
      - synchronize
    branches-ignore:
      - changeset-release/main

jobs:
  storybook-testing:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Build Storybook
        run: |
          yarn storybook:build --webpack-stats-json
      - id: publishChromatic
        name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ github.token }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: "./storybook/public"
          onlyChanged: "!(main)"
          externals: |
            [
              "**/!(*.module).scss",
              "packages/button/src/Button/*.scss",
              "packages/component-library/components/Spacing/Base.module.scss"
            ]
      - name: Storybook tests
        run: npx playwright install --with-deps
        run: yarn ci:test:storybook --url ${{ steps.publishChromatic.outputs.storybookUrl }}
