@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";

.heading {
  margin: 0;
}

.display-0 {
  font-family: $typography-display-0-font-family;
  font-weight: $typography-display-0-font-weight;
  font-size: $typography-display-0-font-size;
  line-height: $typography-display-0-line-height;
  letter-spacing: $typography-display-0-letter-spacing;
}

.heading-1 {
  font-family: $typography-heading-1-font-family;
  font-weight: $typography-heading-1-font-weight;
  font-size: $typography-heading-1-font-size;
  line-height: $typography-heading-1-line-height;
  letter-spacing: $typography-heading-1-letter-spacing;
}

.heading-2 {
  font-family: $typography-heading-2-font-family;
  font-weight: $typography-heading-2-font-weight;
  font-size: $typography-heading-2-font-size;
  line-height: $typography-heading-2-line-height;
  letter-spacing: $typography-heading-2-letter-spacing;
}

.heading-3 {
  font-family: $typography-heading-3-font-family;
  font-weight: $typography-heading-3-font-weight;
  font-size: $typography-heading-3-font-size;
  line-height: $typography-heading-3-line-height;
  letter-spacing: $typography-heading-3-letter-spacing;
}

.heading-4 {
  font-family: $typography-heading-4-font-family;
  font-weight: $typography-heading-4-font-weight;
  font-size: $typography-heading-4-font-size;
  line-height: $typography-heading-4-line-height;
  letter-spacing: $typography-heading-4-letter-spacing;
}

.heading-5 {
  font-family: $typography-heading-5-font-family;
  font-weight: $typography-heading-5-font-weight;
  font-size: $typography-heading-5-font-size;
  line-height: $typography-heading-5-line-height;
  letter-spacing: $typography-heading-5-letter-spacing;
}

.heading-6 {
  font-family: $typography-heading-6-font-family;
  font-weight: $typography-heading-6-font-weight;
  font-size: $typography-heading-6-font-size;
  line-height: $typography-heading-6-line-height;
  letter-spacing: $typography-heading-6-letter-spacing;
}

.dark {
  color: $color-purple-800;
  opacity: 100%;
}

.dark-reduced-opacity {
  color: $color-purple-800;
  opacity: 70%;
}

.white {
  color: $color-white;
  opacity: 100%;
}

.white-reduced-opacity {
  color: $color-white;
  opacity: 80%;
}

.positive {
  &.small {
    color: $color-green-600;
  }

  &.large {
    color: $color-green-500;
  }
}

.negative {
  &.small {
    color: $color-red-600;
  }

  &.large {
    color: $color-red-500;
  }
}
