@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "../../styles/utils/forms";
@import "../../styles/utils/form-variables";

// Vars
$input-disabled-opacity: 0.3;
$input-disabled-border-alpha: 50%;

.wrapper {
  font-family: $typography-paragraph-body-font-family;
  font-size: $typography-paragraph-body-font-size;
  font-weight: $typography-paragraph-body-font-weight;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  color: $color-purple-800-rgb;
}

.wrapperAutogrow {
  display: grid;
}

.wrapperAutogrow::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.textareaAutogrow,
.wrapperAutogrow::after {
  border: $border-solid-border-width $border-solid-border-style $color-gray-500;
  border-radius: $border-solid-border-radius;
  padding: $spacing-sm;
  box-sizing: border-box;
  width: 100%;
  font: inherit;
  grid-area: 2 / 1;
}

.textarea {
  display: block;
  resize: vertical;

  &:focus {
    outline: $border-focus-ring-border-width $border-focus-ring-border-style
      $color-blue-500;
    outline-offset: 1px;
  }

  &:disabled {
    resize: none;
  }
}

.textareaAutogrow {
  overflow: hidden;
}

.textarea.default {
  @include form-input-focus-state {
    background-color: $color-gray-200;
    border-color: $color-gray-600;
  }

  &:not(.error, .caution) {
    &:disabled {
      border-color: rgba($color-gray-500-rgb, $input-disabled-opacity);
    }
  }

  &.error {
    border-color: $color-red-500;

    @include form-input-focus-state {
      border-color: $color-red-500;
    }
  }

  &.caution {
    border-color: $color-yellow-600;

    @include form-input-focus-state {
      border-color: $color-yellow-600;
    }
  }

  &.disabled {
    background-color: $color-white;
    border-color: rgba($color-gray-500-rgb, $input-disabled-opacity);
    color: rgba($color-purple-800-rgb, $input-disabled-opacity);

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }
}

// Reversed (Dark Backgrounds)
.textarea.reversed {
  border-color: rgba($color-white-rgb, 0.65);
  background: transparent;
  color: $color-white;

  @include form-input-focus-state {
    background: rgba($color-white-rgb, 0.1);
    border-color: $color-white;
  }

  @include form-input-placeholder {
    line-height: 1.5;
    color: $color-white;
  }

  &:focus + .focusRing {
    border-color: $color-blue-300;
  }

  &.error {
    border-color: $color-red-300;

    @include form-input-focus-state {
      border-color: $color-red-300;
    }
  }

  &.caution {
    border-color: $color-yellow-400;

    @include form-input-focus-state {
      border-color: $color-yellow-400;
    }
  }

  &.disabled {
    background: transparent;
    border-color: rgba($color-white-rgb, $input-disabled-opacity);
    color: rgba($color-white-rgb, $input-disabled-opacity);

    @include form-input-placeholder {
      opacity: $input-disabled-opacity;
    }
  }
}
