@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "../../decision-tokens.scss";

$animation-timing: $ca-duration-immediate $ca-linear;

.checkbox {
  @include form-input-visually-hidden();
}

.track {
  background-color: $dt-color-toggle-background-color;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  border-radius: $ca-grid;
  box-sizing: content-box;
  width: ($ca-grid * 1.05) * 2;
  height: ($ca-grid * 1.25);
  padding: 0 $ca-grid * 0.15;
  display: flex;
  align-items: center;
  transition: background-color $animation-timing;

  .checkbox:disabled + & {
    opacity: 0.3;
  }

  .checkbox:focus:not([disabled]) + &,
  .checkbox:hover:focus:not([disabled]) + & {
    border-color: $dt-color-form-border-color-focus;
  }

  .checkbox:not([disabled]) + &:hover {
    // if kz-color-iron-500-rgb-params fails, it will fallback to wisteria-500
    // (the non-css variable token)
    background-color: $color-purple-500;
    background-color: rgba($color-neutral-500-rgb, 0.4);
  }
}

.thumb {
  background-color: $color-neutral-100;
  border: $border-borderless-border-width $border-borderless-border-style
    $border-borderless-border-color;
  box-sizing: content-box;
  width: $ca-grid * 0.9;
  height: $ca-grid * 0.9;
  border-radius: $ca-grid;
  transition: left $animation-timing, right $animation-timing;
}

.on {
  .checkbox:not([disabled]) + .track {
    border-color: $border-borderless-border-color;
    background-color: $color-green-400;
  }

  .checkbox:focus:not([disabled]) + .track {
    border-color: $dt-color-form-border-color-focus;
  }

  .thumb {
    position: relative;
    @include ca-position($start: $ca-grid * 1.1);
  }

  .checkbox:not([disabled]) + .track:hover {
    background-color: $color-green-500;
  }
}

.off {
  .thumb {
    position: relative;
    @include ca-position($start: 0);
  }
}
