@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/component-library/styles/animation";
@import "~@kaizen/component-library/styles/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/color";
@import "~@kaizen/component-library/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/component-library/styles/mixins/forms";

$animation-timing: $ca-duration-immediate $ca-linear;

.checkbox {
  @include form-input-visually-hidden();
}

.track {
  background-color: $kz-color-wisteria-300;
  border: $kz-border-borderless-border-width $kz-border-borderless-border-style
    $kz-border-borderless-border-color;
  border-radius: $ca-grid;
  box-sizing: content-box;
  width: ($ca-grid * 1.05) * 2;
  height: ($ca-grid * 1.25);
  padding: 0 $ca-grid * 0.15;
  display: flex;
  align-items: center;
  transition: background-color $animation-timing;

  .checkbox:disabled + & {
    opacity: 0.3;
  }

  .checkbox:focus:not([disabled]) + &,
  .checkbox:hover:focus:not([disabled]) + & {
    border-color: $ca-border-color-focus;
  }

  .checkbox:not([disabled]) + &:hover {
    background-color: $kz-color-wisteria-500;
  }
}

.thumb {
  background-color: $kz-color-white;
  border: $kz-border-borderless-border-width $kz-border-borderless-border-style
    $kz-border-borderless-border-color;
  box-sizing: content-box;
  width: $ca-grid * 0.9;
  height: $ca-grid * 0.9;
  border-radius: $ca-grid;
  transition: left $animation-timing, right $animation-timing;
}

.on {
  .checkbox:not([disabled]) + .track {
    border-color: $kz-border-borderless-border-color;
    background-color: $kz-color-seedling-400;
  }

  .checkbox:focus:not([disabled]) + .track {
    border-color: $ca-border-color-focus;
  }

  .thumb {
    position: relative;
    @include ca-position($start: $ca-grid * 1.1);
  }

  .checkbox:not([disabled]) + .track:hover {
    background-color: $kz-color-seedling-500;
  }
}

.off {
  .thumb {
    position: relative;
    @include ca-position($start: 0);
  }
}
