@import "~@kaizen/design-tokens/sass/animation";
@import "./styles";

.icon {
  @extend %caIcon;

  @media screen and (-ms-high-contrast: active) {
    color: black;
  }

  @media screen and (-ms-high-contrast: white-on-black) {
    color: white;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    color: black;
  }
}

.inheritSize {
  @extend %caIconInheritSize;
}

.interactiveIconWrapper {
  cursor: pointer;

  .icon {
    opacity: 70%;
    transition: $animation-duration-fast opacity;
  }

  &:disabled,
  &.disabled {
    .icon {
      opacity: 30%;
    }
  }

  &:not(:disabled, .disabled) {
    &:hover,
    &:focus,
    &.hover {
      .icon {
        opacity: 100%;
      }
    }

    &:active,
    &.active {
      .icon {
        opacity: 100%;
      }
    }
  }
}

/* stylelint-disable no-descending-specificity */
.reversedInteractiveIconWrapper {
  composes: interactiveIconWrapper;

  .icon {
    opacity: 100%;
  }

  &:not(:disabled, .disabled) {
    &:active,
    &.active {
      .icon {
        opacity: 50%;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
