@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";
@import "variables";
@import "../../../../../styles/button-reset";

@mixin button {
  @include button-reset;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: calc(#{$spacing-sm} - #{$border-solid-border-width}) $spacing-sm
    calc(#{$spacing-sm} - #{$border-solid-border-width}) 0.875rem;
  min-width: 180px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typography-paragraph-body-font-family;
  font-weight: $typography-paragraph-body-font-weight;
  font-size: $typography-paragraph-body-font-size;
  line-height: $typography-paragraph-body-line-height;
  letter-spacing: $typography-paragraph-body-letter-spacing;
  color: $color-purple-800;
  border: $border-solid-border-width $border-solid-border-style $color-gray-500;

  &:not(.disabled, .reversed) {
    &:active,
    &:hover {
      background-color: $color-gray-200;
      border-color: $color-gray-600;
    }

    &:focus {
      outline: none;
      background-color: $color-gray-200;
      border-color: $color-gray-600;

      &::after {
        $focus-ring-offset: calc(
          (#{$border-focus-ring-border-width} * 2) + 1px
        );

        content: "";
        position: absolute;
        background: transparent;
        border: $border-focus-ring-border-width $border-focus-ring-border-style
          $color-blue-500;
        border-radius: $border-focus-ring-border-radius;
        inset: calc(-1 * #{$focus-ring-offset});
      }
    }
  }

  .iconWrapper {
    line-height: 1;
  }
}
