@import "~@kaizen/component-library/styles/type";
@import "~@kaizen/component-library/styles/color";
@import "~@kaizen/component-library/styles/mixins/forms";
@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "./Checkbox.module";

// -----------------------------------------------
// Checkbox Field
// -----------------------------------------------

///////////////////////////////////////////////////
// LAYOUT
///////////////////////////////////////////////////
.container {
  position: relative;
  margin-bottom: $ca-grid / 2;

  label {
    // This is to override bootstrap styles. Remove when appropriate
    padding-top: 0;
    -webkit-tap-highlight-color: transparent;

    // Disable pointer-events on the wrapper for the <Checkbox> primitive
    > div:first-child {
      pointer-events: none;
    }
  }

  &.noBottomMargin {
    margin-bottom: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    label:hover {
      input:not([disabled]) + div {
        border-color: $kz-color-wisteria-700;
        background-color: $kz-color-wisteria-100;
      }
    }
  }

  &.checked,
  &.mixed {
    label {
      @include kz-typography-paragraph-body-bold;
      @include ca-inherit-baseline;
    }
  }

  &.disabled {
    label {
      > span {
        opacity: 0.3;
      }
    }
  }
}
