@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/spacing";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";

$message-error-color: $kz-color-wisteria-800;
$message-border-radius: $kz-border-solid-border-radius;

// @TODO - taken from ~@kaizen/component-library/styles/color
// previously add-tint($ca-palette-coral, 70%);
// a proper uplift would change this to use an inline notification
$ca-palette-input-validation-negative: $kz-color-coral-600;

.message {
  @include kz-typography-paragraph-small;
  @include ca-inherit-baseline;
}

.default {
  color: rgba($kz-color-wisteria-800, 0.75);

  &.reversed {
    color: rgba($kz-color-white, 0.8);
  }
}

.error {
  padding: $ca-grid / 2;
  color: $message-error-color;
  border-radius: $message-border-radius;
  background: $kz-color-coral-300;
}

.positionBottom {
  margin-top: $kz-spacing-xs;
}

.positionTop {
  margin-bottom: $kz-spacing-xs;
}
