@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/typography";
@import "~@kaizen/design-tokens/sass/spacing";

// The styling and mixin in this file originally comes from @kaizen/draft-button styles.module.scss and I modify it to suit with the `SplitButton` for `FilterMenuButton`.

@mixin button-reset {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  transition: none; // override Murmur global styles :(
}

@mixin button-base {
  font-family: $typography-button-primary-font-family;
  line-height: $typography-button-primary-line-height;
  letter-spacing: $typography-button-primary-letter-spacing;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: $spacing-xl;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  color: $color-blue-500;
  background: $color-blue-100;
  border-color: $border-borderless-border-color;

  &:hover {
    background: $color-blue-200;
  }
}

.filterSelectButton {
  display: flex;
}

.primaryActionButton {
  @include button-reset;
  @include button-base;

  padding-right: calc(#{$spacing-md} * 0.75);
  padding-left: calc(#{$spacing-md} * 0.75);
  border-top-left-radius: $border-solid-border-radius;
  border-bottom-left-radius: $border-solid-border-radius;

  &:hover {
    color: $color-blue-600;
  }
}

.primaryActionButton.splitButtonFocus {
  border: $border-solid-border-width $border-solid-border-style;
  border-color: $color-blue-400;
  border-right-width: 0;
  border-radius: $border-solid-border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    background: $color-blue-100;
  }
}

.primaryActionButton.noClearButton.splitButtonFocus {
  border-right-width: $border-solid-border-width;
  border-radius: $border-solid-border-radius;

  &:hover {
    background: $color-blue-100;
  }
}

.clearButton {
  @include button-reset;
  @include button-base;

  width: 50px;
  justify-content: center;
  border-top-right-radius: $border-solid-border-radius;
  border-bottom-right-radius: $border-solid-border-radius;
}

.clearButton.splitButtonFocus {
  border: $border-solid-border-width $border-solid-border-style;
  border-color: $color-blue-400;
  border-left-width: 0;
  border-radius: $border-solid-border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover {
    background: $color-blue-100;
    color: $color-blue-500;
  }
}

.noClearButton {
  border-top-right-radius: $border-solid-border-radius;
  border-bottom-right-radius: $border-solid-border-radius;

  &:focus {
    border: $border-solid-border-width $border-solid-border-style;
  }
}

.filterName {
  font-weight: $typography-button-primary-font-weight;
  margin-right: calc(#{$spacing-md} / 3);
}

.metadata {
  font-size: $typography-button-secondary-font-size;
  font-weight: $typography-button-secondary-font-weight;
  letter-spacing: $typography-button-secondary-letter-spacing;
}

.button {
  border: $border-solid-border-width $border-solid-border-style;
  border-radius: $border-solid-border-radius;
  border-color: transparent;
}

// This is a temporary solution to mark an active state of the button
// until it's decided whether this should be part of kaizen button or not
.buttonActive {
  border-color: $color-blue-400;
  background: $color-blue-100;
}
