@import "~@kaizen/design-tokens/sass/color";
@import "~@kaizen/design-tokens/sass/border";
@import "~@kaizen/deprecated-component-library-helpers/styles/type";
@import "~@kaizen/design-tokens/sass/typography";

// The styling and mixin in this file originally comes from @kaizen/draft-button styles.module.scss and I modify it to suit with the `SplitButton` for `FilterMenuButton`.

@mixin button-reset {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  margin: 0;
  transition: none; // override Murmur global styles :(
}

@mixin button-base {
  font-family: $kz-var-typography-button-primary-font-family;
  line-height: $kz-var-typography-button-primary-line-height;
  letter-spacing: $kz-var-typography-button-primary-letter-spacing;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: $ca-grid * 2;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  color: $kz-var-color-cluny-500;
  background: $kz-var-color-cluny-100;
  border-color: $kz-var-border-borderless-border-color;

  &:hover {
    background: $kz-var-color-cluny-200;
  }
}

.filterSelectButton {
  display: flex;
}

.primaryActionButton {
  @include button-reset;
  @include button-base;

  padding-right: $ca-grid * 0.75;
  padding-left: $ca-grid * 0.75;
  border-top-left-radius: $kz-var-border-solid-border-radius;
  border-bottom-left-radius: $kz-var-border-solid-border-radius;

  &:hover {
    color: $kz-var-color-cluny-600;
  }
}

.primaryActionButton.splitButtonFocus {
  border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style;
  border-color: $kz-var-color-cluny-400;
  border-right-width: 0;
  border-radius: $kz-var-border-solid-border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    background: $kz-var-color-cluny-100;
  }
}

.primaryActionButton.noClearButton.splitButtonFocus {
  border-right-width: $kz-var-border-solid-border-width;
  border-radius: $kz-var-border-solid-border-radius;

  &:hover {
    background: $kz-var-color-cluny-100;
  }
}

.clearButton {
  @include button-reset;
  @include button-base;

  width: 50px;
  justify-content: center;
  border-top-right-radius: $kz-var-border-solid-border-radius;
  border-bottom-right-radius: $kz-var-border-solid-border-radius;
}

.clearButton.splitButtonFocus {
  border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style;
  border-color: $kz-var-color-cluny-400;
  border-left-width: 0;
  border-radius: $kz-var-border-solid-border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover {
    background: $kz-var-color-cluny-100;
    color: $kz-var-color-cluny-500;
  }
}

.noClearButton {
  border-top-right-radius: $kz-var-border-solid-border-radius;
  border-bottom-right-radius: $kz-var-border-solid-border-radius;

  &:focus {
    border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style;
  }
}

.filterName {
  font-weight: $kz-var-typography-button-primary-font-weight;
  margin-right: $ca-grid / 3;
}

.metadata {
  font-size: $kz-var-typography-button-secondary-font-size;
  font-weight: $kz-var-typography-button-secondary-font-weight;
  letter-spacing: $kz-var-typography-button-secondary-letter-spacing;
}

// This is a temporary solution to mark an active state of the button
// until it's decided whether this should be part of kaizen button or not
.buttonActive {
  border: $kz-var-border-solid-border-width $kz-var-border-solid-border-style;
  border-color: $kz-var-color-cluny-400;
  border-radius: $kz-var-border-solid-border-radius;
  background: $kz-var-color-cluny-100;
}
