@import "~@kaizen/design-tokens/sass/spacing";

@import "@kaizen/deprecated-component-library-helpers/styles/type";

$gap: $spacing-sm;
$menuContentHorizontalPadding: 4px; // this comes from the MenuContent component, which should be using tokens
$menuContentVerticalPadding: 6px; // this comes from the MenuContent component, which should be using tokens

.filterMenuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 calc(#{$gap} / -2);

  > * {
    margin: 0 calc(#{$gap} / 2);
  }
}
