@import "~@cultureamp/kaizen-component-library/styles/color";
@import "~@cultureamp/kaizen-component-library/styles/type";
@import "~@cultureamp/kaizen-component-library/styles/border";
@import "~@cultureamp/kaizen-component-library/styles/layers";

$base-border: 1px solid $ca-border-color;
$focus-border-width: 2px;
$button-width: 124px;

@mixin input-icon($color, $reversed) {
  color: $color;

  .withReversed & {
    color: $reversed;
  }
}

@mixin button-mixing($background,
  $border-color,
  $color,
  $hover-background,
  $hover-border-color,
  $active-background,
  $active-border-color,
  $disabled-background,
  $disabled-border-color,
  $disabled-color) {
  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:not(.disabled):not(:disabled) {
    background: $background;
    border-color: $border-color;
    color: $color;

    &:hover,
    &:active {
      background: $hover-background;
      border-color: $hover-border-color;
    }

    &:active {
      background: $active-background;
      border-color: $active-border-color;
      transform: translateY(1px);
    }

    // Use JS polyfill to simulate :focus-visible, not yet supported by browsers
    // https://github.com/WICG/focus-visible#backwards-compatibility
    :global(.js-focus-visible) & {

      // hide native focus ring when :focus but not :focus-visible
      &:focus {
        outline: none;
      }

      // show custom focus ring when :focus-visible
      &:global(.focus-visible) {
        border: $focus-border-width solid $ca-palette-ocean;
      }
    }
  }

  // Disabled
  &:disabled,
  &.disabled {
    background: $disabled-background;
    border-color: $disabled-border-color;
    color: $disabled-color;
  }
}

.root {
  @include ca-type-block(inline-block);
}

.buttonReset {
  appearance: none;
  display: inline;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
}

.buttonDefault {
  @include button-mixing($background: $white,
    $border-color: add-tint($ca-palette-ink, 80%),
    $color: $ca-palette-ink,
    $hover-background: $ca-palette-stone,
    $hover-border-color: add-tint($ca-palette-ink, 80%),
    $active-background: $ca-palette-ash,
    $active-border-color: add-tint($ca-palette-ink, 40%),
    $disabled-background: $white,
    $disabled-border-color: add-tint($ca-palette-ink, 80%),
    $disabled-color: add-tint($ca-palette-ink, 70%));
}

.buttonPrimary {
  @include button-mixing($background: add-tint($ca-palette-seedling, 10%),
    $border-color: $ca-palette-seedling,
    $color: $white,
    $hover-background: $ca-palette-seedling,
    $hover-border-color: $ca-palette-seedling,
    $active-background: $ca-palette-seedling,
    $active-border-color: $ca-palette-seedling,
    $disabled-background: add-tint($ca-palette-ink, 90%),
    $disabled-border-color: add-tint($ca-palette-ink, 90%),
    $disabled-color: add-tint($ca-palette-ink, 70%));
}

.default,
.primary {
  @include ca-type-ideal-body-bold;
  text-align: left;
  position: inherit;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border: $base-border;
  border-right: 0;
  border-radius: $ca-border-radius 0 0 $ca-border-radius;
  white-space: nowrap;
  min-width: $button-width;
  display: block;
  box-sizing: border-box;

  [dir="rtl"] & {
    border-right: $base-border;
    border-left: 0;
    border-radius: 0 $ca-border-radius $ca-border-radius 0;
    text-align: right;
  }

  // This seemingly hacky selector specifically has to target the adjacent dropdown
  // button element of the main button currently being hovered/activated over
  &:not(:disabled):not(.disabled) {

    &:hover,
    &:active {
      &+.dropdown>.dropdownButton {
        border-left: 1px solid add-tint($ca-palette-ink, 60%);
      }
    }

    &:active {
      &+.dropdown>.dropdownButton {
        border-left: 1px solid add-tint($ca-palette-ink, 40%);
      }
    }

    [dir="rtl"] &:hover,
    [dir="rtl"] &:active {
      &+.dropdown>.dropdownButton {
        border-left: $base-border;
        border-right: 1px solid add-tint($ca-palette-ink, 60%);
      }
    }

    [dir="rtl"] &:active {
      &+.dropdown>.dropdownButton {
        border-left: $base-border;
        border-right: 1px solid add-tint($ca-palette-ink, 40%);
      }
    }
  }
}

.default {
  composes: buttonDefault;
}

.primary {
  composes: buttonPrimary;
}

.buttonFullBorder {
  border-right: $base-border;
  border-radius: $ca-border-radius;
  min-width: 0;

  [dir="rtl"] & {
    border-left: $base-border;
    border-right: inherit;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}

.dropdown {
  position: relative;
}

.dropdownButtonDefault,
.dropdownButtonPrimary {
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  border: $base-border;
  border-radius: 0 $ca-border-radius $ca-border-radius 0;

  [dir="rtl"] & {
    border-radius: $ca-border-radius 0 0 $ca-border-radius;
  }
}

.dropdownButtonDefault {
  composes: buttonReset buttonDefault;
}

.dropdownButtonPrimary {
  composes: buttonReset buttonPrimary;

  // Making the left | right border white to separate the button with dropdown button
  border-left-color: $white !important;

  [dir="rtl"] & {
    border-left-color: $ca-palette-seedling !important;
    border-right-color: $white !important;
  }
}

.dropdownIcon {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer {
  z-index: $ca-z-index-dropdown;
  width: 100%;
}